@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}
*{
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}
input {
  vertical-align: middle;
}
em {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  position: relative;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}
._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

.text_l {
  text-align: left;
}

.text_r {
  text-align: right;
}

.text_c {
  text-align: center;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.line20 {
  line-height: 200%;
}

.fc-fff {
  color: #fff;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
  background: #f3f5f9;
  overflow-x: none;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-size: 16px;
}

/* item主体内容区 */
.t-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  /*overflow: hidden;*/
  position: relative;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  color: #2f5083;
  padding: 60px 0px 40px 0;
  position: relative;
  margin: 0 auto;
  width: 96%;
  font-weight: bold;
}
/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #505251;
  width: 90%;
  margin: 0 auto;
  line-height: 26px;
  margin-bottom: 30px;
}
/* 带装饰的title */
.decorate-title {
  text-align: center;
  font-size: 24px;
  color: #333;
}
.decorate-text {
  position: relative;
  padding: 0 60px;
  font-weight: bold;
  &::before, &::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 19px;
  }
  &::before {
    left: 0;
    background: url(../RJ-img/subtitle-icon-left.png) center center/100% 100% no-repeat;
  }
  &::after {
    right: 0;
    background: url(../RJ-img/subtitle-icon-right.png) center center/100% 100% no-repeat;
  }
}
.text-left{
  text-align: left;
}
.color1{
  color: #33507a;
}

.t-main-des{
  font-size: 20px;
  color: #595757;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  margin: 20px auto;
}
/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-top: 25px;
}
.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}
.t-img img {
  width: auto;
  max-width: 100%;
}
.t-intro span.tips {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #fd300e;
  text-align: left;
}
.hidden{
  overflow: hidden;
}
// 第一屏
.t-page1 {
  background-image: url('../RJ-img/banner.jpg');
  background-position: center bottom;
  height: 692px;
  .page1-cont{
    width: 52%;
    float: left;
    margin: 107px auto 0 auto;
  }
  &-title{
    margin-bottom: 40px;
    margin-left: -70px;
    img{
      width: 90%;
      margin: auto;
    }
  }
  &-text {
    font-size: 16px;
    line-height: 26px;
    color: #333;
  }
  .btn:first-child {
    margin-left: 0;
  }
  .btn-list .btn.line-bg {
    background: #fff;
  }
  .btn-list{
    margin-top: 50px;
    text-align: left;
  }
  .btn-list .btn{
    text-align: center;
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #e60039;
    font-size: 16px;
    text-decoration: none;
    border-radius: 43px;
    margin: 10px;
    border: 1px solid #e60039;
    padding: 0;
    cursor: pointer;
  }
  .btn-list .btn:hover{
    background: #fff;
    color: #e60039;
    border: 1px solid #bd0231;
  }
}

// 页面导航
.t-page-nav{
  background: #666666;
  .t-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    line-height: 60px;
  }
  .nav-left {
    width: 210px;
    font-size: 16px;
    color: #a6a6a6;
    &-icon {
      display: inline-block;
      width: 24px;
      height: 20px;
      margin-right: 18px;
      background: url('../RJ-img/home-icon.png') center center/100% 100% no-repeat;
      vertical-align: text-bottom;
    }
    .active {
      color: #fff;
    }
    .text {
      padding: 0 17px;
    }
  }
  .nav-lists{
    display: flex;
    color: #fff;
    font-size: 16px;
    li{
      flex: 1;
      text-align: center;
      text-decoration: none;
      padding: 0 8px;
      cursor: pointer;
      display: block;  
      position: relative;
    }
  }
  &.on {
    position: fixed;
    z-index: 9999;
    top: 0;
    line-height: 60px;
  }
  
}
.btn-list{
  text-align: center;
  margin: 20px auto;
  clear: both;
}
.btn-list a.btn{
  height: 38px;
  line-height: 38px;
  padding: 0 28px;
  font-size: 16px;
  color: #fff;
  background: #e50039;
  border: 1px solid #e50039;
  display: inline-block;
  margin: 10px 8px;
  border-radius: 38px;
  text-decoration: none;
}
.btn-list a.btn:hover{
  background: none;
  color: #e50039;
}
.btn-list a.btn.line-bg{
  background: none;
  color: #e50039;
}
.btn-list a.btn.line-bg:hover{
  color: #fff;
  background: #e50039;
}

// 第二屏
.t-page2{
  padding-bottom: 66px;
  background-color: #fff;
  &-list {
    overflow: hidden;
    padding: 40px 0;
  }
  &-item {
    float: left;
    width: 23%;
    height: 470px;
    margin-right: 2.66666666%;
    background-color: #fff;
    box-shadow: 0 0  10px 10px #eee;
    border-radius: 5px;
    &:last-child {
      margin-right: 0;
    }
    img {
      display: block;
      width: 167px;
      height: 167px;
      margin: auto;
      margin-bottom: 30px;
      padding-top: 36px;
    }
    .item-title {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
      font-weight: bold;
    }
    .item-text {
      padding: 0 20px;
      font-size: 16px;
      color: #333;
      line-height: 26px;
    }
    .item-text-list {
      list-style: disc;
      padding: 0 20px 0 40px;
    }
  }
}

// 第三屏
.t-page3{
  background-image: url('../RJ-img/page3-bg.jpg');
  background-position: center bottom;
  padding-bottom: 82px;
  font-size: 16px;
  color: #333;
  .t-sub-title {
    width: 75%;
    margin-bottom: 50px;
    text-align: left;
  }
  .img-wrap {
    position: relative;
    width: 869px;
    margin: auto;
    img {
      display: block;
      width: 100%;
    }
  }
  .top {
    position: absolute;
    width: 570px;
    top: 100px;
    left: 160px;
    &-left {
      float: left;
    }
    &-right {
      float: right;
    }
  }
  .middle {
    position: absolute;
    width: 240px;
    top: 230px;
    left: 327px;
    &-left {
      float: left;
    }
    &-right {
      float: right;
    }
    &-other {
      position: absolute;
      right: -120px;
      top: -90px;
    }
  }
  .bottom {
    position: absolute;
    bottom: 10px;
    left: 100px;
    right: 70px;
    display: flex;
    justify-content: space-between;
  }
}

// 第四屏
.t-page4 {
  background-image: url(../RJ-img/page4-bg.jpg);
  padding-bottom: 20px;
  &-list {
    overflow: hidden;
    margin-bottom: 30px;
  }
  &-item {
    float: left;
    width: 24%;
    padding: 8px 0;
    line-height: 26px;
    font-size: 16px;
    color: #333;
    margin-right: 1.3333333%;
    background-color: #d9ebf9;
    border-bottom: 2px solid transparent;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: #fff;
      border-color: #e60b42;
    }
  }
  .t-sub-title {
    width: 80%;
    text-align: left;
  }
  .left, .right {
    float: left;
    width: 50%;
  }
  .decorate-title {
    margin-bottom: 30px;
  }
  .slide-content {
    position: relative;
  }
  &-slide1 {
    .slide-content {
      position: relative;
      width: 381px;
      height: 381px;
      margin: auto;
      margin-top: 60px;
      background: url(../RJ-img/page4-item1.png) center center/100% 100% no-repeat;
    }
    &-circle {
      position: absolute;
      display: flex;
      width: 78px;
      height: 78px;
      background-color: #fff;
      border: 1px solid #0e8cdc;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      &.bg {
        background-color: #d3eafa;
      }
    }
    .big-circle {
      width: 140px;
      height: 140px;
      position: absolute;
      top: 120px;
      left: 120px;
      border-radius: 50%;
      background-color: #6096c4;
      color: #fff;
      font-size: 24px;
      line-height: 140px;
    }
    .circle1 {
      top: -36px;
      left: 150px;
    }
    .circle2 {
      top: 10px;
      left: 270px;
    }
    .circle9 {
      top: 10px;
      left: 30px;
    }
    .circle3 {
      top: 110px;
      left: 330px;
    }
    .circle8 {
      top: 110px;
      left: -30px;
    }
    .circle4 {
      top: 220px;
      left: 320px;
    }
    .circle7 {
      top: 220px;
      left: -20px;
    }
    .circle5 {
      top: 320px;
      left: 230px;
    }
    .circle6 {
      top: 320px;
      left: 60px;
    }
  }
  &-slide2 {
    .t-sub-title {
      width: 84%;
    }
    .slide-content {
      position: relative;
      margin-top: 60px;
      width: 84%;
      margin-left: 8%;
    }
    img {
      display: block;
      width: 100%;
    }
    .text {
      position: absolute;
    }
    .text1 {
      top: 105px;
      left: 140px;
    }
    .text2 {
      top: 130px;
      right: 20px;
    }
    .text3 {
      top: 185px;
      left: 230px;
    }
    .text4 {
      bottom: 2px;
      left: 80px;
    }
    .slide2-right-title {
      margin: 30px 0 25px;
      font-size: 20px;
      color: #333;
      font-weight: bold;
    }
    .slide2-right-list {
      overflow: hidden;
    }
    .slide2-right-item {
      float: left;
      display: flex;
      align-items: center;
      width: 165px;
      margin-bottom: 15px;
    }
    .item-num {
      width: 34px;
      height: 34px;
      margin-right: 10px;
      line-height: 34px;
      text-align: center;
      background-color: #6096c4;
      border-radius: 50%;
      color: #fff;
    }
    .item-text {
      flex: 1;
      line-height: 26px;
    }
  }
  &-slide3 {
    img {
      display: block;
      margin: auto;
    }
    .left {
      position: relative;
      .text1 {
        position: absolute;
        left: 135px;
        top: 273px;
      }
      .text2 {
        position: absolute;
        left: 395px;
        top: 273px;
      }
    }
    .right {
      position: relative;
      .text {
        position: absolute;
      }
      .text1 {
        top: 200px;
        left: 76px;
      }
      .text2 {
        top: 120px;
        left: 110px;
      }
      .text3 {
        top: 0;
        left: 242px;
      }
      .text4 {
        top: 100px;
        left: 422px;
      }
      .text5 {
        top: 175px;
        left: 462px;
      }
      .text6 {
        bottom: 15px;
        left: 105px;
        color: #fff;
      }
      .text7 {
        bottom: 15px;
        left: 405px;
        color: #fff;
      }
    }
  }
  &-slide4 {
    padding-bottom: 140px;
    color: #fff;
    .text {
      position: absolute;
    }
    .left {
      position: relative;
      margin-top: 50px;
      img {
        display: block;
        width: 438px;
        margin: auto;
      }
      .text1 {
        top: 53px;
        left: 100px;
      }
      .text2 {
        top: 100px;
        left: 150px;
      }
      .text3 {
        top: 150px;
        left: 100px;
      }
      .text4 {
        top: 200px;
        left: 150px;
      }
      .circle1, .circle2 {
        display: block;
        width: 72px;
        height: 72px;
        background: #6096c4;
        border-radius: 50%;
        line-height: 72px;
        text-align: center;
      }
      .circle1 {
        top: 50px;
        right: 20px;
      }
      .circle2 {
        top: 150px;
        right: 20px;
      }
    }
    .right {
      position: relative;
      img {
        display: block;
        width: 289px;
        margin: auto;
      }
      .bg1 {
        background: #45729f;
      }
      .bg2 {
        background: #6096c4;
      }
      .bg3 {
        background: #4e9ecc;
      }
      .text {
        padding: 5px 5px;
        line-height: 1.2;
        border-radius: 3px;
        min-width: 142px;
        text-align: center;
      }
      .text1 {
        top: 35px;
        left: 60px;
      }
      .text2 {
        top: 75px;
        left: 60px;
      }
      .text3 {
        top: 15px;
        right: 35px;
      }
      .text4 {
        top: 55px;
        right: 35px;
      }
      .text5 {
        top: 99px;
        right: 35px;
      }
      .text6 {
        top: 210px;
        left: 62px;
      }
      .text7 {
        top: 260px;
        left: 4px;
      }
      .text8 {
        top: 320px;
        left: 6px;
      }
      .text9 {
        top: 360px;
        left: 55px;
      }
      .text10 {
        top: 210px;
        right: 60px;
      }
      .text11 {
        top: 260px;
        right: 10px;
      }
      .text12 {
        top: 320px;
        right: 8px;
      }
      .text13 {
        top: 370px;
        right: 50px;
      }
      .circle1 {
        top: 43px;
        left: 220px;
        line-height: 24px;
      }
      .circle2 {
        top: 255px;
        left: 225px;
        color: #333;
        line-height: 24px;
      }
      .circle3 {
        top: 275px;
        left: 155px;
        line-height: 24px;
      }
      .circle4 {
        top: 275px;
        left: 293px;
        line-height: 24px;
      }
    }
  }
  .swiper-button-prev {
    left: -30px;
  }
  .swiper-button-next {
    right: -30px;
  }
}

// 第五屏
.t-page5{
  background-color: #fff;
  .item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  a {
      text-decoration: none;
  }
  img {
    display: block;
    width: 100%;
  }
  .text {
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 52px;
    border-bottom: 1px solid #e4eef9;
    border-left: 1px solid #e4eef9;
    border-right: 1px solid #e4eef9;
  }
  .btn-list {
    margin-top: 10px;
  }
  .item-title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 45px;
    background: #6096c4;
    border-radius: 5px;
    color: #fff;
    text-align: center;
  }
  &-top {
    margin-top: 40px;
    margin-bottom: 38px;
    overflow: hidden;
    width: 100%;
    li {
      float: left;
      width: 23%;
      margin-right: 2.666666%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-center {
    margin-bottom: 38px;
    ul {
        overflow: hidden;
    }
    .item {
      width: 23%;
      float: left;
      margin-right: 2.6666666%;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-bottom {
    overflow: hidden;
    margin-top: 50px;
    .left, .right {
      width: 45%;
      float: left;
    }
    .left {
      margin-right: 10%;
    }
    .text {
      padding: 20px 0;
      line-height: 26px;
    }
  }
}

.show-pc{
  display: block!important;
}
.show-mobile{
  display: none!important;
}
#iframe {
  display: none;
}

@media screen and (max-width: 1024px) {
  .t-content {
    max-width: 980px;
  }
  // 第一屏
  .t-page1 {
    height: 600px;
    &-title{
      margin-left: -50px;
    }
  }
  // 第二屏
  .t-page2{
    padding-bottom: 40px;
    &-item {
      width: 23.5%;
      height: 480px;
      margin-right: 2%;
      img {
        width: 140px;
        height: 140px;
        margin-bottom: 30px;
        padding-top: 30px;
      }
    }
  }
  // 第四屏
  .t-page4 {
    .decorate-title {
      margin-bottom: 30px;
    }
    &-slide2 {
      .text1 {
        top: 85px;
        left: 115px;
      }
      .text2 {
        top: 105px;
      }
      .text3 {
        top: 150px;
        left: 180px;
      }
      .text4 {
        bottom: 2px;
        left: 70px;
      }
      .slide2-right-title {
        margin: 20px 0;
      }
      .slide2-right-item {
        width: 185px;
      }
    }
    &-slide3 {
      img {
        width: 90%;
      }
      .left {
        .text1 {
          left: 95px;
          top: 243px;
        }
        .text2 {
          left: 325px;
          top: 243px;
        }
      }
      .right {
        .text1 {
          top: 190px;
          left: 31px;
        }
        .text2 {
          top: 115px;
          left: 70px;
        }
        .text3 {
          top: 0;
          left: 190px;
        }
        .text4 {
          top: 90px;
          left: 362px;
        }
        .text5 {
          top: 165px;
          left: 402px;
        }
        .text6 {
          bottom: 15px;
          left: 58px;
        }
        .text7 {
          bottom: 15px;
          left: 345px;
        }
      }
    }
    &-slide4 {
      .left {
        img {
          width: 400px;
        }
        .text1 {
          top: 48px;
          left: 60px;
        }
        .text2 {
          top: 92px;
          left: 110px;
        }
        .text3 {
          top: 138px;
          left: 60px;
        }
        .text4 {
          top: 180px;
          left: 105px;
        }
        .circle1, .circle2 {
          width: 64px;
          height: 64px;
          line-height: 64px;
        }
        .circle1 {
          top: 40px;
          right: 10px;
        }
        .circle2 {
          top: 130px;
          right: 10px;
        }
      }
      .right {
        img {
          width: 270px;
        }
        .text {
          min-width: 138px;
        }
        .text1 {
          top: 35px;
          left: 30px;
        }
        .text2 {
          top: 75px;
          left: 30px;
        }
        .text3 {
          top: 15px;
          right: 35px;
        }
        .text4 {
          top: 55px;
          right: 35px;
        }
        .text5 {
          top: 99px;
          right: 35px;
        }
        .text6 {
          top: 200px;
          left: 32px;
        }
        .text7 {
          top: 250px;
          left: -26px;
        }
        .text8 {
          top: 310px;
          left: -26px;
        }
        .text9 {
          top: 340px;
          left: 45px;
        }
        .text10 {
          top: 190px;
          right: 40px;
        }
        .text11 {
          top: 240px;
          right: -10px;
        }
        .text12 {
          top: 300px;
          right: -22px;
        }
        .text13 {
          top: 350px;
          right: 30px;
        }
        .circle1 {
          left: 170px;
        }
        .circle2 {
          top: 245px;
          left: 175px;
          color: #333;
          line-height: 24px;
        }
        .circle3 {
          top: 265px;
          left: 105px;
          line-height: 24px;
        }
        .circle4 {
          top: 265px;
          left: 243px;
          line-height: 24px;
        }
      }
    }
    .swiper-button-prev {
      left: -10px;
    }
    .swiper-button-next {
      right: -10px;
    }
  }
}

@media screen and (max-width: 768px){
  .show-pc{
    display: none!important;
  }
  .show-mobile{
    display: block!important;
  }
  .t-sub-title {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 92%;
  }
  .t-main-title{
    font-size: 22px;
    padding: 30px 0px 10px 0;
  }
  .t-main-title:after{
    bottom: 5px;
  }
  .t-sub-tit{
    font-size: 20px;
    padding: 40px 0 20px 0;
    margin: 10px auto 10px auto;
  }
  .decorate-text {
    font-size: 22px;
  }
  .t-main-title span {
    padding: 20px;
    background-size: 70%;
  }
  .t-content {
    width: auto;
    margin: 0 30px;
  }
  // 第一屏
  .t-page1 {
    background-image: url('../RJ-img/banner-m.jpg');
    height: auto;
    padding-bottom: 400px;
    .page1-cont{
      width: 100%;
      float: left;
      margin: 90px auto 0 auto;
    }
    &-title{
      margin-bottom: 50px;
      margin-left: 0;
      img {
        display: block;
        margin: auto;
      }
    }
    &-text {
      font-size: 16px;
      line-height: 26px;
      margin: 0 60px;
      color: #333;
    }
    .btn-list{
      text-align: center;
    }
  }

  .t-nav{
    display: none;
  }
  .btn-list a.btn{
    height: 32px;
    line-height: 32px;
    margin: 5px 8px;
  }

  // 第二屏
  .t-page2{
    padding-bottom: 20px;
    &-item {
      width: 46%;
      height: 450px;
      margin-right: 8%;
      margin-bottom: 30px;
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
      img {
        width: 167px;
        height: 167px;
        margin-bottom: 30px;
        padding-top: 36px;
      }
      .item-title {
        font-size: 22px;
      }
    }
  }

  // 第三屏
  .t-page3{
    .t-sub-title {
      width: 90%;
      margin-bottom: 50px;
    }
    .img-wrap {
      width: 100%;
    }
    .top {
      position: absolute;
      width: 590px;
      top: 110px;
      left: 50px;
    }
    .middle {
      width: 250px;
      top: 240px;
      left: 220px;
      &-other {
        right: -100px;
        top: -100px;
      }
    }
    .bottom {
      bottom: 25px;
      left: 80px;
      right: 80px;
    }
  }

  // 第四屏
  .t-page4 {
    padding-bottom: 20px;
    &-list {
      margin: 20px 0 10px;
    }
    .t-sub-title {
      width: 90%;
    }
    .left, .right {
      float: none;
      width: 100%;
      margin-bottom: 80px;
    }
    .decorate-title {
      margin-bottom: 30px;
    }
    &-slide1 {
      .slide-content {
        width: 460px;
        height: 460px;
      }
      &-circle {
        width: 78px;
        height: 78px;
      }
      .big-circle {
        width: 180px;
        height: 180px;
        top: 140px;
        left: 140px;
        font-size: 24px;
        line-height: 180px;
      }
      .circle1 {
        top: -30px;
        left: 185px;
      }
      .circle2 {
        top: 20px;
        left: 330px;
      }
      .circle9 {
        top: 20px;
        left: 50px;
      }
      .circle3 {
        top: 130px;
        left: 400px;
      }
      .circle8 {
        top: 130px;
        left: -20px;
      }
      .circle4 {
        top: 260px;
        left: 400px;
      }
      .circle7 {
        top: 260px;
        left: -20px;
      }
      .circle5 {
        top: 380px;
        left: 290px;
      }
      .circle6 {
        top: 380px;
        left: 80px;
      }
    }
    &-slide2 {
      .t-sub-title {
        width: 90%;
      }
      .slide-content {
        position: relative;
        width: 90%;
        margin-left: 5%;
      }
      .text1 {
        top: 125px;
        left: 205px;
      }
      .text2 {
        top: 170px;
        right: 30px;
      }
      .text3 {
        top: 245px;
        left: 310px;
      }
      .text4 {
        bottom: 8px;
        left: 100px;
      }
      .slide2-right-item {
        width: 50%;
        margin-bottom: 20px;
      }
    }
    &-slide3 {
      .left {
        .text1 {
          left: 155px;
          top: 353px;
        }
        .text2 {
          position: absolute;
          left: 485px;
          top: 353px;
        }
      }
      .right {
        .text1 {
          top: 280px;
          left: 66px;
        }
        .text2 {
          top: 160px;
          left: 120px;
        }
        .text3 {
          top: 10px;
          left: 292px;
        }
        .text4 {
          top: 140px;
          left: 520px;
        }
        .text5 {
          top: 250px;
          left: 572px;
        }
        .text6 {
          bottom: 23px;
          left: 95px;
          color: #fff;
        }
        .text7 {
          bottom: 23px;
          left: 520px;
          color: #fff;
        }
      }
    }
    &-slide4 {
      padding-bottom: 100px;
      .left {
        margin-bottom: 90px;
        img {
          width: 538px;
        }
        .text1 {
          top: 68px;
          left: 110px;
        }
        .text2 {
          top: 130px;
          left: 170px;
        }
        .text3 {
          top: 190px;
          left: 110px;
        }
        .text4 {
          top: 250px;
          left: 170px;
        }
        .circle1, .circle2 {
          display: block;
          width: 72px;
          height: 72px;
          background: #6096c4;
          border-radius: 50%;
          line-height: 72px;
          text-align: center;
        }
        .circle1 {
          top: 50px;
          right: 20px;
        }
        .circle2 {
          top: 150px;
          right: 20px;
        }
      }
      .right {
        img {
          width: 350px;
        }
        .text {
          min-width: 142px;
        }
        .bg2 {
          min-width: 115px;
        }
        .bg3 {
          min-width: 100px;
        }
        .text1 {
          top: 45px;
          left: 80px;
        }
        .text2 {
          top: 95px;
          left: 80px;
        }
        .text3 {
          top: 20px;
          right: 70px;
        }
        .text4 {
          top: 70px;
          right: 70px;
        }
        .text5 {
          top: 119px;
          right: 70px;
        }
        .text6 {
          top: 255px;
          left: 125px;
        }
        .text7 {
          top: 310px;
          left: 64px;
        }
        .text8 {
          top: 390px;
          left: 66px;
        }
        .text9 {
          top: 440px;
          left: 120px;
        }
        .text10 {
          top: 250px;
          right: 145px;
        }
        .text11 {
          top: 310px;
          right: 75px;
        }
        .text12 {
          top: 380px;
          right: 75px;
        }
        .text13 {
          top: 440px;
          right: 140px;
        }
        .circle1 {
          top: 60px;
          left: 275px;
        }
        .circle2 {
          top: 305px;
          left: 275px;
        }
        .circle3 {
          top: 340px;
          left: 190px;
          line-height: 24px;
        }
        .circle4 {
          top: 340px;
          left: 363px;
          line-height: 24px;
        }
      }
    }
    .swiper-hand {
      position: absolute;
      width: 100%;
      bottom: 25px;
      text-align: center;
    }
    .swiper-button-prev {
      left: 30%;
    }
    .swiper-button-next {
      right: 30%;
    }
  }

  // 第五屏
  .t-page5{
    &-top {
      li {
        float: left;
        width: 46%;
        margin-right: 8%;
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
    &-center {
      margin-bottom: 38px;
      .item {
        width: 46%;
        float: left;
        margin-right: 8%;
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .t-sub-title {
    margin-top: 15px;
  }

  // 第一屏
  .t-page1 {
    padding-bottom: 200px;
    .page1-cont{
      margin: 50px auto 0 auto;
    }
    &-title{
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }
    &-text {
      margin: 0 20px;
    }
    .btn-list{
      margin-top: 30px;
    }
  }

  // 第二屏
  .t-page2{
    padding-bottom: 0;
    &-item {
      width: 90%;
      height: 400px;
      margin-right: 8%;
      margin: 0 5% 30px 5%;
    }
  }

  // 第三屏
  .t-page3{
    padding-bottom: 60px;
    .t-sub-title {
      width: 100%;
      margin-bottom: 30px;
    }
    .img-wrap {
      font-size: 14px;
    }
    .top {
      position: absolute;
      width: 380px;
      top: 60px;
      left: 10px;
    }
    .middle {
      width: 160px;
      top: 140px;
      left: 120px;
      &-other {
        right: -110px;
        top: -50px;
      }
    }
    .bottom {
      bottom: 13px;
      left: 40px;
      right: 40px;
    }
  }

  // 第四屏
  .t-page4 {
    padding-bottom: 20px;
    &-list {
      margin: 20px 0 0;
    }
    &-item {
      width: 47%;
      margin-bottom: 10px;
      margin-right: 6%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    .t-sub-title {
      width: 100%;
    }
    .swiper-slide {
      font-size: 14px;
    }
    &-slide1 {
      .left {
        margin-bottom: 30px;
      }
      .slide-content {
        width: 360px;
        height: 360px;
      }
      &-circle {
        width: 78px;
        height: 78px;
      }

      .big-circle {
        width: 140px;
        height: 140px;
        top: 110px;
        left: 110px;
      }
      .circle1 {
        top: -36px;
        left: 150px;
      }
      .circle2 {
        top: 10px;
        left: 250px;
      }
      .circle9 {
        top: 10px;
        left: 30px;
      }
      .circle3 {
        top: 110px;
        left: 310px;
      }
      .circle8 {
        top: 110px;
        left: -30px;
      }
      .circle4 {
        top: 220px;
        left: 300px;
      }
      .circle7 {
        top: 220px;
        left: -20px;
      }
      .circle5 {
        top: 300px;
        left: 210px;
      }
      .circle6 {
        top: 300px;
        left: 60px;
      }
    }
    &-slide2 {
      .t-sub-title {
        width: 100%;
      }
      .slide-content {
        margin-top: 30px;
        width: 100%;
        margin-left: 0;
      }
      .text1 {
        top: 85px;
        left: 120px;
      }
      .text2 {
        top: 110px;
        right: 30px;
      }
      .text3 {
        top: 145px;
        left: 190px;
      }
      .text4 {
        bottom: 3px;
        left: 75px;
      }
      .slide2-right-item {
        margin-bottom: 20px;
      }
      .item-text {
        font-size: 16px;
      }
    }
    &-slide3 {
      .left {
        .text1 {
          left: 80px;
          top: 210px;
        }
        .text2 {
          position: absolute;
          left: 270px;
          top: 210px;
        }
      }
      .right {
        .text1 {
          top: 160px;
          left: 15px;
        }
        .text2 {
          top: 95px;
          left: 50px;
        }
        .text3 {
          top: 0;
          left: 152px;
        }
        .text4 {
          top: 80px;
          left: 310px;
        }
        .text5 {
          top: 145px;
          left: 342px;
        }
        .text6 {
          bottom: 12px;
          left: 45px;
          color: #fff;
        }
        .text7 {
          bottom: 12px;
          left: 295px;
        }
      }
    }
    &-slide4 {
      .left {
        margin-bottom: 40px;
        img {
          width: 350px;
        }
        .text1 {
          top: 40px;
          left: 50px;
        }
        .text2 {
          top: 80px;
          left: 90px;
        }
        .text3 {
          top: 120px;
          left: 50px;
        }
        .text4 {
          top: 160px;
          left: 90px;
        }
        .circle1, .circle2 {
          width: 64px;
          height: 64px;
          line-height: 64px;
        }
        .circle1 {
          top: 40px;
          right: 10px;
        }
        .circle2 {
          top: 140px;
          right: 10px;
        }
      }
      .right {
        img {
          width: 240px;
        }
        .text {
          min-width: 128px;
        }
        .bg2 {
          min-width: 100px;
        }
        .bg3 {
          min-width: 90px;
        }
        .text1 {
          top: 25px;
          left: -10px;
        }
        .text2 {
          top: 55px;
          left: -10px;
        }
        .text3 {
          top: 7px;
          right: -10px;
        }
        .text4 {
          top: 45px;
          right: -10px;
        }
        .text5 {
          top: 80px;
          right: -10px;
        }
        .text6 {
          top: 170px;
          left: 10px;
        }
        .text7 {
          top: 210px;
          left: -10px;
        }
        .text8 {
          top: 260px;
          left: 0;
        }
        .text9 {
          top: 310px;
          left: 10px;
        }
        .text10 {
          top: 165px;
          right: 20px;
        }
        .text11 {
          top: 220px;
          right: 0;
        }
        .text12 {
          top: 270px;
          right: 0;
        }
        .text13 {
          top: 310px;
          right: 30px;
        }
        .circle1 {
          top: 30px;
          left: 135px;
        }
        .circle2 {
          top: 210px;
          left: 140px;
        }
        .circle3 {
          top: 225px;
          left: 75px;
          line-height: 24px;
        }
        .circle4 {
          top: 225px;
          left: 193px;
          line-height: 24px;
        }
      }
    }
    .swiper-hand {
      position: absolute;
      width: 100%;
      bottom: 25px;
      text-align: center;
    }
    .swiper-button-prev,.swiper-button-next {
      width: 18px;
      height: 32px;
      padding: 5px 10px;
    }
    .swiper-button-prev {
      left: 30%;
    }
    .swiper-button-next {
      right: 30%;
    }
  }

  // 第五屏
  .t-page5{
    &-top {
      li {
        float: left;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
      }
    }
    &-center {
      .item {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
      }
    }
    &-bottom {
      .left, .right {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .t-content {
    margin: 0 15px;
  }
  // 第一屏
  .t-page1 {
    .btn-list{
      .btn {
        width: 160px;
      }
    }
  }

  // 第三屏
  .t-page3{
    padding-bottom: 40px;
    .top {
      position: absolute;
      width: 340px;
      top: 60px;
      left: 20px;
    }
    .middle {
      width: 150px;
      top: 125px;
      left: 110px;
      &-other {
        right: -90px;
        top: -40px;
      }
    }
    .bottom {
      bottom: 10px;
      left: 30px;
      right: 30px;
    }
  }

  // 第四屏
  .t-page4 {
    padding-bottom: 20px;
    &-list {
      margin: 20px 0 0;
    }
    &-item {
      width: 47%;
      margin-bottom: 10px;
      margin-right: 6%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    .t-sub-title {
      width: 100%;
    }
    &-slide1 {
      .slide-content {
        width: 310px;
        height: 310px;
      }
      &-circle {
        width: 66px;
        height: 66px;
      }

      .big-circle {
        width: 120px;
        height: 120px;
        top: 95px;
        left: 95px;
        line-height: 120px;
      }
      .circle1 {
        top: -36px;
        left: 130px;
      }
      .circle2 {
        top: 0;
        left: 220px;
      }
      .circle9 {
        top: 0;
        left: 10px;
      }
      .circle3 {
        top: 90px;
        left: 265px;
      }
      .circle8 {
        top: 90px;
        left: -25px;
      }
      .circle4 {
        top: 190px;
        left: 245px;
      }
      .circle7 {
        top: 190px;
        left: -10px;
      }
      .circle5 {
        top: 260px;
        left: 180px;
      }
      .circle6 {
        top: 260px;
        left: 50px;
      }
    }
    &-slide2 {
      .left {
        margin-bottom: 40px;
      }
      .text1 {
        top: 75px;
        left: 105px;
      }
      .text2 {
        top: 100px;
        right: 20px;
      }
      .text3 {
        top: 135px;
        left: 160px;
      }
      .text4 {
        bottom: 3px;
        left: 75px;
      }
      .slide2-right-item {
        margin-bottom: 20px;
      }
    }
    &-slide3 {
      .left {
        margin-bottom: 40px;
        .text1 {
          left: 65px;
          top: 200px;
        }
        .text2 {
          left: 250px;
          top: 200px;
        }
      }
      .right {
        .text1 {
          top: 150px;
          left: 5px;
        }
        .text2 {
          top: 85px;
          left: 40px;
        }
        .text3 {
          top: -5px;
          left: 142px;
        }
        .text4 {
          top: 70px;
          left: 280px;
        }
        .text5 {
          top: 130px;
          left: 315px;
        }
        .text6 {
          bottom: 9px;
          left: 38px;
          color: #fff;
        }
        .text7 {
          bottom: 9px;
          left: 263px;
        }
      }
    }
    &-slide4 {
      .left {
        margin-bottom: 40px;
        margin-top: 20px;
        img {
          width: 350px;
        }
        .text1 {
          top: 40px;
          left: 35px;
        }
        .text2 {
          top: 80px;
          left: 75px;
        }
        .text3 {
          top: 120px;
          left: 35px;
        }
        .text4 {
          top: 160px;
          left: 75px;
        }
        .circle1, .circle2 {
          width: 64px;
          height: 64px;
          line-height: 64px;
        }
        .circle1 {
          top: 40px;
          right: 10px;
        }
        .circle2 {
          top: 140px;
          right: 10px;
        }
      }
      .right {
        img {
          width: 240px;
        }
        .text1 {
          top: 25px;
          left: -10px;
        }
        .text2 {
          top: 55px;
          left: -10px;
        }
        .text3 {
          top: 7px;
          right: -10px;
        }
        .text4 {
          top: 45px;
          right: -10px;
        }
        .text5 {
          top: 80px;
          right: -10px;
        }
        .text6 {
          top: 170px;
          left: 10px;
        }
        .text7 {
          top: 210px;
          left: -10px;
        }
        .text8 {
          top: 260px;
          left: 0;
        }
        .text9 {
          top: 310px;
          left: 10px;
        }
        .text10 {
          top: 165px;
          right: 20px;
        }
        .text11 {
          top: 220px;
          right: 0;
        }
        .text12 {
          top: 270px;
          right: 0;
        }
        .text13 {
          top: 310px;
          right: 30px;
        }
        .circle1 {
          top: 30px;
          left: 120px;
        }
        .circle2 {
          top: 210px;
          left: 125px;
        }
        .circle3 {
          top: 225px;
          left: 60px;
          line-height: 24px;
        }
        .circle4 {
          top: 225px;
          left: 178px;
          line-height: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  // 第一屏
  .t-page1 {
    padding-bottom: 140px;
    .page1-cont {
      padding-bottom: 0;
    }
    &-text {
      margin: 0;
    }
  }

  // 第二屏
  .t-page2{
    &-list {
      padding-bottom: 0;
    }
    &-item {
      height: auto;
      padding-bottom: 20px;
    }
  }

  // 第三屏
  .t-page3{
    padding-bottom: 40px;
    .top {
      width: 310px;
      top: 50px;
      left: 10px;
    }
    .middle {
      width: 140px;
      top: 115px;
      left: 95px;
      &-other {
        right: -90px;
        top: -40px;
      }
    }
    .bottom {
      bottom: 10px;
      left: 30px;
      right: 30px;
    }
  }

  // 第四屏
  .t-page4 {
    padding-bottom: 20px;
    &-list {
      margin: 20px 0 0;
    }
    &-item {
      width: 47%;
      margin-bottom: 10px;
      margin-right: 6%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    .t-sub-title {
      width: 100%;
    }
    &-slide1 {
      .slide-content {
        width: 290px;
        height: 290px;
      }
      &-circle {
        width: 60px;
        height: 60px;
      }

      .big-circle {
        width: 120px;
        height: 120px;
        top: 85px;
        left: 85px;
        line-height: 120px;
      }
      .circle1 {
        top: -30px;
        left: 115px;
      }
      .circle2 {
        top: 0;
        left: 200px;
      }
      .circle9 {
        top: 0;
        left: 20px;
      }
      .circle3 {
        top: 90px;
        left: 245px;
      }
      .circle8 {
        top: 90px;
        left: -25px;
      }
      .circle4 {
        top: 180px;
        left: 235px;
      }
      .circle7 {
        top: 180px;
        left: -10px;
      }
      .circle5 {
        top: 240px;
        left: 175px;
      }
      .circle6 {
        top: 240px;
        left: 60px;
      }
    }
    &-slide2 {
      .text1 {
        top: 70px;
        left: 90px;
      }
      .text2 {
        top: 90px;
      }
      .text3 {
        top: 120px;
        left: 150px;
      }
      .text4 {
        bottom: 2px;
        left: 60px;
      }
      .slide2-right-item {
        margin-bottom: 20px;
      }
    }
    &-slide3 {
      .left {
        margin-bottom: 30px;
        .text1 {
          left: 60px;
          top: 180px;
        }
        .text2 {
          left: 220px;
          top: 180px;
        }
      }
      .right {
        .text1 {
          top: 130px;
          left: 5px;
        }
        .text2 {
          top: 75px;
          left: 35px;
        }
        .text3 {
          top: -5px;
          left: 125px;
        }
        .text4 {
          top: 62px;
          left: 258px;
        }
        .text5 {
          top: 115px;
          left: 285px;
        }
        .text6 {
          bottom: 7px;
          left: 32px;
          color: #fff;
        }
        .text7 {
          bottom: 7px;
          left: 237px;
        }
      }
    }
    &-slide4 {
      .left {
        margin-bottom: 40px;
        margin-top: 20px;
        img {
          width: 300px;
        }
        .text1 {
          top: 35px;
          left: 35px;
        }
        .text2 {
          top: 68px;
          left: 70px;
        }
        .text3 {
          top: 103px;
          left: 35px;
        }
        .text4 {
          top: 135px;
          left: 70px;
        }
        .circle1, .circle2 {
          width: 58px;
          height: 58px;
          line-height: 58px;
        }
        .circle1 {
          top: 30px;
          right: 0;
        }
        .circle2 {
          top: 120px;
          right: 0;
        }
      }
      .right {
        img {
          width: 180px;
        }
        .text {
          min-width: 120px;
        }
        .bg2 {
          min-width: 90px;
        }
        .bg3 {
          min-width: 80px;
        }
        .text1 {
          top: 8px;
          left: 0;
        }
        .text2 {
          top: 55px;
          left: 0;
        }
        .text3 {
          top: 0;
          right: 0;
        }
        .text4 {
          top: 30px;
          right: 0;
        }
        .text5 {
          top: 70px;
          right: 0;
        }
        .text6 {
          top: 125px;
          left: 12px;
        }
        .text7 {
          top: 160px;
          left: 0;
        }
        .text8 {
          top: 195px;
          left: 0;
        }
        .text9 {
          top: 230px;
          left: 25px;
        }
        .text10 {
          top: 120px;
          right: 25px;
        }
        .text11 {
          top: 150px;
          right: 0;
        }
        .text12 {
          top: 190px;
          right: 0;
        }
        .text13 {
          top: 230px;
          right: 30px;
        }
        .circle1 {
          top: 15px;
          left: 107px;
        }
        .circle2 {
          top: 150px;
          left: 110px;
        }
        .circle3 {
          top: 170px;
          left: 60px;
          line-height: 20px;
        }
        .circle4 {
          top: 170px;
          left: 150px;
          line-height: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  // 第一屏
  .t-page1 {
    padding-bottom: 140px;
    .page1-cont {
      margin-top: 30px;
    }
    &-title {
      margin-bottom: 20px;
    }
    &-text {
      margin: 0;
    }
    .btn-list {
      margin-top: 20px;
    }
  }

  // 第二屏
  .t-page2{
    &-list {
      padding-bottom: 0;
    }
    &-item {
      height: auto;
      padding-bottom: 20px;
      img {
        width: 150px;
        height: 150px;
        padding-top: 30px;
        margin-bottom: 20px;
      }
    }
  }

  // 第三屏
  .t-page3{
    .top {
      width: 250px;
      top: 45px;
    }
    .middle {
      width: 120px;
      top: 95px;
      left: 80px;
      &-other {
        top: -30px;
      }
    }
    .bottom {
      bottom: 7px;
    }
  }

  // 第四屏
  .t-page4 {
    &-slide1 {
      .slide-content {
        width: 250px;
        height: 250px;
      }
      &-circle {
        width: 60px;
        height: 60px;
      }

      .big-circle {
        width: 100px;
        height: 100px;
        top: 75px;
        left: 75px;
        line-height: 100px;
      }
      .circle1 {
        top: -30px;
        left: 100px;
      }
      .circle2 {
        top: 0;
        left: 180px;
      }
      .circle9 {
        top: 0;
        left: 10px;
      }
      .circle3 {
        top: 70px;
        left: 205px;
      }
      .circle8 {
        top: 70px;
        left: -20px;
      }
      .circle4 {
        top: 150px;
        left: 195px;
      }
      .circle7 {
        top: 150px;
        left: -10px;
      }
      .circle5 {
        top: 210px;
        left: 140px;
      }
      .circle6 {
        top: 210px;
        left: 55px;
      }
    }
    &-slide2 {
      .text1 {
        top: 55px;
        left: 70px;
      }
      .text2 {
        top: 70px;
      }
      .text3 {
        top: 90px;
        left: 110px;
      }
      .text4 {
        bottom: 0;
        left: 50px;
      }
    }
    &-slide3 {
      .left {
        .text1 {
          left: 45px;
          top: 150px;
        }
        .text2 {
          left: 180px;
          top: 150px;
        }
      }
      .right {
        .text1 {
          top: 110px;
          left: 0;
        }
        .text2 {
          top: 63px;
          left: 25px;
        }
        .text3 {
          left: 95px;
        }
        .text4 {
          top: 50px;
          left: 214px;
        }
        .text5 {
          top: 97px;
          left: 230px;
        }
        .text6 {
          bottom: 4px;
          left: 25px;
          color: #fff;
        }
        .text7 {
          bottom: 4px;
          left: 190px;
        }
      }
    }
    &-slide4 {
      .left {
        img {
          width: 260px;
        }
        .text1 {
          top: 30px;
          left: 25px;
        }
        .text2 {
          top: 59px;
          left: 52px;
        }
        .text3 {
          top: 88px;
          left: 25px;
        }
        .text4 {
          top: 115px;
          left: 52px;
        }
        .circle1 {
          top: 20px;
        }
        .circle2 {
          top: 90px;
        }
      }
      .right {
        .slide-content {
          width: 345px;
          transform: scale(.8);
          margin-left: -30px;
        }
      }
    }
  }
}
