.index-container {
  .pc-show {
    display: block;
  }
  .mobile-show {
    display: none;
  }
  .btn {
    display: inline-block;
    width: 144px;
    height: 42px;
    background: #D20032;
    text-align: center;
    line-height: 42px;
    border-radius: 100px;
    color: #fff;
    margin-right: 10px;

    &.white {
      background-color: #fff;
    }
    &.purple {
      color: #7D14D7;
    }
    &.blue {
      color: #0085DB;
    }
    &.green {
      color: #04BBD6;
    }
  }
  
  .index-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;

    .logo {
      float: left;
      position: relative;
      top: -8px;
    }
  }

  .banners {
    .item {
      width: 60%;
      height: 60%;
    }

    .recruitment {
      position: relative;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background:  #063AAB url(../images/recruitment-bg.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .main {
        position: absolute;
        top: 190px;
        left: 45%;
        transform: translateX(-50%);
        width: 883px;
        height: 500px;

        .star {
          width: 883px;
        }
      }

      .apply {
        position: static;
        float: right;
        margin-right: 114px;
        margin-top: -21px;
      }
    }

    .pic {
      top: 15%;
      width: 24%;
      right: 21%;
    }

    .about {
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url(../images/about-bg.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    .about .pic {
      background-image: url(../images/about-pic.png);
    }

    .about .item {
      background: url(../images/about-card.png) center center no-repeat;
      -moz-background-size: contain;
      background-size: contain;
    }

    .staff {
      background-image: url(../images/staff-bg.jpg);
      background-size: cover;

      .item {
        background-image: url(../images/staff-card.png);
      }

      .pic {
        right: 22%;
        background-image: url(../images/staff-pic.png);
      }
    }

    .question {
      background-image: url(../images/question-bg.jpg);
      background-size: cover;

      .item {
        background-image: url(../images/question-card.png);
      }

      .pic {
        right: 22%;
        background-image: url(../images/question-pic.png);
      }
    }
  }

  .copyright {
    padding-bottom: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    opacity: 0.9;
    filter: opacity(0.9);
  }
}

@media screen and (max-width: 1280px){
  .index-container {
    .banners {
      .item {
        width: 70%;
        height: 70%;
      }
      .recruitment {
        .main {
          top: 20%;
          width: 60%;
          .star {
            width: 100%;
          }
        }
      }
      .pic {
        top: 12%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .index-container {
    .pc-show {
      display: none;
    }
    .mobile-show {
      display: block;
    }
  
    .banners {
      .item {
        width: 70%;
        height: 70%;
      }
  
      .recruitment {
        background:  #063AAB url(../images/recruitment-bg-m.jpg) center top/100% auto;
        .main {
          left: 5%;
          transform: translateX(0);
          width: 90%;
        }
  
        .apply {
          float: none;
          margin-right: 0;
          margin-top: 70px;
          text-align: center;

          .btn {
            margin-bottom: 15px;
          }
        }
      }

      .pic {
        top: 30%;
      }

      .about {
        background: url(../images/about-bg-m.jpg) center top/100% auto;
      }

      .about .pic {
        width: 50%;
        height: 50%;
        left: 25%;
        background-image: url(../images/about-pic.png);
      }
  
      .about .item {
        background: url(../images/about-card-m.png) center center no-repeat;
        -moz-background-size: contain;
        background-size: contain;
      }
  
      .staff {
        background: url(../images/staff-bg-m.jpg) center top/100% auto;
        background-size: cover;
  
        .item {
          background-image: url(../images/staff-card-m.png);
        }
  
        .pic {
          width: 50%;
          height: 50%;
          left: 25%;
          right: 25%;
          background-image: url(../images/staff-pic.png);
        }
      }
  
      .question {
        background: url(../images/question-bg-m.jpg) center top/100% auto;
        background-size: cover;
  
        .item {
          background-image: url(../images/question-card-m.png);
        }
  
        .pic {
          width: 50%;
          height: 50%;
          left: 25%;
          right: 25%;
          background-image: url(../images/question-pic.png);
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .index-container {
    .banners {
      .pic {
        top: 26.5%;
      }
    }
  }
}
