.welfare-banner {
  margin-top: 20px;
}

.welfare-banner .container {
  position: relative;
  height: auto;
}

.welfare-banner img {
  width: 100%;
}

.welfare-banner .top-text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -60px;
  text-align: center;
  color: #fff;
}

.welfare-banner .top-text a {
  width: 70px;
  height: 70px;
  display: inline-block;
  background: url("../images/h-rj-icon01.png") no-repeat center center;
  margin-bottom: 15px;
}

.welfare-banner .top-text h3 {
  font-size: 24px;
  line-height: 1;
  padding-bottom: 15px;
  font-weight: normal;
}

.welfare-banner .top-text p {
  font-size: 16px;
}

.welfare-box {
  margin-top: 20px;
  margin-bottom: 40px;
}

.welfare-box .container {
  background-color: #fff;
  padding-bottom: 30px;
  height: auto;
}

.welfare-box h2 {
  text-align: center;
  line-height: 1;
  padding: 50px 0 20px 0;
  font-weight: normal;
  color: #555;
  font-size: 30px;
}

.welfare-box h4 {
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.welfare-box .here-tabLink {
  padding: 0 40px;
}

.welfare-box .welfare-1,
.welfare-box .welfare-2,
.welfare-box .welfare-3 {
  padding: 0 40px;
}

.welfare-box .welfare-list ul {
  width: 1140px;
}

.welfare-box .welfare-list li {
  position: relative;
  float: left;
  width: 253px;
  height: 150px;
  padding: 5px;
  border: 1px solid #f6f6f6;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.welfare-box .welfare-list li:hover .list-tip {
  top: 5px;
  display: block /9;
}

.welfare-box .welfare-list li .list-con {
  background-color: #fafaff;
}

.welfare-box .welfare-list li .list-con .img-box {
  width: 253px;
  height: 120px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.welfare-box .welfare-list li .list-con .img-box img {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.welfare-box .welfare-list li .list-con p {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.welfare-box .welfare-list li .list-tip {
  position: absolute;
  top: 162px;
  top: 5px /9;
  left: 5px;
  width: 223px;
  height: 125px;
  padding: 15px 10px 10px 20px;
  display: none /9;
  color: #fff;
  text-align: left;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  font-size: 12px;
  line-height: 20px;
}

.welfare-box .welfare-1 .welfare-list .list-con p {
  background-color: #e7e5ff;
  color: #9480f7;
}

.welfare-box .welfare-1 .welfare-list .list-tip {
  background-color: #9480f7;
}

.welfare-box .welfare-2 .welfare-list .list-con p {
  background-color: #c2f9f1;
  color: #01bcc6;
}

.welfare-box .welfare-2 .welfare-list .list-tip {
  background-color: #01bcc6;
}

.welfare-box .welfare-3 .welfare-list .list-con p {
  background-color: #ffe4e4;
  color: #ff8492;
}

.welfare-box .welfare-3 .welfare-list .list-tip {
  background-color: #ff8492;
}

@media screen and (max-width: 1199px) {
  .welfare-banner {
    margin-top: 10px;
  }

  .welfare-banner .container {
    position: relative;
    overflow: hidden;
  }

  .welfare-banner img {
    position: relative;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 280px;
  }

  .welfare-banner .top-text {
    margin-top: -50px;
  }

  .welfare-banner .top-text a {
    width: 50px;
    height: 50px;
    background: url("../images/h-rj-icon01.png") no-repeat center center;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-bottom: 10px;
  }

  .welfare-banner .top-text h3 {
    padding-bottom: 10px;
  }

  .welfare-box {
    margin-top: 10px;
  }

  .welfare-box h2 {
    padding: 30px 0 10px 0;
    font-size: 24px;
  }

  .welfare-box h4 {
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .welfare-box .here-tabLink {
    padding: 0 20px;
  }

  .welfare-box .welfare-1,
  .welfare-box .welfare-2,
  .welfare-box .welfare-3 {
    padding: 0 20px;
  }

  .welfare-box .welfare-list ul {
    width: 102.041%;
  }

  .welfare-box .welfare-list li {
    width: 23%;
    height: 150px;
    margin-right: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .welfare-box .welfare-list li .list-con .img-box {
    height: 108px;
  }

  .welfare-box .welfare-list li .list-tip {
    top: 150px;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 138px;
    padding: 10px 15px 10px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .welfare-box .welfare-list li {
    width: 31.33%;
  }

  .welfare-box .welfare-list li .list-con .img-box img {
    height: 45px;
  }
}

@media screen and (max-width: 768px) {
  .welfare-box .welfare-list li:hover .list-tip {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .welfare-banner img {
    height: 150px;
  }

  .welfare-banner .top-text {
    margin-top: -40px;
  }

  .welfare-banner .top-text a {
    width: 35px;
    height: 35px;
    background: url("../images/h-rj-icon01.png") no-repeat center center;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-bottom: 5px;
  }

  .welfare-banner .top-text h3 {
    font-size: 18px;
    padding-bottom: 8px;
  }

  .welfare-banner .top-text p {
    font-size: 12px;
  }

  .welfare-box .welfare-list li {
    width: 48%;
    margin-bottom: 10px;
  }

  .welfare-box h2 {
    padding: 25px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
  }

  .welfare-box h4 {
    font-size: 16px;
    padding-bottom: 15px;
  }

  .welfare-box .welfare-1,
  .welfare-box .welfare-2,
  .welfare-box .welfare-3 {
    padding: 0 10px;
  }
}

.welfare-box .welfare-0 h4 {
  padding: 0 40px;
}

.welfare-box .welfare-0 img {
  margin: 40px auto;
}

@media only screen and (max-width: 1024px) {
  .welfare-box .welfare-0 h4 {
    padding: 0 20px;
  }
}

@media only screen and (max-width:414px) {
  .welfare-box .welfare-0 {
    width: 100%;
    margin-top: 20px;
  }

  .welfare-box .welfare-0 img {
    width: 60%;
  }

  .welfare-box .welfare-0 h4 {
    padding: 0 10px;
  }
}