/* line 1, ../../0819-scss/routes.scss */
.header {
  height: 40px;
  padding: 20px 0 20px 0;
  background: url(../images/rj-01.png) no-repeat center center/100% 100%;
}

/* line 7, ../../0819-scss/routes.scss */
.school-brief {
  width: 100%;
  padding: 50px 0 97px;
  background: url("../images/routes/route-bg-04.jpg") no-repeat center;
}
/* line 12, ../../0819-scss/routes.scss */
.school-brief-cont {
  position: relative;
  padding: 50px 181px 40px;
  text-align: center;
  background: #fff url("../images/routes/bg2.png") 120px 80px/100% auto no-repeat;
}
/* line 19, ../../0819-scss/routes.scss */
.school-brief-title-img {
  display: block;
  width: 266px;
  margin: auto;
  margin-bottom: 60px;
}
/* line 26, ../../0819-scss/routes.scss */
.school-brief-line {
  position: relative;
  height: 0;
  border-bottom: 1px dashed #CDCDCD;
}
/* line 31, ../../0819-scss/routes.scss */
.school-brief-line .left, .school-brief-line .right {
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: -3px;
  background: #CDCDCD;
  border-radius: 100%;
}
/* line 41, ../../0819-scss/routes.scss */
.school-brief-line .left {
  left: 0;
}
/* line 45, ../../0819-scss/routes.scss */
.school-brief-line .right {
  right: 0;
}
/* line 50, ../../0819-scss/routes.scss */
.school-brief-text-img {
  display: block;
  width: 527px;
  margin: 34px auto 32px;
}
/* line 56, ../../0819-scss/routes.scss */
.school-brief .top-line, .school-brief .bottom-line1, .school-brief .bottom-line2 {
  position: absolute;
  width: 100%;
  height: 8px;
}
/* line 62, ../../0819-scss/routes.scss */
.school-brief .top-line {
  top: -8px;
  left: 0;
  background: #c2e9ff;
  opacity: 0.6;
}
/* line 69, ../../0819-scss/routes.scss */
.school-brief .bottom-line1 {
  background: #fff;
  opacity: 0.6;
  bottom: -8px;
  left: 0;
}
/* line 76, ../../0819-scss/routes.scss */
.school-brief .bottom-line2 {
  background: #fff;
  opacity: 0.4;
  bottom: -16px;
  left: 0;
}
/* line 83, ../../0819-scss/routes.scss */
.school-brief .text {
  font-size: 16px;
  color: #333333;
  text-align: left;
  text-indent: 2em;
  margin-bottom: 5px;
}

/* line 92, ../../0819-scss/routes.scss */
.career-talk-box {
  width: 100%;
  height: 700px;
  background: url("../images/routes/route-bg-01.png") no-repeat center;
}
/* line 97, ../../0819-scss/routes.scss */
.career-talk-box h2 {
  padding: 30px 0 50px 0;
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-weight: normal;
  line-height: 1;
}
/* line 106, ../../0819-scss/routes.scss */
.career-talk-box .career-talk {
  width: 100%;
}
/* line 110, ../../0819-scss/routes.scss */
.career-talk-box ul {
  width: 1220px;
  position: relative;
}
/* line 115, ../../0819-scss/routes.scss */
.career-talk-box li {
  float: left;
  width: 224px;
  height: 120px;
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
}
/* line 123, ../../0819-scss/routes.scss */
.career-talk-box li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 115px;
  text-align: center;
  font-size: 30px;
  color: #333;
}
/* line 133, ../../0819-scss/routes.scss */
.career-talk-box li a i {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -12px;
  width: 23px;
  height: 10px;
  background: url("../images/routes/route-08.png") no-repeat center;
  display: none;
}
/* line 144, ../../0819-scss/routes.scss */
.career-talk-box li a:hover {
  color: #009efd;
}
/* line 147, ../../0819-scss/routes.scss */
.career-talk-box li a:hover i {
  display: block;
}
/* line 153, ../../0819-scss/routes.scss */
.career-talk-box li .slide-con {
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  width: 1200px;
  z-index: 99;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.3);
}
/* line 165, ../../0819-scss/routes.scss */
.career-talk-box li .slide-con h4 {
  padding: 30px 40px;
  font-size: 30px;
  font-weight: normal;
  color: #009efd;
}
/* line 172, ../../0819-scss/routes.scss */
.career-talk-box li .slide-con .talk-list {
  padding: 0 15px 20px;
}
/* line 176, ../../0819-scss/routes.scss */
.career-talk-box li .slide-con .talk-list:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
/* line 184, ../../0819-scss/routes.scss */
.career-talk-box li .slide-con .temp-talk {
  float: left;
  width: 14%;
  padding: 0 3%;
  margin-bottom: 30px;
}
/* line 190, ../../0819-scss/routes.scss */
.career-talk-box li .slide-con .temp-talk .talk-time {
  color: #009efd;
  line-height: 1.5;
  font-size: 18px;
  padding-bottom: 5px;
  display: inline-block;
}
/* line 198, ../../0819-scss/routes.scss */
.career-talk-box li .slide-con .temp-talk p {
  font-size: 14px;
  line-height: 1.5;
}

/* line 207, ../../0819-scss/routes.scss */
.address-box {
  height: 520px;
  padding: 90px 0 89px 0;
  background: url("../images/routes/route-bg-02.png") no-repeat center;
  display: none;
}
/* line 213, ../../0819-scss/routes.scss */
.address-box .container {
  padding: 40px 40px 40px;
  background-color: #fff;
  width: 1120px;
  height: auto;
}
/* line 220, ../../0819-scss/routes.scss */
.address-box .address-table-list {
  width: 100%;
  height: 360px;
  background-color: #fff;
  overflow: hidden;
}
/* line 226, ../../0819-scss/routes.scss */
.address-box .address-table-list .table-con {
  width: 101%;
  overflow-y: scroll;
  height: 100%;
}
/* line 233, ../../0819-scss/routes.scss */
.address-box table {
  width: 100%;
}
/* line 236, ../../0819-scss/routes.scss */
.address-box table tr {
  table-layout: fixed;
}
/* line 240, ../../0819-scss/routes.scss */
.address-box table th {
  height: 60px;
  background-color: #1ddbc6;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
/* line 248, ../../0819-scss/routes.scss */
.address-box table td {
  height: 60px;
  font-size: 16px;
  color: #555;
  text-align: center;
  border-bottom: 1px dashed #e6e6e6;
}
/* line 256, ../../0819-scss/routes.scss */
.address-box table .wid_19 {
  width: 19%;
}
/* line 260, ../../0819-scss/routes.scss */
.address-box table .wid_18 {
  width: 18%;
}
/* line 264, ../../0819-scss/routes.scss */
.address-box table .wid_30 {
  width: 30%;
}
/* line 268, ../../0819-scss/routes.scss */
.address-box table .wid_45 {
  width: 45%;
}

/* line 274, ../../0819-scss/routes.scss */
.routes-box {
  height: 700px;
  background: url("../images/routes/route-bg-03.png") no-repeat center;
}
/* line 278, ../../0819-scss/routes.scss */
.routes-box h2 {
  padding: 70px 0 20px 0;
  text-align: center;
  font-weight: normal;
  color: #fff;
  font-size: 36px;
  line-height: 1;
}
/* line 287, ../../0819-scss/routes.scss */
.routes-box .routes-list {
  overflow: hidden;
}
/* line 290, ../../0819-scss/routes.scss */
.routes-box .routes-list img {
  float: left;
}
/* line 294, ../../0819-scss/routes.scss */
.routes-box .routes-list .routes-middle {
  margin-top: 210px;
  margin-left: 25px;
  margin-right: 8px;
}
/* line 300, ../../0819-scss/routes.scss */
.routes-box .routes-list .routes-right {
  margin-top: 9px;
}

@media screen and (max-width: 1199px) {
  /* line 307, ../../0819-scss/routes.scss */
  .career-talk-box {
    height: auto;
    padding: 50px 0;
  }
  /* line 311, ../../0819-scss/routes.scss */
  .career-talk-box h2 {
    padding: 0 0 40px 0;
  }
  /* line 315, ../../0819-scss/routes.scss */
  .career-talk-box ul {
    width: 102.041%;
  }
  /* line 319, ../../0819-scss/routes.scss */
  .career-talk-box li {
    width: 18%;
    height: 80px;
    margin-right: 2%;
  }
  /* line 324, ../../0819-scss/routes.scss */
  .career-talk-box li a {
    line-height: 74px;
    font-size: 24px;
  }
  /* line 328, ../../0819-scss/routes.scss */
  .career-talk-box li a i {
    bottom: 10px;
  }
  /* line 333, ../../0819-scss/routes.scss */
  .career-talk-box li .slide-con {
    width: 100%;
  }
  /* line 336, ../../0819-scss/routes.scss */
  .career-talk-box li .slide-con h4 {
    font-size: 24px;
  }

  /* line 343, ../../0819-scss/routes.scss */
  .address-box {
    padding: 50px 0 50px 0;
    height: auto;
  }
  /* line 347, ../../0819-scss/routes.scss */
  .address-box .container {
    width: auto;
    padding: 30px 30px 30px;
  }

  /* line 353, ../../0819-scss/routes.scss */
  .routes-box {
    height: auto;
    padding-bottom: 50px;
  }
  /* line 357, ../../0819-scss/routes.scss */
  .routes-box h2 {
    padding-top: 50px;
  }
  /* line 361, ../../0819-scss/routes.scss */
  .routes-box .routes-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* line 378, ../../0819-scss/routes.scss */
  .routes-box .routes-list img {
    float: none;
    display: block;
    width: 45%;
  }
  /* line 384, ../../0819-scss/routes.scss */
  .routes-box .routes-list .routes-middle {
    width: 40px;
    height: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-top: 0;
    vertical-align: middle;
  }
}
@media screen and (max-width: 768px) {
  /* line 400, ../../0819-scss/routes.scss */
  .school-brief {
    padding: 40px 0 80px;
  }
  /* line 403, ../../0819-scss/routes.scss */
  .school-brief-cont {
    padding: 50px 40px 40px;
  }
  /* line 407, ../../0819-scss/routes.scss */
  .school-brief-title-img {
    width: 230px;
    margin-bottom: 40px;
  }
  /* line 412, ../../0819-scss/routes.scss */
  .school-brief-text-img {
    width: 480px;
    margin: 28px auto 32px;
  }

  /* line 418, ../../0819-scss/routes.scss */
  .career-talk-box {
    padding: 30px 0;
  }
  /* line 421, ../../0819-scss/routes.scss */
  .career-talk-box li {
    width: 23%;
    height: 60px;
  }
  /* line 425, ../../0819-scss/routes.scss */
  .career-talk-box li a {
    font-size: 16px;
    line-height: 56px;
  }
  /* line 429, ../../0819-scss/routes.scss */
  .career-talk-box li a i {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    bottom: 6px;
  }
  /* line 438, ../../0819-scss/routes.scss */
  .career-talk-box li a:hover {
    color: #444;
  }
  /* line 441, ../../0819-scss/routes.scss */
  .career-talk-box li a:hover i {
    display: none;
  }
  /* line 447, ../../0819-scss/routes.scss */
  .career-talk-box li.slide-down a {
    color: #009efd;
  }
  /* line 450, ../../0819-scss/routes.scss */
  .career-talk-box li.slide-down a i {
    display: block;
  }
  /* line 455, ../../0819-scss/routes.scss */
  .career-talk-box li .slide-con h4 {
    font-size: 18px;
    padding: 15px 15px 10px 25px;
  }
  /* line 460, ../../0819-scss/routes.scss */
  .career-talk-box li .slide-con .talk-list {
    padding: 0 0 0 0;
  }
  /* line 464, ../../0819-scss/routes.scss */
  .career-talk-box li .slide-con .temp-talk {
    width: 21%;
    padding: 0 2%;
    margin-bottom: 20px;
  }
  /* line 469, ../../0819-scss/routes.scss */
  .career-talk-box li .slide-con .temp-talk .talk-time {
    font-size: 16px;
    padding-bottom: 0;
  }

  /* line 477, ../../0819-scss/routes.scss */
  .address-box {
    padding: 40px 0;
  }
  /* line 480, ../../0819-scss/routes.scss */
  .address-box .container {
    padding: 20px 20px;
  }
  /* line 484, ../../0819-scss/routes.scss */
  .address-box .address-table-list {
    height: 250px;
  }
  /* line 487, ../../0819-scss/routes.scss */
  .address-box .address-table-list .table-con {
    width: 100%;
  }
  /* line 492, ../../0819-scss/routes.scss */
  .address-box table th {
    height: 40px;
    font-size: 16px;
  }
  /* line 497, ../../0819-scss/routes.scss */
  .address-box table td {
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  /* line 505, ../../0819-scss/routes.scss */
  .school-brief {
    padding: 40px 0 60px;
  }
  /* line 508, ../../0819-scss/routes.scss */
  .school-brief-cont {
    padding: 40px 30px 40px;
  }
  /* line 512, ../../0819-scss/routes.scss */
  .school-brief-title-img {
    width: 230px;
    margin-bottom: 30px;
  }
  /* line 517, ../../0819-scss/routes.scss */
  .school-brief-text-img {
    width: 80%;
    margin: 25px auto;
  }

  /* line 523, ../../0819-scss/routes.scss */
  .career-talk-box h2 {
    font-size: 30px;
  }

  /* line 526, ../../0819-scss/routes.scss */
  .career-talk-box li {
    margin-bottom: 10px;
  }

  /* line 529, ../../0819-scss/routes.scss */
  .career-talk-box li .slide-con {
    margin-top: 10px;
  }

  /* line 532, ../../0819-scss/routes.scss */
  .career-talk-box li .slide-con .temp-talk {
    width: 46%;
  }

  /* line 535, ../../0819-scss/routes.scss */
  .routes-box {
    background: url(../images/routes/route-bg-03.png) no-repeat center;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
  }

  /* line 540, ../../0819-scss/routes.scss */
  .routes-box h2 {
    font-size: 30px;
    padding-top: 40px;
  }

  /* line 544, ../../0819-scss/routes.scss */
  .routes-box .routes-list {
    display: block;
  }

  /* line 547, ../../0819-scss/routes.scss */
  .routes-box .routes-list img {
    width: 100%;
  }

  /* line 550, ../../0819-scss/routes.scss */
  .routes-box .routes-list .routes-middle {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 15px auto;
  }

  /* line 558, ../../0819-scss/routes.scss */
  .address-box .container {
    padding: 5px;
  }

  /* line 561, ../../0819-scss/routes.scss */
  .address-box table th {
    font-size: 14px;
    font-weight: bold;
  }

  /* line 565, ../../0819-scss/routes.scss */
  .address-box table td {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  /* line 572, ../../0819-scss/routes.scss */
  .school-brief-cont {
    padding: 40px 20px 40px;
  }
  /* line 575, ../../0819-scss/routes.scss */
  .school-brief-text-img {
    width: 90%;
  }
}
