.zg-page {
    .sec-content {
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        font-family: Arial, '微软雅黑', sans-serif;
        img {
            display: block;
            max-width: 100%;
        }
        .m {
            display: none;
        }
    }
    .sec-title {
        padding: 0 85px;

    }
    p {
        font-size: 18px;
        color: #33507a;
    }
    .white {
        color: #fff;
    }
    .btn {
        display: inline-block;
        width: 170px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border: 1px solid #e50039;
        color: #e50039;
        &.white {
            color: #fff;
            border-color: #fff;
        }
        &.bg-red {
            background: #e50039;
            color: #fff;
        }
    }
}
.sec-1 {
    background-image: url('../RJ-img/a-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .top {
        &-left {
            float: left;
        }
        &-right {
            float: right;
        }
    }
    .bottom {

    }
}