@charset "UTF-8";
/* line 2, ../../japan2-scss/item.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

/* line 34, ../../japan2-scss/item.scss */
* {
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

/* line 40, ../../japan2-scss/item.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../../japan2-scss/item.scss */
img {
  display: block;
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}

/* line 51, ../../japan2-scss/item.scss */
input {
  vertical-align: middle;
}

/* 清除IE10及以上版本input的叉叉（X）和密码输入框的眼睛图标 */
/* line 55, ../../japan2-scss/item.scss */
input::-ms-clear {
  display: none;
}

/* line 58, ../../japan2-scss/item.scss */
input::-ms-reveal {
  display: none;
}

/*清除谷歌浏览器下的 search 叉号 */
/* line 62, ../../japan2-scss/item.scss */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*清除IE下的 search 叉号 */
/* line 66, ../../japan2-scss/item.scss */
input[type=search]::-ms-clear {
  display: none;
}

/* line 70, ../../japan2-scss/item.scss */
em {
  font-weight: normal;
  font-style: normal;
}

/* line 74, ../../japan2-scss/item.scss */
ol,
ul {
  list-style: none;
}

/* line 78, ../../japan2-scss/item.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* line 87, ../../japan2-scss/item.scss */
body {
  position: relative;
}

/* line 91, ../../japan2-scss/item.scss */
.v-middle {
  vertical-align: middle;
}

/* line 95, ../../japan2-scss/item.scss */
.z-section__title {
  font-size: 36px;
  line-height: 48px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

/* line 103, ../../japan2-scss/item.scss */
.z-section__content {
  max-width: 1400px;
  margin: auto;
  padding-top: 65px;
}

/* line 109, ../../japan2-scss/item.scss */
.z-page {
  overflow: hidden;
}

/* line 113, ../../japan2-scss/item.scss */
.z-mobile-show {
  display: none;
}

/* line 117, ../../japan2-scss/item.scss */
.z-section1 {
  padding: 232px 0;
  background: url(../RJ-img/page1-bg.jpg) center center/100% 100% no-repeat;
  text-align: center;
}
/* line 122, ../../japan2-scss/item.scss */
.z-section1 .z-section__content {
  padding-top: 0;
}
/* line 126, ../../japan2-scss/item.scss */
.z-section1 .section1__text {
  font-size: 60px;
  color: #fff;
  padding-bottom: 24px;
}
/* line 131, ../../japan2-scss/item.scss */
.z-section1 .section1__text-box {
  font-size: 36px;
  color: #fff;
  text-align: center;
}

/* line 139, ../../japan2-scss/item.scss */
.z-section2 {
  padding-bottom: 80px;
}
/* line 142, ../../japan2-scss/item.scss */
.z-section2 .z-section__text {
  max-width: 1300px;
  margin: 33px auto 15px;
  font-size: 16px;
}
/* line 148, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content {
  margin-top: 20px;
  max-width: 1200px;
  margin: auto;
}
/* line 153, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top {
  display: flex;
  margin-bottom: -150px;
}
/* line 157, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-left {
  flex-shrink: 0;
  width: 120px;
}
/* line 162, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-right {
  margin-top: 25px;
}
/* line 166, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-title {
  font-size: 28px;
  color: #292929;
  padding-left: 30px;
  margin-bottom: 20px;
}
/* line 173, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-text {
  position: relative;
  font-size: 18px;
  color: #292929;
  height: 60px;
  display: flex;
  align-items: center;
  border: 2px solid #8FADD4;
  padding: 0 20px;
  margin-left: 30px;
}
/* line 184, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-text .line1 {
  position: absolute;
  width: 42px;
  height: 2px;
  background: #8FADD4;
  transform: rotateZ(-65deg);
  left: -31px;
  bottom: 17px;
  z-index: 1;
}
/* line 195, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-text .line2 {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #8FADD4;
  bottom: -2px;
  left: -20px;
  border-radius: 1px 0 0 0;
}
/* line 205, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-text .line3 {
  position: absolute;
  top: 24px;
  width: 4px;
  height: 36px;
  background: #fff;
  left: -3px;
}
/* line 216, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--bottom {
  height: 247px;
  padding: 0 50px;
  background: #F9F9F9;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.16);
  transform: translateZ(1px);
}
/* line 224, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--list {
  padding-top: 20px;
  border-top: 1px solid #979797;
}
/* line 228, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--list-item {
  position: relative;
  font-size: 18px;
  color: #292929;
  padding-left: 25px;
}
/* line 234, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--list-item::before {
  position: absolute;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: #E60033;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 248, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--title {
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #292929;
  line-height: 36px;
}
/* line 255, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--title-box {
  display: flex;
  align-items: center;
  height: 100px;
}
/* line 262, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content .undeline {
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #CEDEF3;
}

/* line 274, ../../japan2-scss/item.scss */
.z-section3 {
  padding-bottom: 90px;
  background: url(../RJ-img/page3-bg.jpg) center center/100% 100% no-repeat;
}
/* line 278, ../../japan2-scss/item.scss */
.z-section3 .section3__list {
  display: flex;
  margin-bottom: 70px;
  padding-top: 80px;
  justify-content: space-between;
}
/* line 285, ../../japan2-scss/item.scss */
.z-section3 .section3__item {
  color: #fff;
  font-size: 24px;
  background: #fff;
  padding-bottom: 30px;
  overflow: hidden;
}
/* line 292, ../../japan2-scss/item.scss */
.z-section3 .section3__item:first-child {
  margin-right: 30px;
}
/* line 296, ../../japan2-scss/item.scss */
.z-section3 .section3__item--title {
  position: relative;
  display: inline-block;
  padding: 17px 70px 17px 26px;
  background: #3292E7;
}
/* line 302, ../../japan2-scss/item.scss */
.z-section3 .section3__item--title .trangle {
  display: block;
  position: absolute;
  width: 80px;
  height: 100px;
  transform: rotateZ(45deg);
  right: -45px;
  background: #3292E7;
  top: -43px;
}
/* line 313, ../../japan2-scss/item.scss */
.z-section3 .section3__item--title.orange, .z-section3 .section3__item--title .orange {
  background: #ED903B;
}
/* line 318, ../../japan2-scss/item.scss */
.z-section3 .section3__item--text {
  margin: 45px 0 20px;
  font-size: 18px;
  color: #313131;
  padding: 0 30px;
}
/* line 325, ../../japan2-scss/item.scss */
.z-section3 .section3__item .img1 {
  width: 80%;
  margin: auto;
}
/* line 330, ../../japan2-scss/item.scss */
.z-section3 .section3__item .img2, .z-section3 .section3__item .img3 {
  width: 50%;
  float: left;
  margin-top: 80px;
}

/* line 338, ../../japan2-scss/item.scss */
.z-section4 {
  padding-bottom: 66px;
}
/* line 341, ../../japan2-scss/item.scss */
.z-section4 .z-section4__content {
  display: flex;
  max-width: 1270px;
  margin: auto;
  margin-top: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
}
/* line 348, ../../japan2-scss/item.scss */
.z-section4 .z-section4__content--title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 40px;
}
/* line 354, ../../japan2-scss/item.scss */
.z-section4 .z-section4__content--text {
  font-size: 18px;
  color: #313131;
}
/* line 360, ../../japan2-scss/item.scss */
.z-section4 .left {
  width: 60%;
}
/* line 364, ../../japan2-scss/item.scss */
.z-section4 .right {
  background: #F9F9F9;
  padding: 66px 56px;
}

/* line 370, ../../japan2-scss/item.scss */
.z-section5 {
  padding-bottom: 80px;
  background: url(../RJ-img/page5-bg.jpg) center center/100% 100% no-repeat;
}
/* line 374, ../../japan2-scss/item.scss */
.z-section5 .section5__list {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 20px;
}
/* line 379, ../../japan2-scss/item.scss */
.z-section5 .section5__list--item {
  position: relative;
  text-align: center;
  width: 30%;
  padding: 0 10px;
}
/* line 385, ../../japan2-scss/item.scss */
.z-section5 .section5__list--item::after {
  content: '';
  width: 2px;
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  border-right: 2px dashed #00A3FF;
}
/* line 396, ../../japan2-scss/item.scss */
.z-section5 .section5__list--item:last-child::after {
  content: none;
}
/* line 402, ../../japan2-scss/item.scss */
.z-section5 .section5__list--img {
  height: 103px;
  margin: 0 auto 30px;
}
/* line 407, ../../japan2-scss/item.scss */
.z-section5 .section5__list--text {
  font-size: 18px;
  color: #313131;
}
/* line 413, ../../japan2-scss/item.scss */
.z-section5__img {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  /* line 420, ../../japan2-scss/item.scss */
  .z-section__content {
    max-width: 1200px;
  }

  /* line 424, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 200px 0;
  }
}
@media screen and (max-width: 1024px) {
  /* line 430, ../../japan2-scss/item.scss */
  .z-section__content {
    max-width: 960px;
    padding-top: 50px;
  }

  /* line 435, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 180px 0;
  }
  /* line 439, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 50px;
    color: #fff;
    padding-bottom: 24px;
  }

  /* line 447, ../../japan2-scss/item.scss */
  .z-section4 .right {
    background: #F9F9F9;
    padding: 40px 40px;
  }

  /* line 454, ../../japan2-scss/item.scss */
  .z-section5 .section5__list {
    margin: 60px 0 20px;
  }
  /* line 457, ../../japan2-scss/item.scss */
  .z-section5 .section5__list--img {
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  /* line 465, ../../japan2-scss/item.scss */
  .z-pc-show {
    display: none;
  }

  /* line 469, ../../japan2-scss/item.scss */
  .z-mobile-show {
    display: block;
  }

  /* line 473, ../../japan2-scss/item.scss */
  .z-section__title {
    font-size: 24px;
    line-height: 44px;
  }

  /* line 478, ../../japan2-scss/item.scss */
  .z-section__content {
    padding-top: 40px;
    max-width: 100%;
    margin: 0 15px;
  }

  /* line 484, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 140px 0;
  }

  /* line 488, ../../japan2-scss/item.scss */
  .z-section3 {
    padding-bottom: 50px;
  }
  /* line 491, ../../japan2-scss/item.scss */
  .z-section3 .section3__list {
    flex-wrap: wrap;
  }
  /* line 495, ../../japan2-scss/item.scss */
  .z-section3 .section3__item {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 499, ../../japan2-scss/item.scss */
  .z-section3 .section3__item:first-child {
    margin-right: 0;
  }

  /* line 506, ../../japan2-scss/item.scss */
  .z-section4 .z-section4__content {
    flex-wrap: wrap;
  }
  /* line 510, ../../japan2-scss/item.scss */
  .z-section4 .left {
    width: 100%;
  }

  /* line 515, ../../japan2-scss/item.scss */
  .z-section5 {
    padding-bottom: 60px;
  }
  /* line 517, ../../japan2-scss/item.scss */
  .z-section5 .section5__list {
    flex-wrap: wrap;
  }
  /* line 520, ../../japan2-scss/item.scss */
  .z-section5 .section5__list--item {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 524, ../../japan2-scss/item.scss */
  .z-section5 .section5__list--item::after {
    content: none;
  }
  /* line 530, ../../japan2-scss/item.scss */
  .z-section5__img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 537, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 90px 0;
  }
  /* line 540, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 40px;
  }
  /* line 543, ../../japan2-scss/item.scss */
  .z-section1 .section1__text-box {
    font-size: 30px;
  }

  /* line 549, ../../japan2-scss/item.scss */
  .z-section2 {
    padding-bottom: 50px;
  }
  /* line 553, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  /* line 557, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top-left {
    flex-shrink: 0;
    width: 100%;
  }
  /* line 561, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top-left img {
    margin: auto;
  }
  /* line 566, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top-title {
    font-size: 24px;
  }
  /* line 570, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top-text {
    font-size: 16px;
    margin: 0 0 20px 20px;
  }
  /* line 576, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--bottom {
    height: auto;
    padding: 0 20px 30px 20px;
  }
  /* line 581, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--title {
    font-size: 20px;
    line-height: 34px;
  }
  /* line 585, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--title-box {
    height: 80px;
  }
  /* line 590, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content .undeline {
    height: 12px;
  }

  /* line 596, ../../japan2-scss/item.scss */
  .z-section3 {
    padding-bottom: 0;
  }
  /* line 599, ../../japan2-scss/item.scss */
  .z-section3 .section3__list {
    margin-bottom: 0;
  }
  /* line 604, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title {
    padding: 12px 50px 12px 10px;
    font-size: 18px;
  }
  /* line 608, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title .trangle {
    top: -62px;
  }

  /* line 615, ../../japan2-scss/item.scss */
  .z-section4 {
    padding-bottom: 50px;
  }
  /* line 618, ../../japan2-scss/item.scss */
  .z-section4 .z-section4__content {
    margin-top: 40px;
  }
  /* line 621, ../../japan2-scss/item.scss */
  .z-section4 .z-section4__content--title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  /* line 626, ../../japan2-scss/item.scss */
  .z-section4 .z-section4__content--text {
    font-size: 16px;
  }
  /* line 632, ../../japan2-scss/item.scss */
  .z-section4 .left img {
    width: 100%;
  }
  /* line 637, ../../japan2-scss/item.scss */
  .z-section4 .right {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 414px) {
  /* line 644, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 60px 0;
  }
  /* line 647, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 36px;
  }
  /* line 650, ../../japan2-scss/item.scss */
  .z-section1 .section1__text-box {
    font-size: 28px;
  }
}
@media screen and (max-width: 375px) {
  /* line 658, ../../japan2-scss/item.scss */
  .z-section3 {
    padding-bottom: 0;
  }
  /* line 661, ../../japan2-scss/item.scss */
  .z-section3 .section3__list {
    margin-bottom: 0;
  }
  /* line 666, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title {
    padding: 8px 20px 8px 10px;
    font-size: 18px;
  }
  /* line 670, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title .trangle {
    width: 30px;
    height: 60px;
    right: -24px;
    top: -19px;
  }
}
@media screen and (max-width: 320px) {
  /* line 682, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 30px 0;
  }
  /* line 685, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 32px;
  }
  /* line 688, ../../japan2-scss/item.scss */
  .z-section1 .section1__text-box {
    font-size: 24px;
  }

  /* line 694, ../../japan2-scss/item.scss */
  .z-section3 {
    padding-bottom: 0;
  }
  /* line 697, ../../japan2-scss/item.scss */
  .z-section3 .section3__list {
    margin-bottom: 0;
  }
  /* line 702, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title {
    display: block;
  }
  /* line 706, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--text {
    padding: 0 15px;
    margin-top: 20px;
  }
}
