@charset "UTF-8";
/* line 2, ../../japan2-scss/item.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

/* line 34, ../../japan2-scss/item.scss */
* {
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

/* line 40, ../../japan2-scss/item.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../../japan2-scss/item.scss */
img {
  display: block;
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}

/* line 51, ../../japan2-scss/item.scss */
input {
  vertical-align: middle;
}

/* 清除IE10及以上版本input的叉叉（X）和密码输入框的眼睛图标 */
/* line 55, ../../japan2-scss/item.scss */
input::-ms-clear {
  display: none;
}

/* line 58, ../../japan2-scss/item.scss */
input::-ms-reveal {
  display: none;
}

/*清除谷歌浏览器下的 search 叉号 */
/* line 62, ../../japan2-scss/item.scss */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*清除IE下的 search 叉号 */
/* line 66, ../../japan2-scss/item.scss */
input[type=search]::-ms-clear {
  display: none;
}

/* line 70, ../../japan2-scss/item.scss */
em {
  font-weight: normal;
  font-style: normal;
}

/* line 74, ../../japan2-scss/item.scss */
ol,
ul {
  list-style: none;
}

/* line 78, ../../japan2-scss/item.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* line 87, ../../japan2-scss/item.scss */
body {
  position: relative;
}

/* line 90, ../../japan2-scss/item.scss */
a {
  text-decoration: none;
}

/* line 93, ../../japan2-scss/item.scss */
a:hover {
  text-decoration: none;
}

/* line 97, ../../japan2-scss/item.scss */
.v-middle {
  vertical-align: middle;
}

/* line 101, ../../japan2-scss/item.scss */
.z-section__title {
  font-size: 36px;
  line-height: 48px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

/* line 109, ../../japan2-scss/item.scss */
.z-section__content {
  max-width: 1400px;
  margin: auto;
  padding-top: 65px;
}

/* line 115, ../../japan2-scss/item.scss */
.z-page {
  padding-top: 100px;
  overflow: hidden;
}

/* line 120, ../../japan2-scss/item.scss */
.z-mobile-show {
  display: none;
}

/* line 124, ../../japan2-scss/item.scss */
.z-section__button {
  display: inline-flex;
  width: 170px;
  height: 50px;
  padding: 0 26px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #E60033;
  border-radius: 8px;
  font-size: 16px;
}
/* line 136, ../../japan2-scss/item.scss */
.z-section__button:hover {
  background: #c30233;
  color: #fff;
}

/* line 142, ../../japan2-scss/item.scss */
.z-text_center {
  text-align: center;
  margin-top: 40px;
}

/* line 147, ../../japan2-scss/item.scss */
.z-section1 {
  padding: 182px 0;
  background: url(../RJ-img/page1-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
/* line 154, ../../japan2-scss/item.scss */
.z-section1 .z-section__content {
  padding-top: 0;
}
/* line 158, ../../japan2-scss/item.scss */
.z-section1 .section1__title {
  font-size: 60px;
  color: #fff;
  padding-bottom: 24px;
}
/* line 164, ../../japan2-scss/item.scss */
.z-section1 .section1__text {
  font-size: 36px;
  color: #fff;
  padding-bottom: 24px;
}
/* line 169, ../../japan2-scss/item.scss */
.z-section1 .section1__text-box {
  font-size: 36px;
  color: #fff;
  text-align: center;
}

/* line 177, ../../japan2-scss/item.scss */
.z-section2 {
  padding-bottom: 65px;
}
/* line 180, ../../japan2-scss/item.scss */
.z-section2 .z-section__text {
  max-width: 1300px;
  margin: 33px auto 15px;
  font-size: 16px;
}
/* line 186, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content {
  margin-top: 20px;
  max-width: 1200px;
  margin: auto;
}
/* line 191, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top {
  display: flex;
  margin-bottom: -150px;
}
/* line 195, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-left {
  flex-shrink: 0;
  width: 120px;
}
/* line 200, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-right {
  margin-top: 25px;
}
/* line 204, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-title {
  font-size: 28px;
  color: #292929;
  padding-left: 30px;
  margin-bottom: 20px;
}
/* line 211, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-text {
  position: relative;
  font-size: 18px;
  color: #292929;
  height: 60px;
  display: flex;
  align-items: center;
  border: 2px solid #8FADD4;
  padding: 0 20px;
  margin-left: 30px;
}
/* line 222, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-text .line1 {
  position: absolute;
  width: 42px;
  height: 2px;
  background: #8FADD4;
  transform: rotateZ(-65deg);
  left: -31px;
  bottom: 17px;
  z-index: 1;
}
/* line 233, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-text .line2 {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #8FADD4;
  bottom: -2px;
  left: -20px;
  border-radius: 1px 0 0 0;
}
/* line 243, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--top-text .line3 {
  position: absolute;
  top: 24px;
  width: 4px;
  height: 36px;
  background: #fff;
  left: -3px;
}
/* line 254, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--bottom {
  height: 247px;
  padding: 0 50px;
  background: #F9F9F9;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.16);
  transform: translateZ(1px);
}
/* line 262, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--list {
  padding-top: 20px;
  border-top: 1px solid #979797;
}
/* line 266, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--list-item {
  position: relative;
  font-size: 18px;
  color: #292929;
  padding-left: 25px;
}
/* line 272, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--list-item::before {
  position: absolute;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: #E60033;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 286, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--title {
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #292929;
  line-height: 36px;
}
/* line 293, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content--title-box {
  display: flex;
  align-items: center;
  height: 100px;
}
/* line 300, ../../japan2-scss/item.scss */
.z-section2 .z-section2__content .undeline {
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #CEDEF3;
}

/* line 312, ../../japan2-scss/item.scss */
.z-section3 {
  padding-bottom: 65px;
  background: url(../RJ-img/page3-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 318, ../../japan2-scss/item.scss */
.z-section3 .section3__list {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}
/* line 324, ../../japan2-scss/item.scss */
.z-section3 .section3__item {
  color: #fff;
  font-size: 24px;
  background: #fff;
  padding-bottom: 30px;
  overflow: hidden;
  transition: all 0.5s;
}
/* line 332, ../../japan2-scss/item.scss */
.z-section3 .section3__item:hover {
  transform: translateY(-15px);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.16);
}
/* line 337, ../../japan2-scss/item.scss */
.z-section3 .section3__item:first-child {
  margin-right: 30px;
}
/* line 341, ../../japan2-scss/item.scss */
.z-section3 .section3__item--title {
  position: relative;
  display: inline-block;
  padding: 17px 70px 17px 26px;
  background: #3292E7;
}
/* line 347, ../../japan2-scss/item.scss */
.z-section3 .section3__item--title .trangle {
  display: block;
  position: absolute;
  width: 80px;
  height: 100px;
  transform: rotateZ(45deg);
  right: -45px;
  background: #3292E7;
  top: -43px;
}
/* line 358, ../../japan2-scss/item.scss */
.z-section3 .section3__item--title.orange, .z-section3 .section3__item--title .orange {
  background: #ED903B;
}
/* line 363, ../../japan2-scss/item.scss */
.z-section3 .section3__item--text {
  margin: 45px 0 20px;
  font-size: 18px;
  color: #313131;
  padding: 0 30px;
}
/* line 370, ../../japan2-scss/item.scss */
.z-section3 .section3__item .img1 {
  width: 80%;
  margin: auto;
}
/* line 375, ../../japan2-scss/item.scss */
.z-section3 .section3__item .img2, .z-section3 .section3__item .img3 {
  width: 50%;
  float: left;
  margin-top: 80px;
}

/* line 383, ../../japan2-scss/item.scss */
.z-section4 {
  padding-bottom: 65px;
}
/* line 386, ../../japan2-scss/item.scss */
.z-section4 .z-section4__content {
  display: flex;
  max-width: 1270px;
  margin: auto;
  margin-top: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
}
/* line 393, ../../japan2-scss/item.scss */
.z-section4 .z-section4__content--title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 40px;
}
/* line 399, ../../japan2-scss/item.scss */
.z-section4 .z-section4__content--text {
  font-size: 18px;
  color: #313131;
}
/* line 404, ../../japan2-scss/item.scss */
.z-section4 .z-section4__content .z-section__button {
  margin-top: 20px;
}
/* line 409, ../../japan2-scss/item.scss */
.z-section4 .left {
  width: 60%;
}
/* line 413, ../../japan2-scss/item.scss */
.z-section4 .right {
  background: #F9F9F9;
  padding: 40px 56px;
}

/* line 419, ../../japan2-scss/item.scss */
.z-section5 {
  padding-bottom: 65px;
  background: url(../RJ-img/page5-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 425, ../../japan2-scss/item.scss */
.z-section5 .section5__list {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 20px;
}
/* line 430, ../../japan2-scss/item.scss */
.z-section5 .section5__list--item {
  position: relative;
  text-align: center;
  width: 30%;
  padding: 0 10px;
}
/* line 436, ../../japan2-scss/item.scss */
.z-section5 .section5__list--item::after {
  content: '';
  width: 2px;
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  border-right: 2px dashed #00A3FF;
}
/* line 447, ../../japan2-scss/item.scss */
.z-section5 .section5__list--item:last-child::after {
  content: none;
}
/* line 453, ../../japan2-scss/item.scss */
.z-section5 .section5__list--img {
  height: 103px;
  margin: 0 auto 30px;
}
/* line 458, ../../japan2-scss/item.scss */
.z-section5 .section5__list--text {
  font-size: 18px;
  color: #313131;
}
/* line 464, ../../japan2-scss/item.scss */
.z-section5__img {
  width: 80%;
  margin: auto;
}
/* line 468, ../../japan2-scss/item.scss */
.z-section5__img--box {
  position: relative;
}
/* line 470, ../../japan2-scss/item.scss */
.z-section5__img--box .link-box {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  justify-content: space-around;
}
/* line 478, ../../japan2-scss/item.scss */
.z-section5__img--box .link {
  display: inline-block;
  width: 220px;
  height: 230px;
}
/* line 483, ../../japan2-scss/item.scss */
.z-section5__img--box .link:first-child {
  margin-left: 110px;
}
/* line 487, ../../japan2-scss/item.scss */
.z-section5__img--box .link:last-child {
  margin-right: 110px;
}

@media screen and (max-width: 1280px) {
  /* line 496, ../../japan2-scss/item.scss */
  .z-section__content {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 502, ../../japan2-scss/item.scss */
  .z-section__content {
    max-width: 960px;
  }

  /* line 506, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 141px 0;
  }
  /* line 509, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 50px;
    color: #fff;
    padding-bottom: 24px;
  }

  /* line 517, ../../japan2-scss/item.scss */
  .z-section4 .right {
    background: #F9F9F9;
    padding: 40px 40px;
  }

  /* line 524, ../../japan2-scss/item.scss */
  .z-section5 .section5__list {
    margin: 60px 0 20px;
  }
  /* line 527, ../../japan2-scss/item.scss */
  .z-section5 .section5__list--img {
    height: 80px;
  }
  /* line 533, ../../japan2-scss/item.scss */
  .z-section5__img {
    width: 80%;
  }
  /* line 538, ../../japan2-scss/item.scss */
  .z-section5__img--box .link {
    width: 170px;
    height: 180px;
  }
  /* line 542, ../../japan2-scss/item.scss */
  .z-section5__img--box .link:first-child {
    margin-left: 100px;
  }
  /* line 546, ../../japan2-scss/item.scss */
  .z-section5__img--box .link:last-child {
    margin-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  /* line 556, ../../japan2-scss/item.scss */
  .z-pc-show {
    display: none;
  }

  /* line 560, ../../japan2-scss/item.scss */
  .z-mobile-show {
    display: block;
  }

  /* line 564, ../../japan2-scss/item.scss */
  .z-section__button {
    width: 140px;
    height: 44px;
    padding: 0 20px;
  }

  /* line 570, ../../japan2-scss/item.scss */
  .z-section__title {
    font-size: 24px;
    line-height: 44px;
  }

  /* line 575, ../../japan2-scss/item.scss */
  .z-section__content {
    max-width: 100%;
    margin: 0 15px;
  }

  /* line 580, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 140px 0;
  }
  /* line 583, ../../japan2-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 38px;
  }
  /* line 587, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 26px;
  }

  /* line 592, ../../japan2-scss/item.scss */
  .z-section2 .z-section__text {
    margin-top: 40px;
  }

  /* line 597, ../../japan2-scss/item.scss */
  .z-section3 .section3__list {
    flex-wrap: wrap;
    padding-top: 40px;
  }
  /* line 602, ../../japan2-scss/item.scss */
  .z-section3 .section3__item {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 606, ../../japan2-scss/item.scss */
  .z-section3 .section3__item:first-child {
    margin-right: 0;
  }
  /* line 610, ../../japan2-scss/item.scss */
  .z-section3 .section3__item:last-child {
    margin-bottom: 0;
  }

  /* line 617, ../../japan2-scss/item.scss */
  .z-section4 .z-section4__content {
    flex-wrap: wrap;
    margin-top: 40px;
  }
  /* line 622, ../../japan2-scss/item.scss */
  .z-section4 .left {
    width: 100%;
  }

  /* line 627, ../../japan2-scss/item.scss */
  .z-section5 {
    padding-bottom: 65px;
  }
  /* line 629, ../../japan2-scss/item.scss */
  .z-section5 .section5__list {
    flex-wrap: wrap;
  }
  /* line 632, ../../japan2-scss/item.scss */
  .z-section5 .section5__list--item {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 636, ../../japan2-scss/item.scss */
  .z-section5 .section5__list--item::after {
    content: none;
  }
  /* line 642, ../../japan2-scss/item.scss */
  .z-section5__img {
    width: 100%;
  }
  /* line 647, ../../japan2-scss/item.scss */
  .z-section5__img--box .link {
    width: 150px;
    height: 160px;
  }
  /* line 651, ../../japan2-scss/item.scss */
  .z-section5__img--box .link:first-child {
    margin-left: 0;
  }
  /* line 655, ../../japan2-scss/item.scss */
  .z-section5__img--box .link:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 665, ../../japan2-scss/item.scss */
  .z-section__content {
    padding-top: 40px;
  }

  /* line 668, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 90px 0;
  }
  /* line 671, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 40px;
  }
  /* line 674, ../../japan2-scss/item.scss */
  .z-section1 .section1__text-box {
    font-size: 30px;
  }

  /* line 680, ../../japan2-scss/item.scss */
  .z-section2 {
    padding-bottom: 40px;
  }
  /* line 684, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  /* line 688, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top-left {
    flex-shrink: 0;
    width: 100%;
  }
  /* line 692, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top-left img {
    margin: auto;
  }
  /* line 697, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top-title {
    font-size: 24px;
  }
  /* line 701, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--top-text {
    font-size: 16px;
    margin: 0 0 20px 20px;
  }
  /* line 707, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--bottom {
    height: auto;
    padding: 0 20px 30px 20px;
  }
  /* line 712, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--title {
    font-size: 20px;
    line-height: 34px;
  }
  /* line 716, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content--title-box {
    height: 80px;
  }
  /* line 721, ../../japan2-scss/item.scss */
  .z-section2 .z-section2__content .undeline {
    height: 12px;
  }

  /* line 727, ../../japan2-scss/item.scss */
  .z-section3 {
    padding-bottom: 40px;
  }
  /* line 730, ../../japan2-scss/item.scss */
  .z-section3 .section3__list {
    margin-bottom: 0;
  }
  /* line 735, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title {
    padding: 12px 50px 12px 10px;
    font-size: 18px;
  }
  /* line 739, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title .trangle {
    top: -62px;
  }

  /* line 746, ../../japan2-scss/item.scss */
  .z-section4 {
    padding-bottom: 40px;
  }
  /* line 749, ../../japan2-scss/item.scss */
  .z-section4 .z-section4__content {
    margin-top: 40px;
  }
  /* line 752, ../../japan2-scss/item.scss */
  .z-section4 .z-section4__content--title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  /* line 757, ../../japan2-scss/item.scss */
  .z-section4 .z-section4__content--text {
    font-size: 16px;
  }
  /* line 763, ../../japan2-scss/item.scss */
  .z-section4 .left img {
    width: 100%;
  }
  /* line 768, ../../japan2-scss/item.scss */
  .z-section4 .right {
    padding: 40px 30px;
  }

  /* line 773, ../../japan2-scss/item.scss */
  .z-section5 {
    padding-bottom: 40px;
  }
  /* line 778, ../../japan2-scss/item.scss */
  .z-section5__img--box .link {
    width: 100px;
    height: 110px;
  }
}
@media screen and (max-width: 414px) {
  /* line 788, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 60px 0;
  }
  /* line 791, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 36px;
  }
  /* line 794, ../../japan2-scss/item.scss */
  .z-section1 .section1__text-box {
    font-size: 28px;
  }

  /* line 804, ../../japan2-scss/item.scss */
  .z-section5__img--box .link {
    width: 80px;
    height: 90px;
  }
}
@media screen and (max-width: 375px) {
  /* line 814, ../../japan2-scss/item.scss */
  .z-section3 {
    padding-bottom: 0;
  }
  /* line 817, ../../japan2-scss/item.scss */
  .z-section3 .section3__list {
    margin-bottom: 0;
  }
  /* line 822, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title {
    padding: 8px 20px 8px 10px;
    font-size: 18px;
  }
  /* line 826, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title .trangle {
    width: 30px;
    height: 60px;
    right: -24px;
    top: -19px;
  }

  /* line 840, ../../japan2-scss/item.scss */
  .z-section5__img--box .link {
    width: 70px;
    height: 80px;
  }
}
@media screen and (max-width: 320px) {
  /* line 850, ../../japan2-scss/item.scss */
  .z-section1 {
    padding: 30px 0;
  }
  /* line 853, ../../japan2-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 32px;
  }
  /* line 856, ../../japan2-scss/item.scss */
  .z-section1 .section1__text-box {
    font-size: 24px;
  }

  /* line 862, ../../japan2-scss/item.scss */
  .z-section3 {
    padding-bottom: 0;
  }
  /* line 865, ../../japan2-scss/item.scss */
  .z-section3 .section3__list {
    margin-bottom: 0;
  }
  /* line 870, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--title {
    display: block;
  }
  /* line 874, ../../japan2-scss/item.scss */
  .z-section3 .section3__item--text {
    padding: 0 15px;
    margin-top: 20px;
  }
}
