/* line 1, ../../0819-scss/contact.scss */
.header {
  height: 40px;
  padding: 20px 0 20px 0;
  background: url(../images/rj-01.png) no-repeat center center/100% 100%;
}

/* line 7, ../../0819-scss/contact.scss */
.contact {
  background-color: #F7F7F7;
}
/* line 10, ../../0819-scss/contact.scss */
.contact-content {
  max-width: 1200px;
  margin: 20px auto 50px;
  background: #fff;
  overflow: hidden;
}
/* line 16, ../../0819-scss/contact.scss */
.contact-content-title {
  padding: 37px 50px 30px;
}
/* line 19, ../../0819-scss/contact.scss */
.contact-content-title-text {
  font-size: 36px;
  color: #333333;
  line-height: 50px;
}
/* line 25, ../../0819-scss/contact.scss */
.contact-content-title-desc {
  font-size: 16px;
  color: #333;
  line-height: 22px;
}
/* line 33, ../../0819-scss/contact.scss */
.contact .waterfall {
  padding: 0 50px;
  margin-bottom: 50px;
}
/* line 37, ../../0819-scss/contact.scss */
.contact .waterfall::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  zoom: 1;
}
/* line 45, ../../0819-scss/contact.scss */
.contact .waterfall-left {
  width: 48%;
  float: left;
}
/* line 49, ../../0819-scss/contact.scss */
.contact .waterfall-right {
  width: 48%;
  float: right;
}
/* line 54, ../../0819-scss/contact.scss */
.contact .waterfall-item {
  width: 100%;
  margin-bottom: 30px;
}
/* line 58, ../../0819-scss/contact.scss */
.contact .waterfall-item-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
/* line 66, ../../0819-scss/contact.scss */
.contact .item-table {
  width: 100%;
}
/* line 69, ../../0819-scss/contact.scss */
.contact .item-table td, .contact .item-table th {
  padding: 8px 14px;
  border: 1px solid #C5EBF9;
  font-size: 16px;
  color: #333;
}
/* line 76, ../../0819-scss/contact.scss */
.contact .item-table th {
  color: #0A71CA;
}
/* line 80, ../../0819-scss/contact.scss */
.contact .item-table .table-head-tr {
  background: url(../images/table-bg.png) center center/100% 100% no-repeat;
}

@media screen and (max-width: 1024px) {
  /* line 88, ../../0819-scss/contact.scss */
  .contact-content {
    max-width: auto;
    margin: 20px 30px 50px;
  }
}
@media screen and (max-width: 768px) {
  /* line 98, ../../0819-scss/contact.scss */
  .contact-content-title {
    padding: 37px 30px 30px;
  }
  /* line 101, ../../0819-scss/contact.scss */
  .contact-content-title-text {
    font-size: 32px;
  }
  /* line 107, ../../0819-scss/contact.scss */
  .contact .waterfall {
    padding: 0 30px;
  }
  /* line 111, ../../0819-scss/contact.scss */
  .contact .waterfall-item-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  /* line 121, ../../0819-scss/contact.scss */
  .contact-content {
    margin: 20px 15px 50px;
  }
  /* line 123, ../../0819-scss/contact.scss */
  .contact-content-title {
    padding: 25px 30px 30px;
  }
  /* line 126, ../../0819-scss/contact.scss */
  .contact-content-title-text {
    font-size: 32px;
  }
  /* line 132, ../../0819-scss/contact.scss */
  .contact .waterfall {
    padding: 0 30px;
    margin-bottom: 40px;
  }
  /* line 136, ../../0819-scss/contact.scss */
  .contact .waterfall-left {
    width: 100%;
    float: none;
  }
  /* line 140, ../../0819-scss/contact.scss */
  .contact .waterfall-right {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 414px) {
  /* line 150, ../../0819-scss/contact.scss */
  .contact-content {
    margin: 20px 15px 40px;
  }
  /* line 154, ../../0819-scss/contact.scss */
  .contact-content-title-text {
    font-size: 32px;
  }
  /* line 160, ../../0819-scss/contact.scss */
  .contact .waterfall {
    padding: 0 15px;
  }
  /* line 163, ../../0819-scss/contact.scss */
  .contact .waterfall-item-title {
    margin-bottom: 10px;
  }
}
