@charset "UTF-8";
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

.por {
  position: relative;
}

._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

.text_l {
  text-align: left;
}

.text_r {
  text-align: right;
}

.text_c {
  text-align: center;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.mt10 {
  margin-top: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.line20 {
  line-height: 200%;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* item主体内容区 */
.t-content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}

.t-img img {
  width: auto;
  max-width: 100%;
}

.fc-fff {
  color: #fff;
}

.fc-848484 {
  color: #848484;
}

.fc-ffa749 {
  color: #ffa749;
}

/*--------自定义样式--------*/
.section1 {
  background-image: url("../RJ-img/home-item1-bg.jpg");
}

.section1__content {
  padding-top: 116px;
  margin-bottom: 88px;
}
.section1__content .section1__text {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  background: url("../RJ-img/home-item1-02.png") center center/120% auto no-repeat;
}

.section2__content {
  padding-top: 84px;
  margin-bottom: 97px;
}
.section2__content img {
  width: 72%;
}
.section2__content .section2__left,
.section2__content .section2__right {
  position: relative;
  width: 45.64%;
  min-height: 502px;
  text-align: center;
  border: 1px solid #ededed;
}
.section2__content .section2__left {
  padding-top: 50px;
}
.section2__content .section2__right {
  padding-top: 40px;
}
.section2__content .section2__left__title,
.section2__content .section2__right__title {
  position: absolute;
  width: 64%;
  height: 44px;
  left: 18%;
  top: -22px;
  font-size: 20px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.section2__content .section2__left__shadow,
.section2__content .section2__right__shadow {
  position: absolute;
  display: block;
  width: 10px;
  height: 100%;
  right: -10px;
  top: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.section2__content .section2__left__shadow,
.section2__content .section2__left__title {
  background-color: #43af35;
}
.section2__content .section2__right__shadow,
.section2__content .section2__right__title {
  background-color: #01a8ba;
}
.section2__content .section2__top__text,
.section2__content .section2__bottom__text {
  margin: 0 25px 20px;
  font-size: 16px;
}
.section2__content .section2__top__text {
  line-height: 30px;
  color: #7f7f7f;
}
.section2__content .section2__bottom__text {
  padding-top: 40px;
  line-height: 26px;
  color: #000000;
}
.section2__content .section2__left__list {
  margin-bottom: 20px;
  padding-top: 40px;
}
.section2__content .section2__left__list .icon {
  display: block;
  width: 33px;
  margin: auto;
  padding-bottom: 10px;
}
.section2__content .section2__left__list li {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

/*----------------*/
@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }

  .t-pc {
    display: none;
  }

  .t-mobile {
    display: block;
  }

  .t-cont-item {
    height: auto;
  }

  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .t-main-title {
    font-size: 28px;
    padding-top: 35px;
  }

  .t-sub-title {
    font-size: 18px;
  }

  .t-intro,
  .t-intro p {
    font-size: 16px;
    line-height: 20px;
  }

  /*--------自定义样式--------*/
}
