@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
}

input {
  vertical-align: middle;
}

em {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

body {
  position: relative;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* item主体内容区 */
.t-content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  margin: 0 80px;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}

.t-img img {
  width: auto;
  max-width: 100%;
}

/*--------自定义样式--------*/
.sec__button {
  padding-top: 43px;
  margin-bottom: 53px;
  text-align: center;
}
.sec__button a {
  display: inline-block;
  width: 219px;
  height: 39px;
  margin: auto 19px;
  font-size: 20px;
  line-height: 39px;
  cursor: pointer;
}
.sec__button a.color__green {
  color: #43af35;
  border: 2px solid #43af35;
}
.sec__button a.color__blue {
  color: #01a8ba;
  border: 2px solid #01a8ba;
}

.sec1__content {
  padding-top: 60px;
  margin-bottom: 90px;
}
.sec1__content img {
  display: block;
  width: 100%;
}

.sec2 {
  background-color: #eaeaea;
}

.sec2__content {
  padding-top: 80px;
  margin-bottom: 60px;
}
.sec2__content .list {
  margin-bottom: 23px;
  font-size: 0;
  text-align: center;
}
.sec2__content li {
  display: inline-block;
  width: 48%;
  max-width: 185px;
}
.sec2__content li p {
  padding-top: 10px;
  font-size: 16px;
  color: #000;
}
.sec2__content li img {
  display: block;
  width: 100%;
}
.sec2__content .margin__right {
  margin-right: 4%;
}
.sec2__content .sec2__book__img {
  display: block;
  width: 90%;
  max-width: 622px;
  margin: auto;
  margin-bottom: 60px;
}
.sec2__content .sec2__bottom__img {
  display: block;
  width: 100%;
}

.sec3 {
  background-image: url("../RJ-img/project3-item3-bg.jpg");
}
.sec3 .t-main-title {
  color: #fff;
}

.sec3__content, .sec4__content {
  padding-top: 70px;
  margin-bottom: 68px;
}
.sec3__content .item, .sec4__content .item {
  float: left;
  width: 42%;
  margin: 0 4%;
}
.sec3__content .item img, .sec4__content .item img {
  display: block;
  width: 100%;
  margin-bottom: 53px;
}
.sec3__content .item .bottom, .sec4__content .item .bottom {
  text-align: center;
}
.sec3__content .item .intro, .sec4__content .item .intro {
  height: 47px;
  font-size: 20px;
  color: #fff;
  line-height: 47px;
}
.sec3__content .item .intro.green, .sec4__content .item .intro.green {
  background-color: #43af35;
}
.sec3__content .item .intro.blue, .sec4__content .item .intro.blue {
  background-color: #01a8ba;
}
.sec3__content .item .text, .sec4__content .item .text {
  font-size: 16px;
  line-height: 56px;
  color: #fff;
}
.sec3__content .item .text.green, .sec4__content .item .text.green {
  background-color: rgba(67, 175, 53, 0.2);
}
.sec3__content .item .text.blue, .sec4__content .item .text.blue {
  background-color: rgba(1, 168, 186, 0.2);
}

.sec4__content .item .text {
  padding: 16px 46px;
  line-height: 24px;
  color: #000;
}

.sec5 {
  background-color: #eaeaea;
}
.sec5 .t-sub-title {
  padding-top: 60px;
  color: #000;
}
.sec5 .list {
  padding-top: 45px;
  margin-bottom: 90px;
}
.sec5 li {
  float: left;
  width: 22%;
}
.sec5 img {
  display: block;
  width: 100%;
}
.sec5 .margin__right {
  margin-right: 4%;
}

@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }

  .t-pc {
    display: none;
  }

  .t-mobile {
    display: block;
  }

  .t-cont-item {
    height: auto;
  }

  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .t-main-title {
    font-size: 24px;
    padding-top: 35px;
    margin: 0 10px;
  }

  .t-sub-title {
    font-size: 18px;
  }

  .t-intro,
  .t-intro p {
    font-size: 16px;
    line-height: 20px;
  }

  /*--------自定义样式--------*/
  .sec1__content {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .sec1__content img {
    display: block;
    width: 100%;
  }

  .sec2__content {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .sec2__content li {
    width: 40%;
  }
  .sec2__content li p {
    font-size: 14px;
  }
  .sec2__content .margin__right {
    margin-right: 4%;
  }
  .sec2__content .sec2__book__img {
    margin-bottom: 40px;
  }

  .sec3__content, .sec4__content {
    padding-top: 40px;
    margin-bottom: 20px;
  }
  .sec3__content .item, .sec4__content .item {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .sec3__content .item img, .sec4__content .item img {
    width: 80%;
    margin: 0 auto 20px auto;
  }
  .sec3__content .item .intro, .sec4__content .item .intro {
    font-size: 16px;
  }
  .sec3__content .item .text, .sec4__content .item .text {
    padding: 12px 20px;
    font-size: 14px;
  }

  .sec5 .t-sub-title {
    padding-top: 30px;
  }
  .sec5 .list {
    padding-top: 25px;
    margin-bottom: 40px;
  }
  .sec5 li {
    width: 45%;
    margin-bottom: 20px;
  }
  .sec5 .margin__right {
    margin-right: 0;
  }
  .sec5 .sm__margin__right {
    margin-right: 10%;
  }
}
