.sh-header{
	height:50px;
}
.sh-logo{
	float: left;
    width: 154px;
    height: 30px!important;
    margin-top: 10px;
    margin-left: 0px;
}
.sh-header>.sh-top-header{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.sh-header.on{
	position: fixed;
	height:50px;
	width:100%;
	z-index: 999;
}
.mainindex{
	
}
.sh-bg-title{
	display: none;
}
.sh-header.on .sh-top-header{
	display: none;
}
.sh-header ul{
	overflow: hidden;
}
.sh-header ul li{
	float: right;
	height:50px;
	line-height: 50px;
} 
.sh-top-header ul li{
	float: right;
	height:50px;
	line-height: 50px;
	margin-left: 10px;
} 
.sh-header ul li a{
	padding-left: 10px;
} 
.sh-box-header{
	background: #000000;
	height:50px;
	color: white;
}
.sh-box-header > div{
	height:50px;
	width:1200px;
	margin:0 auto;
}
.sh-box-header p{
	float: left;
	height:50px;
	line-height: 50px;
}
.sh-box-header ul{
	overflow: hidden;
}
.sh-box-header ul li{
	float: right;
	height: 50px;
	line-height: 50px;
	color: white;
}
.sh-box-header ul li.sh-three-li a{
	padding-right: 0;
}
.sh-box-header ul li a{
	color: white;
	padding-right: 10px;
}
.sh-box-header ul li a.active{
	color: #de0032;
}
/*box*/
.sh-a-bg{
	background: url(../images/sh-a-bg.png) center center no-repeat;
	background-size: cover;
	height:683px;
	position: relative;
	z-index: 2;
}
.sh-a-bg-title{
	position: absolute;
	z-index: 33;
	width:514px;
	background: url(../images/sh-a-bg-title.png) center center no-repeat;
	text-align: center;
	top:340px;
	background-size:cover ;
	color: white;
	height:94px;
	margin-left: -267px;
	left:50%;
	line-height: 81px;
	font-size: 40px;
}
.sh-a-bg-text{
	position: absolute;
	z-index: 33;
	width:912px;
	background: url(../images/sh-a-bg-text.png) center center no-repeat;
	text-align: left;
	bottom:-80px;
	background-size:cover ;
	color: white;
	height:191px;
	margin-left: -462px;
	left:50%;
	line-height:16px;
	font-size: 18px;
}
.sh-a-bg-text div{
	padding:40px;
	padding-top:50px;
	line-height: 28px;
	font-size: 16px;
}
.sh-architecture{
	height:785px;
	background: url(../images/sh-jiagou-bg.png) center center no-repeat;
	background-size: cover;
}
.sh-architecture-in{
	width:1200px;
	margin:0 auto;
	height:570px;
	
}
.b1-seeDetail{
	width:160px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: white;
	margin:20px auto 0;
	overflow: hidden;
}
.b1-seeDetail a{
	display: block;
	width:160px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: white;
	float: left;
	font-size: 22px;
	border-radius: 40px;
}
.b1-seeDetail01 a{
	background: #bac5c6;
}
.b1-seeDetail02 a{
	background: #65ddcd;
}
.b1-seeDetail02{
	margin-top: 20px;
}
.b1-seeDetail03{
	margin-top: 60px;
}
.b1-seeDetail03 a{
	background: #4f4f4f;
}
.sh-architecture-title{
	font-size: 30px;
	color: #000000;
	text-align: center;
	padding-top: 119px;
	padding-bottom: 60px;
}
.sh-jiagou{
	background: url(../images/sh-jiagou.png) center center no-repeat;
	background-size: cover;
	width:838px;
	height:388px;
	margin:0 auto;
}
.sh-jiagou-text{
	text-align: center;
	width:650px;
	margin:70px auto 0;
	color: #000000;
	font-size: 16px;
}
.sh-jiazhi{
	height:635px;
	background: url(../images/sh-jiazhi.png) center center no-repeat;
	background-size: cover;
}
.sh-jiazhi-in{
	height:430px;
}
.sh-jiazhi-left div{
	background: url(../images/sh-jiazhi-left.png) center center no-repeat;
	width:422px;
	height:285px;
	background-size: cover;
	float: right;
	margin-right:33px ;
	margin-top: 30px;
}
.sh-jiazhi-left p{
	float: right;
	margin-right:200px ;
	width:100%;
	text-align: right;
	color: white;
	font-size: 18px;
}
.sh-jiazhi-right p{
	float: left;
	margin-left:200px ;
	width:100%;
	color: white;
	font-size: 18px;
}
.sh-jiazhi-right div{
	background: url(../images/sh-jiazhi-right.png) center center no-repeat;
	width:366px;
	height:314px;
	background-size: cover;
	float: left;
	margin-left:86px ;
	margin-top: 20px;
}
.sh-jiazhi-title{
	font-size: 30px;
	color: white;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 70px;
}
.sh-yy{
	height:736px;
	background: #f2f2f2;
	
}
.sh-yy-in{
	width:1200px;
	margin:0 auto;
	height:500px;
	text-align: center;
}
.sh-yy-in li{
	display: inline-block;
	width: 262px;
    height: 336px;
    margin:10px;
    
}
.sh-yy-title{
	font-size: 30px;
	color: #000;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 70px;
}
.sh-yy-wrap{
	background:transparent url(../images/sh-yy-wrap.png) 0 0 no-repeat;
	background-size: cover;
	height:720px;
}
.sh-yy-wrap li{
	width: 270px;
    height: 482px;
}
.sh-yy-wrap li a{
	display: block;
	width: 270px;
    height: 482px;
}
.sh-yy-in li.sh-yy-01{
	background: url(../images/sh-yy-01.png) center center no-repeat;
	background-size: cover;
}
.sh-yy-in li.sh-yy-02{
	background: url(../images/sh-yy-02.png) center center no-repeat;
	background-size: cover;
}
.sh-yy-in li.sh-yy-03{
	background: url(../images/sh-yy-03.png) center center no-repeat;
	background-size: cover;
}
.sh-yy-in li.sh-yy-04{
	background: url(../images/sh-yy-04.png) center center no-repeat;
	background-size: cover;
}
.sh-yy-in li.sh-yy-01s{
	background: url(../images/sh-yy-01s.png) center center no-repeat;
	background-size: cover;
}
.sh-yy-in li.sh-yy-02s{
	background: url(../images/sh-yy-02s.png) center center no-repeat;
	background-size: cover;
}
.sh-yy-in li.sh-yy-03s{
	background: url(../images/sh-yy-03s.png) center center no-repeat;
	background-size: cover;
}
.sh-yy-in li.sh-yy-04s{
	background: url(../images/sh-yy-04s.png) center center no-repeat;
	background-size: cover;
}
.sh-yy-more a{
	background: url(../images/sh-yy-more.png) center center no-repeat;
	width:228px;
	height:42px;
	background-size: cover;
	display: block;
	margin:70px auto 0;
}
.sh-auyf a{
	background: url(../images/sh-auyf.png) center center no-repeat;
	width:228px;
	height:42px;
	background-size: cover;
	display: block;
	margin:20px auto 0;
}
.sh-star{
	height:828px;
	background: url(../images/sh-star-bg.png) center center no-repeat;
	background-size: cover;
}
.sh-star-right div > div p,.sh-star-left div > div p{
	font-size: 28px;
	color: #000000;
	padding-top: 438px;
	text-align: center;
	
}
.sh-star-right div > div  a,.sh-star-left div > div  a{
	font-size: 16px;
    color: #fff;
    text-align: center;
    height: 42px;
    width: 126px;
    background: url(../images/sh-learn-more.png) center no-repeat;
    display: block;
    margin: 0 auto;
    line-height: 42px;
    text-align: left;
    padding-left: 33px;
    margin-top: 28px;
}
.sh-star-left div > div{
	height:583px;
	width:536px;
	background: url(../images/sh-star-left.png) center center no-repeat;
	background-size: cover;
	float: right;
	margin-right: 15px;
	margin-top:30px;
}
.sh-star-right div > div{
	height:583px;
	width:536px;
	background: url(../images/sh-star-right.png) center center no-repeat;
	background-size: cover;
	float: left;
	margin-left: 15px;
	margin-top:30px;
}
.sh-architecture-titles{
	padding-top: 60px;
	padding-bottom: 5px;
}
.sh-architecture-sumary{
	text-align: center;
	padding:30px 20px 40px;
	font-size: 16px;
}
.sh-architectures{
	height:639px;
	background: url(../images/sh-baby.png) center center no-repeat;
	background-size: cover;
}
.sh-architectures-in{
	background: url(../images/sh-baby-in.png) center center no-repeat;
	background-size: cover;
	width: 889px;
    height: 375px;
}
.sh-architectures2{
	height:669px;
	background: url(../images/sh-save-png.png) center center no-repeat;
	background-size: cover;
}
.sh-architectures-in2{
	background: url(../images/sh-save-in.png) center center no-repeat;
	background-size: cover;
	width: 858px;
    height: 367px;
}
.sh-architectures3{
	height:669px;
	background: url(../images/sh-man-png.png) center center no-repeat;
	background-size: cover;
}
.sh-zj-pts{
	margin-top: 225px;
}
.sh-zj-pt{
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	float: left;
	width:332px;
	color: #000000;
	padding-top: 5px;
}
.sh-iscp-pts{
	margin-top: 315px;
}
.sh-iscp-pt{
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	float: left;
	width:332px;
	color: #000000;
	padding-top: 5px;
	color: white;
}
.sh-architectures-in3{
	background: url(../images/sh-man-in.png) center center no-repeat;
	background-size: cover;
	width: 936px;
    height: 355px;
}
.sh-jizhan{
	height: 636px;
	background: url(../images/sh-jizhan.png) center center no-repeat;
	background-size: cover;
	text-align: center;
}
.sh-jizhan ul{
	padding-top: 20px;
}
.sh-jizhan li{
	display: inline-block;
	margin:10px 15px;
	width:332px;
	height:332px;
}
.sh-iscp{
	height: 758px;
	background: url(../images/sh-iscp.png) center center no-repeat;
	background-size: cover;
	text-align: center;
}
.sh-iscp li{
	display: inline-block;
	margin:10px 15px;
	width: 333px;
    height: 332px;
}
.sh-iscp ul{
	padding-top: 50px;
}
.sh-jizhan li.sh-jz01{
	background: url(../images/sh-jz01.png) center center no-repeat;
	background-size: cover;
}
.sh-jizhan li.sh-jz02{
	background: url(../images/sh-jz02.png) center center no-repeat;
	background-size: cover;
}
.sh-jizhan li.sh-jz03{
	background: url(../images/sh-jz03.png) center center no-repeat;
	background-size: cover;
}
.sh-iscp li.sh-iscp01{
	background: url(../images/sh-iscp01.png) center center no-repeat;
	background-size: cover;
}
.sh-iscp li.sh-iscp02{
	background: url(../images/sh-iscp02.png) center center no-repeat;
	background-size: cover;
}
.sh-iscp li.sh-iscp03{
	background: url(../images/sh-iscp03.png) center center no-repeat;
	background-size: cover;
}
.sh-mobile-nav{
	display: none;
}
.sh-yy-tp{
	padding-top: 282px;
	font-size: 24px;
	color: white;
	text-align: left;
	padding-left: 30px;
	float: left;
}
.sh-yy-tps{
	padding-top: 427px;
	font-size: 24px;
	color: #000;
	text-align: left;
	padding-left: 30px;
	float: left;
}
.sh-yy-women{
	padding-top: 100px;
}
/*云办公*/
.b1-top-bg{
	background: url(../images/b1-top-bg.png) center center no-repeat;
	height: 770px;
}
.imgpercent img{
	width:100%;
}
.b1-top-in{
	width:1200px;
	margin:0 auto;
	height:770px;
}
.b1-top-left{
	width:510px;
	height:337px;
	float: left;
	margin-top: 320px;
	margin-left: 50px;
	cursor: pointer;
}
.b1-top-left video{
	float: left;
	margin-top: 0;
}
.b1-top-right{
	width:540px;
	height:231px;
	background: url(../images/b1-bigIcon.png) center no-repeat;
	background-size: cover;
	float: left;
	margin-top: 360px;
	margin-left: 55px;
}
.b1-jsu-wrap{
	background: #eff7f8;
	height:710px;
}
.b1-jsu-in{
	height:710px;
	margin:0 auto;
	position: relative;
	z-index: 1;
	width:1200px;
}
.b1-col-img{
	margin-top: 50px;
}
.b1-tv{
	width:495px;
	height:380px;
	float: right;
	margin-right: 30px;
}
.b1-kd{
	width:504px;
	height:353px;
	float: left;
	margin-left: 30px;
}
.b1-man{
	width:490px;
	height:339px;
	float: right;
	margin-right: 30px;
}
.b1-yun{
	width:334px;
	height:335px;
	float: left;
	margin-left: 130px;
}
.b1-pc{
	width:516px;
	height:377px;
	float: right;
	margin-right: 30px;
}
.b1-pc-small{
	width:393px;
	height:348px;
	float: left;
	margin-left: 130px;
}
.b1-cc{
	width:515px;
	height:397px;
	float: right;
	margin-right: 50px;
}
.b1-cc-2{
	width:465px;
	height:343px;
	float: left;
	margin-left: 50px;
}
.b1-xuniji{
	width:536px;
	height:344px;
	float: right;
	margin-right: 50px;
}
.b1-4ktv{
	width:415px;
	height:352px;
	float: left;
	margin-left: 50px;
	margin-top: 60px;
}

.b1-big-title{
	font-size: 40px;
	text-align: center;
	padding:60px 0 30px 0;
	color: #000000;
}
.b1-big-title-co{
	padding:40px 0 30px 0;
}
.b1-col-title{
	font-size: 24px;
	width: 525px;
	height:55px;
	line-height: 55px;
	text-align: center;
	color: #000000;
	border-radius: 50px;
	border:1px dashed #c2cccc;
}
.b1-col-right{
	float: right;
	margin-right: 35px;
}
.b1-col-left{
	float: left;
	margin-left: 35px;
}
.b1-biaoqian{
	position: absolute;
	z-index: 33;
	width:206px;
	height:65px;
	left:50px;
	top:0;
}
.b1-kkao-wrap{
	background: url(../images/b1-two-bg.png) center no-repeat;
	height:714px;
}
.b1-kkao-in{
	height:714px;
	width:1200px;
	margin:0 auto;
	position: relative;
	z-index: 0;
}

.b1-yy-wrap{
	background: url(../images/b1-three-bg.png) center no-repeat;
	height:714px;
}
.b1-yy-in{
	height:714px;
	width:1200px;
	margin:0 auto;
	position: relative;
	z-index: 0;
}
.b1-net-bg{
	background: url(../images/b1-cc-bg.png) center no-repeat;
	height:714px;
}
.b1-net-in{
	height:714px;
	width:1200px;
	margin:0 auto;
	position: relative;
	z-index: 0;
}
.b1-col-color{
	color: white;
	border:1px dashed white
}
.b1-big-title-white{
	color: white;
}
.b1-jsu-bg{
	height: 668px;
	background: #e9f2f7;
}
.b1-jsu-top-in{
	width:1200px;
	margin: 0 auto;
}
.b1-small-title{
	font-size: 18px;
	text-align: center;
	margin-top: -10px;
	color: #000000;
}
.b1-idv-bg{
	background: url(../images/b1-idv-bg.png) center no-repeat;
	height: 764px;
}
.b1-idv-in{
	width:1200px;
	margin:0 auto;
	height: 764px;
}

.b1-idv{
	width:921px;
	height: 461px;
	margin:60px auto 0;
}
.b1-small-title-white{
	color: white;
}
.b1-guanli-bg{
	background: url(../images/b1-guanli-bg.png) center no-repeat;
	height:668px ;
}
.b1-guanli-in{
	height:668px;
	margin:0 auto;
}
.b1-guanli{
	width:583px;
	height:302px;
	margin: 40px auto;
}
.b1-windows-bg{
	height:724px;
	background:#f3f6f9 url(../images/b1-windows-bg.png) center bottom no-repeat;
}
.b1-windows{
	width:1006px;
	height:396px;
	margin: 50px auto 0;
}
.b1-car-bg{
	height:668px;
	background:#f3f6f9 url(../images/b1-car-bg.png) center  no-repeat;
}
.b1-car{
	width:885px;
	height:408px;
	margin: 40px auto;
}
.b1-yuan-bg{
	height:624px;
	background:#f3f6f9 url(../images/b1-yuan-bg.png) center  no-repeat;
}
.b1-yuan{
	width:825px;
	height:401px;
	margin: 60px auto 0;
	overflow: hidden;
}
.b1-steal-bg{
	height:648px;
	background: url(../images/b1-steal-bg.png) center  no-repeat;
}
.b1-steal{
	width:1016px;
	height:241px;
	margin: 100px auto;
}
.b1-pingtai-bg{
	height:762px;
	background: url(../images/b1-pingtai-bg.png) center  no-repeat;
}
.b1-pingtai{
	width:779px;
	height:449px;
	margin: 60px auto;
}
.b1-clock-bg{
	height:764px;
	background: url(../images/b1-clock-bg.png) center  no-repeat;
}
.b1-clock{
	width:629px;
	height:595px;
	margin: 0px auto;
}

.b1-pro-title{
	color: white;
	font-size: 18px;
	margin-top: 50px;
	width:600px;
	margin: 0px auto;
	padding-top: 60px;
	text-align: center;
}
.b1-foot-center{
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 18px;
	background: #e9e9e9;
	color: #302b2a;
}
.b1-mobile-index-text{
	display: none;
}
.b1-hide-pc{
	display: none;
}
.b1-hide-mobile{
	display: inline-block;
}
.b1-table01{
	height: 607px;
	background: #fff;
}
.b1-table01-in{
	width:1140px;
	margin:0 auto;
	height:507px;
}
.b1-table-left{
	width:380px;
	float: left;
	height: 505px;
	margin-top: 50px;
	background: white;
}
.b1-table-right{
	width:750px;
	float: left;
	height: 505px;
	margin-top: 50px;
	background: white;
}
.b1-table-left2{
	width:310px;
}
.b1-table-right2{
	width:820px;
}
.b1-table-left table,.b1-table-right table{
	height: 505px;
	width:100%;
}
.b1-table01 td{
	border: 1px solid #dcdcdc;
	border-collapse: collapse;
	color: #000000;
	padding-left: 20px;
}
.b1-table01 td.b1-nob-right{
	border-right: 0;
	text-align: center;
}
img.b1-yjian{
	width: 321px;
	height: 111px;
}
img.b1-jixiang{
	width:188px;
	height: 292px;
}
img.b1-yitiji{
	width:260px;
	height: 193px;
}
.b1-table-p{
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}
.b1-table02{
	background: url(../images/b1-table2.png) center no-repeat;
}
.b1-table-half table{
	width:50%;
	float: left;
}
.b1-table-right table td:nth-of-type(1){
	border-right: 0;
}
.b1-table-right table td:nth-of-type(2){
	border-left: 0;
}
.b1-table-half table:nth-of-type(1) td:nth-of-type(2){
	border-right: 0;
}
.b1-table-half table:nth-of-type(2) td:nth-of-type(1){
	border-left: 0;
	display: none;
}
.b1-table-half table td p{
	padding:3px 0;
}
.b1-time-line{
	width:846px;
	height:77px;
	position: relative;
	z-index: 0;
	background: #b1ede5;
	margin:0 auto;
	border-radius: 10px;
}
.b1-time-center{
	background: url(../images/b1-time-line.png) center no-repeat;
	height: 10px;
	position: absolute;
	z-index: 33;
	top:50%;
	margin-top: -5px;
	left:50%;
	margin-left: -376px;
	width:753px;
}
.b1-time-p{
	position: absolute;
	top:7px;
	
}
.b1-timep1{
	left:144px;
}
.b1-timep2{
	left:300px;
}
.b1-timep3{
	left:458px;
}
.b1-timep4{
	left:632px;
}
.b1-time-t{
	position: absolute;
	z-index: 44;
	width:20px;
	height: 20px;
	border-radius: 20px;
	background: #00aa94;
	color: white;
	line-height: 20px;
	text-align: center;
}
.b1-timet1{
	left:160px;
	top:28px;
}

.b1-timet2{
	left:315px;
	top:28px;
}
.b1-timet3{
	left:475px;
	top:28px;
}
.b1-timet4{
	left:650px;
	top:28px;
}
.b1-time-p2 {
	position: absolute;
	top:50px;
}

.b1-timep01{
	left:128px;
}
.b1-timep02{
	left:270px;
}
.b1-timep03{
	left:438px;
}
.b1-timep04{
	left:600px;
}
.b1-time-mobile{
	display: none;
}











@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1366px) {}
@media screen and (max-width: 1280px) {}
@media screen and (max-width: 1024px) {
	.sh-header>.sh-top-header{
		width:100%;
	}
	.sh-box-header > div{
		width:100%;
	}
}
@media screen and (max-width: 768px) {
	.sh-header>.sh-top-header{
		width:100%;
	}
	.sh-box-header > div{
		width:100%;
	}
	.sh-bg-title{
		display: block;
	}
	.sh-a-bg-title{
		background:url(../images/sh-mobile-head-text.png) center center no-repeat;
		background-size: cover;
	    height: 47px;
	    line-height: 42px;
		width:267px;
		margin-left: -133px;
		font-size: 14px;
		top:200px;
	}
	.sh-a-bg-text{
		background: #38C4C0;
		height:auto;
		width:100%;
		margin-left: -50%;
		bottom:-100px;
	}
	.sh-architecture-pad{
		padding-top: 135px;
	}
	.sh-a-bg{
		height:320px;
		background: url(../images/sh-bg-mobile.png) center center no-repeat;
   	 	background-size: cover;
	}
	.sh-a-bg-text div{
		padding:10px 20px;
		font-size: 14px;
		line-height: 20px;
	}
	.sh-architecture-in{
		width:100%;
		height:auto;
		padding-bottom: 30px;
	}
	.sh-architecture{
		height:auto;
	}
	.sh-jiagou{
		width: 291px;
    	height: 133px;
	}
	.sh-jiagou-text{
		width:80%;
		font-size: 14px;
		margin-top: 50px;
	}
	.sh-star{
		height:auto;
		overflow: hidden;
	}
	.sh-star-left div  > div{
		float: none;
		display: block;
		margin:10px auto;
		width:230px;
		height:245px;
	}
	.sh-star-right div > div{
		float: none;
		display: block;
		margin:10px auto 30px;
		width:230px;
		height:245px;
	}
	.sh-star-right div > div p, .sh-star-left div > div p{
		font-size: 14px;
	    color: #000000;
	    padding-top: 182px;
	    text-align: center;
	}
	.sh-star-right div > div  a, .sh-star-left div > div  a{
   	 	background-size: cover;
   	 	height: 27px;
	    width: 89px;
	    line-height: 27px;
	    background-size: cover;
	    margin-top: 10px;
	    font-size: 14px;
	    padding-left: 12px;
	}
	.sh-jiazhi{
		height:auto;
	}
	.sh-jiazhi-in{
		height:auto;
		overflow: hidden;
	}
	.sh-jiazhi-title{
		padding-top:30px;
		padding-bottom: 40px;
		font-size: 24px;
	}
	.sh-jiazhi-left div{
		float: none;
		display: block;
		margin:20px auto;
		width:300px;
		height:200px;
	}
	.sh-jiazhi-right div{
		float: none;
		display: block;
		margin:20px auto;
	}
	.sh-jiazhi-left p{
		width:100%;
		float: none;
		margin:20px auto 0;
		text-align: center;
	}
	.sh-jiazhi-right div{
		width:300px;
		height:260px;
	}
	.sh-zj-pts{
		margin-top: 172px;
		
	}
	.sh-zj-pt{
		width:100%;
		font-size: 14px;
		padding-top: 1px;
	}
	.sh-yy-title{
		font-size: 24px;
	}
	.sh-jiazhi-right p{
		width:100%;
		float: none;
		margin:20px auto  -20px;
		text-align: center;
	}
	.sh-yy-in{
		height:auto;
		overflow: hidden;
		width:100%;
	}
	.sh-yy{
		height:auto;
	}
	.sh-yy-more a{
		margin: 20px auto 25px;
		width: 158px;
    	height: 27px;
	}
	.sh-auyf a{
		margin: 20px auto 25px;
		width: 158px;
    	height: 27px;
	}
	.sh-yy-in li{
		width:145px;
		height:160px;
		margin:4px;
	}
	.sh-yy-title{
		padding:30px;
	}
	.sh-jizhan{
		height:auto;
	}
	.sh-iscp{
		height:auto;
	}
	.sh-iscp li{
		width: 240px;
    	height: 240px;
	    margin: 28px 15px 80px;
	}
	.sh-architecture-titles{
		padding-top: 30px;
		font-size: 24px;
	}
	.sh-architecture-title{
		font-size: 24px;
	}
	.sh-architecture-pad{
		padding-bottom: 40px;
	}
	.sh-jizhan li{
		margin: 20px 15px;
	    width: 260px;
	    height: 260px;
	}
	.sh-yy-wrap li a{
		width: 145px;
    	height: 240px;
	}
	.sh-architectures-in{
		height:120px;
		width:288px;
	}
	.sh-architectures-in2{
		height:122px;
		width:288px;
	}
	.sh-architectures-in3{
		height: 109px;
		width:287px;
	}
	.sh-box-header p{
		margin-left: 10px;
	}
	.sh-hide-li{
		display: none;
	}
	.sh-header ul li a{
		padding-right: 10px;
	}
	.sh-logo{
		margin-left: 10px;
	}
	.sh-box-header ul li{
		display: none;
	}
	.sh-box-header ul li.sh-mobile-nav{
		width: 35px;
	    height: 35px;
	    background: url(../img/icon-menu.png) center no-repeat;
	    background-size: 70%;
	    display: inline-block;
	    margin-top: 7px;
	    margin-right: 5px;
	    position: relative;
	    cursor: pointer;
	}
	.sh-box-header ul li.sh-mobile-nav ul{
		position: absolute;
	    padding:5px 0 5px;
	    width: 100px;
	    background: white;
	    z-index: 999;
	    right: -4px;
	    top: 42px;
	    border:1px solid #D9D9D9;
	    border-radius: 3px;
	}
	.sh-box-header ul{
		overflow: visible;
	}
	.sh-box-header ul li.sh-mobile-nav ul {
		height:0;
		display: none;
	}
	.sh-box-header ul li.sh-mobile-nav ul li{
		height:30px;
		padding-left: 10px;
		color: #000000;
		display: inline-block;
		line-height: 30px;
		float: left;
		width:100%;
	}
	.sh-box-header ul li.sh-mobile-nav ul li a{
		color: #000;
		padding:0;
		float: left;
		width:100%;
		cursor: pointer;
	}
	.sh-iscp-pts{
		margin-top: 215px;
	}
	.sh-iscp-pt{
		text-align: center;
		line-height: 20px;
		font-size: 16px;
		float: left;
		width:100%;
		padding-top: 5px;
	}
	.sh-yy-tp{
		padding-top: 135px;
	    font-size: 14px;
	    color: white;
	    text-align: left;
	    padding-left: 12px;
	    float: left;
	}
	.sh-yy-tps{
		padding-top: 215px;
	    font-size: 14px;
	    color: #000;
	    text-align: left;
	    padding-left: 10px;
	    float: left;
	}
	.sh-yy-women{
		padding-bottom: 30px;
		padding-top: 50px;
	}
	.sh-yy-women.sh-yy-in li {
	    width: 145px;
	    height: 240px;
	    margin: 4px;
		
	}
	.b1-top-bg{
		height: auto;
		background: url(../images/b1-mobile-index.png) center 0 no-repeat;
		background-size: cover;
		padding-top: 40px;
	}
	.b1-top-in{
		width:100%;
		height: auto;
		overflow: hidden;
	}
	.b1-top-left{
		margin: 40px auto 20px;
		width: 302px;
   		height: 209px;
   		background-size: cover;
   		float: none;
   		
	}
	.b1-top-right{
		margin: 50px auto;
		width: 302px;
   		height: 127px;
   		float: none;
   		background: url(../images/b1-bigIcon.png) center no-repeat;
   		background-size: cover;
	}
	.b1-mobile-index-text{
		display: block;
		width: 300px;
		height: 100px;
		background: url(../images/b1-mobile-index-text.png) center no-repeat;
		background-size: cover;
		margin:0px auto;
	}
	.b1-biaoqian{
		display: none;
	}
	.b1-big-title{
		padding:20px 0;
		font-size: 22px;
		width:90%;
		margin:0 auto;
	}
	.b1-col-title{
		width:90%;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		float: none;
		margin:0 auto;
		text-align: center;
	}
	.b1-col-img{
		float: none;
		margin:30px auto 0;
		width:300px;
		height: auto;
		padding-bottom: 30px;
	}
	.b1-foot-center{
		height: 50px;
		line-height: 50px;
		font-size: 14px;
	}
	.b1-jsu-wrap ,.b1-jsu-in{
		height: auto;
		overflow: hidden;
		width:100%;
	}
	.b1-kkao-in , .b1-kkao-wrap{
		width:100%;
		height: auto;
		background-size: cover;
	}
	.b1-yy-in , .b1-yy-wrap{
		width:100%;
		height: auto;
		background-size: cover;
	}
	.b1-seeDetail{
		width:120px;
		height:35px;
		margin:0 auto 22px;
	}
	.b1-seeDetail02{
		margin: -10px auto 0;
		padding-bottom: 20px;
	}
	.b1-seeDetail03{
		margin: -10px auto 0;
		padding-bottom: 20px;
	}
	.b1-seeDetail a{
		font-size: 16px;
		width:120px;
		height:35px;
		line-height: 35px;
	}
	.b1-jsu-bg,.b1-jsu-top-in,.b1-guanli-bg,.b1-guanli-in,.b1-windows-bg,.b1-windows-in,.b1-car-bg,.b1-car-in,.b1-clock-bg,.b1-clock-in{
		width:100%;
		height: auto;
		background-size: cover;
	}
	.b1-net-bg , .b1-net-in ,.b1-idv-bg ,.b1-idv-in,.b1-yuan-bg,.b1-yuan-in,.b1-pingtai-bg,.b1-pingtai-in,.b1-steal-bg,.b1-steal-in{
		width:100%;
		height: auto;
		background-size: cover;
	}
	.b1-small-title{
		font-size: 14px;
		margin-top: 20px;
		width:92%;
		margin: 0px auto;
	}
	.b1-hide-pc{
		display: inline-block;
	}
	.b1-hide-mobile{
		display: none;
	}
	.b1-only-img{
		width:310px;
		margin:30px auto 0;
		height: auto;
		padding-bottom: 30px;
	}
	.b1-yuan{
		padding-bottom: 0px;
	}
	.b1-pro-title{
		width:80%;
		margin:0 auto;
		font-size: 14px;
		padding-top: 25px;
	}
	.b1-top-left video{
		float: left;
		margin-top: 0;
		height: 209px;
	}
	.b1-table01 , .b1-table01-in{
		width:100%;
		height: auto;
		background-size: cover;
	}
	.b1-table-left{
		float: none;
		margin:30px auto;
		height: auto;width:80%;
	}
	.b1-table-right{
		float: none;
		margin:30px auto;
		height: auto;width:80%;
	}
	.b1-table-left table, .b1-table-right table{
		height: auto;
		margin:0 auto;
	}
	.b1-table01 td.b1-nob-right{
		border:0;
		padding:0;
	}
	.b1-table01 td{
		padding:10px 0 10px 10px;
		
	}
	img.b1-yjian{
		width:260px;
		height: auto;
	}
	img.b1-jixiang {
	    width: 150px;
	    height: auto;
	}
	.b1-table02 .b1-table-left,.b1-table03 .b1-table-left{
		background: none;
		padding:30px 0 0 0;
	}
	.b1-table-half{
		background: none;
		padding-bottom: 20px;
	}
	.b1-table-half table{
		width:100%;
		float: none;
		margin:30px auto;
		
	}
	.b1-table-half table td{
		background: white;
		padding:10px 0 10px 10px;
	}
	.b1-table-half table:nth-of-type(2) td:nth-of-type(1){
		display: table-cell;
		border:1px solid #dcdcdc;
	}
	.b1-table-half table:nth-of-type(1) td:nth-of-type(2){
		border:1px solid #dcdcdc;
	}
	.b1-time-line{
		display: none;
	}
	.b1-time-mobile{
		width: 300px;
	    height: 277px;
	    position: relative;
	    z-index: 0;
	    background: #b1ede5;
	    margin: 0 auto;
	    border-radius: 10px;
	}
	.b1-guanli-in{
		padding-bottom: 30px;
	}
	.b1-time-top{
		width:300px;
		height:10px;
		background: url(../images/b1-time-line.png) center no-repeat;
		position: absolute;
		z-index: 44;
		top:80px;
		left:50%;
		margin-left: -150px;
	}
	.b1-time-bottom{
		width:300px;
		height:10px;
		background: url(../images/b1-time-line.png) center no-repeat;
		position: absolute;
		z-index: 44;
		top:180px;
		left:50%;
		margin-left: -150px;
	}
	.b1-time-p{
		position: absolute;
		top:7px;
		
	}
	.b1-timep1{
		left:58px;
		top:50px;
		
	}
	.b1-timep2{
		left: 197px;
    	top: 50px;
	}
	.b1-timep3{
		left:58px;
		top: 150px;
	}
	.b1-timep4{
		left:197px;
		top: 150px;
	}
	.b1-time-t{
		position: absolute;
		z-index: 44;
		width:20px;
		height: 20px;
		border-radius: 20px;
		background: #00aa94;
		color: white;
		line-height: 20px;
		text-align: center;
	}
	.b1-timet1{
		left:75px;
		top:75px;
	}
	
	.b1-timet2{
	    left: 215px;
    	top: 75px;
	}
	.b1-timet3{
		left:75px;
		top:175px;
	}
	.b1-timet4{
		left:215px;
		top:175px;
	}
	.b1-time-p2 {
		position: absolute;
		top:50px;
	}
	
	.b1-timep01{
	    left: 40px;
    	top: 100px;
	}
	.b1-timep02{
	    left: 170px;
    	top: 100px;
	}
	.b1-timep03{
		left:34px;
		top: 200px;
	}
	.b1-timep04{
		left:160px;
		top: 200px;
	}
	.b1-time-mobile{
		display: block;
	}
}