@charset "UTF-8";
/* index.html css */
/* 导航部分 */
html {
  font-family: Arial, '微软雅黑', sans-serif;
}

.page-content {
  overflow: hidden;
}

.title-text {
  font-size: 44px;
  line-height: 67px;
  text-align: center;
  color: #2f2f2f;
}

.small-text {
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2f2f2f;
}

.white {
  color: #fff;
}

.page-title {
  font-size: 42px;
  color: #35c0bb;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 42px;
}
.page-title-text {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-subnav {
  background-color: #f7f7f7;
  line-height: 50px;
}
.page-subnav-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.page-subnav .left {
  float: left;
  font-size: 24px;
  color: #333;
}
.page-subnav .right {
  float: right;
}
.page-subnav .link {
  display: inline-block;
  padding: 0 14px;
  color: #333;
}
.page-subnav .link.active {
  color: #35c0bb;
}

img {
  display: block;
  max-width: 100%;
}

.m {
  display: none;
}

/* 正文部分 */
.page-content {
  background-color: #fff;
}

.section-box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.section-1 {
  overflow: hidden;
  padding: 30px 0 100px;
}
.section-1 .left {
  float: left;
  width: 50%;
}
.section-1 p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #2f2f2f;
}
.section-1 .text-title {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}
.section-1 .list {
  padding-left: 18px;
  list-style-type: disc;
}
.section-1 .list p {
  margin: 0;
}
.section-1 .right {
  float: right;
  width: 36%;
  margin-left: 14%;
}
.section-1 .big-img {
  margin: 0 40px 40px;
}
.section-1 .big-img img {
  display: block;
  max-width: 100%;
}
.section-1 .thumb-list {
  font-size: 0;
  text-align: center;
}
.section-1 .thumb-list li {
  display: inline-block;
  width: 97px;
  height: 87px;
  margin: 0 5px 10px 0;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  cursor: pointer;
}
.section-1 .thumb-list li.active {
  border-color: #0d58ca;
}
.section-1 .thumb-list img {
  display: block;
  width: 100%;
}

.section-2 {
  position: relative;
}
.section-2 .top {
  position: absolute;
  width: 1200px;
  top: 120px;
  left: 50%;
  margin-left: -600px;
  text-align: center;
}
.section-2 .title-text {
  font-size: 90px;
  margin-bottom: 60px;
  line-height: 1;
}
.section-2 .small-text {
  font-size: 32px;
  color: #97a0b4;
}

.section-3 {
  padding-top: 60px;
  background: url("../RJ-img/c-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-3 .title-text {
  margin-bottom: 25px;
}
.section-3 .small-text {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 64px;
}
.section-3 .arrow {
  display: block;
  margin: auto;
  width: 34px;
  height: 53px;
  background: url("../RJ-img/c-arrow.png") center/100% no-repeat;
}

.section-4 {
  padding: 130px 0 75px;
  background: url("../RJ-img/d-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-4 .top-title {
  margin-bottom: 75px;
}
.section-4 .top-list {
  font-size: 0;
  margin-bottom: 80px;
}
.section-4 .top-list .text {
  margin-bottom: 15px;
  font-size: 28px;
  color: #fff;
}
.section-4 .top-list .desc {
  font-size: 16px;
  color: #686868;
}
.section-4 .top-item {
  display: inline-block;
  width: 18%;
  margin-right: 2.5%;
  text-align: center;
  vertical-align: top;
  margin-bottom: 50px;
}
.section-4 .top-item:nth-child(5n) {
  margin-right: 0;
}
.section-4 .text-box {
  padding: 20px 0;
  height: 110px;
  border: 2px solid #343d59;
  border-radius: 6px;
}
.section-4 .arrow-down, .section-4 .arrow-up {
  width: 28px;
  height: 45px;
  margin: auto;
  background: url("../RJ-img/e-arrow.png") center/100% no-repeat;
}
.section-4 .arrow-up {
  transform: rotateZ(180deg);
}
.section-4 .pro-img {
  margin: 145px auto;
}
.section-4 .bottom-title {
  padding-top: 160px;
  margin-bottom: 30px;
}
.section-4 .small-text {
  margin-bottom: 55px;
  color: #fff;
}
.section-4 .bottom-list {
  margin: 0 43px 30px;
  padding: 30px 0 50px;
  border-radius: 6px;
  border: 2px solid rgba(60, 164, 214, 0.43);
  text-align: center;
}
.section-4 .bottom-list .icon {
  margin: auto;
  margin-bottom: 30px;
}
.section-4 .list-top {
  margin-bottom: 50px;
}
.section-4 .list-top-item {
  float: left;
  width: 25%;
}
.section-4 .list-top .text {
  font-size: 20px;
  color: #fff;
}
.section-4 .list-bottom-item {
  width: 33.3333%;
  float: left;
  text-align: center;
}
.section-4 .list-bottom .text {
  display: inline-block;
  font-size: 20px;
  color: #fff;
}
.section-4 .list-bottom .text-list {
  list-style-type: disc;
  padding-top: 10px;
  padding-left: 25px;
  font-size: 16px;
  color: #686868;
  text-align: left;
}
.section-4 .dot-list {
  text-align: center;
  font-size: 0;
}
.section-4 .dot-list span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 8px;
  background-color: #0087f7;
}
.section-4 .dot-list span:first-child {
  margin-left: 0;
}

.section-5 {
  padding: 85px 0 90px;
  background: url("../RJ-img/f-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-5 .title-text {
  margin-bottom: 25px;
}
.section-5 .small-text {
  margin-bottom: 50px;
}
.section-5 .big-img {
  width: 90%;
  margin: 45px auto;
}
.section-5 .desc {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #797979;
  font-size: 20px;
}

.section-6 {
  position: relative;
  padding: 100px 0 50px;
}
.section-6 .title-text {
  margin-bottom: 30px;
}
.section-6 .small-text {
  margin-bottom: 55px;
}
.section-6 .big-img {
  width: 65%;
  margin: auto;
}

.section-7 {
  padding: 80px 0 116px;
  background: url("../RJ-img/h-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-7 .title-text {
  margin-bottom: 25px;
}
.section-7 .small-text {
  margin-bottom: 60px;
}
.section-7 .bottom-list {
  font-size: 0;
}
.section-7 .bottom-item {
  display: inline-block;
  position: relative;
  width: 20%;
}
.section-7 .bottom-item .icon {
  width: 100%;
}
.section-7 .bottom-item .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
}
.section-7 .bottom-item .text span {
  position: absolute;
  text-align: center;
  left: 20px;
  right: 20px;
  top: 50%;
  padding: 0 20px;
  transform: translateY(-50%);
}

@media screen and (max-width: 1280px) {
  .section-box {
    max-width: 1000px;
  }

  .page-subnav-content {
    max-width: 1000px;
  }

  .section-1 .right {
    float: right;
    width: 44%;
    margin-left: 6%;
  }
}
@media screen and (max-width: 1024px) {
  .section-box {
    max-width: 1000px;
  }

  .page-title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title-text {
    font-size: 32px;
    line-height: 56px;
  }

  .section-1 {
    padding: 30px 0 50px;
  }

  .section-2 .title-text {
    margin-bottom: 50px;
    font-size: 80px;
  }
  .section-2 .top {
    top: 100px;
  }

  .section-3 {
    padding-top: 50px;
  }
  .section-3 .small-text {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section-4 {
    padding: 70px 0 55px;
  }
  .section-4 .top-title {
    margin-bottom: 55px;
  }
  .section-4 .top-list {
    margin: 0 20px 60px;
  }
  .section-4 .top-list .text {
    font-size: 26px;
  }
  .section-4 .top-item {
    width: 23%;
    margin-right: 2.6666667%;
    margin-bottom: 25px;
  }
  .section-4 .top-item:nth-child(4n) {
    margin-right: 0;
  }
  .section-4 .top-item:nth-child(5n) {
    margin-right: 2.6666667%;
  }
  .section-4 .text-box {
    height: 100px;
  }
  .section-4 .pro-img {
    width: 80%;
    margin: 125px auto;
  }
  .section-4 .bottom-title {
    padding-top: 160px;
    margin-bottom: 30px;
  }

  .section-5 {
    padding: 65px 0 80px;
  }
  .section-5 .small-text {
    margin-bottom: 40px;
  }
  .section-5 .big-img {
    width: 86%;
    margin: 40px auto;
  }

  .section-7 {
    padding: 70px 0 100px;
  }
  .section-7 .bottom-list {
    font-size: 0;
    margin: 0 15px;
  }
  .section-7 .bottom-list .text {
    height: 55px;
  }
}
@media screen and (max-width: 768px) {
  .title-text {
    font-size: 28px;
    line-height: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .small-text {
    font-size: 16px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .page-title {
    font-size: 38px;
  }

  .page-subnav {
    line-height: 46px;
  }
  .page-subnav-content {
    padding: 0 15px;
    width: auto;
  }
  .page-subnav .right {
    width: auto;
    float: none;
    text-align: center;
  }

  .m {
    display: block;
  }

  .pc {
    display: none;
  }

  .section-1 {
    padding: 30px 0 50px;
  }
  .section-1 .left {
    float: none;
    width: auto;
    padding: 0 15px;
  }
  .section-1 p {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .section-1 .text-title {
    padding-top: 15px;
    font-size: 18px;
  }
  .section-1 .right {
    float: none;
    width: auto;
    margin-left: 0;
  }
  .section-1 .big-img {
    margin: 35px 30px 30px;
  }
  .section-1 .thumb-list {
    text-align: center;
  }

  .section-2 .title-text {
    margin-bottom: 40px;
    font-size: 60px;
  }
  .section-2 .top {
    top: 70px;
  }

  .section-4 {
    padding: 20px 0 50px;
  }
  .section-4 .top-title {
    margin-bottom: 30px;
  }
  .section-4 .top-list {
    margin: 0 20px 20px;
  }
  .section-4 .top-list .text {
    font-size: 22px;
  }
  .section-4 .top-list .desc {
    font-size: 14px;
  }
  .section-4 .top-item {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 20px;
  }
  .section-4 .top-item:nth-child(3n) {
    margin-right: 0;
  }
  .section-4 .top-item:nth-child(4n) {
    margin-right: 5%;
  }
  .section-4 .top-item:nth-child(5n) {
    margin-right: 5%;
  }
  .section-4 .text-box {
    height: 85px;
  }
  .section-4 .pro-img {
    margin: 80px auto;
  }
  .section-4 .bottom-title {
    padding-top: 160px;
    margin-bottom: 30px;
  }
  .section-4 .bottom-list {
    margin: 0 15px 30px;
    padding: 30px 0 30px;
  }
  .section-4 .bottom-list .text {
    font-size: 18px;
  }
  .section-4 .bottom-list .text-list {
    font-size: 14px;
  }
  .section-4 .bottom-list .icon {
    margin-bottom: 20px;
  }

  .section-5 {
    padding: 45px 0 60px;
  }
  .section-5 .title-text {
    margin-bottom: 20px;
  }
  .section-5 .small-text {
    margin-bottom: 35px;
  }
  .section-5 .big-img {
    margin: 35px auto;
  }

  .section-6 {
    padding: 40px 0 30px;
  }
  .section-6 .title-text {
    margin-bottom: 20px;
  }
  .section-6 .big-img {
    width: 60%;
  }

  .section-7 {
    padding: 60px 0 116px;
  }
  .section-7 .title-text {
    margin-bottom: 20px;
  }
  .section-7 .small-text {
    margin-bottom: 40px;
  }
  .section-7 .bottom-list {
    margin: 0 80px;
    text-align: center;
  }
  .section-7 .bottom-item {
    width: 33.33333%;
    margin-bottom: 20px;
  }
  .section-7 .bottom-item .text {
    height: 62px;
    font-size: 16px;
  }
  .section-7 .bottom-item .text span {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .title-text {
    font-size: 24px;
    line-height: 40px;
  }

  .small-text {
    font-size: 14px;
    line-height: 26px;
  }

  .page-title {
    font-size: 34px;
  }

  .page-subnav .left {
    line-height: 40px;
  }

  .section-1 {
    padding: 25px 0;
  }
  .section-1 p {
    font-size: 14px;
  }
  .section-1 .text-title {
    font-size: 16px;
  }
  .section-1 .big-img {
    margin: 20px 30px 15px;
  }
  .section-1 .thumb-list .thumb-item {
    width: 75px;
    height: 67px;
  }

  .section-2 .title-text {
    margin-bottom: 25px;
    font-size: 40px;
  }
  .section-2 .small-text {
    font-size: 22px;
  }
  .section-2 .top {
    top: 30px;
  }

  .section-3 {
    padding-top: 30px;
  }
  .section-3 .title-text {
    margin-bottom: 15px;
  }
  .section-3 .small-text {
    margin-bottom: 44px;
  }
  .section-3 .arrow {
    width: 28px;
    height: 44px;
  }

  .section-4 {
    padding: 30px 0 50px;
  }
  .section-4 .top-title {
    margin-bottom: 30px;
  }
  .section-4 .top-list .text {
    font-size: 18px;
  }
  .section-4 .top-item {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
  }
  .section-4 .top-item:nth-child(3n) {
    margin-right: 0;
  }
  .section-4 .top-item:nth-child(4n) {
    margin-right: 2%;
  }
  .section-4 .top-item:nth-child(5n) {
    margin-right: 2%;
  }
  .section-4 .text-box {
    height: 75px;
  }
  .section-4 .pro-img {
    margin: 80px auto;
  }
  .section-4 .bottom-title {
    padding-top: 160px;
    margin-bottom: 20px;
  }
  .section-4 .list-top {
    margin-bottom: 30px;
  }
  .section-4 .bottom-list {
    margin: 0 15px 30px;
    padding: 30px 0 30px;
  }
  .section-4 .bottom-list .text {
    font-size: 16px;
  }
  .section-4 .bottom-list .text-list {
    font-size: 12px;
  }

  .section-5 {
    padding: 35px 0 40px;
  }
  .section-5 .title-text {
    margin-bottom: 15px;
  }
  .section-5 .small-text {
    margin-bottom: 25px;
  }
  .section-5 .big-img {
    width: 70%;
    margin: 30px auto;
  }
  .section-5 .desc {
    font-size: 18px;
  }

  .section-6 {
    padding: 30px 0 30px;
  }
  .section-6 .title-text {
    margin-bottom: 15px;
  }

  .section-7 {
    padding: 40px 0 86px;
  }
  .section-7 .title-text {
    margin-bottom: 15px;
  }
  .section-7 .small-text {
    margin-bottom: 30px;
  }
  .section-7 .bottom-list {
    margin: 0 15px;
    text-align: center;
  }
  .section-7 .bottom-item {
    width: 33.33333%;
    margin-bottom: 20px;
  }
  .section-7 .bottom-item .text {
    height: 48px;
    font-size: 14px;
  }
  .section-7 .bottom-item .text span {
    padding: 0;
  }
}
@media screen and (max-width: 414px) {
  .title-text {
    font-size: 20px;
    line-height: 32px;
  }

  .page-title {
    font-size: 32px;
  }

  .section-1 {
    padding: 20px 0;
  }
  .section-1 .big-img {
    margin: 10px 40px 5px;
  }

  .section-2 .title-text {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .section-2 .small-text {
    font-size: 18px;
  }

  .section-3 .small-text {
    margin-bottom: 38px;
  }
  .section-3 .arrow {
    width: 24px;
    height: 37px;
  }

  .section-4 {
    padding: 30px 0 30px;
    background-position: center top;
  }
  .section-4 .top-list {
    margin: 0 15px 20px;
  }
  .section-4 .top-list .text {
    margin-bottom: 10px;
  }
  .section-4 .top-item {
    width: 48%;
    margin-right: 4% !important;
    margin-bottom: 25px;
  }
  .section-4 .top-item:nth-child(2n) {
    margin-right: 0% !important;
  }
  .section-4 .text-box {
    height: 95px;
    padding: 10px 0;
  }
  .section-4 .pro-img {
    margin: 40px auto;
  }
  .section-4 .bottom-title {
    padding-top: 100px;
    margin-bottom: 20px;
  }
  .section-4 .list-top-item {
    width: 50%;
    margin-bottom: 15px;
  }
  .section-4 .section-4 .arrow-down, .section-4 .section-4 .arrow-up {
    width: 20px;
    height: 31px;
  }
  .section-4 .list-bottom {
    text-align: left;
    font-size: 0;
  }
  .section-4 .list-bottom-item {
    display: inline-block;
    float: none;
    width: 50%;
    height: 220px;
    vertical-align: top;
  }
  .section-4 .bottom-list {
    padding: 30px 15px;
  }

  .section-5 {
    padding: 30px 0 30px;
  }
  .section-5 .small-text {
    margin-bottom: 20px;
  }
  .section-5 .big-img {
    margin: 25px auto;
  }
  .section-5 .desc {
    font-size: 16px;
  }

  .section-6 {
    padding: 30px 0 30px;
  }
  .section-6 .small-text {
    margin-bottom: 30px;
  }

  .section-7 {
    padding: 30px 0 56px;
  }
  .section-7 .small-text {
    margin-bottom: 30px;
  }
  .section-7 .bottom-list {
    margin: 0 15px;
    text-align: center;
  }
  .section-7 .bottom-item {
    width: 33.33333%;
    margin-bottom: 20px;
  }
  .section-7 .bottom-item .text {
    height: 48px;
    font-size: 12px;
    margin-bottom: -6px;
  }
  .section-7 .bottom-item .text span {
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 375px) {
  .page-title {
    font-size: 28px;
    line-height: 36px;
  }

  .section-1 {
    padding: 20px 0;
  }
}
@media screen and (max-width: 320px) {
  .title-text {
    line-height: 28px;
  }

  .page-subnav .left {
    line-height: 36px;
  }

  .section-1 .thumb-list .thumb-item {
    width: 60px;
    height: 54px;
  }

  .section-3 .mid-list .icon {
    width: 50px;
  }

  .section-4 {
    padding: 20px 0 30px;
  }
  .section-4 .small-text {
    margin-bottom: 10px;
  }
  .section-4 .bg-img {
    width: 260px;
  }

  .section-5 .top {
    width: 290px;
    margin-left: -145px;
  }

  .section-6 {
    background-position: center 160px;
  }
  .section-6 .bottom-list {
    width: 290px;
  }
  .section-6 .bottom-item .icon {
    width: 40px;
  }

  .section-7 .bottom-item .text {
    margin-bottom: -12px;
  }
  .section-7 .bottom-item .text span {
    left: 0;
    right: 0;
  }
}
