/* index.html css */

/* 导航部分 */
html {
    font-family: Arial, '微软雅黑', sans-serif;
}
.page-content {
    overflow: hidden;
}
.title-text {
    font-size: 36px;
    line-height: 67px;
    text-align: center;
    color: #323232;
}
.white {
    color: #fff;
}
.small-text {
    font-size: 18px;
    line-height: 34px;
    text-align: center;
}

.page-title {
    font-size: 42px;
    color: #35c0bb;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 42px;
    &-text {
        width: 100%;
        max-width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-subnav {
    background-color: #f7f7f7;
    line-height: 50px;
    &-content {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .left {
        float: left;
        font-size: 24px;
        color: #333;
    }
    .right {
        float: right;
    }
    .link {
        display: inline-block;
        padding: 0 14px;
        color: #333;
    }
    .link.active {
        color: #35c0bb;
    }
}
img {
    display: block;
    max-width: 100%;
}
.m {
    display: none;
}

/* 正文部分 */
.page-content {
    background-color: #fff;
}
.section-box {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.section-1 {
    overflow: hidden;
    padding: 40px 0;
    .left {
        float: left;
        width: 50%;
    }
    p {
        margin-bottom: 20px;
        font-size: 18px;
        color: #2f2f2f;
    }
    .text-title {
        padding-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
    }
    .list {
        padding-left: 18px;
        list-style-type: disc;
    }
    .list p {
        margin: 0;
    }
    .right {
        float: right;
        width: 36%;
        margin-left: 14%;
    }
    .big-img {
        margin: 85px 0 70px;
        height: 220px;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .thumb-list {
        font-size: 0;
    }
    .thumb-list li {
        display: inline-block;
        width: 97px;
        height: 87px;
        margin: 0 5px 10px 0;
        border: 1px solid #e5e5e5;
        overflow: hidden;
        cursor: pointer;
        &.active {
            border-color: #0d58ca;
        }
    }
    .thumb-list img {
        display: block;
        width: 100%;
    }
}

.section-2 {
    position: relative;
    background: #f4f4f4;
    .title-text {
        margin-bottom: 30px;
        text-align: center;
    }
    .input-img {
        width: 380px;
        margin: auto;
    }
    .top {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50px;
    }
}

.section-3 {
    padding: 26px 0 96px;
    .title-text {
        margin-bottom: 20px;
    }
    .mid-img {
        padding-top: 20px;
        width: 80%;
        margin: auto;
        margin-bottom: 85px;
    }
    .bottom-list {
        position: relative;
        padding: 54px 22px 45px;
        background: #f2f2f2;
        border-radius: 16px;
        &-item {
            float: left;
            width: 11.111%;
            img {
                width: 84%;
                margin: 0 8%;
            }
        }
        .arrow-left, .arrow-right {
            position: absolute;
            display: inline-block;
            width: 30px;
            height: 30px;
            top: 50%;
            margin-top: -15px;
            background: url('../RJ-img/c-01.png') center/100% no-repeat;
        }
        .arrow-left {
            left: 0;
            margin-left: -15px;
        }
        .arrow-right {
            right: 0;
            margin-right: -15px;
        }
        .arrow-top {
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            top: -36px;
            left: 50%;
            margin-left: -18px;
            border-color: transparent transparent #f2f2f2 transparent;
            border-width: 18px;
            border-style: solid;
        }
        .arrow-blue {
            display: block;
            margin: 11px auto 14px;
            width: 8px;
            height: 5px;
            background: url('../RJ-img/c-02.png') center/100% no-repeat;
        }
        .item-text {
            font-size: 14px;
            color: #97a0b4;
            text-align: center;
        }
    }
}

.section-4 {
    padding: 40px 0 34px;
    background-color: #f3f3f3;
    .title-text {
        color: #4b5468;
        margin-bottom: 70px;
    }
}

.section-5 {
    padding: 40px 0 50px;
    background-color: #f7f7f7;
    .title-text {
        color: #4b5468;
    }
    .small-text {
        margin-bottom: 70px;
        color: #7c7e83;
    }
}

.section-6 {
    padding: 40px 0 95px;
    background: #dbdbdb;
    .title-text {
        color: #4b5468;
    }
    .small-text {
        color: #7c7e83;
    }
    .input-img {
        width: 80%;
        margin: 25px auto;
        max-width: 650px;
    }
    .img {
        width: 88.6%;
        max-width: 1700px;
        margin: auto;
    }
}

.section-7 {
    position: relative;
    background: #e9e9e9;
    .section-box {
        position: absolute;
        top: 0;
        left: 50%;
        padding-top: 40px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .title-text {
        padding-top: 140px;
        color: #4b5468;
    }
}

@media screen and (max-width: 1680px){
    
}

@media screen and (max-width: 1440px){
    
}

@media screen and (max-width: 1280px){
    .section-box {
        max-width: 1000px;
    }
    .page-subnav {
        &-content {
            max-width: 1000px;
        }
    }
}

@media screen and (max-width: 1024px){
    .page-title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-text {
        font-size: 32px;
        line-height: 56px;
    }
    .section-1 {
        .right {
            float: right;
            width: 44%;
            margin-left: 6%;
        }
    }
    .section-2 {
        .title-text {
            margin-bottom: 20px;
        }
        .input-img {
            width: 380px;
        }
    }
    .section-3 {
        padding: 26px 0 80px;
        .bottom-list {
            padding: 44px 19px 40px;
            margin: 0 40px;
        }
    }
    .section-4 {
        .bg-img {
            width: 80%;
            margin: auto;
        }
    }
    .section-5 {
        .title-text {
            width: 70%;
            margin: auto;
        }
        .small-text {
            width: 70%;
            margin: auto;
        }
    }
    .section-7 {
        .title-text {
            padding-top: 36px;
        }
    }
}

@media screen and (max-width: 768px){
    .title-text {
        font-size: 28px;
        line-height: 50px;
    }
    .small-text {
        font-size: 16px;
        line-height: 30px;
    }
    .page-title {
        font-size: 38px;
    }

    .page-subnav {
        line-height: 46px;
        &-content {
            padding: 0 15px;
            width: auto;
        }
        .right {
            width: auto;
            float: none;
            text-align: center;
        }
    }

    .m {
        display: block;
    }

    .pc {
        display: none;
    }
    
    .section-1 {
        .left {
            float: none;
            width: auto;
            padding: 0 15px;
        }
        p {
            margin-bottom: 15px;
            font-size: 16px;
        }
        .text-title {
            padding-top: 15px;
            font-size: 18px;
        }
        .right {
            float: none;
            width: auto;
            margin-left: 0;
        }
        .big-img {
            margin: 35px 0 30px;
        }
        .thumb-list {
            text-align: center;
        }
    }
    
    .section-2 {
        .title-text {
            margin-bottom: 15px;
        }
        .input-img {
            width: 320px;
            margin: auto;
        }
        .top {
            top: 30px;
        }
    }
    
    .section-3 {
        padding: 25px 0 60px;
        .title-text {
            margin-bottom: 15px;
        }
        .mid-img {
            margin-bottom: 60px;
        }
        .bottom-list {
            padding: 30px 50px;
            margin: 0 35px;
            &-item {
                float: left;
                width: 33.3333%;
                margin-bottom: 45px;
                img {
                    width: 80%;
                    margin: 0 10%;
                }
            }
        }
    }
    
    .section-4 {
        padding: 25px 0 34px;
        .title-text {
            width: 70%;
            margin: auto;
            margin-bottom: 0;
        }
        .bg-img {
            width: 100%;
        }
    }
    
    .section-5 {
        padding: 25px 0 50px;
        .small-text {
            margin-bottom: 50px;
            color: #7c7e83;
        }
    }
    
    .section-6 {
        padding: 25px 0 75px;
        .small-text {
            margin-bottom: 50px;
        }
        .input-img {
            margin: 20px auto;
        }
        .small-text {
            margin-bottom: 10px;
        }
    }
    
    .section-7 {
        padding-top: 20px;
        .section-box {
            padding-top: 25px;
        }
        .title-text {
            padding-top: 20px;
            color: #4b5468;
        }
    }
}

@media screen and (max-width: 480px){
    .title-text {
        font-size: 24px;
        line-height: 40px;
    }
    .small-text {
        font-size: 14px;
        line-height: 26px;
    }
    .page-title {
        font-size: 34px;
    }

    .page-subnav {
        .left {
            line-height: 40px;
        }
    }
    
    .section-1 {
        padding: 25px 0;
        p {
            font-size: 14px;
        }
        .text-title {
            font-size: 16px;
        }
        .big-img {
            margin: 20px 0 15px;
        }
        .thumb-list {
            .thumb-item {
                width: 75px;
                height: 67px;
            }
        }
    }
    
    .section-2 {
        .title-text {
            margin-bottom: 10px;
        }
        .input-img {
            width: 240px;
        }
        .top {
            top: 15px;
        }
    }
    
    .section-3 {
        padding: 25px 0 60px;
        .title-text {
            margin-bottom: 10px;
        }
        .mid-img {
            margin-bottom: 40px;
        }
        .bottom-list {
            padding: 25px 40px;
            &-item {
                margin-bottom: 35px;
            }
        }
    }
    
    .section-4 {
        padding: 25px 0 30px;
        .title-text {
            width: 70%;
            margin: auto;
        }
    }
    
    .section-5 {
        padding: 25px 0 30px;
        .small-text {
            margin-bottom: 40px;
        }
    }
    
    .section-6 {
        padding: 25px 0 40px;
        .input-img {
            margin: 10px auto;
        }
        .small-text {
            margin-bottom: 0;
        }
    }
    
    .section-7 {
        padding-top: 80px;
        .section-box {
            padding-top: 25px;
        }
        .title-text {
            padding-top: 20px;
            color: #4b5468;
        }
    }
}

@media screen and (max-width: 414px){
    .title-text {
        font-size: 20px;
        line-height: 32px;
    }
    .page-title {
        font-size: 32px;
    }
    
    .section-1 {
        padding: 20px 0;
        .big-img {
            margin: 10px 0 5px;
        }
    }
    
    .section-2 {
        .title-text {
            margin-bottom: 5px;
        }
        .input-img {
            width: 200px;
        }
        .top {
            top: 10px;
        }
    }
    
    .section-3 {
        padding: 20px 0 40px;
        .mid-img {
            margin-bottom: 25px;
        }
        .bottom-list {
            padding: 20px 30px;
            &-item {
                margin-bottom: 30px;
            }
        }
    }
    
    .section-4 {
        padding: 20px 0 25px;
        .title-text {
            width: 80%;
        }
    }
    
    .section-5 {
        padding: 20px 0 25px;
        .title-text {
            width: 80%;
        }
        .small-text {
            margin-bottom: 30px;
            width: 85%;
        }
    }
    
    .section-6 {
        padding: 20px 0 30px;
    }
}

@media screen and (max-width: 375px){
    .page-title {
        font-size: 28px;
        line-height: 36px;
    }
    
    .section-1 {
        padding: 20px 0;
        .big-img {
            margin: 10px 0 5px;
        }
    }
    
    .section-2 {
        .input-img {
            width: 160px;
        }
    }
    
    .section-3 {
        .small-text {
            padding: 0 15px;
        }
        .mid-img {
            margin-bottom: 25px;
        }
        .bottom-list {
            padding: 20px 20px;
        }
    }
}

@media screen and (max-width: 320px){
    .title-text {
        line-height: 28px;
    }

    .page-subnav {
        .left {
            line-height: 36px;
        }
    }
    
    .section-1 {
        .big-img {
            margin: 0;
        }
        .thumb-list {
            .thumb-item {
                width: 60px;
                height: 54px;
            }
        }
    }
    
    .section-2 {
        .title-text {
            margin-bottom: 0;
        }
        .input-img {
            width: 120px;
        }
    }

    .section-6 {
        .title-text {
            padding: 0 15px;
        }
    }
}