@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0 none;
}
input {
  vertical-align: middle;
}
em {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  position: relative;
  color: #333;
  background-color: #fff;
}
html, body {
  height: 100%;
}
a {
    text-decoration: none;
    color: #333;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}
._fl {
  float: left;
}
._fr {
  float: right;
}
.none {
  display: none;
}

/*-------common---------*/
.t-mobile {
  display: none;
}
/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}
/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* item主体内容区 */
.t-content {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  margin: 0 80px;
}
/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}
.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}
.t-img img {
  width: auto;
  max-width: 100%;
}
a:hover {
  text-decoration: none;
}
a.link {
  display: inline-block;
  color: #333;
}
a.link-btn {
  display: inline-block;
  padding: 9px 24px;
  font-size: 24px;
  line-height: 1;
  border: 2px solid #333;
  color: #333;
  border-radius: 8px;
  &.blue {
    border: 2px solid #2797ef;
    color: #2797ef;
  }
  &.cyan {
    border: 2px solid #2cafbc;
    color: #fff;
  }
}

/*--------自定义样式--------*/

/*-------- body --------*/
.mask {
  display: none;
  position: fixed;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  z-index: 11;
  &.open {
    display: table-cell;
  }
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
  .box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    text-align: left;
    .close {
      display: block;
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      background: url("../RJ-img/mask-close.png") center center/100% 100% no-repeat;
      z-index: 12;
      cursor: pointer;
    }
    .top {
      padding-top: 25px;
      text-align: left;
      .title {
        display: inline-block;
        margin: 0;
        padding-top: 0;
        width: 170px;
        line-height: 50px;
        font-size: 24px;
        text-align: center;
        color: #fff;
        -webkit-box-shadow: 0 2px 10px rgba(38, 149, 244, .4);
        -moz-box-shadow: 0 2px 10px rgba(38, 149, 244, .4);
        box-shadow: 0 2px 10px rgba(38, 149, 244, .4);
      }
    }
    .left {
      float: left;
      width: 50%;
      height: 100%;
      background-color: #f6f6f6;
      .title {
        background-color: #a4a4a4;
      }
      img {
        max-width: 412px;
      }
      .sub__title {
        span {
          background-color: #a4a4a4;
        }
      }
    }
    .right {
      float: left;
      width: 50%;
      height: 100%;
      .title {
        background-color: #439bff;
      }
      img {
        width: 80%;
        max-width: 306px;
      }
      .float__img {
        position: absolute;
        width: 230px;
        top: 17px;
        right: 40px;
      }
      .sub__title {
        span {
          background-color: #ff9630;
        }
      }
    }
    .img {
      position: relative;
      padding: 17px 70px;
      img {
        display: block;
        width: 100%;
        &.round {
          border-radius: 14px;
        }
        &.shadow__gray {
          -webkit-box-shadow: 0 0 rgba(0, 0, 0, .4);
          -moz-box-shadow: 0 0 rgba(0, 0, 0, .4);
          box-shadow: 0 0 10px 8px rgba(0, 0, 0, .2);
        }
        &.shadow__blue {
          -webkit-box-shadow: 0 2px 10px rgba(38, 149, 244, .4);
          -moz-box-shadow: 0 2px 10px rgba(38, 149, 244, .4);
          box-shadow: 0 2px 10px rgba(38, 149, 244, .4);
        }
      }
    }
    .title__text {
      padding: 35px 0 10px 0;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
    .top__text, .bottom__text {
      padding-left: 70px;
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 24px;
    }
    .sub__title {
      padding-left: 70px;
      span {
        display: inline-block;
        width: 50px;
        line-height: 20px;
        text-align: center;
        font-size: 16px;
        border-radius: 10px;
        color: #fff;
      }
    }
  }
}
.mask2 {
  .left {
    padding-bottom: 22px;
  }
  .box {
    .right {
      .img {
        padding-right: 40px;
      }
      img {
        max-width: 400px;
      }
    }
  }
}
.mask3 {
  .left {
    padding-bottom: 35px;
    .top__text {
      margin-bottom: 72px;
    }
  }
  .box {
    .right {
      img {
        max-width: 412px;
      }
    }
  }
}
.mask4 {
  .box {
    .left {
      img {
        max-width: 370px;
        margin-bottom: -30px;
      }
    }
    .box {
      .right {
        img {
          max-width: 412px;
        }
      }
    }
  }
}
.t-main {
  .title {
    padding-top: 50px;
    margin-bottom: 20px;
    img {
      display: block;
      max-width: 100%;
    }
  }
}

.sec1 {
  position: relative;
  background: url("../RJ-img/slide1.jpg") center center no-repeat;
  background-size: cover;
  .pepole {
    position: absolute;
    height: 100%;
    top: 0;
    right: 8%;
  }
  .title {
    display: inline-block;
    width: 90%;
    max-width: 730px;
    padding: 145px 0 65px 0;
    margin: 0;
  }
  .btn__box {
    padding-left: 35px;
    margin-bottom: 190px;
    .link-btn {
      margin-right: 15px;
    }
  }
}

.t-page-nav {
  background-color: #fff;
  &.on {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }
}
.t-nav-list {
  line-height: 60px;
  li {
    float: left;
    width: 16.666666%;
    max-width: 190px;
    line-height: 60px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    &:hover, &.active {
      background-color: #0196ab;
      color: #fff;
    }
  }
}

.sec11 {
  background: #bdeff5;
  .video {
    display: block;
    width: 90%;
    max-width: 920px;
    margin: auto;
    margin-bottom: 75px;
    img {
      display: block;
      width: 100%;
    }
  }
}

.sec2 {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e7f3ff;
  overflow: hidden;
  .list {
    padding-bottom: 110px;
    text-align: center;
  }
  .item {
    display: block;
    position: relative;
    float: left;
    width: 32%;
    margin-right: 1.9%;
    padding-top: 50px;
    text-align: center;
    background: -webkit-linear-gradient(#2c91f5, #00aae7);
    background: -o-linear-gradient(#2c91f5, #00aae7);
    background: -moz-linear-gradient(#2c91f5, #00aae7);
    background: linear-gradient(#2c91f5, #00aae7);
    &:last-child {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .circle__inside {
      width: 107px;
      height: 107px;
      margin: auto;
      border: 12px solid #2297f2;    
      background-color: #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 rgba(0, 0, 0, .4);
      -moz-box-shadow: 0 0 rgba(0, 0, 0, .4);
      box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
      img {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-top: 24px;
      }
    }
    .item__title {
      position: relative;
      width: 100%;
      margin-bottom: 15px;
      padding-top: 45px;
      font-size: 24px;
      line-height: 1;
      color: #fff;
    }
    .bottom {
      height: 274px;
      padding: 0 35px;
      background: url("../RJ-img/slide2-01.png") center center/100% 100% no-repeat;
      p {
        padding-bottom: 60px;
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
      }
    }
    .line {
      width: 100%;
      height: 1px;
      margin-bottom: 40px;
      background-color: #fff;
      .left, .right {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: -7px;
        background-color: #fff;
        border-radius: 50%;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
  }
}

.sec3 {
  .t-content {
    overflow: visible;
    margin-bottom: 110px;
  }
  .title {
    margin-bottom: 34px;
  }
  .list {
    margin: 0 20px;
    padding-bottom: 70px;
    -webkit-box-shadow: 0 0 50px 0 rgba(38, 149, 244, .2);
    -moz-box-shadow: 0 0 50px 0 rgba(38, 149, 244, .2);
    box-shadow: 0 0 50px 0 rgba(38, 149, 244, .2);
  }
  .item {
    float: left;
    width: 31%;
    margin-left: 2%;
    padding-top: 55px;
    &:last-child {
      margin-right: 0;
    }
    img {
      display: block;
      margin: auto;
      height: 120px;
    }
    .item__title {
      padding: 60px 0 25px 0;
      font-size: 24px;
      line-height: 1;
      text-align: center;
    }
    .text {
      padding-top: 35px;
      line-height: 24px;
      border-top: 4px dotted rgba(0, 0, 0, .2);
    }
  }
}

.sec4 {
  background: #e7f3ff;
  margin-bottom: 70px;
  .title {
    margin-bottom: 15px;
  }
  .t-intro {
    line-height: 24px;
  }
  .text__title {
    padding: 20px 0 30px 0;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    .color {
      color: #2695f4;
    }
  }
  .list {
    .item {
      float: left;
      width: 25%;
      height: 400px;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      cursor: pointer;
    }
    .item1 {
      background-image: url("../RJ-img/slide4-01.jpg");
    }
    .item2 {
      background-image: url("../RJ-img/slide4-02.jpg");
    }
    .item3 {
      background-image: url("../RJ-img/slide4-03.jpg");
    }
    .item4 {
      background-image: url("../RJ-img/slide4-04.jpg");
    }
    .text {
      padding-top: 15px;
      margin: 0 20px;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
  }
  .item__title {
    padding-top: 55px;
    text-align: center;
    h3 {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 1;
      color: #fff;
    }
    .line {
      display: inline-block;
      width: 60px;
      height: 2px;
      background-color: #fff;
    }
  }
}

.sec5 {
  .t-content {
    overflow: visible;
    margin-bottom: 70px;
  }
  .title {
    margin-bottom: 50px;
  }
  .list {
    width: 100%;
    margin: 0 20px;
  }
  .item {
    float: left;
    height: 490px;
    width: 31%;
    margin-right: 2%;
    border-top: 4px solid #2297f2;
    text-align: center;
    -webkit-box-shadow: 0 10px 30px 0 rgba(38, 149, 244, .4);
    -moz-box-shadow: 0 10px 30px 0 rgba(38, 149, 244, .4);
    box-shadow: 0 10px 30px 0 rgba(38, 149, 244, .4);
    &:last-child {
      margin-right: 0;
    }
    .t-img {
      display: inline-block;
      padding-top: 67px;
    }
    .item__title {
      font-size: 24px;
      line-height: 1;
      padding: 65px 0 20px 0;
      color: #2297f2;
    }
    .text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.sec6 {
  background: #e7f3ff;
  .t-content {
    overflow: visible;
    margin-bottom: 85px;
  }
  .title {
    margin-bottom: 30px;
  }
  .sec6__swiper {
    position: relative;
    max-width: 1020px;
    margin: auto;
    -webkit-box-shadow: 0 0 30px 0 rgba(38, 149, 244, .4);
    -moz-box-shadow: 0 0 30px 0 rgba(38, 149, 244, .4);
    box-shadow: 0 0 30px 0 rgba(38, 149, 244, .4);
  }
  .sec6__swiper-slide1 {
    background: url("../RJ-img/slide6-02.png") right center/auto 100% no-repeat;
  }
  .sec6__swiper-slide2 {
    background: url("../RJ-img/slide6-04.png") right center/auto 100% no-repeat;
  }
  .swiper-button-prev, .swiper-button-next {
    display: inline-block;
    width: 79px;
    height: 79px;
    border: 1px solid #2297f2;
    border-radius: 3px;
  }
  .swiper-button-prev {
    left: -20px;
    background: #fff url("../RJ-img/slide6-icon-01.png") center center/19px 24px no-repeat;
  }
  .swiper-button-next {
    right: -20px;
    background: #fff url("../RJ-img/slide6-icon-02.png") center center/19px 24px no-repeat;
  }
  .content {
    padding: 75px 35px 50px 35px;
  }
  .left {
    position: relative;
    float: left;
    width: 52%;
    .t-img {
      width: 145px;
      margin: 70px 0 30px 0;
      border: 5px solid #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 20px 0 rgba(38, 149, 244, .3);
      -moz-box-shadow: 0 0 20px 0 rgba(38, 149, 244, .3);
      box-shadow: 0 0 20px 0 rgba(38, 149, 244, .3);
    }
    .line {
      position: absolute;
      width: 111px;
      height: 2px;
      top: 240px;
      right: 45px;
      background-color: #2297f2;
    }
    .circle {
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      right: -17px;
      top: -8px;
      border: 2px solid #2297f2;
      border-radius: 50%;
    }
  }
  .right {
    float: left;
    width: 48%;
    .t-img {
      display: block;
      width: 100%;
      max-width: 680px;
    }
  }
  .item__title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1;
  }
  .text {
    line-height: 24px;
  }
}

.sec7 {
  .t-img {
    position: absolute;
  }
  min-height: 686px;
  background: url("../RJ-img/slide7-01.png") center bottom/ 1200px auto no-repeat;
}

.sec8 {
  background: #e7f3ff;
  .t-content {
    padding: 0 20px;
  }
  .title {
    margin-bottom: 10px;
  }
  .content {
    margin-bottom: 50px;    
  }
  .item__title {
    font-size: 24px;
    line-height: 1;
    text-align: center;
  }
  .title__text {
    margin-bottom: 20px;
    line-height: 24px;
    text-align: center;
  }
  .left, .right {
    height: 100%;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
    background: #fff;
  }
  .left {
    position: relative;
    margin-bottom: 20px;
  }
  .right {
    position: relative;
  }
  .left__title, .right__title {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    writing-mode: tb-rl;
    font-size: 20px;
    line-height: 85px;
    text-align: center;
    color: #25c399;
  }
  .right__title {
    color: #2695f4;
  }
  .left__content {
    padding-left: 85px;
    padding-right: 20px;
  }
  .top__title {
    font-size: 0;
    h3 {
      float: left;
      padding: 0 20px;
      font-size: 20px;
      line-height: 34px;
      background-color: #25c399;
      color: #fff;
    }
    .triangle, .triangle__shadow {
      display: inline-block;
      width: 0;
      height: 0;
      border-width: 34px 0 0 32px;
      border-style: solid;
      border-color: transparent transparent transparent #25c399;
      position: relative;
    }
    .shadow {
      display: inline-block;
      width: 15px;
      height: 34px;
      margin-left: -32px;
      background-color: rgba(37, 195, 153, .4);
    }
    .triangle__shadow {
      width: 10px;
      border-width: 34px 0 0 32px;
      border-color:transparent transparent transparent rgba(37, 195, 153, .4);
    }
  }
  .top {
    float: left;
    width: 48%;
    margin-right: 4%;
    padding-top: 20px;
  }
  .middle {
    float: left;
    padding-top: 20px;
    width: 48%;
  }
  .top, .middle {
    .text__box {
      height: 240px;
    }
  }
  .top, .middle, .bottom {
    margin-bottom: 20px;
  }
  .text__box {
    padding: 0 25px;
    border: 1px solid #daf6e8;
    p {
      padding-bottom: 25px;
      font-size: 16px;
    }
    .t-img {
      display: block;
      width: 100%;
    }
  }
  .bottom {
    .item {
      float: left;
      width: 30%;
      margin-right: 5%;
      &:last-child {
        margin-right: 0;
      }
    }
    .title {
      padding-top: 20px;
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 20px;
      color: #16c294;
    }
    .line {
      display: inline-block;
      width: 4px;
      height: 20px;
      margin-right: 10px;
      vertical-align: middle;
      background-color: #16c294;
    }
    .text {
      width: 100%; 
    }
  }
  .right__content {
    padding: 30px 20px 30px 85px;
    font-size: 0;
    .list {
      font-size: 0;
    }
    .item {
      display: inline-block;
      width: 23%;
    }
    .margin__right {
      margin-right: 2.666666%;
    }
    .t-img {
      display: block;
      width: 100%;
    }
    .box {
      display: block;
      border: 1px solid #2695f4;
    }
    .bottom {
      font-size: 16px;
      line-height: 35px;
      margin-bottom: 0;
      color: #fff;
      text-align: center;
      background-color: #2695f4;
    }
  }
}

.sec9 {
  .t-content {
    margin-bottom: 50px;
    overflow: visible;
  }
  .title {
    margin-bottom: 68px;
  }
  .list {
    margin: 0 20px;
  }
  .item {
    float: left;
    width: 23.5%;
    margin-right: 2%;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
  .box {
    position: relative;
    min-height: 563px;
    border: 1px solid #e7e7e7;
  }
  .t-img {
    display: block;
    width: 100%;
  }
  .item__title {
    padding: 15px 15px 0 15px;
    min-height: 65px;
    font-size: 24px;
    line-height: 1;
  }
  .text__list {
    padding:  0 15px;
  }
  .text__item {
    margin-bottom: 25px;
  }
  .button {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 62px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #20b470;
    .icon {
      display: inline-block;
      width: 18px;
      height: 19px;
      background: url("../RJ-img/slide9-05.png") center center/100% 100% no-repeat;
    }
  }
}

.sec10 {
  background: #e7f3ff;
  .content {
    padding-top: 100px;
    margin-bottom: 80px;
  }
  .left {
    float: left;
    width: 23%;
    margin-right: 7%;
    .num {
      display: inline-block;
      width: 40px;
    }
    .item {
      position: relative;
      width: 100%;
      line-height: 45px;
      font-size: 16px;
      color: #999;
      cursor: pointer;
      &.active {
        font-size: 22px;
        color: #2098f2;
        .line {
          display: block;
        }
      }
    }
    .line {
      display: none;
      position: absolute;
      width: 111px;
      height: 2px;
      top: 24px;
      right: 0;
      background-color: #2297f2;
      z-index: 1;
    }
    .circle {
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      right: -17px;
      top: -8px;
      border: 2px solid #2297f2;
      border-radius: 50%;
    }
  }
  .right {
    position: relative;
    float: left;
    width: 70%;
    min-height: 484px;
    -webkit-box-shadow: 0 0 50px 0 rgba(38, 149, 244, .4);
    -moz-box-shadow: 0 0 50px 0 rgba(38, 149, 244, .4);
    box-shadow: 0 0 50px 0 rgba(38, 149, 244, .4);
    background: #fff;
    .big__img {
      float: left;
      width: 464px;
      height: 464px;
      margin: -89px 0 0 -145px;
      overflow: hidden;
      img {
        display: none;
        width: 100%;
        height: 100%;
        &.active {
          display: block;
        }
      }
    }
    .img__list__box {
      padding: 30px;
      height: 100%;
      overflow: hidden;
    }
    .list {
      display: none;
      &.active {
        display: block;
      }
    }
    .item {
      float: left;
      width: 33.3333%;
      min-height: 170px;
      font-size: 0;
      text-align: center;
      line-height: 115px;
      img {
        display: inline-block;
        max-height: 115px;
        max-width: 100%;
      }
      .text {
        padding: 25px 0;
        min-height: 2.4em;
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .t-main {
    .title {
      margin: 0 20px 20px 20px;
    }
  }
  .sec1 {
    .pepole {
      right: 8%;
    }
    .title {
      max-width: 600px;
      padding: 120px 0 50px 0;
    }
    .btn__box {
      margin-bottom: 160px;
    }
  }
  .sec2 {
    .list {
      margin: 0 20px;
    }
  }
  .sec4 {
    .list {
      margin: 0 20px;
    }
  }
  .sec6 {
    .swiper-button-prev, .swiper-button-next {
      width: 70px;
      height: 70px;
    }
    .swiper-button-prev {
      left: 5px;
    }
    .swiper-button-next {
      right: 5px;
    }
  }
  .sec7 {
    background-size: 1160px auto;
  }
  .sec8 {
    .t-content {
      width: auto;
    }
    .title {
      margin: 0 0 10px 0;
    }
  }
  .sec10 {
    background: #e7f3ff;
    .content {
      padding-top: 100px;
      margin: 0 20px 80px 20px;
    }
    .right {
      .big__img {
        width: 400px;
        height: 400px;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .sec1 {
    .pepole {
      right: 8%;
    }
    .title {
      max-width: 500px;
      padding: 100px 0 40px 0;
    }
    .btn__box {
      margin-bottom: 130px;
    }
  }
  .sec7 {
    .t-img {
      position: absolute;
    }
    min-height: 500px;
    background: url("../RJ-img/slide7-01.png") center bottom/ 90% auto no-repeat;
  }
  .sec10 {
    .right {
      .big__img {
        width: 320px;
        height: 320px;
        margin: -70px 0 0 -105px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }
  .t-pc {
    display: none;
  }
  .t-mobile {
    display: block;
  }
  .t-cont-item {
    height: auto;
  }
  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .t-main-title {
    font-size: 24px;
    padding-top: 35px;
    margin: 0 10px;
  }
  .t-sub-title {
    font-size: 18px;
  }
  .t-intro,
  .t-intro p {
    font-size: 14px;
    line-height: 20px;
  }
  /*--------自定义样式--------*/
  .t-main {
    .title {
      padding-top: 35px;
      margin: 0 0 20px 0;
      img {
        display: block;
        max-width: 100%;
      }
    }
  }
  .mask {
    .box {
      width: 90%;
      .content__box {
        overflow-y: scroll;
        max-height: 400px;
      }
      .close {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      .top {
        padding-top: 15px;
        text-align: left;
        .title {
          display: inline-block;
          width: 120px;
          line-height: 35px;
          font-size: 20px;
        }
      }
      .left {
        float: left;
        width: 100%;
        height: auto;
        img {
          max-width: 200px;
        }
      }
      .right {
        width: 100%;
        height: auto;
        img {
          max-width: 200px;
        }
        .float__img {
          width: 130px;
          right: 35px;
        }
      }
      .img {
        padding: 10px 50px;
        img {
          &.round {
            border-radius: 8px;
          }
        }
      }
      .title__text {
        padding: 25px 0 5px 0;
        font-size: 14px;
        line-height: 22px;
      }
      .top__text, .bottom__text {
        padding-left: 45px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
      }
      .sub__title {
        padding-left: 45px;
        span {
          font-size: 14px;
        }
      }
    }
  }
  .mask2 {
    .left {
      padding-bottom: 0;
    }
  }
  .mask3 {
    .left {
      padding-bottom: 0;
      .top__text {
        margin-bottom: 20px;
      }
    }
  }
  .mask4 {
    .left {
      img {
        margin-bottom: -20px;
      }
    }
  }
  .sec1 {
    min-height: auto;
    .pepole {
      position: static;
      width: 100%;
    }
    .title {
      width: 100%;
      padding: 30px 0 20px 0;
    }
    .btn__box {
      padding-left: 20px;
      margin-bottom: 50px;
      .link-btn {
        display: inline-block;
        padding: 7px 18px;
        font-size: 20px;
        border-radius: 6px;
        margin-right: 0;
      }
    }
  }

  .sec2 {
    .list {
      margin: 0;
      padding-bottom: 50px;
    }
    .item {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 20px;
      padding-top: 40px;
      .bottom {
        height: auto;;
      }
    }
  }

  .sec3 {
    .t-content {
      margin-bottom: 50px;
    }
    .content {
      width: 100%;
      height: auto;
    }
    .list {
      margin: 0;
    }
    .item {
      float: left;
      width: 100%;
      margin: 0;
      padding-top: 60px;
      img {
        display: block;
        margin: auto;
        height: 120px;
      }
      .item__title {
        padding: 50px 0 35px 0;
        font-size: 20px;
      }
      .text {
        margin: 0 20px;
        padding: 30px 0;
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .sec4 {
    .t-intro {
      margin-left: 20px;
      margin-right: 20px;
    }
    .text__title {
      font-size: 20px;
    }
    .list {
      margin: 0;
      .item {
        float: left;
        width: 100%;
        margin: 0 0 20px 0;
        height: 280px;
      }
      .text {
        font-size: 14px;
      }
    }
    .item__title {
      padding-top: 48px;
      h3 {
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }

  .sec5 {
    .t-content {
      margin-bottom: 50px;
    }
    .list {
      margin: 0;
    }
    .item {
      height: auto;
      width: 100%;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      .item__title {
        font-size: 20px;
      }
      .text {
        margin-bottom: 60px;
        font-size: 14px;
      }
      .t-img {
        padding-top: 56px;
        width: 150px;
      }
    }
  }

  .sec6 {
    .t-content {
      margin-bottom: 50px;
    }
    .title {
      margin-bottom: 30px;
    }
    .sec6__swiper {
      position: relative;
      width: 100%;
      height: auto;
      margin-left: 0;
    }
    .swiper-button-prev, .swiper-button-next {
      width: 40px;
      height: 40px;
      background-color: rgba(0, 0, 0, .4);
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
    .content {
      padding: 0;
    }
    .left {
      width: 100%;
      float: right;
      .t-img {
        display: block;
        margin: 40px auto 30px auto;
      }
    }
    .right {
      width: 100%;
      float: right;
      margin-bottom: 20px;
      .t-img {
        width: 80%;
        margin: auto;
      }
    }
    .item__title {
      font-size: 20px;
      text-align: center;
      color: #fff;
    }
    .text {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #fff;
    }
  }

  .sec7 {
    background: none;
    height: auto;
    min-height: auto;
    .t-mobile {
      img {
        display: block;
        width: 100%;
        animation: auto;
      }
    }
  }

  .sec8 {
    .t-content {
      padding: 0;
    }
    .item__title {
      padding: 0 20px;
      margin-bottom: 20px;
      font-size: 20px;
    }
    .title__text {
      font-size: 14px;
    }
    .content {
      height: auto;
    }
    .left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
    .right {
      width: 100%;
    }
    .left__title, .right__title {
      position: static;
      height: 60px;
      font-size: 20px;
      writing-mode: horizontal-tb;
    }
    .left__content {
      padding: 0 10px;
    }
    .top {
      .text__box {
        height: auto;
        p {
          min-height: 90px;
        }
        .t-img {
          margin-bottom: 10px;
        }
      }
    }
    .middle {
      padding-top: 20px;
      .text__box {
        height: auto;
        p {
          min-height: 90px;
        }
        .t-img {
          margin-bottom: 10px;
        }
      }
    }
    .text__box {
      padding: 0 10px;
      p {
        width: 100%;
        padding: 20px 0 20px 0;
        font-size: 14px;
      }
      .t-img {
        width: 100%;
        margin-left: 0;
      }
    }
    .top__title {
      h3 {
        padding: 0 5px;
        font-size: 14px;
        line-height: 28px;
      }
      .triangle, .triangle__shadow {
        border-width: 28px 0 0 24px;
      }
      .shadow {
        height: 28px;
        margin-left: -32px;
      }
      .triangle__shadow {
        border-width: 28px 0 0 24px;
      }
    }
    .bottom {
      .item {
        width: 100%;
        margin-right: 0;
      }
      .title {
        padding-top: 15px;
      }
      .line {
        height: 16px;
      }
      .text {
        width: 100%; 
        padding-top: 10px;
      }
    }
    .right__content {
      padding: 30px 20px;
      .item {
        width: 45%;
        margin-bottom: 40px;
        margin-right: 5%;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      .bottom {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }

  .sec9 {
    .list {
      margin: 0;
    }
    .item__title {
      font-size: 20px;
    }
    .text__item {
      p {
        font-size: 14px;
      }
    }
    .item {
      float: left;
      width: 100%;
      margin: 0 0 40px 0;
      height: auto;
      &:last-child {
        margin-right: 0;
      }
      .text__list {
        padding-bottom: 50px;
      }
    }
    .button {
      display: block;
      height: 50px;
      font-size: 20px;
      line-height: 50px;
    }
  }

  .sec10 {
    .content {
      margin: 0 0 50px 0;
      height: auto;
      padding-top: 20px;
    }
    .left {
      width: 100%;
      height: auto;
      margin-right: 0;
      .list {
        margin: 0 15px;
      }
      .num {
        display: inline-block;
        width: 30px;
      }
      .item {
        float: left;
        width: 50%;
        font-size: 16px;
        &.active {
          font-size: 20px;
          .line {
            display: none;
          }
        }
      }
    }
    .right {
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      .big__img {
        float: none;
        width: 300px;
        height: auto;
        margin: 20px auto;
        img {
          display: none;
          width: 100%;
          height: auto;
        }
      }
      .img__list__box {
        padding: 30px 20px;
        height: 100%;
        overflow: hidden;
      }
      .list {
        display: none;
      }
      .item {
        width: 50%;
        img {
          max-height: 100px;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
        .text {
          padding-top: 10px;
        }
      }
    }
  }

  .sec11 {
    .video {
      margin-bottom: 50px;
    }
  }

}
@media screen and (max-width: 320px) {
  .sec8 {
    .top {
      width: 100%;
      .text__box {
        height: auto;
        p {
          min-height: auto;
        }
      }
    }
    .middle {
      width: 100%;
      .text__box {
        height: auto;
        p {
          min-height: auto;
        }
      }
    }
    .top__title {
      h3 {
        padding: 0 3px;
        font-size: 12px;
      }
    }
  }
}
