@charset "UTF-8";
/* line 3, ../../2018-12-17scss/css.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
  color: #212121;
}

/* line 36, ../../2018-12-17scss/css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 40, ../../2018-12-17scss/css.scss */
img {
  border: 0 none;
}

/* line 43, ../../2018-12-17scss/css.scss */
input {
  vertical-align: middle;
}

/* line 46, ../../2018-12-17scss/css.scss */
em {
  font-weight: normal;
  font-style: normal;
}

/* line 50, ../../2018-12-17scss/css.scss */
ol,
ul {
  list-style: none;
}

/* line 54, ../../2018-12-17scss/css.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* line 63, ../../2018-12-17scss/css.scss */
body {
  position: relative;
}

/*-------common---------*/
/* line 70, ../../2018-12-17scss/css.scss */
.clearfix {
  zoom: 1;
}

/* line 73, ../../2018-12-17scss/css.scss */
.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

/* line 78, ../../2018-12-17scss/css.scss */
.fl {
  float: left;
}

/* line 81, ../../2018-12-17scss/css.scss */
.fr {
  float: right;
}

/* line 84, ../../2018-12-17scss/css.scss */
.none {
  display: none;
}

/* line 87, ../../2018-12-17scss/css.scss */
.text-left {
  text-align: left;
}

/* line 90, ../../2018-12-17scss/css.scss */
.text-right {
  text-align: right;
}

/* line 93, ../../2018-12-17scss/css.scss */
.text-center {
  text-align: center;
}

/* line 96, ../../2018-12-17scss/css.scss */
.none {
  display: none;
}

/* line 99, ../../2018-12-17scss/css.scss */
.font14 {
  font-size: 14px;
}

/* line 102, ../../2018-12-17scss/css.scss */
.font16 {
  font-size: 16px;
}

/* line 105, ../../2018-12-17scss/css.scss */
.font18 {
  font-size: 18px;
}

/* line 108, ../../2018-12-17scss/css.scss */
.mb20-lg {
  margin-bottom: 20px;
}

/* line 111, ../../2018-12-17scss/css.scss */
.mb40-lg {
  margin-bottom: 40px;
}

/* line 114, ../../2018-12-17scss/css.scss */
.mb50-lg {
  margin-bottom: 50px;
}

/* line 117, ../../2018-12-17scss/css.scss */
.line20 {
  line-height: 200%;
}

/* line 120, ../../2018-12-17scss/css.scss */
.img-block {
  display: block;
  width: 100%;
}

/* 主体容器 */
/* line 126, ../../2018-12-17scss/css.scss */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}

/* item统一背景样式 */
/* line 133, ../../2018-12-17scss/css.scss */
.t-main-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* item主体内容区 */
/* line 143, ../../2018-12-17scss/css.scss */
.t-content {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

/* 通用一级标题 */
/* line 150, ../../2018-12-17scss/css.scss */
.t-main-title {
  padding-top: 70px;
  margin: auto;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #000;
}

/* 通用二级标题 */
/* line 160, ../../2018-12-17scss/css.scss */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #000;
}

/* 通用文字 */
/* line 168, ../../2018-12-17scss/css.scss */
.t-intro,
.t-intro p {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000;
}

/* line 178, ../../2018-12-17scss/css.scss */
.section1 {
  background-image: url("../RJ-img/bg-1.jpg");
}
/* line 180, ../../2018-12-17scss/css.scss */
.section1 .section1__title {
  width: 87%;
}
/* line 183, ../../2018-12-17scss/css.scss */
.section1 .section1__subtitle {
  width: 50%;
  margin: 30px auto 70px;
  line-height: 81px;
  text-align: center;
  font-size: 34px;
  color: #fff;
  background: url("../RJ-img/t-sub-title1.png") center center/100% 100% no-repeat;
}
/* line 192, ../../2018-12-17scss/css.scss */
.section1 .section1__text_wrap {
  padding-bottom: 120px;
}
/* line 195, ../../2018-12-17scss/css.scss */
.section1 .section1__text {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

/* line 201, ../../2018-12-17scss/css.scss */
.section2 {
  background-image: url("../RJ-img/bg-2.jpg");
}
/* line 203, ../../2018-12-17scss/css.scss */
.section2 .section2__list {
  font-size: 0;
  text-align: center;
}
/* line 207, ../../2018-12-17scss/css.scss */
.section2 .section2__item {
  display: inline-block;
  width: 31%;
  min-width: 270px;
  height: 145px;
  position: relative;
  margin-top: 55px;
  margin-right: 3.2%;
  border: 1px solid #5bbbed;
  background-color: #d5eef5;
}
/* line 217, ../../2018-12-17scss/css.scss */
.section2 .section2__item:last-child {
  margin-right: 0;
}
/* line 221, ../../2018-12-17scss/css.scss */
.section2 .section2__icon {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  margin-left: -32px;
  top: -32px;
}
/* line 229, ../../2018-12-17scss/css.scss */
.section2 .section__icon {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  margin-left: -32px;
  top: -32px;
}
/* line 237, ../../2018-12-17scss/css.scss */
.section2 .section2__title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #0080cb;
}
/* line 244, ../../2018-12-17scss/css.scss */
.section2 .section2__title span {
  font-size: 10px;
  color: #0080cb;
}
/* line 249, ../../2018-12-17scss/css.scss */
.section2 .section2__text {
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  color: #000;
}
/* line 255, ../../2018-12-17scss/css.scss */
.section2 .section2__item__long {
  margin-bottom: 40px;
  position: relative;
  margin-top: 55px;
  border: 1px solid #5bbbed;
  background-color: #d5eef5;
}
/* line 261, ../../2018-12-17scss/css.scss */
.section2 .section2__item__long .section2__text {
  margin-bottom: 20px;
}

/* line 267, ../../2018-12-17scss/css.scss */
.section3 .section3__subtitle {
  margin-top: 30px;
}
/* line 270, ../../2018-12-17scss/css.scss */
.section3 .section3_video {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 530px;
}
/* line 274, ../../2018-12-17scss/css.scss */
.section3 .section3_video iframe {
  border: none;
}

/* line 279, ../../2018-12-17scss/css.scss */
.section4 {
  background-image: url("../RJ-img/bg-4.jpg");
  height: 707px;
}
/* line 282, ../../2018-12-17scss/css.scss */
.section4 .section4__list {
  padding-top: 185px;
  font-size: 0;
  text-align: center;
}
/* line 287, ../../2018-12-17scss/css.scss */
.section4 .section4_item {
  position: relative;
  float: left;
  width: 23%;
  height: 261px;
  margin-right: 2.66666%;
  background-color: #fff;
  border-bottom: 4px solid #0080cb;
}
/* line 295, ../../2018-12-17scss/css.scss */
.section4 .section4_item img {
  display: block;
  position: absolute;
  width: 95%;
  left: 2.5%;
  top: -150px;
}
/* line 302, ../../2018-12-17scss/css.scss */
.section4 .section4_item:last-child {
  margin-right: 0;
}
/* line 306, ../../2018-12-17scss/css.scss */
.section4 .section4__title {
  padding-top: 90px;
  font-size: 24px;
  line-height: 32px;
  color: #0080cb;
}
/* line 312, ../../2018-12-17scss/css.scss */
.section4 .section4__text {
  margin-top: 30px;
  padding: 0 5%;
  font-size: 18px;
  line-height: 26px;
}

/* line 320, ../../2018-12-17scss/css.scss */
.section5 .section5__list {
  padding-top: 70px;
  text-align: center;
}
/* line 324, ../../2018-12-17scss/css.scss */
.section5 .section5__item {
  position: relative;
  float: left;
  width: 32%;
  height: 476px;
  margin-right: 2%;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}
/* line 333, ../../2018-12-17scss/css.scss */
.section5 .section5__item:first-child {
  background-image: url("../RJ-img/demo1.jpg");
}
/* line 336, ../../2018-12-17scss/css.scss */
.section5 .section5__item:nth-child(2) {
  background-image: url("../RJ-img/demo2.jpg");
}
/* line 339, ../../2018-12-17scss/css.scss */
.section5 .section5__item:last-child {
  margin-right: 0;
  background-image: url("../RJ-img/demo3.jpg");
}
/* line 343, ../../2018-12-17scss/css.scss */
.section5 .section5__item:hover .section5__mask {
  display: block;
}
/* line 346, ../../2018-12-17scss/css.scss */
.section5 .section5__item .section5__mask {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 355, ../../2018-12-17scss/css.scss */
.section5 .section5__item .mask__text {
  padding-top: 40px;
  font-size: 18px;
  color: #fff;
}
/* line 360, ../../2018-12-17scss/css.scss */
.section5 .section5__item .mask__button {
  display: block;
  width: 150px;
  line-height: 45px;
  margin: 20px auto 0 auto;
  background-color: #0080cb;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
/* line 372, ../../2018-12-17scss/css.scss */
.section5 .section5__title {
  padding-top: 40px;
  color: #fff;
}
/* line 376, ../../2018-12-17scss/css.scss */
.section5 .section5__text {
  padding-top: 30px;
  font-size: 18px;
  color: #fff;
}

/* line 382, ../../2018-12-17scss/css.scss */
.section6 {
  background-image: url("../RJ-img/bg-6.jpg");
}

@media screen and (max-width: 768px) {
  /* line 386, ../../2018-12-17scss/css.scss */
  .t-pc {
    display: none;
  }

  /* line 389, ../../2018-12-17scss/css.scss */
  .t-mobile {
    display: block;
  }

  /* line 392, ../../2018-12-17scss/css.scss */
  .t-main-item {
    height: auto;
  }

  /* line 395, ../../2018-12-17scss/css.scss */
  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* line 401, ../../2018-12-17scss/css.scss */
  .t-intro {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  /* line 407, ../../2018-12-17scss/css.scss */
  .t-intro p {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 411, ../../2018-12-17scss/css.scss */
  .t-main-title {
    font-size: 28px;
    padding-top: 35px;
  }

  /* line 415, ../../2018-12-17scss/css.scss */
  .t-sub-title {
    font-size: 18px;
  }

  /* line 418, ../../2018-12-17scss/css.scss */
  .t-intro,
  .t-intro p {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 427, ../../2018-12-17scss/css.scss */
  .section__title {
    padding-top: 35px;
    font-size: 28px;
  }

  /* line 432, ../../2018-12-17scss/css.scss */
  .section__01 .section__title {
    padding-top: 35px;
  }
  /* line 435, ../../2018-12-17scss/css.scss */
  .section__01 .section__01__subtitle {
    width: 70%;
    margin: 15px auto 20px;
    line-height: 70px;
    font-size: 24px;
  }
  /* line 441, ../../2018-12-17scss/css.scss */
  .section__01 .section__01__text_wrap {
    padding-bottom: 30px;
  }
  /* line 444, ../../2018-12-17scss/css.scss */
  .section__01 .section__01__text {
    font-size: 16px;
  }

  /* line 449, ../../2018-12-17scss/css.scss */
  .section2 .section2__item {
    display: block;
    width: auto;
    margin-right: 0;
  }
}
@media screen and (max-width: 414px) {
  /* line 459, ../../2018-12-17scss/css.scss */
  .section__01 .section__01__subtitle {
    width: 70%;
    line-height: 50px;
    font-size: 18px;
  }
}
