@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

* {
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}

input {
  vertical-align: middle;
}

em {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

body {
  position: relative;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

.text_l {
  text-align: left;
}

.text_r {
  text-align: right;
}

.text_c {
  text-align: center;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.line20 {
  line-height: 200%;
}

.fc-fff {
  color: #fff;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
  background: #f3f5f9;
  overflow-x: none;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /*overflow: hidden;*/
  font-size: 16px;
}

/* item主体内容区 */
.t-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  color: #335078;
  padding: 60px 0px 30px 0;
  position: relative;
  margin: 0 auto;
  width: 96%;
  font-weight: bold;
}

.box-visible {
  overflow: visible;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #335078;
  width: 90%;
  margin: 0 auto;
  line-height: 26px;
  margin-bottom: 30px;
}

.t-tit {
  color: #335078;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.text-left {
  text-align: left;
}

.t-page-title {
  background: url(../RJ-img/page-title1.png) no-repeat center top;
  text-align: center;
  font-size: 20px;
  color: #335078;
  width: 90%;
  margin: 0 auto;
}
.t-page-title span {
  display: inline-block;
  position: relative;
}
.t-page-title span::before, .t-page-title span::after {
  display: block;
  content: '';
  width: 175px;
  height: 10px;
  position: absolute;
  top: 8px;
}
.t-page-title span::before {
  left: -195px;
  background: url(../RJ-img/page-title-icon.png) center center/100% 100% no-repeat;
}
.t-page-title span::after {
  right: -195px;
  transform: rotateZ(180deg);
  background: url(../RJ-img/page-title-icon.png) center center/100% 100% no-repeat;
}

.t-main-des {
  font-size: 20px;
  color: #595757;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  margin: 20px auto;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-top: 25px;
}

.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}
.t-img img {
  width: auto;
  max-width: 100%;
}

.t-intro span.tips {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #fd300e;
  text-align: left;
}

.hidden {
  overflow: hidden;
}

.btn-list {
  text-align: center;
}
.btn-list .btn {
  text-align: center;
  display: inline-block;
  min-width: 170px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #e60039;
  font-size: 16px;
  text-decoration: none;
  border-radius: 43px;
  padding: 0 15px;
  margin: 0 15px;
  border: 1px solid #e60039;
  cursor: pointer;
}
.btn-list .btn-red {
  background: #fff;
  color: #e60039;
}
.btn-list .btn-red span.play {
  background: url(../RJ-img/play-on.png) no-repeat left center;
  padding: 5px;
  padding-left: 32px;
  background-size: 25px;
}
.btn-list .btn:hover {
  background: #fff;
  color: #e60039;
}
.btn-list .btn-red:hover {
  background: #e60039;
  color: #fff;
}
.btn-list .btn-red:hover span {
  background: url(../RJ-img/play.png) no-repeat left center;
  background-size: 22px;
}
.btn-list .btn3 span.play {
  background: url(../RJ-img/play.png) no-repeat left center;
  background-size: 25px;
  padding: 5px;
  padding-left: 32px;
}
.btn-list .btn3:hover span.play {
  background: url(../RJ-img/play-on.png) no-repeat left center;
  background-size: 25px;
}

/*视频弹框*/
.ns-layer {
  z-index: 2000;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.ns-layer.ns-video-layer .ns-layer-inner {
  position: relative;
  top: 10%;
  width: 720px;
  margin-left: auto;
  background-color: #000;
  margin-right: auto;
}
.ns-layer.ns-video-layer .ns-layer-inner .ns-title {
  padding: 0 17px;
  font-size: 16px;
  line-height: 45px;
  color: #fff;
}
.ns-layer.ns-video-layer .ns-layer-inner .ns-content {
  height: 405px;
  width: 100%;
}
.ns-layer.ns-video-layer .ns-layer-inner .btn-list {
  padding: 16px 0;
}
.ns-layer .close {
  background: url(../RJ-img/close.png) no-repeat center center;
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  cursor: pointer;
  width: 29px;
  height: 29px;
}

.t-page1 {
  background-image: url("../RJ-img/page1-bg.jpg");
  background-position: center bottom;
  overflow: hidden;
  padding-bottom: 160px;
}
.t-page1 .btn-list {
  text-align: left;
}

.page1-cont {
  width: 60%;
  text-align: center;
  padding-top: 100px;
}
.page1-title {
  color: #fff;
  font-weight: bold;
}
.page1-title img {
  width: 98%;
  display: block;
}
.page1-des {
  font-size: 18px;
  margin: 43px 0 95px 10px;
  color: #fff;
  line-height: 28px;
  text-align: left;
}

.t-nav {
  background: #666666;
  height: 60px;
  line-height: 60px;
}
.t-nav .nav-page {
  float: left;
}
.t-nav .nav-page li {
  float: left;
  background: url(../RJ-img/next.png) no-repeat right center;
  color: #a6a6a6;
  padding: 0 20px;
  font-size: 16px;
}
.t-nav .nav-page li a {
  color: #a6a6a6;
  text-decoration: none;
  cursor: pointer;
}
.t-nav .nav-page li:first-child img {
  display: block;
  margin: 19px 0;
}
.t-nav .nav-page li:last-child {
  background: none;
}
.t-nav .nav-page li:last-child a {
  color: #fff;
}
.t-nav .nav-lists {
  float: right;
}
.t-nav .nav-lists li {
  float: left;
}
.t-nav .nav-lists li a {
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  border-right: 1px solid #fff;
  font-size: 16px;
  cursor: pointer;
}
.t-nav .nav-lists li a.no-border {
  border: none;
}

.t-page2 {
  background: #fff;
  padding-bottom: 60px;
  background-image: url("../RJ-img/page2-bg.jpg");
  background-position: center bottom;
}
.t-page2 .t-main-title {
  padding-bottom: 20px;
}
.t-page2 .btn-list {
  margin-top: 50px;
}
.t-page2 .t-page-title {
  color: #505050;
}

.page2-cont {
  display: flex;
  padding-top: 50px;
}
.page2-cont li {
  background: #fff;
  flex: 1;
  margin: 0 25px;
  padding: 0 38px;
  text-align: center;
  box-shadow: 0 0 20px 0px #dadada;
}
.page2-cont li img {
  display: block;
  margin: 30px auto 25px;
  width: 102px;
  height: 102px;
}
.page2-cont li p {
  margin-bottom: 25px;
  text-align: left;
  font-size: 16px;
  color: #505050;
  min-height: 3.6em;
  line-height: 1.8;
}
.page2-cont .btn-list {
  margin-bottom: 35px;
}

.t-page3 {
  background: #fff;
  padding-bottom: 60px;
}

.page3-cont {
  display: flex;
}
.page3-cont li {
  background: #edf4fc;
  flex: 1;
  margin: 25px 25px 50px;
  text-align: center;
}
.page3-cont li img {
  display: block;
  width: 100%;
}
.page3-cont .item-img {
  position: relative;
  cursor: pointer;
}
.page3-cont .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: pointer;
}
.page3-cont .item-title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(45deg, rgba(27, 174, 218, 0.85), rgba(27, 143, 227, 0.85));
}
.page3-cont .item-play {
  display: block;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -31px;
  margin-top: -31px;
  background: url(../RJ-img/play.png) center/100% no-repeat;
}
.page3-cont .item-text {
  text-align: center;
  padding: 35px 0;
  font-size: 20px;
  color: #505050;
}

.t-page4 {
  padding-bottom: 60px;
  background-image: url("../RJ-img/page4-bg.jpg");
  background-position: center bottom;
}

.page4-cont {
  position: relative;
  padding: 30px 10px 40px;
}
.page4-cont img {
  display: block;
  width: 100%;
}
.page4-cont .arrow {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  background: url(../RJ-img/page4-arrow.png) center/100% no-repeat;
  cursor: pointer;
  animation: imgArrow 1s linear infinite alternate;
}
.page4-cont .arrow:hover {
  width: 36px;
  height: 36px;
  margin-top: -4px;
  margin-left: -4px;
  transition: all 0.1s;
  background: url(../RJ-img/page4-arrow-active.png) center/100% no-repeat;
}
.page4-cont .arrow1 {
  top: 21%;
  left: 48.4%;
}
.page4-cont .arrow2 {
  top: 36%;
  left: 28%;
}
.page4-cont .arrow3 {
  top: 36%;
  left: 40%;
}
.page4-cont .arrow4 {
  top: 59%;
  left: 28%;
}
.page4-cont .arrow5 {
  top: 59%;
  left: 45%;
}

@keyframes imgArrow {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -6px;
  }
}
.t-page5 {
  padding-bottom: 70px;
  background-image: url("../RJ-img/page5-bg.jpg");
  background-position: center bottom;
}
.t-page5 .btn-list {
  margin-top: 0;
}
.t-page5 .t-main-title {
  color: #fff;
}
.t-page5 .t-page-title {
  color: #fff;
}

.page5-cont {
  padding: 73px 10px 30px;
  font-size: 0;
}
.page5-cont img {
  display: block;
  width: 100%;
}
.page5-cont .left {
  width: 50%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}
.page5-cont .right {
  margin-top: 70px;
  width: 46%;
  margin-left: 4%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.page5-cont .right img {
  display: block;
  width: 90%;
  margin: auto;
}
.page5-cont .right-list {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: -30px;
}
.page5-cont .right-list li {
  display: inline-block;
}
.page5-cont .list {
  margin-top: 90px;
}
.page5-cont .item {
  display: inline-block;
  width: 25%;
  padding: 0 10px 0 80px;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
}
.page5-cont .icon {
  position: absolute;
  display: block;
  width: 65px;
  height: 65px;
  top: 0;
  left: 0;
}
.page5-cont .title {
  margin-bottom: 16px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.page5-cont .desc {
  font-size: 16px;
  color: #fff;
  line-height: 26px;
}

.img-title {
  width: 402px;
  height: 50px;
  background: url(../RJ-img/page6-title-bg.png) center/100% no-repeat;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
}

.page-arrow {
  display: block;
  width: 90px;
  height: 33px;
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -45px;
}

.t-page6 {
  position: relative;
  padding: 70px 0 55px;
  background-image: url("../RJ-img/page6-bg.jpg");
  background-position: center bottom;
}
.t-page6 .page-arrow {
  background: url(../RJ-img/page5-arrow.png) center/100% no-repeat;
}
.t-page6 .btn-list {
  margin-top: 5px;
}
.t-page6 .t-page-title {
  color: #335078;
}

.page6-cont {
  padding: 130px 10px 20px;
  font-size: 0;
}
.page6-cont img {
  display: block;
  width: 86%;
  margin: auto;
}
.page6-cont .left, .page6-cont .right {
  display: inline-block;
  width: 50%;
  position: relative;
  vertical-align: top;
}
.page6-cont .left img, .page6-cont .right img {
  width: 80%;
  margin: auto;
}
.page6-cont .list {
  padding: 0 30px;
}
.page6-cont .right-list {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: -30px;
}
.page6-cont .right-list li {
  display: inline-block;
}
.page6-cont .item {
  display: inline-block;
  padding-left: 80px;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 30px;
}
.page6-cont img.icon {
  position: absolute;
  display: block;
  width: 66px;
  height: 66px;
  top: -12px;
  left: 0;
}
.page6-cont .title {
  margin-bottom: 16px;
  font-size: 24px;
  color: #505050;
  font-weight: bold;
}
.page6-cont .desc {
  font-size: 16px;
  color: #505050;
  line-height: 26px;
}

.t-page7 {
  position: relative;
  padding: 70px 0 65px;
  background-image: url("../RJ-img/page7-bg.jpg");
  background-position: center bottom;
}
.t-page7 .page-arrow {
  background: url(../RJ-img/page6-arrow.png) center/100% no-repeat;
}
.t-page7 .btn-list {
  margin-top: 0;
}
.t-page7 .t-page-title {
  color: #fff;
}

.page7-cont {
  padding: 30px 10px 40px;
  font-size: 0;
}
.page7-cont .img-cont {
  position: relative;
  margin-top: 100px;
}
.page7-cont .page7-img {
  display: block;
  width: 590px;
  margin: auto;
}
.page7-cont .right-list {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: -30px;
}
.page7-cont .right-list li {
  display: inline-block;
  margin-right: 10px;
}
.page7-cont .list {
  margin: 40px 40px 0;
}
.page7-cont .item {
  display: inline-block;
  width: 33.33333%;
  padding-left: 80px;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
}
.page7-cont .icon {
  position: absolute;
  display: block;
  width: 65px;
  height: 65px;
  top: 0;
  left: 0;
}
.page7-cont .title {
  font-size: 24px;
  color: #fff;
  line-height: 65px;
}

.dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 40px 0;
  width: 1114px;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 0 25px 0px #d1ecfa;
  z-index: 1;
}
.dialog .close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../RJ-img/dialog-close.png) center/100% no-repeat;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.dialog1 {
  display: none;
}
.dialog1-cont {
  position: relative;
}
.dialog1-cont img {
  width: 45%;
  display: block;
  margin: 20px auto 0;
}
.dialog1-content {
  width: 90%;
  height: 72%;
  position: absolute;
  top: 10%;
  left: 7%;
}
.dialog1-item {
  width: 260px;
  font-size: 16px;
  color: #505050;
  position: absolute;
  line-height: 24px;
}
.dialog1-item.item1 {
  left: 0;
  top: 0;
}
.dialog1-item.item2 {
  right: 0;
  top: 0;
}
.dialog1-item.item3 {
  left: 0;
  bottom: 0;
}
.dialog1-item.item4 {
  right: 0;
  bottom: 0;
}
.dialog1-item .dialog1-tit {
  font-size: 24px;
  color: #379fdc;
  font-weight: bold;
  background: url(../RJ-img/page2-line.png) no-repeat left bottom;
  padding: 0 0 25px 0;
  margin-bottom: 15px;
}

.dialog2 {
  padding: 40px 0;
}

.dialog2-cont {
  padding: 5px;
  margin: 40px auto 20px auto;
  overflow: hidden;
  clear: both;
}
.dialog2-cont .item-des {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #505050;
  padding: 20px 0;
}
.dialog2-cont .item-des img {
  margin: 0 10px;
  width: 25px;
}
.dialog2-cont .item-des span {
  font-size: 34px;
  color: #379fdc;
}
.dialog2-cont .dialog2-item {
  overflow: hidden;
  display: flex;
}
.dialog2-cont .dialog2-item .item-cont {
  flex: 1;
  box-sizing: border-box;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  color: #505050;
  padding-bottom: 20px;
  line-height: 26px;
}
.dialog2-cont .dialog2-item .item-cont img {
  display: block;
  margin: 28px auto 10px auto;
  vertical-align: top;
}
.dialog2-cont .dialog2-item .item-des {
  overflow: hidden;
  clear: both;
}
.dialog2-cont .item1, .dialog2-cont .item2 {
  background: #d1ecfa;
}
.dialog2-cont .item3, .dialog2-cont .item4 {
  background: #d1f4fa;
}

.page4-dialog {
  width: 606px;
  padding-left: 10px;
  padding-right: 28px;
  font-size: 0;
}
.page4-dialog img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.page4-dialog .left, .page4-dialog .right {
  position: relative;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  height: 226px;
}
.page4-dialog .left {
  display: flex;
  align-items: center;
  text-align: center;
  float: left;
  justify-content: center;
}
.page4-dialog .title {
  padding: 30px 0 0 35px;
  font-size: 16px;
}
.page4-dialog .btn-list {
  padding-left: 35px;
  margin-top: 70px;
  text-align: left;
}
.page4-dialog .btn {
  margin: 0;
}
.page4-dialog .small-gutter .title {
  padding-left: 10px;
}
.page4-dialog .small-gutter .btn-list {
  padding-left: 10px;
}

.t-page8 {
  background: #e7f1f9;
  padding-bottom: 40px;
}

.page8-cont {
  display: flex;
  text-align: center;
  font-size: 0;
}
.page8-cont .page8-item {
  display: inline-block;
  width: 23.5%;
  overflow: hidden;
  margin-right: 2%;
  margin-bottom: 60px;
  vertical-align: top;
  background: #fff;
  box-shadow: 0 0 5px 4px #e6ecf3;
}
.page8-cont .page8-item:nth-child(4n) {
  margin-right: 0;
}
.page8-cont .page8-item img {
  display: block;
  margin: 0 auto;
}
.page8-cont .page8-item .item-tit {
  line-height: 57px;
  font-size: 16px;
  color: #505050;
}
.page8-cont .page8-item .btn-list {
  margin: 0 4px 20px;
  overflow: hidden;
  text-align: center;
}
.page8-cont .page8-item .btn {
  min-width: 116px;
  padding: 0;
  line-height: 36px;
  height: 36px;
  margin: 0 8px;
}

.show-pc {
  display: block !important;
}

.show-mobile {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .t-content {
    max-width: 960px;
    width: auto;
  }

  .t-page1 {
    padding-bottom: 120px;
  }

  .page1-cont {
    padding-top: 80px;
  }

  .page2-cont li {
    margin-left: 0;
    margin-right: 20px;
    padding: 0 30px;
  }
  .page2-cont li:last-child {
    margin-right: 0;
  }

  .page3-cont li {
    width: 30%;
    margin: 25px 3.3333333% 50px 0;
  }
  .page3-cont li:last-child {
    margin-right: 0;
  }

  .page8-cont .btn {
    min-width: 94px;
    margin: 0 5px;
  }

  .dialog {
    width: 960px;
  }

  .dialog1-content {
    height: 80%;
  }
  .dialog1-item.item2 {
    right: -15px;
  }
  .dialog1-item.item4 {
    right: -15px;
  }

  .page4-dialog {
    width: 606px;
  }
}
@media screen and (max-width: 960px) {
  .t-content {
    max-width: 930px;
    padding: 0 15px;
  }

  .page2-cont li p {
    min-height: 5.4em;
  }

  .t-page3 .btn-list .btn {
    margin: 10px;
  }

  .page8-cont .page8-item .btn {
    margin: 0 5px 10px;
  }

  .dialog {
    width: 920px;
  }

  .dialog1-cont img {
    width: 45%;
  }
  .dialog1-content {
    height: 80%;
  }
  .dialog1-item {
    width: 220px;
  }
  .dialog1-item.item2 {
    right: -35px;
  }
  .dialog1-item.item4 {
    right: -35px;
  }

  .page4-dialog {
    width: 606px;
  }
}
@media screen and (max-width: 768px) {
  .show-pc {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }

  .t-nav {
    display: none;
  }

  .t-sub-title {
    font-size: 16px;
    margin-bottom: 10px;
    width: 92%;
    margin: 0 auto;
  }

  .t-main-title {
    font-size: 22px;
    padding: 30px 0px 10px 0;
  }

  .t-sub-tit {
    font-size: 20px;
    padding: 40px 0 20px 0;
    margin: 10px auto 10px auto;
  }

  .t-page-title {
    font-size: 16px;
  }

  .t-main-title span {
    padding: 20px;
    background-size: 70%;
  }

  .btn-list .btn {
    min-width: 35%;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
  }

  .btn-list {
    margin: 5px auto 10px auto;
  }

  .img-title {
    top: 0;
  }

  .t-page-title span {
    display: inline-block;
    position: relative;
  }
  .t-page-title span::before, .t-page-title span::after {
    width: 140px;
    height: 8px;
    top: 7px;
  }
  .t-page-title span::before {
    left: -155px;
  }
  .t-page-title span::after {
    right: -155px;
  }

  .t-page1 {
    padding-bottom: 80px;
  }

  .page1-cont {
    width: 60%;
    text-align: center;
    padding-top: 80px;
  }
  .page1-des {
    font-size: 16px;
    margin: 43px 0 70px 10px;
  }

  .t-page2 {
    padding-bottom: 50px;
  }
  .t-page2 .t-main-title {
    padding-bottom: 15px;
  }
  .t-page2 .btn-list {
    margin-top: 40px;
  }

  .page2-cont {
    display: block;
    padding-top: 40px;
  }
  .page2-cont li {
    width: 480px;
    margin: 0 auto 30px;
    overflow: hidden;
  }
  .page2-cont li:last-child {
    margin-right: auto;
  }
  .page2-cont .btn-list {
    margin-bottom: 30px;
  }

  .t-page3 {
    padding-bottom: 50px;
  }

  .page3-cont {
    display: block;
    padding-top: 25px;
  }
  .page3-cont li {
    width: 480px;
    margin: 0 auto 30px;
  }
  .page3-cont li:last-child {
    margin-right: auto;
  }

  .t-page4 {
    padding-bottom: 50px;
  }

  .page4-cont {
    position: relative;
    padding: 20px 10px 20px;
  }
  .page4-cont .arrow1 {
    top: 24%;
    left: 37%;
  }
  .page4-cont .arrow2 {
    top: 40%;
    left: 17%;
  }
  .page4-cont .arrow3 {
    top: 40%;
    left: 31%;
  }
  .page4-cont .arrow4 {
    top: 67%;
    left: 17%;
  }
  .page4-cont .arrow5 {
    top: 67%;
    left: 36%;
  }

  .t-page5 {
    padding-bottom: 50px;
  }

  .page5-cont {
    padding: 50px 10px 30px;
    font-size: 0;
  }
  .page5-cont .left {
    display: block;
    width: 80%;
    margin: auto;
  }
  .page5-cont .right {
    display: block;
    width: 80%;
    margin: 70px auto 0;
  }
  .page5-cont .list {
    margin-top: 90px;
  }
  .page5-cont .item {
    width: 50%;
    padding: 0 15px 0 80px;
  }
  .page5-cont .title {
    font-size: 20px;
  }

  .t-page6 {
    padding: 50px 0 50px;
  }

  .page6-cont {
    padding: 50px 10px 20px;
  }
  .page6-cont img {
    display: block;
    width: 86%;
    margin: auto;
  }
  .page6-cont .left, .page6-cont .right {
    display: block;
    width: 90%;
    margin: auto;
  }
  .page6-cont .left .item, .page6-cont .right .item {
    width: 50%;
  }
  .page6-cont .left-content, .page6-cont .right-content {
    padding-top: 110px;
  }
  .page6-cont .title {
    font-size: 20px;
  }

  .t-page7 {
    padding: 50px 0;
  }

  .page7-cont {
    padding: 20px 0 20px;
  }
  .page7-cont .img-cont {
    margin-top: 20px;
    padding-top: 80px;
  }
  .page7-cont .page7-img {
    width: 500px;
  }
  .page7-cont .title {
    font-size: 20px;
  }

  .t-page8 {
    padding-bottom: 30px;
  }

  .page8-cont {
    display: block;
    padding: 0 20px;
  }
  .page8-cont .page8-item {
    width: 46%;
    margin-right: 8%;
    margin-bottom: 50px;
  }
  .page8-cont .page8-item:nth-child(2n) {
    margin-right: 0;
  }
  .page8-cont .page8-item img {
    width: 100%;
  }

  .dialog {
    width: 95%;
  }

  .dialog1-cont {
    margin-bottom: 30px;
  }
  .dialog1-cont img {
    margin: 40px auto 0;
  }
  .dialog1-content {
    width: 100%;
    height: 80%;
    left: 0;
  }
  .dialog1-item.item1 {
    left: 0;
    top: -20px;
  }
  .dialog1-item.item2 {
    right: -15px;
    top: -20px;
  }
  .dialog1-item.item3 {
    left: 0;
    bottom: -40px;
  }
  .dialog1-item.item4 {
    right: -15px;
    bottom: -40px;
  }

  .dialog2-cont {
    margin: auto;
    padding: 0;
  }
  .dialog2-cont .item-des {
    font-size: 20px;
  }
  .dialog2-cont .item-des img {
    width: 20px;
  }
  .dialog2-cont .item-des span {
    font-size: 30px;
  }
  .dialog2-cont .dialog2-item {
    display: block;
    overflow: hidden;
    padding-top: 20px;
  }
  .dialog2-cont .dialog2-item .item-cont {
    float: left;
    width: 48%;
    margin: 0 4% 20px 0;
  }
  .dialog2-cont .dialog2-item .item-cont:nth-child(2n) {
    margin-right: 0;
  }
  .dialog2-cont .item-des {
    padding: 0;
  }

  .page4-dialog {
    width: 606px;
  }
}
@media screen and (max-width: 480px) {
  .img-title {
    font-size: 18px;
    top: 0;
  }
  .img-title.large {
    padding: 10px 30px;
    width: 320px;
    height: 55px;
    line-height: 27px;
    background: url(../RJ-img/page6-title-bg-m.png) center/100% no-repeat;
  }

  .t-page-title span::before, .t-page-title span::after {
    display: none;
  }

  .ns-layer.ns-video-layer .ns-layer-inner {
    width: auto;
    margin: 0 15px;
  }
  .ns-layer.ns-video-layer .ns-layer-inner .ns-title {
    padding: 0 15px;
  }
  .ns-layer.ns-video-layer .ns-layer-inner .ns-content {
    height: auto;
  }
  .ns-layer.ns-video-layer .ns-layer-inner .btn-list {
    padding: 10px 0;
  }

  .t-page1 {
    padding-bottom: 40px;
  }

  .page1-cont {
    width: 80%;
    padding-top: 50px;
  }
  .page1-des {
    margin: 43px 0 40px 10px;
  }

  .t-page2 {
    padding-bottom: 40px;
  }
  .t-page2 .btn-list {
    margin-top: 30px;
  }

  .page2-cont {
    padding-top: 40px;
  }
  .page2-cont li {
    width: 340px;
  }
  .page2-cont li img {
    width: 90px;
    height: 90px;
  }

  .t-page3 {
    padding-bottom: 40px;
  }

  .page3-cont {
    padding-top: 25px;
  }
  .page3-cont li {
    width: 400px;
  }
  .page3-cont .item-text {
    padding: 25px 0;
  }
  .page3-cont .item-play {
    width: 50px;
    height: 50px;
  }

  .t-page4 {
    padding-bottom: 40px;
  }

  .t-page5 {
    padding-bottom: 40px;
  }

  .page5-cont {
    padding: 40px 10px 30px;
  }
  .page5-cont .right {
    margin: 50px auto 0;
  }
  .page5-cont .list {
    margin-top: 60px;
  }
  .page5-cont .item {
    width: 100%;
    padding: 0 15px 0 60px;
    margin-bottom: 20px;
  }
  .page5-cont .icon {
    width: 55px;
    height: 55px;
  }

  .t-page6 {
    padding: 50px 0 50px;
  }

  .page6-cont {
    padding: 40px 10px 20px;
  }
  .page6-cont .left, .page6-cont .right {
    width: 100%;
  }
  .page6-cont .left .item, .page6-cont .right .item {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  .page6-cont .left img, .page6-cont .right img {
    width: 90%;
  }
  .page6-cont .left-content, .page6-cont .right-content {
    padding-top: 80px;
  }
  .page6-cont .list {
    padding: 0;
  }
  .page6-cont img.icon {
    width: 60px;
    height: 60px;
    top: 0;
  }
  .page6-cont .title {
    margin-bottom: 10px;
  }

  .t-page7 {
    padding: 40px 0;
  }

  .page7-cont .img-cont {
    margin-top: 20px;
    padding-top: 70px;
  }
  .page7-cont .page7-img {
    width: 380px;
  }
  .page7-cont .item {
    width: 100%;
    margin-bottom: 20px;
  }

  .t-page8 {
    padding-bottom: 20px;
  }

  .page8-cont .page8-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .dialog1 {
    width: 730px;
    transform: scale(0.6);
    transform-origin: -75% -75%;
  }

  .page4-dialog {
    width: 400px;
    padding-right: 10px;
  }
  .page4-dialog .left, .page4-dialog .right {
    width: 100%;
    height: 180px;
  }
  .page4-dialog .left {
    float: none;
  }
  .page4-dialog .right {
    text-align: center;
  }
  .page4-dialog .title {
    padding: 30px 0 0 0;
  }
  .page4-dialog .btn-list {
    padding-left: 0;
    margin-top: 40px;
    text-align: center;
  }
  .page4-dialog .small-gutter .title {
    padding-left: 0;
  }
  .page4-dialog .small-gutter .btn-list {
    padding-left: 0;
  }
}
@media screen and (max-width: 414px) {
  .page2-cont {
    padding-top: 40px;
  }
  .page2-cont li {
    width: 300px;
  }

  .page3-cont li {
    width: 360px;
  }

  .page4-cont .arrow {
    width: 22px;
    height: 22px;
  }
  .page4-cont .arrow:hover {
    width: 30px;
    height: 30px;
  }

  .page5-cont .icon {
    width: 50px;
    height: 50px;
  }
  .page5-cont .title {
    margin-bottom: 10px;
  }

  .img-title {
    width: 370px;
    height: 46px;
    line-height: 46px;
  }

  .page6-cont {
    padding: 40px 10px 20px;
  }
  .page6-cont .left, .page6-cont .right {
    width: 100%;
  }
  .page6-cont .left .item, .page6-cont .right .item {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  .page6-cont .left-content, .page6-cont .right-content {
    padding-top: 90px;
  }
  .page6-cont .list {
    padding: 0;
  }
  .page6-cont img.icon {
    width: 50px;
    height: 50px;
    top: -9px;
  }
  .page6-cont .title {
    margin-bottom: 10px;
  }

  .page7-cont .img-cont {
    margin-top: 20px;
    padding-top: 70px;
  }
  .page7-cont .page7-img {
    width: 340px;
  }
  .page7-cont .item {
    padding-left: 60px;
  }
  .page7-cont .icon {
    width: 50px;
    height: 50px;
  }
  .page7-cont .title {
    line-height: 50px;
    margin-bottom: 10px;
  }

  .t-page8 {
    padding-bottom: 20px;
  }

  .dialog2-cont .dialog2-item .item-cont {
    min-height: 188px;
  }
  .dialog2-cont .item-des {
    padding: 0;
    font-size: 18px;
  }
  .dialog2-cont .item-des span {
    font-size: 26px;
  }

  .dialog1 {
    width: 730px;
    transform: scale(0.5);
    transform-origin: -50% -50%;
  }

  .page4-dialog {
    width: 360px;
  }
}
@media screen and (max-width: 375px) {
  .img-title {
    width: 338px;
    height: 42px;
    line-height: 42px;
  }
  .img-title.large {
    width: 260px;
    height: 43px;
    line-height: 21px;
  }

  .t-page1 {
    padding-bottom: 20px;
  }

  .page1-cont {
    width: 100%;
    padding-top: 30px;
  }
  .page1-des {
    margin: 30px 0 20px 10px;
  }

  .t-page2 {
    padding-bottom: 20px;
  }

  .page2-cont li {
    width: 280px;
  }
  .page2-cont li img {
    width: 75px;
    height: 75px;
  }

  .t-page3 {
    padding-bottom: 20px;
  }
  .t-page3 .btn-list .btn {
    margin: 5px;
  }

  .page3-cont li {
    width: 320px;
  }
  .page3-cont .item-text {
    padding: 20px 0;
  }

  .t-page4 {
    padding-bottom: 20px;
  }

  .page5-cont .left, .page5-cont .right {
    width: 100%;
  }

  .t-page6 {
    padding: 50px 0 30px;
  }

  .page6-cont .left-content, .page6-cont .right-content {
    padding-top: 70px;
  }

  .t-page7 {
    padding: 40px 0 20px;
  }

  .t-page8 {
    padding-bottom: 0;
  }

  .page8-cont {
    padding: 0;
  }

  .dialog {
    padding-bottom: 20px;
  }

  .dialog2-cont .dialog2-item .item-cont {
    min-height: 188px;
    padding-bottom: 5px;
  }
  .dialog2-cont .dialog2-item .item-cont img {
    margin: 15px auto 5px;
  }

  .page4-dialog {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .t-page2 .btn-list {
    margin: 20px 0;
  }

  .page2-cont li {
    width: 220px;
  }
  .page2-cont li img {
    width: 70px;
    height: 70px;
  }

  .page3-cont li {
    width: 290px;
  }

  .img-title {
    width: 306px;
    height: 38px;
    line-height: 38px;
  }
  .img-title.large {
    width: 240px;
    height: 40px;
    line-height: 20px;
  }

  .dialog2-cont .dialog2-item .item-cont {
    min-height: auto;
  }
  .dialog2-cont .dialog2-item .item-cont:first-child {
    min-height: 165px;
  }
  .dialog2-cont .dialog2-item .item-cont img {
    width: 50px;
    margin: 15px auto 5px;
  }
  .dialog2-cont .dialog2-item .item-cont p {
    font-size: 14px;
  }

  .dialog1 {
    width: 730px;
    transform: scale(0.4);
    transform-origin: -33.5% -33.5%;
  }

  .page4-dialog {
    width: 270px;
  }
  .page4-dialog .left, .page4-dialog .right {
    height: 150px;
  }
  .page4-dialog .title {
    padding: 25px 0 0 0;
  }
  .page4-dialog .btn-list {
    margin-top: 30px;
  }
}
