/* index.html css */

/* 导航部分 */

.page-content {
    overflow: hidden;
}
.title-text {
    font-size: 40px;
    line-height: 60px;
}
.small-text {
    font-size: 20px;
    line-height: 40px;
}
.page-title {
    font-size: 42px;
    color: #35c0bb;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 42px;
    &-text {
        width: 100%;
        max-width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-subnav {
    background-color: #f7f7f7;
    line-height: 50px;
    &-content {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .left {
        float: left;
        font-size: 24px;
        color: #333;
    }
    .right {
        float: right;
    }
    .link {
        display: inline-block;
        padding: 0 14px;
        color: #333;
    }
    .link.active {
        color: #35c0bb;
    }
}

/* 正文部分 */
.page-content {
    background-color: #fff;
}
.section-box {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.section-1 {
    overflow: hidden;
    padding: 40px 0;
    .left {
        float: left;
        width: 50%;
    }
    p {
        margin-bottom: 20px;
        font-size: 18px;
        color: #2f2f2f;
    }
    .text-title {
        padding-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
    }
    .list {
        padding-left: 18px;
        list-style-type: disc;
    }
    .list p {
        margin: 0;
    }
    .right {
        float: right;
        width: 36%;
        margin-left: 14%;
    }
    .big-img {
        margin: 85px 0 70px;
        height: 220px;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .thumb-list {
        font-size: 0;
    }
    .thumb-list li {
        display: inline-block;
        width: 97px;
        height: 87px;
        margin: 0 5px 10px 0;
        border: 1px solid #e5e5e5;
        overflow: hidden;
        cursor: pointer;
        &.active {
            border-color: #0d58ca;
        }
    }
    .thumb-list img {
        display: block;
        width: 100%;
    }
}

.section-2 {
    padding: 140px 0 200px;
    background: url('../RJ-img/b-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    .big-text {
        margin-bottom: 35px;
        font-size: 40px;
        color: #fff;
    }
    .small-text {
        margin-bottom: 115px;
        color: #fff;
    }
    .item {
        width: 16.66667%;
        float: left;
    }
    .item img {
        display: block;
        width: 92px;
        height: 92px;
        margin: 0 auto 30px;
    }
    .item .icon-text {
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
}

.section-3 {
    padding: 196px 0 100px;
    background: url('../RJ-img/c-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    .left {
        width: 30%;
        float: left;
        margin-top: 25px;
    }
    .right {
        width: 60%;
        margin-left: 10%;
        float: right;
    }
    .top {
        margin-bottom: 120px;
    }
    img {
        display: block;
        width: 100%;
    }
    .bottom p {
        font-size: 40px;
        color: #2f2f2f;
    }
}

.section-4 {
    padding-top: 50px;
    background: url('../RJ-img/d-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .top {
        margin-bottom: 58px;
        font-size: 0;
    }
    .top img {
        display: inline-block;
        margin-right: 37px;
        width: 114px;
    }
    .top img:last-child {
        margin-right: 0;
    }
    .pad {
        display: none;
    }
    .bottom-left {
        float: left;
        width: 50%;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .bottom-right {
        float: right;
        padding-top: 88px;
        width: 40%;
        margin-left: 10%;
    }
    .bottom-right .title-text {
        margin-bottom: 40px;
        color: #fff;
    }
    .bottom-right .small-text {
        color: #fff;
    }
}

.section-5 {
    padding: 80px 0 90px;
    background-color: #f7f7f7;
    & .left, & .right {
        width: 50%;
        float: left;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .title-text {
        margin-bottom: 30px;
        padding-top: 120px;
    }
}

.section-6 {
    position: relative;
    padding-bottom: 60px;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
    }
    .section-box {
        position: relative;
    }
    .img {
        display: block;
        width: 88%;
    }
    .top-text {
        padding: 10px 0;
    }
    .bottom-text {
        position: absolute;
        left: 0;
        bottom: 320px;
        max-width: 640px;
    }
    .title-text {
        margin-bottom: 10px;
    }
    .small-text {
        color: #888888;
    }
}

.section-7 {
    padding: 100px 0 160px;
    background: #f6f6f6 url('../RJ-img/g-03.png');
    background-size: auto 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    .left {
        width: 65%;
    }
    .right {
        width: 35%;
    }
    .title-text {
        margin-bottom: 30px;
    }
    .small-text {
        font-size: 20px;
        color: #888888;
    }
    .btn {
        display: inline-block;
        margin-right: 35px;
        margin-top: 125px;
        width: 252px;
        height: 74px;
        &-google {
            background: url('../RJ-img/g-01.jpg') center/100% no-repeat;
        }
        &-apple {
            background: url('../RJ-img/g-02.jpg') center/100% no-repeat;
        }
    }
}


@media screen and (max-width: 1280px){

}

@media screen and (max-width: 1024px){
    .section-box {
        max-width: 1000px;
    }
    .page-subnav {
        &-content {
            max-width: 1000px;
        }
    }
    .page-title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-1 {
        .left {
            width: 57%;
        }
        .text-title {
            padding-top: 20px;
        }
        .right {
            margin-left: 7%;
        }
    }
    .section-2 {
        padding: 120px 0 170px;
        .big-text {
            margin-bottom: 30px;
        }
        .small-text {
            margin-bottom: 100px;
        }
    }
    .section-3 {
        padding: 180px 0 90px;
        .left {
            width: 30%;
            float: left;
        }
        .top {
            margin-bottom: 110px;
        }
    }
    .section-4 {
        .bottom-right {
            float: right;
            padding-top: 88px;
            width: 45%;
            margin-left: 5%;
        }
    }
    .section-5 {
        padding: 70px 0 80px;
    }
    .section-6 {
        .img {
            width: 83%;
        }
        .bottom-text {
            bottom: 280px;
        }
    }
    .section-7 {
        padding: 80px 0 100px;
        background-size: auto 680px;

        .btn-box {
            margin-top: 140px;
            overflow: hidden;
        }
        .btn {
            margin-top: 100px;
            width: 222px;
            height: 65px;
        }
    }
}

@media screen and (max-width: 768px){
    .title-text {
        font-size: 36px;
        line-height: 56px;
    }
    .small-text {
        font-size: 18px;
        line-height: 36px;
    }
    .page-title {
        font-size: 38px;
        padding: 10px 0 15px 15px;
        line-height: 38px;
    }
    
    .page-subnav {
        line-height: 46px;
        &-content {
            padding: 0 15px;
        }
        .right {
            width: 100%;
            text-align: center;
        }
    }
    
    /* 正文部分 */
    .section-box {
        max-width: auto;
        width: auto;
        padding: 0 15px;
    }
    .section-1 {
        overflow: hidden;
        padding: 40px 0;
        .left {
            float: none;
            width: 100%;
        }
        p {
            margin-bottom: 15px;
            font-size: 16px;
        }
        .text-title {
            padding-top: 15px;
            font-size: 18px;
        }
        .right {
            float: none;
            width: 100%;
            margin-left: 0;
        }
        .big-img {
            margin: 55px 0 50px;
        }
        .thumb-list {
            text-align: center;
        }
    }
    
    .section-2 {
        padding: 90px 0 100px;
        .big-text {
            margin-bottom: 20px;
            font-size: 36px;
        }
        .small-text {
            margin-bottom: 80px;
        }
        .item img {
            width: 80px;
            height: 80px;
            margin: 0 auto 25px;
        }
        .item .icon-text {
            font-size: 16px;
        }
    }
    
    .section-3 {
        padding: 150px 0 80px;
        .left {
            margin-top: 20px;
        }
        .top {
            margin-bottom: 90px;
        }
        .bottom p {
            font-size: 36px;
        }
    }
    
    .section-4 {
        padding-top: 50px;
        .top {
            margin-bottom: 50px;
            font-size: 0;
            text-align: center;
        }
        .top img {
            margin-right: 30px;
            width: 100px;
        }
        .pc {
            display: none;
        }
        .pad {
            display: block;
        }
        .bottom-left {
            float: none;
            width: 80%;
            margin: auto;
        }
        .bottom-right {
            float: none;
            padding-top: 0;
            width: 100%;
            margin-left: 0;
            text-align: center;
        }
        .bottom-right .title-text {
            margin-bottom: 20px;
        }
        .bottom-right .small-text {
            margin-bottom: 20px;
        }
    }
    
    .section-5 {
        padding: 60px 0 70px;
        .left {
            width: 100%;
            float: none;
        }
        .right {
            width: 80%;
            float: none;
            margin: auto;
        }
        .title-text {
            margin-bottom: 20px;
            padding-top: 0;
            text-align: center;
        }
        .small-text {
            margin-bottom: 40px;
        }
    }
    
    .section-6 {
        position: relative;
        padding-bottom: 40px;
        .img {
            width: 84%;
        }
        .bottom-text {
            position: static;
            max-width: 100%;
            text-align: center;
        }
        .title-text {
            margin-bottom: 10px;
        }
    }
    
    .section-7 {
        padding: 60px 0 60px;
        background-size: auto 360px;
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
        .title-text {
            margin-bottom: 20px;
        }
        .btn-box {
            width: 50%;
            margin-top: 80px;
        }
        .btn {
            display: block;
            margin-right: 0;
            margin-top: 40px;
            margin-left: 40px;
            width: 160px;
            height: 47px;
        }
    }
}

@media screen and (max-width: 480px){
    .title-text {
        font-size: 34px;
        line-height: 48px;
    }
    .small-text {
        font-size: 14px;
        line-height: 30px;
    }
    .page-title {
        font-size: 32px;
    }
    
    .page-subnav {
        &-content {
            width: auto;
        }
        .left {
            line-height: 36px;
        }
    }
    
    /* 正文部分 */
    .section-box {
        max-width: auto;
        width: auto;
        padding: 0 15px;
    }
    .section-1 {
        p {
            font-size: 14px;
        }
        .text-title {
            font-size: 14px;
        }
        .thumb-list {
            text-align: left;
        }
    }
    
    .section-2 {
        padding: 60px 0 70px;
        .big-text {
            font-size: 34px;
            line-height: 50px;
        }
        .small-text {
            margin-bottom: 60px;
        }
        .item {
            width: 33.3333%;
            margin-bottom: 20px;
        }
        .item img {
            margin: 0 auto 15px;
        }
        .item .icon-text {
            font-size: 14px;
        }
    }
    
    .section-3 {
        padding: 70px 0 40px;
        background-position: center;
        .left {
            float: none;
            margin: auto;
            margin-bottom: 20px;
            width: 60%;
        }
        .right {
            float: none;
            margin: auto;
            width: 80%;
        }
        .top {
            margin-bottom: 40px;
        }
        .bottom p {
            font-size: 32px;
        }
    }
    
    .section-4 {
        padding-top: 40px;
        .top {
            margin-bottom: 40px;
        }
        .top img {
            margin-right: 20px;
            width: 80px;
        }
        .bottom-right .title-text {
            margin-bottom: 20px;
        }
        .bottom-right .small-text {
            margin-bottom: 20px;
        }
    }
    
    .section-5 {
        padding: 40px 0 50px;
        .right {
            width: 80%;
            float: none;
            margin: auto;
        }
        .title-text {
            margin-bottom: 20px;
            padding-top: 0;
            text-align: center;
        }
        .small-text {
            margin-bottom: 40px;
        }
    }
    
    .section-6 {
        position: relative;
        padding-bottom: 40px;
        .img {
            width: 84%;
        }
        .bottom-text {
            position: static;
            max-width: 100%;
            text-align: center;
        }
        .title-text {
            margin-bottom: 10px;
        }
    }
    
    .section-7 {
        padding: 40px 0 30px;
        background-size: auto 280px;
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
        .title-text {
            margin-bottom: 20px;
        }
        .btn-box {
            width: 50%;
            margin-top: 40px;
        }
        .btn {
            margin-top: 40px;
            margin-left: 20px;
            width: 116px;
            height: 34px;
        }
    }
}

@media screen and (max-width: 414px){
    .title-text {
        font-size: 28px;
        line-height: 40px;
    }
    .page-title {
        font-size: 28px;
    }
    
    .page-subnav {
        .left {
            font-size: 20px;
            line-height: 32px;
        }
    }
    
    /* 正文部分 */
    .section-1 {
        padding: 30px 0;
        .thumb-list {
            text-align: center;
        }
        .thumb-item {
            width: 86px;
            height: 77px;
        }
    }
    
    .section-2 {
        padding: 40px 0 50px;
        .big-text {
            font-size: 30px;
            line-height: 44px;
        }
        .small-text {
            margin-bottom: 40px;
        }
    }
    
    .section-3 {
        padding: 50px 0 30px;
        .top {
            margin-bottom: 30px;
        }
        .bottom p {
            font-size: 28px;
        }
    }
    
    .section-4 {
        padding-top: 30px;
        .top {
            margin-bottom: 30px;
        }
        .top img {
            margin-right: 15px;
            width: 70px;
        }
        .bottom-right .title-text {
            margin-bottom: 10px;
        }
    }
    
    .section-5 {
        padding: 20px 0 30px;
        .title-text {
            margin-bottom: 20px;
        }
        .small-text {
            margin-bottom: 30px;
            text-align: center;
        }
    }
    
    .section-6 {
        position: relative;
        padding-bottom: 40px;
        .img {
            width: 84%;
        }
        .bottom-text {
            position: static;
            max-width: 100%;
            text-align: center;
        }
        .title-text {
            margin-bottom: 10px;
        }
    }
    
    .section-7 {
        padding: 20px 0 0;
        background-size: auto 200px;
        .btn {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 375px){
    .title-text {
        font-size: 24px;
        line-height: 36px;
    }
    
    /* 正文部分 */
    .section-2 {
        padding: 30px 0 40px;
        .big-text {
            font-size: 28px;
            line-height: 42px;
        }
        .small-text {
            margin-bottom: 30px;
        }
    }
    
    .section-3 {
        padding: 30px 0 20px;
        .bottom p {
            font-size: 24px;
        }
    }
    
    .section-4 {
        .top {
            margin-bottom: 25px;
        }
        .top img {
            margin-right: 10px;
            width: 68px;
        }
    }
    .section-6 {
        padding-bottom: 30px;
    }
    .section-7 {
        .btn {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 320px){
    .section-4 {
        .top {
            margin-bottom: 20px;
        }
        .top img {
            margin-right: 10px;
            width: 60px;
        }
    }
    .section-7 {
        background-size: auto 180px;
    }
}