@charset "UTF-8";
/* line 2, ../../japan4-scss/item.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

/* line 34, ../../japan4-scss/item.scss */
* {
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

/* line 40, ../../japan4-scss/item.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../../japan4-scss/item.scss */
img {
  display: block;
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}

/* line 51, ../../japan4-scss/item.scss */
input {
  vertical-align: middle;
}

/* 清除IE10及以上版本input的叉叉（X）和密码输入框的眼睛图标 */
/* line 55, ../../japan4-scss/item.scss */
input::-ms-clear {
  display: none;
}

/* line 58, ../../japan4-scss/item.scss */
input::-ms-reveal {
  display: none;
}

/*清除谷歌浏览器下的 search 叉号 */
/* line 62, ../../japan4-scss/item.scss */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*清除IE下的 search 叉号 */
/* line 66, ../../japan4-scss/item.scss */
input[type=search]::-ms-clear {
  display: none;
}

/* line 70, ../../japan4-scss/item.scss */
em {
  font-weight: normal;
  font-style: normal;
}

/* line 74, ../../japan4-scss/item.scss */
ol,
ul {
  list-style: none;
}

/* line 78, ../../japan4-scss/item.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* line 87, ../../japan4-scss/item.scss */
body {
  position: relative;
}

/* line 90, ../../japan4-scss/item.scss */
a {
  text-decoration: none;
}

/* line 93, ../../japan4-scss/item.scss */
a:hover {
  text-decoration: none;
}

/* line 97, ../../japan4-scss/item.scss */
.v-middle {
  vertical-align: middle;
}

/* line 101, ../../japan4-scss/item.scss */
.z-section__title {
  font-size: 36px;
  line-height: 48px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

/* line 109, ../../japan4-scss/item.scss */
.z-section__content {
  max-width: 1400px;
  margin: auto;
  padding-top: 65px;
}

/* line 115, ../../japan4-scss/item.scss */
.z-page {
  overflow: hidden;
}

/* line 119, ../../japan4-scss/item.scss */
.z-mobile-show {
  display: none !important;
}

/* line 123, ../../japan4-scss/item.scss */
.mt-20 {
  margin-top: 20px;
}

/* line 127, ../../japan4-scss/item.scss */
.mt-28 {
  margin-top: 28px;
}

/* line 131, ../../japan4-scss/item.scss */
.mt-40 {
  margin-top: 40px;
}

/* line 135, ../../japan4-scss/item.scss */
.z-page {
  padding-top: 100px;
  overflow: hidden;
}

/* line 140, ../../japan4-scss/item.scss */
.z-section__button {
  display: inline-flex;
  width: 170px;
  height: 50px;
  padding: 0 26px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #E60033;
  border-radius: 8px;
  font-size: 16px;
}
/* line 152, ../../japan4-scss/item.scss */
.z-section__button:hover {
  background: #c30233;
}

/* line 157, ../../japan4-scss/item.scss */
.z-section__text--dot {
  position: relative;
  padding-left: 0;
  font-size: 18px;
  line-height: 24px;
}
/* line 163, ../../japan4-scss/item.scss */
.z-section__text--dot .dot {
  display: inline-block;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  background: #E60033;
  vertical-align: middle;
}

/* line 173, ../../japan4-scss/item.scss */
.z-section__text--circle {
  position: relative;
  padding-left: 0;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
/* line 180, ../../japan4-scss/item.scss */
.z-section__text--circle .circle {
  display: inline-block;
  margin-right: 5px;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  vertical-align: middle;
  border-radius: 100%;
}

/* line 191, ../../japan4-scss/item.scss */
.z-main__video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

/* line 203, ../../japan4-scss/item.scss */
.z-section1 {
  padding: 74px 0 329px;
  background: url(../RJ-img/page1-bg.jpg) no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center center;
}
/* line 210, ../../japan4-scss/item.scss */
.z-section1 .z-section__content {
  padding-top: 0;
}
/* line 214, ../../japan4-scss/item.scss */
.z-section1 .section1__title {
  font-size: 60px;
  color: #fff;
  margin-bottom: 15px;
}
/* line 220, ../../japan4-scss/item.scss */
.z-section1 .section1__text {
  font-size: 36px;
  color: #fff;
  padding-bottom: 19px;
}
/* line 225, ../../japan4-scss/item.scss */
.z-section1 .section1__text--small {
  position: relative;
  padding: 90px 0;
  text-align: left;
  color: #fff;
  font-size: 18px;
}
/* line 231, ../../japan4-scss/item.scss */
.z-section1 .section1__text--small .dot {
  width: 16px;
  height: 16px;
  background: #fff;
}
/* line 237, ../../japan4-scss/item.scss */
.z-section1 .section1__text--small .line {
  width: 244px;
  height: 1px;
  margin-top: 7px;
  background: #fff;
}
/* line 245, ../../japan4-scss/item.scss */
.z-section1 .section1__text-line--left {
  position: absolute;
  left: 0;
  top: 0;
  height: 16px;
  width: 260px;
}
/* line 252, ../../japan4-scss/item.scss */
.z-section1 .section1__text-line--left .dot {
  float: left;
}
/* line 256, ../../japan4-scss/item.scss */
.z-section1 .section1__text-line--left .line {
  float: right;
}
/* line 261, ../../japan4-scss/item.scss */
.z-section1 .section1__text-line--right {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 16px;
  width: 260px;
}
/* line 268, ../../japan4-scss/item.scss */
.z-section1 .section1__text-line--right .dot {
  float: right;
}
/* line 272, ../../japan4-scss/item.scss */
.z-section1 .section1__text-line--right .line {
  float: left;
}

/* line 280, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text {
  position: relative;
  padding-bottom: 100px;
}
/* line 284, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text img {
  width: 100%;
}
/* line 288, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text--item {
  position: absolute;
  width: 19%;
}
/* line 293, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text--title {
  font-size: 22px;
  color: #168ADD;
  text-align: center;
  margin-bottom: 10px;
}
/* line 300, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text1 {
  left: 0;
  top: 58%;
}
/* line 305, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text2 {
  left: 20%;
  top: 37%;
}
/* line 310, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text3 {
  left: 40%;
  top: 22%;
}
/* line 315, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text4 {
  right: 20%;
  top: 37%;
}
/* line 320, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text5 {
  right: 0;
  top: 58%;
}
/* line 326, ../../japan4-scss/item.scss */
.z-section2 .z-section__text {
  margin: 30px 0 40px;
  font-size: 16px;
  text-align: center;
}
/* line 332, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom {
  background: url(../RJ-img/page2-bg.png) no-repeat;
  background-size: 100% auto;
  background-position: center top;
  padding-top: 68px;
  margin-top: -60px;
}
/* line 339, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .person {
  margin-bottom: -12px;
}
/* line 343, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom-content {
  max-width: 1400px;
  margin: auto;
  display: flex;
}
/* line 349, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .left {
  width: 33.333%;
  display: inline-flex;
  margin-top: 80px;
}
/* line 354, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .left .message {
  background: url(../RJ-img/page2-message.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 270px;
  height: 100px;
  padding: 30px 24px;
  font-size: 22px;
  color: #1779BF;
  margin-top: -30px;
}
/* line 367, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .middle {
  width: 33.3333%;
  text-align: center;
}
/* line 371, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .middle__title {
  font-size: 22px;
  color: #333333;
  margin-bottom: 20px;
}
/* line 377, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .middle img {
  margin: auto;
}
/* line 382, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .right {
  width: 33.3333%;
  margin-top: 70px;
}
/* line 388, ../../japan4-scss/item.scss */
.z-section2 .right__message {
  position: absolute;
  display: inline-flex;
  right: 20px;
}
/* line 393, ../../japan4-scss/item.scss */
.z-section2 .right__message .person {
  width: 80px;
}
/* line 396, ../../japan4-scss/item.scss */
.z-section2 .right__message .person img {
  width: 100%;
}
/* line 401, ../../japan4-scss/item.scss */
.z-section2 .right__message .message {
  background: url(../RJ-img/page2-message-new.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 270px;
  height: 80px;
  padding: 20px 24px;
  font-size: 16px;
  color: #1779BF;
}

/* line 414, ../../japan4-scss/item.scss */
.z-section3 {
  padding-bottom: 150px;
  background: url(../RJ-img/page3-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
/* line 421, ../../japan4-scss/item.scss */
.z-section3 .z-section__content {
  position: relative;
}
/* line 425, ../../japan4-scss/item.scss */
.z-section3 .z-section__title {
  margin-bottom: 70px;
  color: #fff;
}
/* line 430, ../../japan4-scss/item.scss */
.z-section3 .z-section__text {
  margin-bottom: 40px;
}
/* line 434, ../../japan4-scss/item.scss */
.z-section3 .section3__text--box {
  position: relative;
  padding: 61px 0;
}
/* line 438, ../../japan4-scss/item.scss */
.z-section3 .section3__text--box .icon__left {
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
}
/* line 445, ../../japan4-scss/item.scss */
.z-section3 .section3__text--box .icon__right {
  position: absolute;
  width: 30px;
  bottom: 0;
  left: 40%;
}
/* line 452, ../../japan4-scss/item.scss */
.z-section3 .section3__text--box .z-section__text--circle {
  color: #fff;
}
/* line 457, ../../japan4-scss/item.scss */
.z-section3 .right {
  position: absolute;
  width: 37%;
  display: inline-flex;
  margin-top: 80px;
  right: 0;
  bottom: -150px;
}
/* line 465, ../../japan4-scss/item.scss */
.z-section3 .right .message {
  background: url(../RJ-img/page3-message.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 300px;
  height: 120px;
  padding: 20px 24px;
  font-size: 22px;
  color: #FF670B;
  margin-top: -30px;
  margin-right: 20px;
}

/* line 480, ../../japan4-scss/item.scss */
.z-section4 {
  padding-bottom: 20px;
  background: #fff;
}
/* line 484, ../../japan4-scss/item.scss */
.z-section4__title-box {
  position: relative;
  background: #E0F2FF;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 492, ../../japan4-scss/item.scss */
.z-section4__title-box .trangle {
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -50px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #E0F2FF;
}
/* line 503, ../../japan4-scss/item.scss */
.z-section4 .z-section__text {
  max-width: 1041px;
  margin: 30px auto 53px;
}
/* line 508, ../../japan4-scss/item.scss */
.z-section4 .section4__img {
  margin-bottom: 30px;
}
/* line 511, ../../japan4-scss/item.scss */
.z-section4 .section4__img img {
  margin: auto;
}
/* line 516, ../../japan4-scss/item.scss */
.z-section4 .section4__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* line 523, ../../japan4-scss/item.scss */
.z-section5 {
  padding-bottom: 60px;
}
/* line 526, ../../japan4-scss/item.scss */
.z-section5 .section5__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 36px;
}
/* line 532, ../../japan4-scss/item.scss */
.z-section5 .section5__list--img {
  width: 100%;
}
/* line 536, ../../japan4-scss/item.scss */
.z-section5 .section5__list--title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #1779BF;
  border-bottom: 1px solid #979797;
}
/* line 545, ../../japan4-scss/item.scss */
.z-section5 .section5__list .z-section__text--dot {
  margin-bottom: 10px;
}
/* line 550, ../../japan4-scss/item.scss */
.z-section5 .section5__item {
  width: 32%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
}
/* line 554, ../../japan4-scss/item.scss */
.z-section5 .section5__item--content {
  padding: 30px 18px;
}

@media screen and (max-width: 1280px) {
  /* line 561, ../../japan4-scss/item.scss */
  .z-section__content {
    max-width: 1200px;
  }

  /* line 566, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -30px;
  }

  /* line 572, ../../japan4-scss/item.scss */
  .z-section3 .z-section__title {
    margin-bottom: 40px;
    color: #fff;
  }
  /* line 577, ../../japan4-scss/item.scss */
  .z-section3 .section3__text--box {
    padding: 40px 0;
  }

  /* line 582, ../../japan4-scss/item.scss */
  .z-section4 {
    padding-bottom: 20px;
    background: #fff;
  }
  /* line 586, ../../japan4-scss/item.scss */
  .z-section4__title-box {
    height: 120px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 593, ../../japan4-scss/item.scss */
  .z-section__content {
    max-width: 960px;
  }

  /* line 597, ../../japan4-scss/item.scss */
  .z-section1 {
    padding: 74px 0 200px;
  }

  /* line 601, ../../japan4-scss/item.scss */
  .z-section3 {
    padding-bottom: 180px;
  }
  /* line 604, ../../japan4-scss/item.scss */
  .z-section3 .right {
    width: 42%;
    bottom: -180px;
  }

  /* line 611, ../../japan4-scss/item.scss */
  .z-section4__title-box {
    height: 110px;
  }
}
@media screen and (max-width: 768px) {
  /* line 618, ../../japan4-scss/item.scss */
  .z-pc-show {
    display: none !important;
  }

  /* line 622, ../../japan4-scss/item.scss */
  .z-mobile-show {
    display: block;
  }

  /* line 626, ../../japan4-scss/item.scss */
  .z-section__title {
    font-size: 24px;
    line-height: 44px;
  }

  /* line 631, ../../japan4-scss/item.scss */
  .z-section__text--dot {
    font-size: 16px;
  }

  /* line 635, ../../japan4-scss/item.scss */
  .z-section__text--circle {
    font-size: 16px;
  }

  /* line 639, ../../japan4-scss/item.scss */
  .z-section__content {
    padding-top: 40px;
    max-width: 100%;
    margin: 0 15px;
  }

  /* line 645, ../../japan4-scss/item.scss */
  .z-section1 {
    padding: 74px 0 170px;
  }
  /* line 649, ../../japan4-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 42px;
  }
  /* line 653, ../../japan4-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 30px;
  }
  /* line 656, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small {
    padding: 40px 0;
    font-size: 16px;
  }
  /* line 659, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small .dot {
    width: 12px;
    height: 12px;
  }
  /* line 664, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small .line {
    width: 180px;
    height: 1px;
    margin-top: 5px;
  }
  /* line 671, ../../japan4-scss/item.scss */
  .z-section1 .section1__text-line--left {
    height: 12px;
    width: 192px;
  }
  /* line 676, ../../japan4-scss/item.scss */
  .z-section1 .section1__text-line--right {
    height: 12px;
    width: 192px;
  }

  /* line 684, ../../japan4-scss/item.scss */
  .z-section2 .section2__line-text {
    transform: translate3d(-25%, -100px, 0) scale(0.5);
    width: 200%;
  }
  /* line 689, ../../japan4-scss/item.scss */
  .z-section2 .z-section__text {
    font-size: 22px;
  }
  /* line 693, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -240px;
    padding-bottom: 20px;
  }
  /* line 697, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .middle {
    width: 50%;
    margin-top: 60px;
  }
  /* line 702, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .right {
    width: 50%;
    margin-top: 17px;
  }

  /* line 709, ../../japan4-scss/item.scss */
  .z-section3 {
    padding-bottom: 240px;
  }
  /* line 712, ../../japan4-scss/item.scss */
  .z-section3 .section3__text--box {
    padding: 30px 0;
  }
  /* line 715, ../../japan4-scss/item.scss */
  .z-section3 .section3__text--box .icon__left {
    width: 20px;
  }
  /* line 719, ../../japan4-scss/item.scss */
  .z-section3 .section3__text--box .icon__right {
    position: absolute;
    width: 20px;
    left: 60%;
    bottom: 10px;
  }
  /* line 727, ../../japan4-scss/item.scss */
  .z-section3 .right {
    width: 70%;
    margin-top: 80px;
    bottom: -240px;
  }
  /* line 732, ../../japan4-scss/item.scss */
  .z-section3 .right .message {
    height: 80px;
    padding: 15px;
    font-size: 18px;
    margin-top: 0;
  }

  /* line 742, ../../japan4-scss/item.scss */
  .z-section4__title-box {
    height: 80px;
  }
  /* line 745, ../../japan4-scss/item.scss */
  .z-section4__title-box .trangle {
    bottom: -30px;
    margin-left: -30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #E0F2FF;
  }
  /* line 754, ../../japan4-scss/item.scss */
  .z-section4 .z-section__text {
    margin: 20px auto 40px;
  }
  /* line 758, ../../japan4-scss/item.scss */
  .z-section4 .section4__item {
    width: 33.3333%;
  }
  /* line 760, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:first-child {
    text-align: left;
    margin-left: 50px;
  }
  /* line 769, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:last-child {
    margin-left: 120px;
  }
  /* line 774, ../../japan4-scss/item.scss */
  .z-section4 .section4__img {
    margin-bottom: 20px;
  }
  /* line 777, ../../japan4-scss/item.scss */
  .z-section4 .section4__img img {
    width: 100%;
  }

  /* line 783, ../../japan4-scss/item.scss */
  .z-section5 {
    padding-bottom: 20px;
  }
  /* line 786, ../../japan4-scss/item.scss */
  .z-section5 .section5__item {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 791, ../../japan4-scss/item.scss */
  .z-section5 .section5__list--title {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 798, ../../japan4-scss/item.scss */
  .z-section1 {
    padding: 50px 0 120px;
  }
  /* line 802, ../../japan4-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 36px;
  }
  /* line 806, ../../japan4-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 26px;
  }
  /* line 809, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small {
    padding: 30px 0;
  }
  /* line 811, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small .dot {
    width: 10px;
    height: 10px;
  }
  /* line 816, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small .line {
    width: 150px;
    height: 1px;
    margin-top: 4px;
  }
  /* line 823, ../../japan4-scss/item.scss */
  .z-section1 .section1__text-line--left {
    height: 10px;
    width: 160px;
  }
  /* line 828, ../../japan4-scss/item.scss */
  .z-section1 .section1__text-line--right {
    height: 10px;
    width: 160px;
  }

  /* line 836, ../../japan4-scss/item.scss */
  .z-section2 .z-section__text {
    font-size: 18px;
  }
  /* line 840, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -240px;
    padding-bottom: 20px;
  }
  /* line 844, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 849, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .middle {
    width: 100%;
    margin-top: 60px;
  }
  /* line 854, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .right {
    width: 90%;
    margin-top: 17px;
    padding-bottom: 127px;
  }

  /* line 863, ../../japan4-scss/item.scss */
  .z-section3 .right {
    width: 90%;
  }

  /* line 870, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:first-child {
    text-align: left;
    margin-left: 20px;
  }
  /* line 875, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:nth-child(2) {
    margin-left: 40px;
  }
  /* line 879, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:last-child {
    margin-left: 100px;
  }
}
@media screen and (max-width: 414px) {
  /* line 888, ../../japan4-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 32px;
  }
  /* line 892, ../../japan4-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 22px;
  }

  /* line 898, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -100px;
    padding-top: 0;
  }
  /* line 902, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 907, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .middle {
    margin-top: 0;
  }
  /* line 911, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .right {
    width: 90%;
    margin-top: 17px;
    padding-bottom: 127px;
  }
  /* line 918, ../../japan4-scss/item.scss */
  .z-section2 .right__message .message {
    width: 240px;
  }

  /* line 924, ../../japan4-scss/item.scss */
  .z-section3 .right {
    width: 100%;
  }
  /* line 927, ../../japan4-scss/item.scss */
  .z-section3 .right .message {
    height: 90px;
  }

  /* line 935, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:nth-child(2) {
    margin-left: 20px;
  }
  /* line 939, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:last-child {
    margin-left: 60px;
  }
}
@media screen and (max-width: 375px) {
  /* line 947, ../../japan4-scss/item.scss */
  .z-section1 {
    padding-bottom: 100px;
  }
  /* line 949, ../../japan4-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 28px;
  }
  /* line 953, ../../japan4-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 18px;
  }

  /* line 959, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -100px;
  }
  /* line 963, ../../japan4-scss/item.scss */
  .z-section2 .right__message .message {
    width: 200px;
    font-size: 14px;
    height: 60px;
  }

  /* line 970, ../../japan4-scss/item.scss */
  .z-section3 {
    padding-bottom: 130px;
  }
  /* line 973, ../../japan4-scss/item.scss */
  .z-section3 .right {
    bottom: -130px;
  }
  /* line 976, ../../japan4-scss/item.scss */
  .z-section3 .right .person {
    width: 120px;
  }
  /* line 979, ../../japan4-scss/item.scss */
  .z-section3 .right .person img {
    width: 100%;
  }
  /* line 984, ../../japan4-scss/item.scss */
  .z-section3 .right .message {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  /* line 992, ../../japan4-scss/item.scss */
  .z-section__title {
    font-size: 20px;
    line-height: 38px;
  }

  /* line 998, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -100px;
  }
  /* line 1000, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .right {
    padding-bottom: 91px;
  }
  /* line 1005, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .middle img {
    width: 100%;
  }
  /* line 1012, ../../japan4-scss/item.scss */
  .z-section2 .right__message .person {
    width: 60px;
  }
  /* line 1016, ../../japan4-scss/item.scss */
  .z-section2 .right__message .message {
    width: 180px;
    font-size: 14px;
    height: 60px;
  }
}
