@charset "UTF-8";
/* line 2, ../../japan4-scss/item.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

/* line 34, ../../japan4-scss/item.scss */
* {
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

/* line 40, ../../japan4-scss/item.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../../japan4-scss/item.scss */
img {
  display: block;
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}

/* line 51, ../../japan4-scss/item.scss */
input {
  vertical-align: middle;
}

/* 清除IE10及以上版本input的叉叉（X）和密码输入框的眼睛图标 */
/* line 55, ../../japan4-scss/item.scss */
input::-ms-clear {
  display: none;
}

/* line 58, ../../japan4-scss/item.scss */
input::-ms-reveal {
  display: none;
}

/*清除谷歌浏览器下的 search 叉号 */
/* line 62, ../../japan4-scss/item.scss */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*清除IE下的 search 叉号 */
/* line 66, ../../japan4-scss/item.scss */
input[type=search]::-ms-clear {
  display: none;
}

/* line 70, ../../japan4-scss/item.scss */
em {
  font-weight: normal;
  font-style: normal;
}

/* line 74, ../../japan4-scss/item.scss */
ol,
ul {
  list-style: none;
}

/* line 78, ../../japan4-scss/item.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* line 87, ../../japan4-scss/item.scss */
body {
  position: relative;
}

/* line 90, ../../japan4-scss/item.scss */
a {
  text-decoration: none;
}

/* line 93, ../../japan4-scss/item.scss */
a:hover {
  text-decoration: none;
}

/* line 97, ../../japan4-scss/item.scss */
.v-middle {
  vertical-align: middle;
}

/* line 101, ../../japan4-scss/item.scss */
.z-section__title {
  font-size: 36px;
  line-height: 48px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

/* line 109, ../../japan4-scss/item.scss */
.z-section__content {
  max-width: 1400px;
  margin: auto;
  padding-top: 65px;
}

/* line 115, ../../japan4-scss/item.scss */
.z-page {
  overflow: hidden;
}

/* line 119, ../../japan4-scss/item.scss */
.z-mobile-show {
  display: none !important;
}

/* line 123, ../../japan4-scss/item.scss */
.mt-20 {
  margin-top: 20px;
}

/* line 127, ../../japan4-scss/item.scss */
.mt-28 {
  margin-top: 28px;
}

/* line 131, ../../japan4-scss/item.scss */
.mt-40 {
  margin-top: 40px;
}

/* line 135, ../../japan4-scss/item.scss */
.z-page {
  padding-top: 100px;
  overflow: hidden;
}

/* line 140, ../../japan4-scss/item.scss */
.z-section__button {
  display: inline-flex;
  width: 170px;
  height: 50px;
  padding: 0 26px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #E60033;
  border-radius: 8px;
  font-size: 16px;
}
/* line 152, ../../japan4-scss/item.scss */
.z-section__button:hover {
  background: #c30233;
}

/* line 157, ../../japan4-scss/item.scss */
.z-section__text--dot {
  position: relative;
  padding-left: 0;
  font-size: 18px;
  line-height: 24px;
}
/* line 163, ../../japan4-scss/item.scss */
.z-section__text--dot .dot {
  display: inline-block;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  background: #E60033;
  vertical-align: middle;
}

/* line 173, ../../japan4-scss/item.scss */
.z-section__text--circle {
  position: relative;
  padding-left: 0;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
/* line 180, ../../japan4-scss/item.scss */
.z-section__text--circle .circle {
  display: inline-block;
  margin-right: 5px;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  vertical-align: middle;
  border-radius: 100%;
}

/* line 191, ../../japan4-scss/item.scss */
.z-main__video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

/* line 203, ../../japan4-scss/item.scss */
.z-section1 {
  padding: 70px 0 153px;
  background: url(../RJ-img/page1-bg.jpg) no-repeat;
  text-align: center;
  background-size: cover;
  background-position: center center;
}
/* line 210, ../../japan4-scss/item.scss */
.z-section1 .z-section__content {
  padding-top: 0;
}
/* line 214, ../../japan4-scss/item.scss */
.z-section1 .section1__title {
  font-size: 60px;
  color: #fff;
  margin-bottom: 15px;
}
/* line 220, ../../japan4-scss/item.scss */
.z-section1 .section1__text {
  font-size: 36px;
  color: #fff;
  padding-bottom: 19px;
}
/* line 225, ../../japan4-scss/item.scss */
.z-section1 .section1__text--small {
  position: relative;
  padding: 40px 0 0 0;
  margin-bottom: 60px;
  text-align: left;
  color: #fff;
  font-size: 18px;
}
/* line 232, ../../japan4-scss/item.scss */
.z-section1 .section1__text--small .dot {
  width: 16px;
  height: 16px;
  background: #fff;
}
/* line 238, ../../japan4-scss/item.scss */
.z-section1 .section1__text--small .line {
  width: 244px;
  height: 1px;
  margin-top: 7px;
  background: #fff;
}

/* line 249, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text {
  position: relative;
  padding-bottom: 100px;
}
/* line 253, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text img {
  width: 100%;
}
/* line 257, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text--item {
  position: absolute;
  width: 19%;
}
/* line 262, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text--title {
  font-size: 22px;
  color: #168ADD;
  text-align: center;
  margin-bottom: 10px;
}
/* line 269, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text1 {
  left: 0;
  top: 58%;
}
/* line 274, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text2 {
  left: 20%;
  top: 37%;
}
/* line 279, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text3 {
  left: 40%;
  top: 22%;
}
/* line 284, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text4 {
  right: 20%;
  top: 37%;
}
/* line 289, ../../japan4-scss/item.scss */
.z-section2 .section2__line-text5 {
  right: 0;
  top: 58%;
}
/* line 295, ../../japan4-scss/item.scss */
.z-section2 .z-section__text {
  margin: 30px 0 40px;
  font-size: 16px;
  text-align: center;
}
/* line 301, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom {
  background: url(../RJ-img/page2-bg.png) no-repeat;
  background-size: 100% auto;
  background-position: center top;
  padding-top: 68px;
  margin-top: -60px;
}
/* line 308, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .person {
  margin-bottom: -12px;
}
/* line 312, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom-content {
  max-width: 1400px;
  margin: auto;
  display: flex;
}
/* line 318, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .left {
  width: 33.333%;
  display: inline-flex;
  margin-top: 80px;
}
/* line 323, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .left .message {
  background: url(../RJ-img/page2-message.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 270px;
  height: 100px;
  padding: 30px 24px;
  font-size: 22px;
  color: #1779BF;
  margin-top: -30px;
}
/* line 336, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .middle {
  width: 33.3333%;
  text-align: center;
}
/* line 340, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .middle__title {
  font-size: 22px;
  color: #333333;
  margin-bottom: 20px;
}
/* line 346, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .middle img {
  margin: auto;
}
/* line 351, ../../japan4-scss/item.scss */
.z-section2 .section2__bottom .right {
  width: 33.3333%;
  margin-top: 70px;
}
/* line 357, ../../japan4-scss/item.scss */
.z-section2 .right__message {
  position: absolute;
  display: inline-flex;
  right: 20px;
}
/* line 362, ../../japan4-scss/item.scss */
.z-section2 .right__message .person {
  width: 80px;
}
/* line 365, ../../japan4-scss/item.scss */
.z-section2 .right__message .person img {
  width: 100%;
}
/* line 370, ../../japan4-scss/item.scss */
.z-section2 .right__message .message {
  background: url(../RJ-img/page2-message-new.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 270px;
  height: 80px;
  padding: 20px 24px;
  font-size: 16px;
  color: #1779BF;
}

/* line 383, ../../japan4-scss/item.scss */
.z-section3 {
  padding-bottom: 150px;
  background: url(../RJ-img/page3-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
/* line 390, ../../japan4-scss/item.scss */
.z-section3 .z-section__content {
  position: relative;
}
/* line 394, ../../japan4-scss/item.scss */
.z-section3 .z-section__title {
  margin-bottom: 70px;
  color: #fff;
}
/* line 399, ../../japan4-scss/item.scss */
.z-section3 .z-section__text {
  margin-bottom: 40px;
}
/* line 403, ../../japan4-scss/item.scss */
.z-section3 .section3__text--box {
  position: relative;
  padding: 61px 0;
}
/* line 407, ../../japan4-scss/item.scss */
.z-section3 .section3__text--box .icon__left {
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
}
/* line 414, ../../japan4-scss/item.scss */
.z-section3 .section3__text--box .icon__right {
  position: absolute;
  width: 30px;
  bottom: 0;
  left: 40%;
}
/* line 421, ../../japan4-scss/item.scss */
.z-section3 .section3__text--box .z-section__text--circle {
  color: #fff;
}
/* line 426, ../../japan4-scss/item.scss */
.z-section3 .right {
  position: absolute;
  width: 37%;
  display: inline-flex;
  margin-top: 80px;
  right: 0;
  bottom: -150px;
}
/* line 434, ../../japan4-scss/item.scss */
.z-section3 .right .message {
  background: url(../RJ-img/page3-message.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 300px;
  height: 120px;
  padding: 20px 24px;
  font-size: 22px;
  color: #FF670B;
  margin-top: -30px;
  margin-right: 20px;
}

/* line 449, ../../japan4-scss/item.scss */
.z-section4 {
  padding-bottom: 20px;
  background: #fff;
}
/* line 453, ../../japan4-scss/item.scss */
.z-section4__title-box {
  position: relative;
  background: #E0F2FF;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 461, ../../japan4-scss/item.scss */
.z-section4__title-box .trangle {
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -50px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #E0F2FF;
}
/* line 472, ../../japan4-scss/item.scss */
.z-section4 .z-section__text {
  max-width: 1041px;
  margin: 30px auto 53px;
}
/* line 477, ../../japan4-scss/item.scss */
.z-section4 .section4__img {
  margin-bottom: 30px;
}
/* line 480, ../../japan4-scss/item.scss */
.z-section4 .section4__img img {
  margin: auto;
}
/* line 485, ../../japan4-scss/item.scss */
.z-section4 .section4__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* line 492, ../../japan4-scss/item.scss */
.z-section5 {
  padding-bottom: 60px;
}
/* line 495, ../../japan4-scss/item.scss */
.z-section5 .section5__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 36px;
}
/* line 501, ../../japan4-scss/item.scss */
.z-section5 .section5__list--img {
  width: 100%;
}
/* line 505, ../../japan4-scss/item.scss */
.z-section5 .section5__list--title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #1779BF;
  border-bottom: 1px solid #979797;
}
/* line 514, ../../japan4-scss/item.scss */
.z-section5 .section5__list .z-section__text--dot {
  margin-bottom: 10px;
}
/* line 519, ../../japan4-scss/item.scss */
.z-section5 .section5__item {
  width: 32%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
  transition: all 0.5s;
}
/* line 524, ../../japan4-scss/item.scss */
.z-section5 .section5__item:hover {
  transform: translateY(-15px);
}
/* line 528, ../../japan4-scss/item.scss */
.z-section5 .section5__item--content {
  padding: 30px 18px;
}

@media screen and (max-width: 1280px) {
  /* line 535, ../../japan4-scss/item.scss */
  .z-section__content {
    max-width: 1200px;
  }

  /* line 540, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -30px;
  }

  /* line 546, ../../japan4-scss/item.scss */
  .z-section3 .z-section__title {
    margin-bottom: 40px;
    color: #fff;
  }
  /* line 551, ../../japan4-scss/item.scss */
  .z-section3 .section3__text--box {
    padding: 40px 0;
  }

  /* line 556, ../../japan4-scss/item.scss */
  .z-section4 {
    padding-bottom: 20px;
    background: #fff;
  }
  /* line 560, ../../japan4-scss/item.scss */
  .z-section4__title-box {
    height: 120px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 567, ../../japan4-scss/item.scss */
  .z-section__content {
    max-width: 960px;
  }

  /* line 571, ../../japan4-scss/item.scss */
  .z-section1 {
    padding: 74px 0 200px;
  }

  /* line 575, ../../japan4-scss/item.scss */
  .z-section3 {
    padding-bottom: 180px;
  }
  /* line 578, ../../japan4-scss/item.scss */
  .z-section3 .right {
    width: 42%;
    bottom: -180px;
  }

  /* line 585, ../../japan4-scss/item.scss */
  .z-section4__title-box {
    height: 110px;
  }
}
@media screen and (max-width: 768px) {
  /* line 592, ../../japan4-scss/item.scss */
  .z-pc-show {
    display: none !important;
  }

  /* line 596, ../../japan4-scss/item.scss */
  .z-mobile-show {
    display: block;
  }

  /* line 600, ../../japan4-scss/item.scss */
  .z-section__title {
    font-size: 24px;
    line-height: 44px;
  }

  /* line 605, ../../japan4-scss/item.scss */
  .z-section__text--dot {
    font-size: 16px;
  }

  /* line 609, ../../japan4-scss/item.scss */
  .z-section__text--circle {
    font-size: 16px;
  }

  /* line 613, ../../japan4-scss/item.scss */
  .z-section__content {
    padding-top: 40px;
    max-width: 100%;
    margin: 0 15px;
  }

  /* line 619, ../../japan4-scss/item.scss */
  .z-section__button {
    width: 140px;
    height: 44px;
    padding: 0 20px;
  }

  /* line 625, ../../japan4-scss/item.scss */
  .z-section1 {
    padding: 74px 0 170px;
  }
  /* line 629, ../../japan4-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 42px;
  }
  /* line 633, ../../japan4-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 30px;
  }
  /* line 636, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small {
    padding: 40px 0;
    font-size: 16px;
  }
  /* line 639, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small .dot {
    width: 12px;
    height: 12px;
  }
  /* line 644, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small .line {
    width: 180px;
    height: 1px;
    margin-top: 5px;
  }
  /* line 651, ../../japan4-scss/item.scss */
  .z-section1 .section1__text-line--left {
    height: 12px;
    width: 192px;
  }
  /* line 656, ../../japan4-scss/item.scss */
  .z-section1 .section1__text-line--right {
    height: 12px;
    width: 192px;
  }

  /* line 664, ../../japan4-scss/item.scss */
  .z-section2 .section2__line-text {
    transform: translate3d(-25%, -100px, 0) scale(0.5);
    width: 200%;
  }
  /* line 669, ../../japan4-scss/item.scss */
  .z-section2 .z-section__text {
    font-size: 22px;
  }
  /* line 673, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -240px;
    padding-bottom: 20px;
  }
  /* line 677, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .middle {
    width: 50%;
    margin-top: 60px;
  }
  /* line 682, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .right {
    width: 50%;
    margin-top: 17px;
  }

  /* line 689, ../../japan4-scss/item.scss */
  .z-section3 {
    padding-bottom: 240px;
  }
  /* line 692, ../../japan4-scss/item.scss */
  .z-section3 .section3__text--box {
    padding: 30px 0;
  }
  /* line 695, ../../japan4-scss/item.scss */
  .z-section3 .section3__text--box .icon__left {
    width: 20px;
  }
  /* line 699, ../../japan4-scss/item.scss */
  .z-section3 .section3__text--box .icon__right {
    position: absolute;
    width: 20px;
    left: 60%;
    bottom: 10px;
  }
  /* line 707, ../../japan4-scss/item.scss */
  .z-section3 .right {
    width: 70%;
    margin-top: 80px;
    bottom: -240px;
  }
  /* line 712, ../../japan4-scss/item.scss */
  .z-section3 .right .message {
    height: 80px;
    padding: 15px;
    font-size: 18px;
    margin-top: 0;
  }

  /* line 722, ../../japan4-scss/item.scss */
  .z-section4__title-box {
    height: 80px;
  }
  /* line 725, ../../japan4-scss/item.scss */
  .z-section4__title-box .trangle {
    bottom: -30px;
    margin-left: -30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #E0F2FF;
  }
  /* line 734, ../../japan4-scss/item.scss */
  .z-section4 .z-section__text {
    margin: 20px auto 40px;
  }
  /* line 738, ../../japan4-scss/item.scss */
  .z-section4 .section4__item {
    width: 33.3333%;
  }
  /* line 740, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:first-child {
    text-align: left;
    margin-left: 50px;
  }
  /* line 749, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:last-child {
    margin-left: 120px;
  }
  /* line 754, ../../japan4-scss/item.scss */
  .z-section4 .section4__img {
    margin-bottom: 20px;
  }
  /* line 757, ../../japan4-scss/item.scss */
  .z-section4 .section4__img img {
    width: 100%;
  }

  /* line 763, ../../japan4-scss/item.scss */
  .z-section5 {
    padding-bottom: 20px;
  }
  /* line 766, ../../japan4-scss/item.scss */
  .z-section5 .section5__item {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 771, ../../japan4-scss/item.scss */
  .z-section5 .section5__list--title {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 778, ../../japan4-scss/item.scss */
  .z-section1 {
    padding: 50px 0 120px;
  }
  /* line 782, ../../japan4-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 36px;
  }
  /* line 786, ../../japan4-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 26px;
  }
  /* line 789, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small {
    padding: 30px 0;
  }
  /* line 791, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small .dot {
    width: 10px;
    height: 10px;
  }
  /* line 796, ../../japan4-scss/item.scss */
  .z-section1 .section1__text--small .line {
    width: 150px;
    height: 1px;
    margin-top: 4px;
  }
  /* line 803, ../../japan4-scss/item.scss */
  .z-section1 .section1__text-line--left {
    height: 10px;
    width: 160px;
  }
  /* line 808, ../../japan4-scss/item.scss */
  .z-section1 .section1__text-line--right {
    height: 10px;
    width: 160px;
  }

  /* line 816, ../../japan4-scss/item.scss */
  .z-section2 .z-section__text {
    font-size: 18px;
  }
  /* line 820, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -240px;
    padding-bottom: 20px;
  }
  /* line 824, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 829, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .middle {
    width: 100%;
    margin-top: 60px;
  }
  /* line 834, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .right {
    width: 90%;
    margin-top: 17px;
    padding-bottom: 127px;
  }

  /* line 843, ../../japan4-scss/item.scss */
  .z-section3 .right {
    width: 90%;
  }

  /* line 850, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:first-child {
    text-align: left;
    margin-left: 20px;
  }
  /* line 855, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:nth-child(2) {
    margin-left: 40px;
  }
  /* line 859, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:last-child {
    margin-left: 100px;
  }
}
@media screen and (max-width: 414px) {
  /* line 868, ../../japan4-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 32px;
  }
  /* line 872, ../../japan4-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 22px;
  }

  /* line 878, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -100px;
    padding-top: 0;
  }
  /* line 882, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 887, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .middle {
    margin-top: 0;
  }
  /* line 891, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .right {
    width: 90%;
    margin-top: 17px;
    padding-bottom: 127px;
  }
  /* line 898, ../../japan4-scss/item.scss */
  .z-section2 .right__message .message {
    width: 240px;
  }

  /* line 904, ../../japan4-scss/item.scss */
  .z-section3 .right {
    width: 100%;
  }
  /* line 907, ../../japan4-scss/item.scss */
  .z-section3 .right .message {
    height: 90px;
  }

  /* line 915, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:nth-child(2) {
    margin-left: 20px;
  }
  /* line 919, ../../japan4-scss/item.scss */
  .z-section4 .section4__item:last-child {
    margin-left: 60px;
  }
}
@media screen and (max-width: 375px) {
  /* line 927, ../../japan4-scss/item.scss */
  .z-section1 {
    padding-bottom: 100px;
  }
  /* line 929, ../../japan4-scss/item.scss */
  .z-section1 .section1__title {
    font-size: 28px;
  }
  /* line 933, ../../japan4-scss/item.scss */
  .z-section1 .section1__text {
    font-size: 18px;
  }

  /* line 939, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -100px;
  }
  /* line 943, ../../japan4-scss/item.scss */
  .z-section2 .right__message .message {
    width: 200px;
    font-size: 14px;
    height: 60px;
  }

  /* line 950, ../../japan4-scss/item.scss */
  .z-section3 {
    padding-bottom: 130px;
  }
  /* line 953, ../../japan4-scss/item.scss */
  .z-section3 .right {
    bottom: -130px;
  }
  /* line 956, ../../japan4-scss/item.scss */
  .z-section3 .right .person {
    width: 120px;
  }
  /* line 959, ../../japan4-scss/item.scss */
  .z-section3 .right .person img {
    width: 100%;
  }
  /* line 964, ../../japan4-scss/item.scss */
  .z-section3 .right .message {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  /* line 972, ../../japan4-scss/item.scss */
  .z-section__title {
    font-size: 20px;
    line-height: 38px;
  }

  /* line 978, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom {
    margin-top: -100px;
  }
  /* line 980, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .right {
    padding-bottom: 91px;
  }
  /* line 985, ../../japan4-scss/item.scss */
  .z-section2 .section2__bottom .middle img {
    width: 100%;
  }
  /* line 992, ../../japan4-scss/item.scss */
  .z-section2 .right__message .person {
    width: 60px;
  }
  /* line 996, ../../japan4-scss/item.scss */
  .z-section2 .right__message .message {
    width: 180px;
    font-size: 14px;
    height: 60px;
  }
}
