@charset "utf-8";

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

.por {
  position: relative;
}

._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

.text_l {
  text-align: left;
}

.text_r {
  text-align: right;
}

.text_c {
  text-align: center;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.mt10 {
  margin-top: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.line20 {
  line-height: 200%;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* item主体内容区 */
.t-content {
  position: relative;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}

.t-img img {
  width: auto;
  max-width: 100%;
}

.fc-fff {
  color: #fff;
}

.fc-848484 {
  color: #848484;
}

.fc-ffa749 {
  color: #ffa749;
}

/*--------自定义样式--------*/
.section__button {
  padding-top: 43px;
  margin-bottom: 53px;
  text-align: center;
  a {
    display: inline-block;
    width: 219px;
    height: 39px;
    margin: auto 19px;
    font-size: 20px;
    line-height: 39px;
    cursor: pointer;
    &.color__green {
      color: #43af35;
      border: 2px solid #43af35;
    }
    &.color__blue {
      color: #01a8ba;
      border: 2px solid #01a8ba;
    }
  }
}
.section__img_title {
  position: absolute;
  width: 127px;
  left: 0;
  top: 0;
}
.section1 {
  background-image: url("../RJ-img/home-item1-bg.jpg");
}
.section1__content {
    padding-top: 116px;
    margin-bottom: 88px;
    .section1__text {
        width: 80%;
        margin: auto;
        padding-top: 100px;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        text-align: center;
        background: url("../RJ-img/home-item1-02.png") center center/ 120% auto no-repeat;
    }
}
.section2__content {
  padding-top: 84px;
  margin-bottom: 97px;
  img {
    width: 72%;
  }
  .section2__left, 
  .section2__right {
    position: relative;
    width: 45.64%;
    min-height: 502px;
    text-align: center;
    border: 1px solid #ededed;
  }
  .section2__left {
    padding-top: 50px;
  }
  .section2__right {
    padding-top: 40px;
  }
  .section2__left__title,
  .section2__right__title {
    position: absolute;
    width: 64%;
    height: 44px;
    left: 18%;
    top: -22px;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    color: #fff;
  }
  .section2__left__shadow,
  .section2__right__shadow {
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    right: -10px;
    top: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  .section2__left__shadow,
  .section2__left__title {
    background-color: #43af35;
  }
  .section2__right__shadow,
  .section2__right__title {
    background-color: #01a8ba;
  }
  .section2__top__text,
  .section2__bottom__text {
    margin: 0 25px 20px;
    font-size: 16px;
  }
  .section2__top__text {
    line-height: 30px;
    color: #7f7f7f;
  }
  .section2__bottom__text {
    padding-top: 40px;
    line-height: 26px;
    color: #000000;
  }
  .section2__left__list {
    margin-bottom: 20px;
    padding-top: 40px;
    .icon {
      display: block;
      width: 33px;
      margin: auto;
      padding-bottom: 10px;
    }
    li {
      float: left;
      width: 20%;
      text-align: center;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
  }
}
.section3 {
  background-color: #e9e9e9;
}
.section3__content {
  padding-top: 70px;
  .section3__item {
    float: left;
    width: 32.1%;
    margin-bottom: 50px;
    img {
      display: block;
      width: 100%;
    }
    &.margin__right {
      margin-right: 1.85%;
    }
  }
}
.section4 {
  background-image: url("../RJ-img/home-item4-bg.jpg");
  .t-main-title {
    color: #fff;
  }
}
.section4__content {
  padding-top: 70px;
  img {
    display: block;
  }
}
.section4__left {
  width: 40%;
  float: left;
  margin-right: 10%;
}
.section4__left__top {
  border-bottom: 2px dashed #fff;
  ._fl {
    width: 50%;
  }
  img {
    width: 80%;
    margin: auto;
  }
  .t-intro {
    color: #fff;
    padding: 6px 0 13px;
  }
}
.section4__left__bottom {
  .left {
    position: relative;
    img {
      width: 85%;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 100%;
      right: 0;
      top: 0;
      border-right: 2px dashed #fff;
    }
  }
  .left, .right {
    float: left;
    width: 50%;
    padding-top: 25px;
  }
  .t-intro {
    color: #fff;
    padding: 6px 0 13px;
  }
  .right {
    padding-top: 60px;
    text-align: center;
    img {
      margin: auto;
      width: 65px;
    }
    ._fl {
      width: 50%;
    }
  }
}
.section4__right {
  width: 50%;
  float: left;
  .item {
    width: 30%;
    float: left;
  }
  .margin__right {
    margin-right: 5%
  }
  .circle {
    position: relative;
    width: 104px;
    height: 104px;
    margin: auto;
    border-radius: 50%;
    .small_circle {
      position: absolute;
      width: 12px;
      height: 12px;
      left: 46px;
      bottom: -6px;
      border-radius: 50%;
      background: #fff;
    }
    &.green {
      background-color: rgba(67, 175, 53, .2);
      border: 2px dashed #43af35;
    }
    &.blue {
      background-color: rgba(1, 168, 186, .2);
      border: 2px dashed #01a8ba;
    }
    &.orange {
      background-color: rgba(186, 211, 13, .2);
      border: 2px dashed #bad30d;
    }
  }
  .line {
    width: 0;
    height: 78px;
    margin: auto;
    border-right: 2px dashed #fff;
  }
  .list {
    width: 165px;
    min-height: 219px;
    padding: 0 7px;
    margin: auto;
    text-align: center;
    &.green {
      background-color: rgba(67, 175, 53, .5);
    }
    &.blue {
      background-color: rgba(1, 168, 186, .5);
    }
    &.orange {
      background-color: rgba(186, 211, 13, .5);
    }
    li {
      padding: 12px 0;
      font-size: 16px;
      color: #fff;
      line-height: 24px;
      border-bottom: 1px solid #fff;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}



/*----------------*/
@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }

  .t-pc {
    display: none;
  }

  .t-mobile {
    display: block;
  }

  .t-cont-item {
    height: auto;
  }

  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .t-main-title {
    font-size: 28px;
    padding-top: 35px;
  }

  .t-sub-title {
    font-size: 18px;
  }

  .t-intro,
  .t-intro p {
    font-size: 16px;
    line-height: 20px;
  }

  /*--------自定义样式--------*/
}
