@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0 none;
}
input {
  vertical-align: middle;
}
em {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  position: relative;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}
._fl {
  float: left;
}
._fr {
  float: right;
}
.none {
  display: none;
}

/*-------common---------*/
.t-mobile {
  display: none;
}
/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}
/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* item主体内容区 */
.t-content {
  position: relative;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  margin: 0 80px;
}
/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}
.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}
.t-img img {
  width: auto;
  max-width: 100%;
}

/*--------自定义样式--------*/
.sec__button {
  padding-top: 43px;
  margin-bottom: 53px;
  text-align: center;
  a {
    display: inline-block;
    width: 219px;
    height: 39px;
    margin: auto 19px;
    font-size: 20px;
    line-height: 39px;
    cursor: pointer;
    &.color__green {
      color: #43af35;
      border: 2px solid #43af35;
    }
    &.color__blue {
      color: #01a8ba;
      border: 2px solid #01a8ba;
    }
  }
}
.sec__img_title {
  position: absolute;
  width: 127px;
  left: 0;
  top: 0;
}
.sec1 {
  background-image: url("../RJ-img/home-item1-bg.jpg");
}
.sec1__content {
    padding-top: 116px;
    margin-bottom: 88px;
    .sec1__text {
        width: 80%;
        margin: auto;
        margin-top: 100px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        text-align: center;
        background: url("../RJ-img/home-item1-02.png") center center/100% 120% no-repeat;
    }
}
.sec2__content {
  padding-top: 84px;
  margin-bottom: 97px;
  img {
    width: 72%;
  }
  .sec2__left, 
  .sec2__right {
    position: relative;
    width: 45.64%;
    min-height: 502px;
    text-align: center;
    border: 1px solid #ededed;
  }
  .sec2__left {
    padding-top: 50px;
  }
  .sec2__right {
    padding-top: 40px;
  }
  .sec2__left__title,
  .sec2__right__title {
    position: absolute;
    width: 64%;
    height: 44px;
    left: 18%;
    top: -22px;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    color: #fff;
  }
  .sec2__left__shadow,
  .sec2__right__shadow {
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    right: -10px;
    top: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  .sec2__left__shadow,
  .sec2__left__title {
    background-color: #43af35;
  }
  .sec2__right__shadow,
  .sec2__right__title {
    background-color: #01a8ba;
  }
  .sec2__top__text,
  .sec2__bottom__text {
    margin: 0 25px 20px;
    font-size: 16px;
  }
  .sec2__top__text {
    line-height: 30px;
    color: #7f7f7f;
  }
  .sec2__bottom__text {
    padding-top: 40px;
    line-height: 26px;
    color: #000000;
  }
  .sec2__left__list {
    margin-bottom: 20px;
    padding-top: 40px;
    .icon {
      display: block;
      width: 33px;
      margin: auto;
      padding-bottom: 10px;
    }
    li {
      float: left;
      width: 20%;
      text-align: center;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      span {
        display: block;
        margin: 0 8px;
      }
    }
  }
}
.sec3 {
  background-color: #e9e9e9;
  .t-main-title {
    padding-top: 94px;
  }
}
.sec3__content {
  padding-top: 70px;
  .sec3__item {
    position: relative;
    float: left;
    width: 32.1%;
    margin-bottom: 50px;
    img {
      display: block;
      width: 100%;
    }
    &.margin__right {
      margin-right: 1.85%;
    }
  }
  .t-intro {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #fff;
    line-height: 40px;
  }
}
.sec4 {
  background-image: url("../RJ-img/home-item4-bg.jpg");
  .t-main-title {
    padding-top: 94px;
    color: #fff;
  }
}
.sec4__content {
  padding-top: 70px;
  img {
    display: block;
  }
}
.sec4__left {
  width: 40%;
  float: left;
  margin-right: 10%;
}
.sec4__left__top {
  border-bottom: 2px dashed #fff;
  ._fl {
    width: 50%;
  }
  img {
    width: 80%;
    margin: auto;
  }
  .t-intro {
    color: #fff;
    padding: 6px 0 13px;
  }
}
.sec4__left__bottom {
  .left {
    position: relative;
    img {
      width: 85%;
      margin: auto;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 100%;
      right: 0;
      top: 0;
      border-right: 2px dashed #fff;
    }
  }
  .left, .right {
    float: left;
    width: 50%;
    padding-top: 25px;
  }
  .t-intro {
    color: #fff;
    padding: 6px 0 13px;
  }
  .right {
    padding-top: 60px;
    text-align: center;
    img {
      margin: auto;
      width: 65px;
    }
    ._fl {
      width: 50%;
    }
  }
}
.sec4__right {
  width: 50%;
  float: left;
  .item {
    width: 30%;
    float: left;
  }
  .margin__right {
    margin-right: 5%
  }
  .circle {
    position: relative;
    width: 104px;
    height: 104px;
    margin: auto;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    .text {
      display: table-cell;
      width: 104px;
      height: 104px;
      text-align: center;
      vertical-align: middle;
      .small__text {
        font-size: 16px;
      }
    }
    .small__circle {
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      left: 46px;
      bottom: -6px;
      border-radius: 50%;
      background: #fff;
    }
    &.green {
      background-color: rgba(67, 175, 53, .2);
      border: 2px dashed #43af35;
    }
    &.blue {
      background-color: rgba(1, 168, 186, .2);
      border: 2px dashed #01a8ba;
    }
    &.orange {
      background-color: rgba(186, 211, 13, .2);
      border: 2px dashed #bad30d;
    }
  }
  .line {
    width: 0;
    height: 78px;
    margin: auto;
    border-right: 2px dashed #fff;
  }
  .list {
    width: 165px;
    min-height: 219px;
    padding: 0 7px;
    margin: auto;
    font-size: 16px;
    text-align: center;
    &.green {
      background-color: rgba(67, 175, 53, .5);
    }
    &.blue {
      background-color: rgba(1, 168, 186, .5);
    }
    &.orange {
      background-color: rgba(186, 211, 13, .5);
    }
    li {
      padding: 12px 0;
      color: #fff;
      line-height: 24px;
      border-bottom: 1px solid #fff;
      &:last-child {
        border-bottom: none;
      }
    }
    .opacity__text {
      opacity: .6;
      filter: alpha(opacity=60);
    }
  }
}
.sec5 {
  .t-main-title {
    padding-top: 94px;
  }
}
.sec5__content {
  padding-top: 70px;
  img {
    display: block;
    width: 100%;
  }
}
.sec6 {
  background-color: #dfdfdf;
  .t-sub-title {
    margin-bottom: 36px;
    color: #000;
  }
}
.sec6__content {
  margin-bottom: 105px;
  .left {
    width: 25%;
    min-height: 530px;
    background-color: #fff;
    li {
      display: inline-block;
      width: 48.5%;
      margin-bottom: 10px;
    }
  }
  .middle {
    width: 36.7%;
    min-height: 530px;
    background-color: #fff;
    li {
      display: inline-block;
      width: 31.3333%;
      margin-bottom: 10px;
    }
    .long__text {
      line-height: 40px;
      margin-bottom: 10px;
      img {
        display: block;
        margin: auto;
        width: 31.3333%;
      }
    }
  }
  .margin__right {
    margin-right: 6.65%
  }
  .title {
    position: relative;
    height: 52px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    line-height: 52px;
    .shadow {
      display: block;
      position: absolute;
      width: 100%;
      height: 10px;
      opacity: .4;
      filter: alppha(opacity=40);
      &.green {
        background-color: rgba(67, 175, 53, .5);
      }
      &.blue {
        background-color: rgba(1, 168, 186, .5);
      }
      &.orange {
        background-color: rgba(186, 211, 13, .5);
      }
    }
    &.green {
      background-color: #43af35;
    }
    &.blue {
      background-color: #01a8ba;
    }
    &.orange {
      background-color: #bad30d;
    }
  }
  .list {
    padding: 40px 9px 0 9px;
    font-size: 0;
    text-align: center;
    img {
      display: block;
      width: 100%;
    }
    .margin__right {
      margin-right: 3%;
    }
  }
  .t-intro {
    line-height: 40px;
    color: #000;
  }
}
.sec7 {
  background-image: url("../RJ-img/home-item7-bg.jpg");
  .t-main-title {
    color: #fff;
  }
}
.sec7__content {
  padding-top: 50px;
  margin-bottom: 40px;
  li {
    float: left;
    width: 20.725%;
    img {
      display: block;
      width: 100%;
    }
  }
  .margin__right {
    margin-right: 5.7%;
  }
  .t-intro {
    padding-top: 36px;
    margin-bottom: 50px;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }
  .t-pc {
    display: none;
  }
  .t-mobile {
    display: block;
  }
  .t-cont-item {
    height: auto;
  }
  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .t-main-title {
    font-size: 24px;
    padding-top: 35px;
    margin: 0 10px;
  }
  .t-sub-title {
    font-size: 18px;
  }
  .t-intro,
  .t-intro p {
    font-size: 14px;
    line-height: 20px;
  }
  /*--------自定义样式--------*/
  .sec__button a {
    width: 130px;
    margin: 0;
    font-size: 14px;
  }
  .sec__img_title {
    width: 60px;
  }
  .sec1__content {
    padding-top: 40px;
    margin-bottom: 40px;
    .sec1__text {
      margin-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: -15px;
      margin-left: -15px;
      width: 100%;
      font-size: 14px;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .sec2__content {
    padding-top: 54px;
    margin-bottom: 44px;
    .sec2__left, .sec2__right {
      width: auto;
      margin: auto;
      min-height: auto;
      min-width: 99%;
    }
    .sec2__left {
      margin-bottom: 40px;
    }
    .sec2__left__list li {
      font-size: 14px;
      span {
        margin: 0 2px;
      }
    }
    .sec2__bottom__text {
      font-size: 14px;
    }
  }
  .sec3 {
    .t-main-title {
      padding-top: 35px;
    }
  }
  .sec3__content {
    padding-top: 40px;
    .sec__button {
      padding-top: 23px;
    }
    .sec3__item {
      width: 47.5%;
      margin-bottom: 20px;
      &.margin__right {
        margin-right: 0;
      }
      &.sm__margin__right {
        margin-right: 5%;
      }
    }
    .t-intro {
      line-height: 40px;
      padding-bottom: 0;
    }
  }
  .sec4 {
    .t-main-title {
      padding-top: 35px;
    }
  }
  .sec4__content {
    padding-top: 40px;
  }
  .sec4__left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    .t-intro {
      margin-top: 0;
    }
  }
  .sec4__right {
    width: 100%;
    .item {
      width: 100%;
      margin-bottom: 20px;
      .line {
        height: 40px;
      }
      .list {
        min-height: auto;
        width: 240px;
        font-size: 14px;
      }
    }
    .margin__right {
      margin-right: 0;
    }
  }
  .sec5 {
    .t-main-title {
      padding-top: 40px;
    }
  }
  .sec5__content {
    padding-top: 40px;
  }
  .sec6__content {
    margin-bottom: 40px;
    .title {
      font-size: 20px;
    }
    li {
      margin-bottom: 0;
    }
    .left, .middle {
      width: 100%;
      min-height: auto;
      margin-bottom: 20px;
    }
    .margin__right {
      margin-right: 0;
    }
    .t-intro {
      line-height: 1;
    }
  }
  .sec7__content {
    padding-top: 30px;
    margin-bottom: 20px;
    li {
      width: 47.5%;
    }
    .margin__right {
      margin-right: 0;
    }
    .xs__margin__right {
      margin-right: 5%;
    }
    .t-intro {
      padding: 0;
      margin-bottom: 30px;
    }
  }
}
