.lx-page5 {
  .left {
    .pingfen {
      padding-left: 39px;
      justify-content: start;
    }
  }

  .grade-product__title {
    font-size: 24px;
    color: #24497F;
    text-align: center;
    margin-bottom: 30px;
  }

  .grade_product {
    margin-bottom: 20px;
    background-color: #f7f7f7;

    &_box {
      position: relative;
    }

    .swiper-container {
      margin: 0 44px;
    }

    .swiper-slide {
      background-color: #fff;
  
      .img-box {
        height: 175px;
        display: block;
        margin-bottom: 23px;
        text-align: center;
  
        img {
          width: 100%;
          max-width: 200px;
          margin: auto;
        }
      }
  
      .slide-desc {
        font-size: 14px;
        color: #666666;
        margin-bottom: 29px;
        text-align: center;
      }
  
      .slide-link {
        margin-bottom: 28px;
        font-size: 14px;
        color: #CD0C22;
        text-align: center;
      }
    }
  
    .arrow-group {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 40%;
      left: 0;
    }
  
    .arrow {
      display: block;
      width: 28px;
      height: 28px;

      &.left {
        background: url(../RJ-img/swiper-arrow-left.png) center/100% no-repeat;
      }

      &.right {
        background: url(../RJ-img/swiper-arrow-right.png) center/100% no-repeat;
      }
    }

    &.grade_product_flex {
      .arrow-group {
        display: none;
      }

      .swiper-wrapper {
        justify-content: center;
      }
    }
  }
}
