@charset "UTF-8";
@import "compass/css3";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
  color: #212121;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0 none;
}
input {
  vertical-align: middle;
}
em {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  position: relative;
}


/*-------common---------*/

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.none {
  display: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.none {
  display: none;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.mb20-lg {
  margin-bottom: 20px;
}
.mb40-lg {
  margin-bottom: 40px;
}
.mb50-lg {
  margin-bottom: 50px;
}
.line20 {
  line-height: 200%;
}
.img-block {
  display: block;
  width: 100%;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}

/* item统一背景样式 */
.t-main-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* item主体内容区 */
.t-content {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

/* 通用一级标题 */
.t-main-title {
  padding-top: 70px;
  margin: auto;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #000;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #000;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000;
}


// 非公共css
.section1 {
  background-image: url("../RJ-img/bg-1.jpg");
  .section1__title {
    width: 87%;
  }
  .section1__subtitle {
    width: 50%;
    margin: 30px auto 70px;
    line-height: 81px;
    text-align: center;
    font-size: 34px;
    color: #fff;
    background: url("../RJ-img/t-sub-title1.png") center center/100% 100% no-repeat;
  }
  .section1__text_wrap {
    padding-bottom: 120px;
  }
  .section1__text {
    font-size: 18px;
    color: #fff;
    text-align: center;
  }
}
.section2 {
  background-image: url("../RJ-img/bg-2.jpg");
  .section2__list {
    font-size: 0;
    text-align: center;
  }
  .section2__item {
    display: inline-block;
    width: 31%;
    min-width: 270px;
    height: 145px;
    position: relative;
    margin-top: 55px;
    margin-right: 3.2%;
    border: 1px solid #5bbbed;
    background-color: #d5eef5;
    &:last-child {
      margin-right: 0;
    }
  }
  .section2__icon {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
  }
  .section__icon {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
  }
  .section2__title {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #0080cb;
    span {
      font-size: 10px;
      color: #0080cb;
    }
  }
  .section2__text {
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    color: #000;
  }
  .section2__item__long {
    margin-bottom: 40px;
    position: relative;
    margin-top: 55px;
    border: 1px solid #5bbbed;
    background-color: #d5eef5;
    .section2__text {
      margin-bottom: 20px;
    }
  }
}
.section3 {
  .section3__subtitle {
    margin-top: 30px;
  }
  .section3_video {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 530px;
    iframe {
      border: none;
    }
  }
}
.section4 {
  background-image: url('../RJ-img/bg-4.jpg');
  height: 707px;
  .section4__list {
    padding-top: 185px;
    font-size: 0;
    text-align: center;
  }
  .section4_item {
    position: relative;
    float: left;
    width: 23%;
    height: 261px;
    margin-right: 2.66666%;
    background-color: #fff;
    border-bottom: 4px solid #0080cb;
    img {
      display: block;
      position: absolute;
      width: 95%;
      left: 2.5%;
      top: -150px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .section4__title {
    padding-top: 90px;
    font-size: 24px;
    line-height: 32px;
    color: #0080cb;
  }
  .section4__text {
    margin-top: 30px;
    padding: 0 5%;
    font-size: 18px;
    line-height: 26px;
  }
}
.section5 {
  .section5__list {
    padding-top: 70px;
    text-align: center;
  }
  .section5__item {
    position: relative;
    float: left;
    width: 32%;
    height: 476px;
    margin-right: 2%;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    &:first-child {
      background-image: url("../RJ-img/demo1.jpg");
    }
    &:nth-child(2) {
      background-image: url("../RJ-img/demo2.jpg");
    }
    &:last-child {
      margin-right: 0;
      background-image: url("../RJ-img/demo3.jpg");
    }
    &:hover .section5__mask {
      display: block;
    }
    .section5__mask {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .7);
    }
    .mask__text {
      padding-top: 40px;
      font-size: 18px;
      color: #fff;
    }
    .mask__button {
      display: block;
      width: 150px;
      line-height: 45px;
      margin: 20px auto 0 auto;
      background-color: #0080cb;
      font-size: 18px;
      color: #fff;
      text-align: center;
      text-decoration: none;
    }
  }
  .section5__title {
    padding-top: 40px;
    color: #fff;
  }
  .section5__text {
    padding-top: 30px;
    font-size: 18px;
    color: #fff;
  }
}
.section6 {
  background-image: url("../RJ-img/bg-6.jpg")
}
@media screen and (max-width: 768px) {
  .t-pc {
    display: none;
  }
  .t-mobile {
    display: block;
  }
  .t-main-item {
    height: auto;
  }
  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .t-intro {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .t-intro p {
    font-size: 16px;
    line-height: 20px;
  }
  .t-main-title {
    font-size: 28px;
    padding-top: 35px;
  }
  .t-sub-title {
    font-size: 18px;
  }
  .t-intro,
  .t-intro p {
    font-size: 16px;
    line-height: 20px;
  }




  .section__title {
    padding-top: 35px;
    font-size: 28px;
  }
  .section__01 {
    .section__title {
      padding-top: 35px;
    }
    .section__01__subtitle {
      width: 70%;
      margin: 15px auto 20px;
      line-height: 70px;
      font-size: 24px;
    }
    .section__01__text_wrap {
      padding-bottom: 30px;
    }
    .section__01__text {
      font-size: 16px;
    }
  }
  .section2 {
    .section2__item {
      display: block;
      width: auto;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 414px) {
  .section__01 {
    .section__01__subtitle {
      width: 70%;
      line-height: 50px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 375px) {
}