@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

* {
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}

input {
  vertical-align: middle;
}

em {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

body {
  position: relative;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

.text_l {
  text-align: left;
}

.text_r {
  text-align: right;
}

.text_c {
  text-align: center;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.line20 {
  line-height: 200%;
}

.fc-fff {
  color: #fff;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
  background: #f3f5f9;
  overflow-x: none;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-size: 16px;
}

/* item主体内容区 */
.t-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  /*overflow: hidden;*/
  position: relative;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  color: #2f5083;
  padding: 60px 0px 40px 0;
  position: relative;
  margin: 0 auto;
  width: 96%;
  font-weight: bold;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #505251;
  width: 90%;
  margin: 0 auto;
  line-height: 26px;
  margin-bottom: 30px;
}

/* 带装饰的title */
.decorate-title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.decorate-text {
  position: relative;
  padding: 0 60px;
  font-weight: bold;
}
.decorate-text::before, .decorate-text::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 19px;
}
.decorate-text::before {
  left: 0;
  background: url(../RJ-img/subtitle-icon-left.png) center center/100% 100% no-repeat;
}
.decorate-text::after {
  right: 0;
  background: url(../RJ-img/subtitle-icon-right.png) center center/100% 100% no-repeat;
}

.text-left {
  text-align: left;
}

.color1 {
  color: #33507a;
}

.t-main-des {
  font-size: 20px;
  color: #595757;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  margin: 20px auto;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-top: 25px;
}

.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}

.t-img img {
  width: auto;
  max-width: 100%;
}

.t-intro span.tips {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #fd300e;
  text-align: left;
}

.hidden {
  overflow: hidden;
}

.t-page1 {
  background-image: url("../RJ-img/banner.jpg");
  background-position: center bottom;
  height: 692px;
}
.t-page1 .page1-cont {
  width: 52%;
  float: left;
  margin: 107px auto 0 auto;
}
.t-page1-title {
  margin-bottom: 40px;
  margin-left: -70px;
}
.t-page1-title img {
  width: 90%;
  margin: auto;
}
.t-page1-text {
  font-size: 16px;
  line-height: 26px;
  color: #333;
}
.t-page1 .btn:first-child {
  margin-left: 0;
}
.t-page1 .btn-list .btn.line-bg {
  background: #fff;
}
.t-page1 .btn-list {
  margin-top: 50px;
  text-align: left;
}
.t-page1 .btn-list .btn {
  text-align: center;
  display: inline-block;
  width: 170px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #e60039;
  font-size: 16px;
  text-decoration: none;
  border-radius: 43px;
  margin: 10px;
  border: 1px solid #e60039;
  padding: 0;
  cursor: pointer;
}
.t-page1 .btn-list .btn:hover {
  background: #fff;
  color: #e60039;
  border: 1px solid #bd0231;
}

.t-page-nav {
  background: #666666;
}
.t-page-nav .t-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 60px;
}
.t-page-nav .nav-left {
  width: 210px;
  font-size: 16px;
  color: #a6a6a6;
}
.t-page-nav .nav-left-icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-right: 18px;
  background: url("../RJ-img/home-icon.png") center center/100% 100% no-repeat;
  vertical-align: text-bottom;
}
.t-page-nav .nav-left .active {
  color: #fff;
}
.t-page-nav .nav-left .text {
  padding: 0 17px;
}
.t-page-nav .nav-lists {
  display: flex;
  color: #fff;
  font-size: 16px;
}
.t-page-nav .nav-lists li {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 0 8px;
  cursor: pointer;
  display: block;
  position: relative;
}
.t-page-nav.on {
  position: fixed;
  z-index: 9999;
  top: 0;
  line-height: 60px;
}

.btn-list {
  text-align: center;
  margin: 20px auto;
  clear: both;
}

.btn-list a.btn {
  height: 38px;
  line-height: 38px;
  padding: 0 28px;
  font-size: 16px;
  color: #fff;
  background: #e50039;
  border: 1px solid #e50039;
  display: inline-block;
  margin: 10px 8px;
  border-radius: 38px;
  text-decoration: none;
}

.btn-list a.btn:hover {
  background: none;
  color: #e50039;
}

.btn-list a.btn.line-bg {
  background: none;
  color: #e50039;
}

.btn-list a.btn.line-bg:hover {
  color: #fff;
  background: #e50039;
}

.t-page2 {
  padding-bottom: 66px;
  background-color: #fff;
}
.t-page2-list {
  overflow: hidden;
  padding: 40px 0;
}
.t-page2-item {
  float: left;
  width: 23%;
  height: 470px;
  margin-right: 2.66666666%;
  background-color: #fff;
  box-shadow: 0 0  10px 10px #eee;
  border-radius: 5px;
}
.t-page2-item:last-child {
  margin-right: 0;
}
.t-page2-item img {
  display: block;
  width: 167px;
  height: 167px;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 36px;
}
.t-page2-item .item-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
.t-page2-item .item-text {
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  line-height: 26px;
}
.t-page2-item .item-text-list {
  list-style: disc;
  padding: 0 20px 0 40px;
}

.t-page3 {
  background-image: url("../RJ-img/page3-bg.jpg");
  background-position: center bottom;
  padding-bottom: 82px;
  font-size: 16px;
  color: #333;
}
.t-page3 .t-sub-title {
  width: 75%;
  margin-bottom: 50px;
  text-align: left;
}
.t-page3 .img-wrap {
  position: relative;
  width: 869px;
  margin: auto;
}
.t-page3 .img-wrap img {
  display: block;
  width: 100%;
}
.t-page3 .top {
  position: absolute;
  width: 570px;
  top: 100px;
  left: 160px;
}
.t-page3 .top-left {
  float: left;
}
.t-page3 .top-right {
  float: right;
}
.t-page3 .middle {
  position: absolute;
  width: 240px;
  top: 230px;
  left: 327px;
}
.t-page3 .middle-left {
  float: left;
}
.t-page3 .middle-right {
  float: right;
}
.t-page3 .middle-other {
  position: absolute;
  right: -120px;
  top: -90px;
}
.t-page3 .bottom {
  position: absolute;
  bottom: 10px;
  left: 100px;
  right: 70px;
  display: flex;
  justify-content: space-between;
}

.t-page4 {
  background-image: url(../RJ-img/page4-bg.jpg);
  padding-bottom: 20px;
}
.t-page4-list {
  overflow: hidden;
  margin-bottom: 30px;
}
.t-page4-item {
  float: left;
  width: 24%;
  padding: 8px 0;
  line-height: 26px;
  font-size: 16px;
  color: #333;
  margin-right: 1.3333333%;
  background-color: #d9ebf9;
  border-bottom: 2px solid transparent;
}
.t-page4-item:last-child {
  margin-right: 0;
}
.t-page4-item.active {
  background-color: #fff;
  border-color: #e60b42;
}
.t-page4 .t-sub-title {
  width: 80%;
  text-align: left;
}
.t-page4 .left, .t-page4 .right {
  float: left;
  width: 50%;
}
.t-page4 .decorate-title {
  margin-bottom: 30px;
}
.t-page4 .slide-content {
  position: relative;
}
.t-page4-slide1 .slide-content {
  position: relative;
  width: 381px;
  height: 381px;
  margin: auto;
  margin-top: 60px;
  background: url(../RJ-img/page4-item1.png) center center/100% 100% no-repeat;
}
.t-page4-slide1-circle {
  position: absolute;
  display: flex;
  width: 78px;
  height: 78px;
  background-color: #fff;
  border: 1px solid #0e8cdc;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.t-page4-slide1-circle.bg {
  background-color: #d3eafa;
}
.t-page4-slide1 .big-circle {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 120px;
  left: 120px;
  border-radius: 50%;
  background-color: #6096c4;
  color: #fff;
  font-size: 24px;
  line-height: 140px;
}
.t-page4-slide1 .circle1 {
  top: -36px;
  left: 150px;
}
.t-page4-slide1 .circle2 {
  top: 10px;
  left: 270px;
}
.t-page4-slide1 .circle9 {
  top: 10px;
  left: 30px;
}
.t-page4-slide1 .circle3 {
  top: 110px;
  left: 330px;
}
.t-page4-slide1 .circle8 {
  top: 110px;
  left: -30px;
}
.t-page4-slide1 .circle4 {
  top: 220px;
  left: 320px;
}
.t-page4-slide1 .circle7 {
  top: 220px;
  left: -20px;
}
.t-page4-slide1 .circle5 {
  top: 320px;
  left: 230px;
}
.t-page4-slide1 .circle6 {
  top: 320px;
  left: 60px;
}
.t-page4-slide2 .t-sub-title {
  width: 84%;
}
.t-page4-slide2 .slide-content {
  position: relative;
  margin-top: 60px;
  width: 84%;
  margin-left: 8%;
}
.t-page4-slide2 img {
  display: block;
  width: 100%;
}
.t-page4-slide2 .text {
  position: absolute;
}
.t-page4-slide2 .text1 {
  top: 105px;
  left: 140px;
}
.t-page4-slide2 .text2 {
  top: 130px;
  right: 20px;
}
.t-page4-slide2 .text3 {
  top: 185px;
  left: 230px;
}
.t-page4-slide2 .text4 {
  bottom: 2px;
  left: 80px;
}
.t-page4-slide2 .slide2-right-title {
  margin: 30px 0 25px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.t-page4-slide2 .slide2-right-list {
  overflow: hidden;
}
.t-page4-slide2 .slide2-right-item {
  float: left;
  display: flex;
  align-items: center;
  width: 165px;
  margin-bottom: 15px;
}
.t-page4-slide2 .item-num {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  line-height: 34px;
  text-align: center;
  background-color: #6096c4;
  border-radius: 50%;
  color: #fff;
}
.t-page4-slide2 .item-text {
  flex: 1;
  line-height: 26px;
}
.t-page4-slide3 img {
  display: block;
  margin: auto;
}
.t-page4-slide3 .left {
  position: relative;
}
.t-page4-slide3 .left .text1 {
  position: absolute;
  left: 135px;
  top: 273px;
}
.t-page4-slide3 .left .text2 {
  position: absolute;
  left: 395px;
  top: 273px;
}
.t-page4-slide3 .right {
  position: relative;
}
.t-page4-slide3 .right .text {
  position: absolute;
}
.t-page4-slide3 .right .text1 {
  top: 200px;
  left: 76px;
}
.t-page4-slide3 .right .text2 {
  top: 120px;
  left: 110px;
}
.t-page4-slide3 .right .text3 {
  top: 0;
  left: 242px;
}
.t-page4-slide3 .right .text4 {
  top: 100px;
  left: 422px;
}
.t-page4-slide3 .right .text5 {
  top: 175px;
  left: 462px;
}
.t-page4-slide3 .right .text6 {
  bottom: 15px;
  left: 105px;
  color: #fff;
}
.t-page4-slide3 .right .text7 {
  bottom: 15px;
  left: 405px;
  color: #fff;
}
.t-page4-slide4 {
  padding-bottom: 140px;
  color: #fff;
}
.t-page4-slide4 .text {
  position: absolute;
}
.t-page4-slide4 .left {
  position: relative;
  margin-top: 50px;
}
.t-page4-slide4 .left img {
  display: block;
  width: 438px;
  margin: auto;
}
.t-page4-slide4 .left .text1 {
  top: 53px;
  left: 100px;
}
.t-page4-slide4 .left .text2 {
  top: 100px;
  left: 150px;
}
.t-page4-slide4 .left .text3 {
  top: 150px;
  left: 100px;
}
.t-page4-slide4 .left .text4 {
  top: 200px;
  left: 150px;
}
.t-page4-slide4 .left .circle1, .t-page4-slide4 .left .circle2 {
  display: block;
  width: 72px;
  height: 72px;
  background: #6096c4;
  border-radius: 50%;
  line-height: 72px;
  text-align: center;
}
.t-page4-slide4 .left .circle1 {
  top: 50px;
  right: 20px;
}
.t-page4-slide4 .left .circle2 {
  top: 150px;
  right: 20px;
}
.t-page4-slide4 .right {
  position: relative;
}
.t-page4-slide4 .right img {
  display: block;
  width: 289px;
  margin: auto;
}
.t-page4-slide4 .right .bg1 {
  background: #45729f;
}
.t-page4-slide4 .right .bg2 {
  background: #6096c4;
}
.t-page4-slide4 .right .bg3 {
  background: #4e9ecc;
}
.t-page4-slide4 .right .text {
  padding: 5px 5px;
  line-height: 1.2;
  border-radius: 3px;
  min-width: 142px;
  text-align: center;
}
.t-page4-slide4 .right .text1 {
  top: 35px;
  left: 60px;
}
.t-page4-slide4 .right .text2 {
  top: 75px;
  left: 60px;
}
.t-page4-slide4 .right .text3 {
  top: 15px;
  right: 35px;
}
.t-page4-slide4 .right .text4 {
  top: 55px;
  right: 35px;
}
.t-page4-slide4 .right .text5 {
  top: 99px;
  right: 35px;
}
.t-page4-slide4 .right .text6 {
  top: 210px;
  left: 62px;
}
.t-page4-slide4 .right .text7 {
  top: 260px;
  left: 4px;
}
.t-page4-slide4 .right .text8 {
  top: 320px;
  left: 6px;
}
.t-page4-slide4 .right .text9 {
  top: 360px;
  left: 55px;
}
.t-page4-slide4 .right .text10 {
  top: 210px;
  right: 60px;
}
.t-page4-slide4 .right .text11 {
  top: 260px;
  right: 10px;
}
.t-page4-slide4 .right .text12 {
  top: 320px;
  right: 8px;
}
.t-page4-slide4 .right .text13 {
  top: 370px;
  right: 50px;
}
.t-page4-slide4 .right .circle1 {
  top: 43px;
  left: 220px;
  line-height: 24px;
}
.t-page4-slide4 .right .circle2 {
  top: 255px;
  left: 225px;
  color: #333;
  line-height: 24px;
}
.t-page4-slide4 .right .circle3 {
  top: 275px;
  left: 155px;
  line-height: 24px;
}
.t-page4-slide4 .right .circle4 {
  top: 275px;
  left: 293px;
  line-height: 24px;
}
.t-page4 .swiper-button-prev {
  left: -30px;
}
.t-page4 .swiper-button-next {
  right: -30px;
}

.t-page5 {
  background-color: #fff;
}
.t-page5 .item {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.t-page5 img {
  display: block;
  width: 100%;
}
.t-page5 .text {
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 52px;
  border-bottom: 1px solid #e4eef9;
  border-left: 1px solid #e4eef9;
  border-right: 1px solid #e4eef9;
}
.t-page5 .btn-list {
  margin-top: 10px;
}
.t-page5 .item-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 45px;
  background: #6096c4;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}
.t-page5-top {
  margin-top: 40px;
  margin-bottom: 38px;
  overflow: hidden;
  width: 100%;
}
.t-page5-top li {
  float: left;
  width: 23%;
  margin-right: 2.666666%;
}
.t-page5-top li:last-child {
  margin-right: 0;
}
.t-page5-center {
  margin-bottom: 38px;
}
.t-page5-center .item {
  width: 23%;
  float: left;
  margin-right: 2.6666666%;
}
.t-page5-center .item:last-child {
  margin-right: 0;
}
.t-page5-bottom {
  overflow: hidden;
  margin-top: 50px;
}
.t-page5-bottom .left, .t-page5-bottom .right {
  width: 45%;
  float: left;
}
.t-page5-bottom .left {
  margin-right: 10%;
}
.t-page5-bottom .text {
  padding: 20px 0;
  line-height: 26px;
}

.show-pc {
  display: block !important;
}

.show-mobile {
  display: none !important;
}

#iframe {
  display: none;
}

@media screen and (max-width: 1024px) {
  .t-content {
    max-width: 980px;
  }

  .t-page1 {
    height: 600px;
  }
  .t-page1-title {
    margin-left: -50px;
  }

  .t-page2 {
    padding-bottom: 40px;
  }
  .t-page2-item {
    width: 23.5%;
    height: 480px;
    margin-right: 2%;
  }
  .t-page2-item img {
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .t-page4 .decorate-title {
    margin-bottom: 30px;
  }
  .t-page4-slide2 .text1 {
    top: 85px;
    left: 115px;
  }
  .t-page4-slide2 .text2 {
    top: 105px;
  }
  .t-page4-slide2 .text3 {
    top: 150px;
    left: 180px;
  }
  .t-page4-slide2 .text4 {
    bottom: 2px;
    left: 70px;
  }
  .t-page4-slide2 .slide2-right-title {
    margin: 20px 0;
  }
  .t-page4-slide2 .slide2-right-item {
    width: 185px;
  }
  .t-page4-slide3 img {
    width: 90%;
  }
  .t-page4-slide3 .left .text1 {
    left: 95px;
    top: 243px;
  }
  .t-page4-slide3 .left .text2 {
    left: 325px;
    top: 243px;
  }
  .t-page4-slide3 .right .text1 {
    top: 190px;
    left: 31px;
  }
  .t-page4-slide3 .right .text2 {
    top: 115px;
    left: 70px;
  }
  .t-page4-slide3 .right .text3 {
    top: 0;
    left: 190px;
  }
  .t-page4-slide3 .right .text4 {
    top: 90px;
    left: 362px;
  }
  .t-page4-slide3 .right .text5 {
    top: 165px;
    left: 402px;
  }
  .t-page4-slide3 .right .text6 {
    bottom: 15px;
    left: 58px;
  }
  .t-page4-slide3 .right .text7 {
    bottom: 15px;
    left: 345px;
  }
  .t-page4-slide4 .left img {
    width: 400px;
  }
  .t-page4-slide4 .left .text1 {
    top: 48px;
    left: 60px;
  }
  .t-page4-slide4 .left .text2 {
    top: 92px;
    left: 110px;
  }
  .t-page4-slide4 .left .text3 {
    top: 138px;
    left: 60px;
  }
  .t-page4-slide4 .left .text4 {
    top: 180px;
    left: 105px;
  }
  .t-page4-slide4 .left .circle1, .t-page4-slide4 .left .circle2 {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  .t-page4-slide4 .left .circle1 {
    top: 40px;
    right: 10px;
  }
  .t-page4-slide4 .left .circle2 {
    top: 130px;
    right: 10px;
  }
  .t-page4-slide4 .right img {
    width: 270px;
  }
  .t-page4-slide4 .right .text {
    min-width: 138px;
  }
  .t-page4-slide4 .right .text1 {
    top: 35px;
    left: 30px;
  }
  .t-page4-slide4 .right .text2 {
    top: 75px;
    left: 30px;
  }
  .t-page4-slide4 .right .text3 {
    top: 15px;
    right: 35px;
  }
  .t-page4-slide4 .right .text4 {
    top: 55px;
    right: 35px;
  }
  .t-page4-slide4 .right .text5 {
    top: 99px;
    right: 35px;
  }
  .t-page4-slide4 .right .text6 {
    top: 200px;
    left: 32px;
  }
  .t-page4-slide4 .right .text7 {
    top: 250px;
    left: -26px;
  }
  .t-page4-slide4 .right .text8 {
    top: 310px;
    left: -26px;
  }
  .t-page4-slide4 .right .text9 {
    top: 340px;
    left: 45px;
  }
  .t-page4-slide4 .right .text10 {
    top: 190px;
    right: 40px;
  }
  .t-page4-slide4 .right .text11 {
    top: 240px;
    right: -10px;
  }
  .t-page4-slide4 .right .text12 {
    top: 300px;
    right: -22px;
  }
  .t-page4-slide4 .right .text13 {
    top: 350px;
    right: 30px;
  }
  .t-page4-slide4 .right .circle1 {
    left: 170px;
  }
  .t-page4-slide4 .right .circle2 {
    top: 245px;
    left: 175px;
    color: #333;
    line-height: 24px;
  }
  .t-page4-slide4 .right .circle3 {
    top: 265px;
    left: 105px;
    line-height: 24px;
  }
  .t-page4-slide4 .right .circle4 {
    top: 265px;
    left: 243px;
    line-height: 24px;
  }
  .t-page4 .swiper-button-prev {
    left: -10px;
  }
  .t-page4 .swiper-button-next {
    right: -10px;
  }
}
@media screen and (max-width: 768px) {
  .show-pc {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }

  .t-sub-title {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 92%;
  }

  .t-main-title {
    font-size: 22px;
    padding: 30px 0px 10px 0;
  }

  .t-main-title:after {
    bottom: 5px;
  }

  .t-sub-tit {
    font-size: 20px;
    padding: 40px 0 20px 0;
    margin: 10px auto 10px auto;
  }

  .decorate-text {
    font-size: 22px;
  }

  .t-main-title span {
    padding: 20px;
    background-size: 70%;
  }

  .t-content {
    width: auto;
    margin: 0 30px;
  }

  .t-page1 {
    background-image: url("../RJ-img/banner-m.jpg");
    height: auto;
    padding-bottom: 400px;
  }
  .t-page1 .page1-cont {
    width: 100%;
    float: left;
    margin: 90px auto 0 auto;
  }
  .t-page1-title {
    margin-bottom: 50px;
    margin-left: 0;
  }
  .t-page1-title img {
    display: block;
    margin: auto;
  }
  .t-page1-text {
    font-size: 16px;
    line-height: 26px;
    margin: 0 60px;
    color: #333;
  }
  .t-page1 .btn-list {
    text-align: center;
  }

  .t-nav {
    display: none;
  }

  .btn-list a.btn {
    height: 32px;
    line-height: 32px;
    margin: 5px 8px;
  }

  .t-page2 {
    padding-bottom: 20px;
  }
  .t-page2-item {
    width: 46%;
    height: 450px;
    margin-right: 8%;
    margin-bottom: 30px;
  }
  .t-page2-item:last-child {
    margin-right: 0;
  }
  .t-page2-item:nth-child(2n) {
    margin-right: 0;
  }
  .t-page2-item img {
    width: 167px;
    height: 167px;
    margin-bottom: 30px;
    padding-top: 36px;
  }
  .t-page2-item .item-title {
    font-size: 22px;
  }

  .t-page3 .t-sub-title {
    width: 90%;
    margin-bottom: 50px;
  }
  .t-page3 .img-wrap {
    width: 100%;
  }
  .t-page3 .top {
    position: absolute;
    width: 590px;
    top: 110px;
    left: 50px;
  }
  .t-page3 .middle {
    width: 250px;
    top: 240px;
    left: 220px;
  }
  .t-page3 .middle-other {
    right: -100px;
    top: -100px;
  }
  .t-page3 .bottom {
    bottom: 25px;
    left: 80px;
    right: 80px;
  }

  .t-page4 {
    padding-bottom: 20px;
  }
  .t-page4-list {
    margin: 20px 0 10px;
  }
  .t-page4 .t-sub-title {
    width: 90%;
  }
  .t-page4 .left, .t-page4 .right {
    float: none;
    width: 100%;
    margin-bottom: 80px;
  }
  .t-page4 .decorate-title {
    margin-bottom: 30px;
  }
  .t-page4-slide1 .slide-content {
    width: 460px;
    height: 460px;
  }
  .t-page4-slide1-circle {
    width: 78px;
    height: 78px;
  }
  .t-page4-slide1 .big-circle {
    width: 180px;
    height: 180px;
    top: 140px;
    left: 140px;
    font-size: 24px;
    line-height: 180px;
  }
  .t-page4-slide1 .circle1 {
    top: -30px;
    left: 185px;
  }
  .t-page4-slide1 .circle2 {
    top: 20px;
    left: 330px;
  }
  .t-page4-slide1 .circle9 {
    top: 20px;
    left: 50px;
  }
  .t-page4-slide1 .circle3 {
    top: 130px;
    left: 400px;
  }
  .t-page4-slide1 .circle8 {
    top: 130px;
    left: -20px;
  }
  .t-page4-slide1 .circle4 {
    top: 260px;
    left: 400px;
  }
  .t-page4-slide1 .circle7 {
    top: 260px;
    left: -20px;
  }
  .t-page4-slide1 .circle5 {
    top: 380px;
    left: 290px;
  }
  .t-page4-slide1 .circle6 {
    top: 380px;
    left: 80px;
  }
  .t-page4-slide2 .t-sub-title {
    width: 90%;
  }
  .t-page4-slide2 .slide-content {
    position: relative;
    width: 90%;
    margin-left: 5%;
  }
  .t-page4-slide2 .text1 {
    top: 125px;
    left: 205px;
  }
  .t-page4-slide2 .text2 {
    top: 170px;
    right: 30px;
  }
  .t-page4-slide2 .text3 {
    top: 245px;
    left: 310px;
  }
  .t-page4-slide2 .text4 {
    bottom: 8px;
    left: 100px;
  }
  .t-page4-slide2 .slide2-right-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .t-page4-slide3 .left .text1 {
    left: 155px;
    top: 353px;
  }
  .t-page4-slide3 .left .text2 {
    position: absolute;
    left: 485px;
    top: 353px;
  }
  .t-page4-slide3 .right .text1 {
    top: 280px;
    left: 66px;
  }
  .t-page4-slide3 .right .text2 {
    top: 160px;
    left: 120px;
  }
  .t-page4-slide3 .right .text3 {
    top: 10px;
    left: 292px;
  }
  .t-page4-slide3 .right .text4 {
    top: 140px;
    left: 520px;
  }
  .t-page4-slide3 .right .text5 {
    top: 250px;
    left: 572px;
  }
  .t-page4-slide3 .right .text6 {
    bottom: 23px;
    left: 95px;
    color: #fff;
  }
  .t-page4-slide3 .right .text7 {
    bottom: 23px;
    left: 520px;
    color: #fff;
  }
  .t-page4-slide4 {
    padding-bottom: 100px;
  }
  .t-page4-slide4 .left {
    margin-bottom: 90px;
  }
  .t-page4-slide4 .left img {
    width: 538px;
  }
  .t-page4-slide4 .left .text1 {
    top: 68px;
    left: 110px;
  }
  .t-page4-slide4 .left .text2 {
    top: 130px;
    left: 170px;
  }
  .t-page4-slide4 .left .text3 {
    top: 190px;
    left: 110px;
  }
  .t-page4-slide4 .left .text4 {
    top: 250px;
    left: 170px;
  }
  .t-page4-slide4 .left .circle1, .t-page4-slide4 .left .circle2 {
    display: block;
    width: 72px;
    height: 72px;
    background: #6096c4;
    border-radius: 50%;
    line-height: 72px;
    text-align: center;
  }
  .t-page4-slide4 .left .circle1 {
    top: 50px;
    right: 20px;
  }
  .t-page4-slide4 .left .circle2 {
    top: 150px;
    right: 20px;
  }
  .t-page4-slide4 .right img {
    width: 350px;
  }
  .t-page4-slide4 .right .text {
    min-width: 142px;
  }
  .t-page4-slide4 .right .bg2 {
    min-width: 115px;
  }
  .t-page4-slide4 .right .bg3 {
    min-width: 100px;
  }
  .t-page4-slide4 .right .text1 {
    top: 45px;
    left: 80px;
  }
  .t-page4-slide4 .right .text2 {
    top: 95px;
    left: 80px;
  }
  .t-page4-slide4 .right .text3 {
    top: 20px;
    right: 70px;
  }
  .t-page4-slide4 .right .text4 {
    top: 70px;
    right: 70px;
  }
  .t-page4-slide4 .right .text5 {
    top: 119px;
    right: 70px;
  }
  .t-page4-slide4 .right .text6 {
    top: 255px;
    left: 125px;
  }
  .t-page4-slide4 .right .text7 {
    top: 310px;
    left: 64px;
  }
  .t-page4-slide4 .right .text8 {
    top: 390px;
    left: 66px;
  }
  .t-page4-slide4 .right .text9 {
    top: 440px;
    left: 120px;
  }
  .t-page4-slide4 .right .text10 {
    top: 250px;
    right: 145px;
  }
  .t-page4-slide4 .right .text11 {
    top: 310px;
    right: 75px;
  }
  .t-page4-slide4 .right .text12 {
    top: 380px;
    right: 75px;
  }
  .t-page4-slide4 .right .text13 {
    top: 440px;
    right: 140px;
  }
  .t-page4-slide4 .right .circle1 {
    top: 60px;
    left: 275px;
  }
  .t-page4-slide4 .right .circle2 {
    top: 305px;
    left: 275px;
  }
  .t-page4-slide4 .right .circle3 {
    top: 340px;
    left: 190px;
    line-height: 24px;
  }
  .t-page4-slide4 .right .circle4 {
    top: 340px;
    left: 363px;
    line-height: 24px;
  }
  .t-page4 .swiper-hand {
    position: absolute;
    width: 100%;
    bottom: 25px;
    text-align: center;
  }
  .t-page4 .swiper-button-prev {
    left: 30%;
  }
  .t-page4 .swiper-button-next {
    right: 30%;
  }

  .t-page5-top li {
    float: left;
    width: 46%;
    margin-right: 8%;
  }
  .t-page5-top li:last-child {
    margin-right: 0;
  }
  .t-page5-top li:nth-child(2n) {
    margin-right: 0;
  }
  .t-page5-center {
    margin-bottom: 38px;
  }
  .t-page5-center .item {
    width: 46%;
    float: left;
    margin-right: 8%;
  }
  .t-page5-center .item:last-child {
    margin-right: 0;
  }
  .t-page5-center .item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .t-sub-title {
    margin-top: 15px;
  }

  .t-page1 {
    padding-bottom: 200px;
  }
  .t-page1 .page1-cont {
    margin: 50px auto 0 auto;
  }
  .t-page1-title {
    margin-bottom: 30px;
  }
  .t-page1-title img {
    width: 100%;
  }
  .t-page1-text {
    margin: 0 20px;
  }
  .t-page1 .btn-list {
    margin-top: 30px;
  }

  .t-page2 {
    padding-bottom: 0;
  }
  .t-page2-item {
    width: 90%;
    height: 400px;
    margin-right: 8%;
    margin: 0 5% 30px 5%;
  }

  .t-page3 {
    padding-bottom: 60px;
  }
  .t-page3 .t-sub-title {
    width: 100%;
    margin-bottom: 30px;
  }
  .t-page3 .img-wrap {
    font-size: 14px;
  }
  .t-page3 .top {
    position: absolute;
    width: 380px;
    top: 60px;
    left: 10px;
  }
  .t-page3 .middle {
    width: 160px;
    top: 140px;
    left: 120px;
  }
  .t-page3 .middle-other {
    right: -110px;
    top: -50px;
  }
  .t-page3 .bottom {
    bottom: 13px;
    left: 40px;
    right: 40px;
  }

  .t-page4 {
    padding-bottom: 20px;
  }
  .t-page4-list {
    margin: 20px 0 0;
  }
  .t-page4-item {
    width: 47%;
    margin-bottom: 10px;
    margin-right: 6%;
  }
  .t-page4-item:nth-child(2n) {
    margin-right: 0;
  }
  .t-page4 .t-sub-title {
    width: 100%;
  }
  .t-page4 .swiper-slide {
    font-size: 14px;
  }
  .t-page4-slide1 .left {
    margin-bottom: 30px;
  }
  .t-page4-slide1 .slide-content {
    width: 360px;
    height: 360px;
  }
  .t-page4-slide1-circle {
    width: 78px;
    height: 78px;
  }
  .t-page4-slide1 .big-circle {
    width: 140px;
    height: 140px;
    top: 110px;
    left: 110px;
  }
  .t-page4-slide1 .circle1 {
    top: -36px;
    left: 150px;
  }
  .t-page4-slide1 .circle2 {
    top: 10px;
    left: 250px;
  }
  .t-page4-slide1 .circle9 {
    top: 10px;
    left: 30px;
  }
  .t-page4-slide1 .circle3 {
    top: 110px;
    left: 310px;
  }
  .t-page4-slide1 .circle8 {
    top: 110px;
    left: -30px;
  }
  .t-page4-slide1 .circle4 {
    top: 220px;
    left: 300px;
  }
  .t-page4-slide1 .circle7 {
    top: 220px;
    left: -20px;
  }
  .t-page4-slide1 .circle5 {
    top: 300px;
    left: 210px;
  }
  .t-page4-slide1 .circle6 {
    top: 300px;
    left: 60px;
  }
  .t-page4-slide2 .t-sub-title {
    width: 100%;
  }
  .t-page4-slide2 .slide-content {
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
  }
  .t-page4-slide2 .text1 {
    top: 85px;
    left: 120px;
  }
  .t-page4-slide2 .text2 {
    top: 110px;
    right: 30px;
  }
  .t-page4-slide2 .text3 {
    top: 145px;
    left: 190px;
  }
  .t-page4-slide2 .text4 {
    bottom: 3px;
    left: 75px;
  }
  .t-page4-slide2 .slide2-right-item {
    margin-bottom: 20px;
  }
  .t-page4-slide2 .item-text {
    font-size: 16px;
  }
  .t-page4-slide3 .left .text1 {
    left: 80px;
    top: 210px;
  }
  .t-page4-slide3 .left .text2 {
    position: absolute;
    left: 270px;
    top: 210px;
  }
  .t-page4-slide3 .right .text1 {
    top: 160px;
    left: 15px;
  }
  .t-page4-slide3 .right .text2 {
    top: 95px;
    left: 50px;
  }
  .t-page4-slide3 .right .text3 {
    top: 0;
    left: 152px;
  }
  .t-page4-slide3 .right .text4 {
    top: 80px;
    left: 310px;
  }
  .t-page4-slide3 .right .text5 {
    top: 145px;
    left: 342px;
  }
  .t-page4-slide3 .right .text6 {
    bottom: 12px;
    left: 45px;
    color: #fff;
  }
  .t-page4-slide3 .right .text7 {
    bottom: 12px;
    left: 295px;
  }
  .t-page4-slide4 .left {
    margin-bottom: 40px;
  }
  .t-page4-slide4 .left img {
    width: 350px;
  }
  .t-page4-slide4 .left .text1 {
    top: 40px;
    left: 50px;
  }
  .t-page4-slide4 .left .text2 {
    top: 80px;
    left: 90px;
  }
  .t-page4-slide4 .left .text3 {
    top: 120px;
    left: 50px;
  }
  .t-page4-slide4 .left .text4 {
    top: 160px;
    left: 90px;
  }
  .t-page4-slide4 .left .circle1, .t-page4-slide4 .left .circle2 {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  .t-page4-slide4 .left .circle1 {
    top: 40px;
    right: 10px;
  }
  .t-page4-slide4 .left .circle2 {
    top: 140px;
    right: 10px;
  }
  .t-page4-slide4 .right img {
    width: 240px;
  }
  .t-page4-slide4 .right .text {
    min-width: 128px;
  }
  .t-page4-slide4 .right .bg2 {
    min-width: 100px;
  }
  .t-page4-slide4 .right .bg3 {
    min-width: 90px;
  }
  .t-page4-slide4 .right .text1 {
    top: 25px;
    left: -10px;
  }
  .t-page4-slide4 .right .text2 {
    top: 55px;
    left: -10px;
  }
  .t-page4-slide4 .right .text3 {
    top: 7px;
    right: -10px;
  }
  .t-page4-slide4 .right .text4 {
    top: 45px;
    right: -10px;
  }
  .t-page4-slide4 .right .text5 {
    top: 80px;
    right: -10px;
  }
  .t-page4-slide4 .right .text6 {
    top: 170px;
    left: 10px;
  }
  .t-page4-slide4 .right .text7 {
    top: 210px;
    left: -10px;
  }
  .t-page4-slide4 .right .text8 {
    top: 260px;
    left: 0;
  }
  .t-page4-slide4 .right .text9 {
    top: 310px;
    left: 10px;
  }
  .t-page4-slide4 .right .text10 {
    top: 165px;
    right: 20px;
  }
  .t-page4-slide4 .right .text11 {
    top: 220px;
    right: 0;
  }
  .t-page4-slide4 .right .text12 {
    top: 270px;
    right: 0;
  }
  .t-page4-slide4 .right .text13 {
    top: 310px;
    right: 30px;
  }
  .t-page4-slide4 .right .circle1 {
    top: 30px;
    left: 135px;
  }
  .t-page4-slide4 .right .circle2 {
    top: 210px;
    left: 140px;
  }
  .t-page4-slide4 .right .circle3 {
    top: 225px;
    left: 75px;
    line-height: 24px;
  }
  .t-page4-slide4 .right .circle4 {
    top: 225px;
    left: 193px;
    line-height: 24px;
  }
  .t-page4 .swiper-hand {
    position: absolute;
    width: 100%;
    bottom: 25px;
    text-align: center;
  }
  .t-page4 .swiper-button-prev, .t-page4 .swiper-button-next {
    width: 18px;
    height: 32px;
    padding: 5px 10px;
  }
  .t-page4 .swiper-button-prev {
    left: 30%;
  }
  .t-page4 .swiper-button-next {
    right: 30%;
  }

  .t-page5-top li {
    float: left;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .t-page5-center .item {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .t-page5-bottom .left, .t-page5-bottom .right {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 414px) {
  .t-content {
    margin: 0 15px;
  }

  .t-page1 .btn-list .btn {
    width: 160px;
  }

  .t-page3 {
    padding-bottom: 40px;
  }
  .t-page3 .top {
    position: absolute;
    width: 340px;
    top: 60px;
    left: 20px;
  }
  .t-page3 .middle {
    width: 150px;
    top: 125px;
    left: 110px;
  }
  .t-page3 .middle-other {
    right: -90px;
    top: -40px;
  }
  .t-page3 .bottom {
    bottom: 10px;
    left: 30px;
    right: 30px;
  }

  .t-page4 {
    padding-bottom: 20px;
  }
  .t-page4-list {
    margin: 20px 0 0;
  }
  .t-page4-item {
    width: 47%;
    margin-bottom: 10px;
    margin-right: 6%;
  }
  .t-page4-item:nth-child(2n) {
    margin-right: 0;
  }
  .t-page4 .t-sub-title {
    width: 100%;
  }
  .t-page4-slide1 .slide-content {
    width: 310px;
    height: 310px;
  }
  .t-page4-slide1-circle {
    width: 66px;
    height: 66px;
  }
  .t-page4-slide1 .big-circle {
    width: 120px;
    height: 120px;
    top: 95px;
    left: 95px;
    line-height: 120px;
  }
  .t-page4-slide1 .circle1 {
    top: -36px;
    left: 130px;
  }
  .t-page4-slide1 .circle2 {
    top: 0;
    left: 220px;
  }
  .t-page4-slide1 .circle9 {
    top: 0;
    left: 10px;
  }
  .t-page4-slide1 .circle3 {
    top: 90px;
    left: 265px;
  }
  .t-page4-slide1 .circle8 {
    top: 90px;
    left: -25px;
  }
  .t-page4-slide1 .circle4 {
    top: 190px;
    left: 245px;
  }
  .t-page4-slide1 .circle7 {
    top: 190px;
    left: -10px;
  }
  .t-page4-slide1 .circle5 {
    top: 260px;
    left: 180px;
  }
  .t-page4-slide1 .circle6 {
    top: 260px;
    left: 50px;
  }
  .t-page4-slide2 .left {
    margin-bottom: 40px;
  }
  .t-page4-slide2 .text1 {
    top: 75px;
    left: 105px;
  }
  .t-page4-slide2 .text2 {
    top: 100px;
    right: 20px;
  }
  .t-page4-slide2 .text3 {
    top: 135px;
    left: 160px;
  }
  .t-page4-slide2 .text4 {
    bottom: 3px;
    left: 75px;
  }
  .t-page4-slide2 .slide2-right-item {
    margin-bottom: 20px;
  }
  .t-page4-slide3 .left {
    margin-bottom: 40px;
  }
  .t-page4-slide3 .left .text1 {
    left: 65px;
    top: 200px;
  }
  .t-page4-slide3 .left .text2 {
    left: 250px;
    top: 200px;
  }
  .t-page4-slide3 .right .text1 {
    top: 150px;
    left: 5px;
  }
  .t-page4-slide3 .right .text2 {
    top: 85px;
    left: 40px;
  }
  .t-page4-slide3 .right .text3 {
    top: -5px;
    left: 142px;
  }
  .t-page4-slide3 .right .text4 {
    top: 70px;
    left: 280px;
  }
  .t-page4-slide3 .right .text5 {
    top: 130px;
    left: 315px;
  }
  .t-page4-slide3 .right .text6 {
    bottom: 9px;
    left: 38px;
    color: #fff;
  }
  .t-page4-slide3 .right .text7 {
    bottom: 9px;
    left: 263px;
  }
  .t-page4-slide4 .left {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .t-page4-slide4 .left img {
    width: 350px;
  }
  .t-page4-slide4 .left .text1 {
    top: 40px;
    left: 35px;
  }
  .t-page4-slide4 .left .text2 {
    top: 80px;
    left: 75px;
  }
  .t-page4-slide4 .left .text3 {
    top: 120px;
    left: 35px;
  }
  .t-page4-slide4 .left .text4 {
    top: 160px;
    left: 75px;
  }
  .t-page4-slide4 .left .circle1, .t-page4-slide4 .left .circle2 {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  .t-page4-slide4 .left .circle1 {
    top: 40px;
    right: 10px;
  }
  .t-page4-slide4 .left .circle2 {
    top: 140px;
    right: 10px;
  }
  .t-page4-slide4 .right img {
    width: 240px;
  }
  .t-page4-slide4 .right .text1 {
    top: 25px;
    left: -10px;
  }
  .t-page4-slide4 .right .text2 {
    top: 55px;
    left: -10px;
  }
  .t-page4-slide4 .right .text3 {
    top: 7px;
    right: -10px;
  }
  .t-page4-slide4 .right .text4 {
    top: 45px;
    right: -10px;
  }
  .t-page4-slide4 .right .text5 {
    top: 80px;
    right: -10px;
  }
  .t-page4-slide4 .right .text6 {
    top: 170px;
    left: 10px;
  }
  .t-page4-slide4 .right .text7 {
    top: 210px;
    left: -10px;
  }
  .t-page4-slide4 .right .text8 {
    top: 260px;
    left: 0;
  }
  .t-page4-slide4 .right .text9 {
    top: 310px;
    left: 10px;
  }
  .t-page4-slide4 .right .text10 {
    top: 165px;
    right: 20px;
  }
  .t-page4-slide4 .right .text11 {
    top: 220px;
    right: 0;
  }
  .t-page4-slide4 .right .text12 {
    top: 270px;
    right: 0;
  }
  .t-page4-slide4 .right .text13 {
    top: 310px;
    right: 30px;
  }
  .t-page4-slide4 .right .circle1 {
    top: 30px;
    left: 120px;
  }
  .t-page4-slide4 .right .circle2 {
    top: 210px;
    left: 125px;
  }
  .t-page4-slide4 .right .circle3 {
    top: 225px;
    left: 60px;
    line-height: 24px;
  }
  .t-page4-slide4 .right .circle4 {
    top: 225px;
    left: 178px;
    line-height: 24px;
  }
}
@media screen and (max-width: 375px) {
  .t-page1 {
    padding-bottom: 140px;
  }
  .t-page1 .page1-cont {
    padding-bottom: 0;
  }
  .t-page1-text {
    margin: 0;
  }

  .t-page2-list {
    padding-bottom: 0;
  }
  .t-page2-item {
    height: auto;
    padding-bottom: 20px;
  }

  .t-page3 {
    padding-bottom: 40px;
  }
  .t-page3 .top {
    width: 310px;
    top: 50px;
    left: 10px;
  }
  .t-page3 .middle {
    width: 140px;
    top: 115px;
    left: 95px;
  }
  .t-page3 .middle-other {
    right: -90px;
    top: -40px;
  }
  .t-page3 .bottom {
    bottom: 10px;
    left: 30px;
    right: 30px;
  }

  .t-page4 {
    padding-bottom: 20px;
  }
  .t-page4-list {
    margin: 20px 0 0;
  }
  .t-page4-item {
    width: 47%;
    margin-bottom: 10px;
    margin-right: 6%;
  }
  .t-page4-item:nth-child(2n) {
    margin-right: 0;
  }
  .t-page4 .t-sub-title {
    width: 100%;
  }
  .t-page4-slide1 .slide-content {
    width: 290px;
    height: 290px;
  }
  .t-page4-slide1-circle {
    width: 60px;
    height: 60px;
  }
  .t-page4-slide1 .big-circle {
    width: 120px;
    height: 120px;
    top: 85px;
    left: 85px;
    line-height: 120px;
  }
  .t-page4-slide1 .circle1 {
    top: -30px;
    left: 115px;
  }
  .t-page4-slide1 .circle2 {
    top: 0;
    left: 200px;
  }
  .t-page4-slide1 .circle9 {
    top: 0;
    left: 20px;
  }
  .t-page4-slide1 .circle3 {
    top: 90px;
    left: 245px;
  }
  .t-page4-slide1 .circle8 {
    top: 90px;
    left: -25px;
  }
  .t-page4-slide1 .circle4 {
    top: 180px;
    left: 235px;
  }
  .t-page4-slide1 .circle7 {
    top: 180px;
    left: -10px;
  }
  .t-page4-slide1 .circle5 {
    top: 240px;
    left: 175px;
  }
  .t-page4-slide1 .circle6 {
    top: 240px;
    left: 60px;
  }
  .t-page4-slide2 .text1 {
    top: 70px;
    left: 90px;
  }
  .t-page4-slide2 .text2 {
    top: 90px;
  }
  .t-page4-slide2 .text3 {
    top: 120px;
    left: 150px;
  }
  .t-page4-slide2 .text4 {
    bottom: 2px;
    left: 60px;
  }
  .t-page4-slide2 .slide2-right-item {
    margin-bottom: 20px;
  }
  .t-page4-slide3 .left {
    margin-bottom: 30px;
  }
  .t-page4-slide3 .left .text1 {
    left: 60px;
    top: 180px;
  }
  .t-page4-slide3 .left .text2 {
    left: 220px;
    top: 180px;
  }
  .t-page4-slide3 .right .text1 {
    top: 130px;
    left: 5px;
  }
  .t-page4-slide3 .right .text2 {
    top: 75px;
    left: 35px;
  }
  .t-page4-slide3 .right .text3 {
    top: -5px;
    left: 125px;
  }
  .t-page4-slide3 .right .text4 {
    top: 62px;
    left: 258px;
  }
  .t-page4-slide3 .right .text5 {
    top: 115px;
    left: 285px;
  }
  .t-page4-slide3 .right .text6 {
    bottom: 7px;
    left: 32px;
    color: #fff;
  }
  .t-page4-slide3 .right .text7 {
    bottom: 7px;
    left: 237px;
  }
  .t-page4-slide4 .left {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .t-page4-slide4 .left img {
    width: 300px;
  }
  .t-page4-slide4 .left .text1 {
    top: 35px;
    left: 35px;
  }
  .t-page4-slide4 .left .text2 {
    top: 68px;
    left: 70px;
  }
  .t-page4-slide4 .left .text3 {
    top: 103px;
    left: 35px;
  }
  .t-page4-slide4 .left .text4 {
    top: 135px;
    left: 70px;
  }
  .t-page4-slide4 .left .circle1, .t-page4-slide4 .left .circle2 {
    width: 58px;
    height: 58px;
    line-height: 58px;
  }
  .t-page4-slide4 .left .circle1 {
    top: 30px;
    right: 0;
  }
  .t-page4-slide4 .left .circle2 {
    top: 120px;
    right: 0;
  }
  .t-page4-slide4 .right img {
    width: 180px;
  }
  .t-page4-slide4 .right .text {
    min-width: 120px;
  }
  .t-page4-slide4 .right .bg2 {
    min-width: 90px;
  }
  .t-page4-slide4 .right .bg3 {
    min-width: 80px;
  }
  .t-page4-slide4 .right .text1 {
    top: 8px;
    left: 0;
  }
  .t-page4-slide4 .right .text2 {
    top: 55px;
    left: 0;
  }
  .t-page4-slide4 .right .text3 {
    top: 0;
    right: 0;
  }
  .t-page4-slide4 .right .text4 {
    top: 30px;
    right: 0;
  }
  .t-page4-slide4 .right .text5 {
    top: 70px;
    right: 0;
  }
  .t-page4-slide4 .right .text6 {
    top: 125px;
    left: 12px;
  }
  .t-page4-slide4 .right .text7 {
    top: 160px;
    left: 0;
  }
  .t-page4-slide4 .right .text8 {
    top: 195px;
    left: 0;
  }
  .t-page4-slide4 .right .text9 {
    top: 230px;
    left: 25px;
  }
  .t-page4-slide4 .right .text10 {
    top: 120px;
    right: 25px;
  }
  .t-page4-slide4 .right .text11 {
    top: 150px;
    right: 0;
  }
  .t-page4-slide4 .right .text12 {
    top: 190px;
    right: 0;
  }
  .t-page4-slide4 .right .text13 {
    top: 230px;
    right: 30px;
  }
  .t-page4-slide4 .right .circle1 {
    top: 15px;
    left: 107px;
  }
  .t-page4-slide4 .right .circle2 {
    top: 150px;
    left: 110px;
  }
  .t-page4-slide4 .right .circle3 {
    top: 170px;
    left: 60px;
    line-height: 20px;
  }
  .t-page4-slide4 .right .circle4 {
    top: 170px;
    left: 150px;
    line-height: 20px;
  }
}
@media screen and (max-width: 320px) {
  .t-page1 {
    padding-bottom: 140px;
  }
  .t-page1 .page1-cont {
    margin-top: 30px;
  }
  .t-page1-title {
    margin-bottom: 20px;
  }
  .t-page1-text {
    margin: 0;
  }
  .t-page1 .btn-list {
    margin-top: 20px;
  }

  .t-page2-list {
    padding-bottom: 0;
  }
  .t-page2-item {
    height: auto;
    padding-bottom: 20px;
  }
  .t-page2-item img {
    width: 150px;
    height: 150px;
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .t-page3 .top {
    width: 250px;
    top: 45px;
  }
  .t-page3 .middle {
    width: 120px;
    top: 95px;
    left: 80px;
  }
  .t-page3 .middle-other {
    top: -30px;
  }
  .t-page3 .bottom {
    bottom: 7px;
  }

  .t-page4-slide1 .slide-content {
    width: 250px;
    height: 250px;
  }
  .t-page4-slide1-circle {
    width: 60px;
    height: 60px;
  }
  .t-page4-slide1 .big-circle {
    width: 100px;
    height: 100px;
    top: 75px;
    left: 75px;
    line-height: 100px;
  }
  .t-page4-slide1 .circle1 {
    top: -30px;
    left: 100px;
  }
  .t-page4-slide1 .circle2 {
    top: 0;
    left: 180px;
  }
  .t-page4-slide1 .circle9 {
    top: 0;
    left: 10px;
  }
  .t-page4-slide1 .circle3 {
    top: 70px;
    left: 205px;
  }
  .t-page4-slide1 .circle8 {
    top: 70px;
    left: -20px;
  }
  .t-page4-slide1 .circle4 {
    top: 150px;
    left: 195px;
  }
  .t-page4-slide1 .circle7 {
    top: 150px;
    left: -10px;
  }
  .t-page4-slide1 .circle5 {
    top: 210px;
    left: 140px;
  }
  .t-page4-slide1 .circle6 {
    top: 210px;
    left: 55px;
  }
  .t-page4-slide2 .text1 {
    top: 55px;
    left: 70px;
  }
  .t-page4-slide2 .text2 {
    top: 70px;
  }
  .t-page4-slide2 .text3 {
    top: 90px;
    left: 110px;
  }
  .t-page4-slide2 .text4 {
    bottom: 0;
    left: 50px;
  }
  .t-page4-slide3 .left .text1 {
    left: 45px;
    top: 150px;
  }
  .t-page4-slide3 .left .text2 {
    left: 180px;
    top: 150px;
  }
  .t-page4-slide3 .right .text1 {
    top: 110px;
    left: 0;
  }
  .t-page4-slide3 .right .text2 {
    top: 63px;
    left: 25px;
  }
  .t-page4-slide3 .right .text3 {
    left: 95px;
  }
  .t-page4-slide3 .right .text4 {
    top: 50px;
    left: 214px;
  }
  .t-page4-slide3 .right .text5 {
    top: 97px;
    left: 230px;
  }
  .t-page4-slide3 .right .text6 {
    bottom: 4px;
    left: 25px;
    color: #fff;
  }
  .t-page4-slide3 .right .text7 {
    bottom: 4px;
    left: 190px;
  }
  .t-page4-slide4 .left img {
    width: 260px;
  }
  .t-page4-slide4 .left .text1 {
    top: 30px;
    left: 25px;
  }
  .t-page4-slide4 .left .text2 {
    top: 59px;
    left: 52px;
  }
  .t-page4-slide4 .left .text3 {
    top: 88px;
    left: 25px;
  }
  .t-page4-slide4 .left .text4 {
    top: 115px;
    left: 52px;
  }
  .t-page4-slide4 .left .circle1 {
    top: 20px;
  }
  .t-page4-slide4 .left .circle2 {
    top: 90px;
  }
  .t-page4-slide4 .right .slide-content {
    width: 345px;
    transform: scale(0.8);
    margin-left: -30px;
  }
}
