@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

* {
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}

input {
  vertical-align: middle;
}

em {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

body {
  position: relative;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

.text_l {
  text-align: left;
}

.text_r {
  text-align: right;
}

.text_c {
  text-align: center;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.line20 {
  line-height: 200%;
}

.fc-fff {
  color: #fff;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
  background: #f3f5f9;
  overflow-x: none;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-size: 16px;
}

/* item主体内容区 */
.t-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  /*overflow: hidden;*/
  position: relative;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  color: #2f5083;
  padding: 60px 0px 40px 0;
  position: relative;
  margin: 0 auto;
  width: 96%;
  font-weight: bold;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #505251;
  width: 90%;
  margin: 0 auto;
  line-height: 26px;
  margin-bottom: 30px;
}

/* 带装饰的title */
.decorate-title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.decorate-text {
  position: relative;
  padding: 0 60px;
}
.decorate-text::before, .decorate-text::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 19px;
}
.decorate-text::before {
  left: 0;
  background: url(../RJ-img/subtitle-icon-left.png) center center/100% 100% no-repeat;
}
.decorate-text::after {
  right: 0;
  background: url(../RJ-img/subtitle-icon-right.png) center center/100% 100% no-repeat;
}

.text-left {
  text-align: left;
}

.color1 {
  color: #33507a;
}

.t-main-des {
  font-size: 20px;
  color: #595757;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  margin: 20px auto;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin-top: 25px;
}

.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}

.t-img img {
  width: auto;
  max-width: 100%;
}

.t-intro span.tips {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #fd300e;
  text-align: left;
}

.hidden {
  overflow: hidden;
}

.t-page1 {
  background-image: url("../RJ-img/banner.jpg");
  background-position: center bottom;
  height: 692px;
}
.t-page1 .page1-cont {
  width: 52%;
  float: left;
  margin: 107px auto 0 auto;
}
.t-page1-title {
  margin-bottom: 40px;
  margin-left: -70px;
}
.t-page1-title img {
  width: 90%;
  margin: auto;
}
.t-page1-text {
  font-size: 16px;
  line-height: 26px;
  color: #333;
}
.t-page1 .btn:first-child {
  margin-left: 0;
}
.t-page1 .btn-list .btn.line-bg {
  background: #fff;
}
.t-page1 .btn-list {
  margin-top: 50px;
  text-align: left;
}
.t-page1 .btn-list .btn {
  text-align: center;
  display: inline-block;
  width: 170px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #e60039;
  font-size: 16px;
  text-decoration: none;
  border-radius: 43px;
  margin: 10px;
  border: 1px solid #e60039;
  padding: 0;
  cursor: pointer;
}
.t-page1 .btn-list .btn:hover {
  background: #fff;
  color: #e60039;
  border: 1px solid #bd0231;
}

.t-page-nav {
  background: #666666;
}
.t-page-nav .t-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 60px;
}
.t-page-nav .nav-left {
  width: 210px;
  font-size: 16px;
  color: #a6a6a6;
}
.t-page-nav .nav-left-icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-right: 18px;
  background: url("../RJ-img/home-icon.png") center center/100% 100% no-repeat;
  vertical-align: text-bottom;
}
.t-page-nav .nav-left .active {
  color: #fff;
}
.t-page-nav .nav-left .text {
  padding: 0 17px;
}
.t-page-nav .nav-lists {
  display: flex;
  color: #fff;
  font-size: 16px;
}
.t-page-nav .nav-lists li {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 0 8px;
  cursor: pointer;
  display: block;
  position: relative;
}
.t-page-nav.on {
  position: fixed;
  z-index: 9999;
  top: 0;
  line-height: 60px;
}

.btn-list {
  text-align: center;
  margin: 20px auto;
  clear: both;
}

.btn-list a.btn {
  height: 38px;
  line-height: 38px;
  padding: 0 28px;
  font-size: 16px;
  color: #fff;
  background: #e50039;
  border: 1px solid #e50039;
  display: inline-block;
  margin: 10px 8px;
  border-radius: 38px;
  text-decoration: none;
}

.btn-list a.btn:hover {
  background: none;
  color: #e50039;
}

.btn-list a.btn.line-bg {
  background: none;
  color: #e50039;
}

.btn-list a.btn.line-bg:hover {
  color: #fff;
  background: #e50039;
}

.t-page2 {
  padding-bottom: 106px;
}
.t-page2-list {
  overflow: hidden;
}
.t-page2-item {
  float: left;
  width: 23%;
  height: 470px;
  margin-right: 2.66666666%;
  background-color: #fff;
  box-shadow: 0 0  10px 10px #eee;
  border-radius: 5px;
}
.t-page2-item:last-child {
  margin-right: 0;
}
.t-page2-item img {
  display: block;
  width: 167px;
  height: 167px;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 36px;
}
.t-page2-item .item-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}
.t-page2-item .item-text {
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  line-height: 26px;
}

.t-page3 {
  background-image: url("../RJ-img/page3-bg.jpg");
  background-position: center bottom;
  padding-bottom: 82px;
  font-size: 16px;
  color: #333;
}
.t-page3 .t-sub-title {
  width: 75%;
  margin-bottom: 50px;
  text-align: left;
}
.t-page3 .img-wrap {
  position: relative;
  width: 869px;
  margin: auto;
}
.t-page3 .img-wrap img {
  display: block;
  width: 100%;
}
.t-page3 .top {
  position: absolute;
  width: 570px;
  top: 100px;
  left: 160px;
}
.t-page3 .top-left {
  float: left;
}
.t-page3 .top-right {
  float: right;
}
.t-page3 .middle {
  position: absolute;
  width: 240px;
  top: 230px;
  left: 327px;
}
.t-page3 .middle-left {
  float: left;
}
.t-page3 .middle-right {
  float: right;
}
.t-page3 .middle-other {
  position: absolute;
  right: -120px;
  top: -90px;
}
.t-page3 .bottom {
  position: absolute;
  bottom: 10px;
  left: 100px;
  right: 70px;
  display: flex;
  justify-content: space-between;
}

.t-page4 {
  background-image: url(../RJ-img/page4-bg.jpg);
  padding-bottom: 20px;
}
.t-page4-list {
  overflow: hidden;
  margin-bottom: 30px;
}
.t-page4-item {
  float: left;
  width: 24%;
  padding: 8px 0;
  line-height: 26px;
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-right: 1.3333333%;
  background-color: #d9ebf9;
  border-bottom: 2px solid transparent;
}
.t-page4-item:last-child {
  margin-right: 0;
}
.t-page4-item.active {
  background-color: #fff;
  border-color: #e60b42;
}
.t-page4 .t-sub-title {
  width: 80%;
  text-align: left;
}
.t-page4 .left, .t-page4 .right {
  float: left;
  width: 50%;
}
.t-page4 .decorate-title {
  margin-bottom: 30px;
}
.t-page4 .desc-wrap {
  overflow: hidden;
  margin-bottom: 40px;
}
.t-page4 .desc-wrap p {
  float: left;
  width: 42%;
  margin: 0 4%;
}
.t-page4-slide1 .slide-content {
  position: relative;
  width: 381px;
  height: 381px;
  margin: auto;
  margin-top: 60px;
  background: url(../RJ-img/page4-item1.png) center center/100% 100% no-repeat;
}
.t-page4-slide1-circle {
  position: absolute;
  display: flex;
  width: 78px;
  height: 78px;
  background-color: #fff;
  border: 1px solid #0e8cdc;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.t-page4-slide1-circle.bg {
  background-color: #d3eafa;
}
.t-page4-slide1 .big-circle {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 120px;
  left: 120px;
  border-radius: 50%;
  background-color: #6096c4;
  color: #fff;
  font-size: 24px;
  line-height: 140px;
  text-align: center;
}
.t-page4-slide1 .circle1 {
  top: -36px;
  left: 150px;
}
.t-page4-slide1 .circle2 {
  top: 10px;
  left: 270px;
}
.t-page4-slide1 .circle9 {
  top: 10px;
  left: 30px;
}
.t-page4-slide1 .circle3 {
  top: 110px;
  left: 330px;
}
.t-page4-slide1 .circle8 {
  top: 110px;
  left: -30px;
}
.t-page4-slide1 .circle4 {
  top: 220px;
  left: 320px;
}
.t-page4-slide1 .circle7 {
  top: 220px;
  left: -20px;
}
.t-page4-slide1 .circle5 {
  top: 320px;
  left: 230px;
}
.t-page4-slide1 .circle6 {
  top: 320px;
  left: 60px;
}
.t-page4-slide2 .left .slide-content {
  margin-top: 60px;
}
.t-page4-slide2 .t-sub-title {
  width: 84%;
}
.t-page4-slide2 .slide-content {
  position: relative;
  width: 84%;
  margin-left: 8%;
}
.t-page4-slide2 img {
  display: block;
  width: 100%;
}
.t-page4-slide2 .text {
  position: absolute;
  text-align: center;
}
.t-page4-slide2 .text1 {
  top: 105px;
  left: 140px;
}
.t-page4-slide2 .text2 {
  top: 130px;
  right: 20px;
}
.t-page4-slide2 .text3 {
  top: 185px;
  left: 230px;
}
.t-page4-slide2 .text4 {
  bottom: 2px;
  left: 80px;
}
.t-page4-slide2 .slide2-right-title {
  margin: 30px 0 25px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.t-page4-slide2 .slide2-right-list {
  overflow: hidden;
}
.t-page4-slide2 .slide2-right-item {
  float: left;
  display: flex;
  align-items: center;
  width: 165px;
  margin-bottom: 15px;
}
.t-page4-slide2 .item-num {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  line-height: 34px;
  text-align: center;
  background-color: #6096c4;
  border-radius: 50%;
}
.t-page4-slide2 .item-text {
  flex: 1;
  line-height: 26px;
}
.t-page4-slide3 img {
  display: block;
  margin: auto;
}
.t-page4-slide3 .left {
  position: relative;
}
.t-page4-slide3 .left .text1 {
  position: absolute;
  left: 135px;
  top: 273px;
}
.t-page4-slide3 .left .text2 {
  position: absolute;
  left: 375px;
  top: 273px;
}
.t-page4-slide3 .right {
  position: relative;
}
.t-page4-slide3 .right .text {
  position: absolute;
}
.t-page4-slide3 .right .text1 {
  top: 200px;
  left: 76px;
}
.t-page4-slide3 .right .text2 {
  top: 120px;
  left: 110px;
}
.t-page4-slide3 .right .text3 {
  top: 0;
  left: 242px;
}
.t-page4-slide3 .right .text4 {
  top: 100px;
  left: 422px;
}
.t-page4-slide3 .right .text5 {
  top: 175px;
  left: 462px;
}
.t-page4-slide3 .right .text6 {
  bottom: 15px;
  left: 105px;
  color: #fff;
}
.t-page4-slide3 .right .text7 {
  bottom: 15px;
  left: 405px;
  color: #fff;
}
.t-page4-slide4 {
  padding-bottom: 140px;
  color: #fff;
}
.t-page4-slide4 .text {
  position: absolute;
}
.t-page4-slide4 .left {
  position: relative;
  margin-top: 50px;
}
.t-page4-slide4 .left img {
  display: block;
  width: 438px;
  margin: auto;
}
.t-page4-slide4 .left .text1 {
  top: 53px;
  left: 100px;
}
.t-page4-slide4 .left .text2 {
  top: 100px;
  left: 150px;
}
.t-page4-slide4 .left .text3 {
  top: 150px;
  left: 100px;
}
.t-page4-slide4 .left .text4 {
  top: 200px;
  left: 150px;
}
.t-page4-slide4 .left .circle1, .t-page4-slide4 .left .circle2 {
  display: block;
  width: 72px;
  height: 72px;
  background: #6096c4;
  border-radius: 50%;
  line-height: 72px;
  text-align: center;
}
.t-page4-slide4 .left .circle1 {
  top: 50px;
  right: 20px;
}
.t-page4-slide4 .left .circle2 {
  top: 150px;
  right: 20px;
}
.t-page4-slide4 .right {
  position: relative;
}
.t-page4-slide4 .right img {
  display: block;
  width: 289px;
  margin: auto;
}
.t-page4-slide4 .right .bg1 {
  background: #45729f;
}
.t-page4-slide4 .right .bg2 {
  background: #6096c4;
}
.t-page4-slide4 .right .bg3 {
  background: #4e9ecc;
}
.t-page4-slide4 .right .text {
  padding: 6px 5px;
  line-height: 1;
  border-radius: 3px;
  min-width: 146px;
  text-align: center;
}
.t-page4-slide4 .right .text1 {
  top: 35px;
  left: 60px;
}
.t-page4-slide4 .right .text2 {
  top: 75px;
  left: 60px;
}
.t-page4-slide4 .right .text3 {
  top: 15px;
  right: 35px;
}
.t-page4-slide4 .right .text4 {
  top: 55px;
  right: 35px;
}
.t-page4-slide4 .right .text5 {
  top: 99px;
  right: 35px;
}
.t-page4-slide4 .right .text6 {
  top: 210px;
  left: 62px;
}
.t-page4-slide4 .right .text7 {
  top: 260px;
  left: 4px;
}
.t-page4-slide4 .right .text8 {
  top: 320px;
  left: 6px;
}
.t-page4-slide4 .right .text9 {
  top: 360px;
  left: 55px;
}
.t-page4-slide4 .right .text10 {
  top: 210px;
  right: 60px;
}
.t-page4-slide4 .right .text11 {
  top: 260px;
  right: 10px;
}
.t-page4-slide4 .right .text12 {
  top: 320px;
  right: 8px;
}
.t-page4-slide4 .right .text13 {
  top: 370px;
  right: 50px;
}
.t-page4-slide4 .right .circle1 {
  top: 43px;
  left: 220px;
  line-height: 24px;
}
.t-page4-slide4 .right .circle2 {
  top: 255px;
  left: 225px;
  color: #333;
  line-height: 24px;
}
.t-page4-slide4 .right .circle3 {
  top: 275px;
  left: 155px;
  line-height: 24px;
}
.t-page4-slide4 .right .circle4 {
  top: 275px;
  left: 293px;
  line-height: 24px;
}
.t-page4 .swiper-button-prev {
  left: -30px;
}
.t-page4 .swiper-button-next {
  right: -30px;
}

.t-page5 .item {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.t-page5 img {
  display: block;
  width: 100%;
}
.t-page5 .text {
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 52px;
  border-bottom: 1px solid #e4eef9;
  border-left: 1px solid #e4eef9;
  border-right: 1px solid #e4eef9;
}
.t-page5 .btn-list {
  margin-top: 10px;
}
.t-page5 .item-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 45px;
  background: #6096c4;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}
.t-page5-top {
  margin-top: 40px;
  margin-bottom: 38px;
  overflow: hidden;
  width: 100%;
}
.t-page5-top li {
  float: left;
  width: 23%;
  margin-right: 2.666666%;
}
.t-page5-top li:last-child {
  margin-right: 0;
}
.t-page5-center {
  margin-bottom: 38px;
}
.t-page5-center .item {
  width: 23%;
  float: left;
  margin-right: 2.6666666%;
}
.t-page5-center .item:last-child {
  margin-right: 0;
}
.t-page5-bottom {
  overflow: hidden;
  margin-top: 50px;
}
.t-page5-bottom .left, .t-page5-bottom .right {
  width: 45%;
  float: left;
}
.t-page5-bottom .left {
  margin-right: 10%;
}
.t-page5-bottom .text {
  padding: 20px 0;
  line-height: 26px;
}

.s-video {
  width: 94%;
  height: auto;
  margin: 50px auto 34px auto;
  cursor: pointer;
  position: relative;
}

.s-video > img {
  width: 100%;
  display: block;
}

.s-video .btn {
  display: block;
  width: 170px;
  line-height: 33px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #e50039;
  border-radius: 21px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 75%;
  left: 13%;
  border: 1px solid #e50039;
}

.s-video .btn:hover {
  background: #fff;
  color: #e50039;
}

.qr__code {
  display: none;
  position: fixed;
  max-width: 240px;
  height: auto;
  bottom: auto;
  top: 25%;
  left: 50%;
  margin-left: -120px;
  background: #fff;
  z-index: 10;
  padding: 50px 20px 20px;
}
.qr__code .code__text {
  font-size: 16px;
  padding-top: 20px;
  text-align: center;
}
.qr__code .close {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 6px;
  cursor: pointer;
  opacity: 1;
}
.qr__code .code__img {
  display: block;
  width: 100%;
}

/*视频弹框*/
.ns-layer {
  z-index: 2000;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.ns-layer.ns-video-layer .ns-layer-inner {
  position: relative;
  top: 10%;
  padding: 5px;
  width: 720px;
  margin-left: auto;
  background-color: #fff;
  margin-right: auto;
}

.ns-layer .close {
  background: url(../RJ-img/close.jpg) no-repeat center center;
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  cursor: pointer;
  width: 18px;
  height: 21px;
}

.ns-layer.ns-video-layer .ns-layer-inner .ns-title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 18px;
}

.ns-layer.ns-video-layer .ns-layer-inner .ns-content {
  height: 405px;
  width: 100%;
}

.show-pc {
  display: block !important;
}

.show-mobile {
  display: none !important;
}

#iframe {
  display: none;
}

@media screen and (max-width: 768px) {
  .show-pc {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }

  .t-sub-title {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 92%;
  }

  .t-main-title {
    font-size: 22px;
    padding: 30px 0px 10px 0;
  }

  .t-main-title:after {
    bottom: 5px;
  }

  .t-sub-tit {
    font-size: 20px;
    padding: 40px 0 20px 0;
    margin: 10px auto 10px auto;
  }

  .page1-title img {
    width: 100%;
    margin: 0;
  }

  .page1-sub-tit {
    font-size: 22px;
    margin: 10px 5%;
  }

  .page1-des {
    font-size: 16px;
    margin: 10px 0%;
  }

  .t-main-title span {
    padding: 20px;
    background-size: 70%;
  }

  .t-page1 {
    background-image: url(../RJ-img/banner-m.jpg);
    height: auto;
  }
  .t-page1 .page1-cont {
    width: auto;
    padding: 50px 0 380px;
    margin: 0 30px;
    position: relative;
    z-index: 8;
    float: none;
  }
  .t-page1 .page1-title {
    margin-bottom: 73px;
    margin-left: 0;
  }
  .t-page1 .btn-list .btn {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
  }
  .t-page1 .btn-list {
    margin-top: 70px;
    margin-left: 20px;
  }

  .t-nav {
    display: none;
  }

  .btn-list a.btn {
    height: 32px;
    line-height: 32px;
    margin: 5px 8px;
  }

  .s-video {
    margin: 20px auto 0 auto;
  }

  .qr__code {
    max-width: 80%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
    z-index: 10;
    border: 1px solid #ddd;
  }

  .s-video .btn {
    width: auto;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #e50039;
    border-radius: 21px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 10%;
    padding: 0 17px;
  }

  .t-page3 {
    padding-bottom: 30px;
  }
  .t-page3 .t-main-title {
    margin-bottom: 30px;
  }

  .page3-cont {
    margin: 0 30px;
    padding-top: 20px;
    overflow: visible;
  }

  .page3-cont ul {
    padding-left: 88px;
    height: auto;
    overflow: hidden;
    clear: both;
  }

  .page3-cont li {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    margin-bottom: 20px;
  }
  .page3-cont li .time {
    position: absolute;
    height: 40px;
    width: auto;
    top: 56%;
    left: -88px;
    font-size: 16px;
    z-index: 9;
    line-height: 40px;
    margin-top: -50px;
  }

  .page3-cont ul:after {
    height: 100%;
    content: "";
    width: 100%;
    left: 20px;
    top: 0;
    width: 4px;
  }

  .page3-cont li:after {
    content: "";
    height: 26px;
    width: 80px;
    background: url(../RJ-img/page3-line2.png) no-repeat center center/100% 100%;
    display: block;
    position: absolute;
    z-index: 9;
    left: -62px;
    top: 50%;
    transform: translateY(-50%);
  }

  .t-page4 .t-sub-title {
    margin-bottom: 30px;
  }
  .t-page4 .btn {
    width: 240px;
  }

  .page4-cont {
    margin: 0 30px;
  }
  .page4-cont img {
    display: block;
    width: 100%;
  }

  .page4-img p {
    font-size: 16px;
    top: 14%;
  }

  .page4-top {
    display: block;
    margin: 0 0 4px 0;
  }
  .page4-top .top-bg {
    margin-bottom: 20px;
  }
  .page4-top .top-bg:last-child {
    margin-bottom: 0;
  }

  .page4-list {
    display: block;
  }
  .page4-list .page4-item {
    margin: 10px 0 25px;
  }
  .page4-list .item-img {
    height: auto;
  }
  .page4-list .img-cont {
    padding-bottom: 15px;
  }
  .page4-list .item-word {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }

  .t-page5 {
    padding-bottom: 10px;
  }
  .t-page5 .t-sub-title {
    margin-bottom: 30px;
  }

  .page5-cont {
    display: block;
    margin: 0 30px;
  }
  .page5-cont .cont-item {
    margin: auto;
    margin-bottom: 16px;
    font-size: 16px;
  }
  .page5-cont .item-title {
    font-size: 18px;
    padding-top: 20px;
  }
  .page5-cont .item-desc {
    padding: 12px 0 20px;
  }

  /**/
  .ns-layer.ns-video-layer .ns-layer-inner {
    width: 420px;
  }

  .ns-layer.ns-video-layer .ns-layer-inner .ns-content {
    height: 240px;
  }
}
@media screen and (max-width: 480px) {
  .t-sub-title {
    margin-top: 15px;
  }

  .t-page1 .page1-cont {
    padding: 40px 0 220px;
    margin: 0 15px;
  }
  .t-page1 .page1-title {
    margin-bottom: 30px;
  }
  .t-page1 .page1-title img {
    margin: 0;
  }
  .t-page1 .btn-list {
    margin-top: 30px;
  }
  .t-page1 .btn-list .btn {
    margin-left: 0;
  }

  .page3-cont {
    margin: 0 15px;
  }

  .page3-cont li {
    padding: 10px;
  }

  .page4-cont {
    margin: 0 15px;
  }
  .page4-cont img {
    display: block;
    width: 100%;
  }

  .page5-cont {
    margin: 0 15px;
  }

  /**/
  .ns-layer.ns-video-layer .ns-layer-inner {
    width: 300px;
  }

  .ns-layer.ns-video-layer .ns-layer-inner .ns-content {
    height: 170px;
  }
}
@media screen and (max-width: 375px) {
  .t-page1 .page1-cont {
    padding-bottom: 280px;
  }
}
