@charset "UTF-8";
/* line 2, ../../poster-scss/main.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

/* line 34, ../../poster-scss/main.scss */
* {
  outline: none;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

/* line 40, ../../poster-scss/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../../poster-scss/main.scss */
img {
  display: block;
  border: 0 none;
  vertical-align: middle;
  width: auto;
  height: auto;
}

/* line 51, ../../poster-scss/main.scss */
input {
  vertical-align: middle;
}

/* 清除IE10及以上版本input的叉叉（X）和密码输入框的眼睛图标 */
/* line 55, ../../poster-scss/main.scss */
input::-ms-clear {
  display: none;
}

/* line 58, ../../poster-scss/main.scss */
input::-ms-reveal {
  display: none;
}

/*清除谷歌浏览器下的 search 叉号 */
/* line 62, ../../poster-scss/main.scss */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*清除IE下的 search 叉号 */
/* line 66, ../../poster-scss/main.scss */
input[type=search]::-ms-clear {
  display: none;
}

/* line 70, ../../poster-scss/main.scss */
em {
  font-weight: normal;
  font-style: normal;
}

/* line 74, ../../poster-scss/main.scss */
ol,
ul {
  list-style: none;
}

/* line 78, ../../poster-scss/main.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* line 87, ../../poster-scss/main.scss */
body {
  position: relative;
}

/* line 92, ../../poster-scss/main.scss */
.poster-main {
  width: 100%;
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
/* line 99, ../../poster-scss/main.scss */
.poster-bg {
  width: 100%;
}
/* line 103, ../../poster-scss/main.scss */
.poster-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1.04666667rem;
}
/* line 112, ../../poster-scss/main.scss */
.poster-logo {
  width: 6.26666667rem;
  margin: auto;
  margin-bottom: 1.2rem;
}
/* line 117, ../../poster-scss/main.scss */
.poster-logo img {
  width: 100%;
}
/* line 122, ../../poster-scss/main.scss */
.poster-text {
  font-size: 0.3733333rem;
  font-weight: bold;
  vertical-align: middle;
}
/* line 127, ../../poster-scss/main.scss */
.poster-text.blue {
  color: #107fff;
}
/* line 131, ../../poster-scss/main.scss */
.poster-text.yellow {
  color: #f1f32a;
}
/* line 135, ../../poster-scss/main.scss */
.poster-text.orange {
  color: #fff600;
}
/* line 139, ../../poster-scss/main.scss */
.poster-text.brown {
  color: #a36c1d;
}
/* line 144, ../../poster-scss/main.scss */
.poster-toast {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 10px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  color: #fff;
}
/* line 157, ../../poster-scss/main.scss */
.poster-button {
  margin: auto;
  margin-top: 1.42rem;
  width: 2.0733333rem;
  height: 0.5666667rem;
  border: 1px solid #006ed4;
  font-size: 0.32rem;
  color: #006ed4;
  border-radius: 0.32rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 170, ../../poster-scss/main.scss */
.poster-button.fixed {
  position: fixed;
  bottom: 3.5rem;
  left: 50%;
  margin-left: -1.03655555rem;
  color: #fff;
}
/* line 177, ../../poster-scss/main.scss */
.poster-button.fixed img {
  display: block;
  width: 1.58rem;
}
/* line 184, ../../poster-scss/main.scss */
.poster-w54 {
  width: 0.36rem;
}
/* line 188, ../../poster-scss/main.scss */
.poster-w235 {
  width: 1.56666667rem;
}
/* line 192, ../../poster-scss/main.scss */
.poster-w360 {
  width: 2.4rem;
}
/* line 196, ../../poster-scss/main.scss */
.poster-w368 {
  width: 2.4533333rem;
}
/* line 200, ../../poster-scss/main.scss */
.poster-w485 {
  width: 3.233333rem;
}
/* line 204, ../../poster-scss/main.scss */
.poster-w390 {
  width: 2.6rem;
}
/* line 208, ../../poster-scss/main.scss */
.poster-w530 {
  width: 3.533333rem;
}
/* line 212, ../../poster-scss/main.scss */
.poster-w596 {
  width: 3.97333333rem;
}
/* line 216, ../../poster-scss/main.scss */
.poster-w1000 {
  width: 6.66666667rem;
}
/* line 220, ../../poster-scss/main.scss */
.poster-w1100 {
  width: 7.333333rem;
}

/* line 226, ../../poster-scss/main.scss */
.home-text {
  width: 6.4rem;
  margin: auto;
  margin-bottom: 0.94rem;
}
/* line 232, ../../poster-scss/main.scss */
.home-data {
  text-align: center;
  font-size: 0;
}
/* line 236, ../../poster-scss/main.scss */
.home-data img {
  display: inline-block;
  margin-left: 0.1rem;
}
/* line 241, ../../poster-scss/main.scss */
.home-data .text-input {
  border: none;
  appearance: none;
  background: none;
  outline: none;
  width: 2.35rem;
  text-align: right;
}
/* line 250, ../../poster-scss/main.scss */
.home-data .search-form {
  display: inline-block;
}

/* line 257, ../../poster-scss/main.scss */
.awardee-content {
  padding: 0 0.78666667rem;
}
/* line 260, ../../poster-scss/main.scss */
.awardee-content .full-text {
  margin-top: 0.8rem;
}
/* line 264, ../../poster-scss/main.scss */
.awardee-data {
  font-size: 0;
  margin-bottom: 0.2rem;
}
/* line 268, ../../poster-scss/main.scss */
.awardee-data img {
  display: inline-block;
  margin-left: 0.1rem;
}
/* line 274, ../../poster-scss/main.scss */
.awardee-button {
  border-color: #c4dbeb;
  background: #c4dbeb;
}

/* line 281, ../../poster-scss/main.scss */
.employee-content {
  padding: 0 0.72rem;
}
/* line 284, ../../poster-scss/main.scss */
.employee-content .full-text {
  float: right;
}
/* line 289, ../../poster-scss/main.scss */
.employee-data {
  font-size: 0;
  margin-bottom: 0.2rem;
  text-align: right;
}
/* line 294, ../../poster-scss/main.scss */
.employee-data img {
  display: inline-block;
  margin: 0 0.1rem;
}
/* line 300, ../../poster-scss/main.scss */
.employee-button {
  border-color: #437ca0;
  background: #437ca0;
}

/* line 307, ../../poster-scss/main.scss */
.development-content {
  padding-left: 0.76rem;
}
/* line 310, ../../poster-scss/main.scss */
.development-content .full-text {
  margin-top: 0.7066667rem;
}
/* line 315, ../../poster-scss/main.scss */
.development-data {
  font-size: 0;
  margin-bottom: 0.2rem;
  text-align: left;
}
/* line 320, ../../poster-scss/main.scss */
.development-data img {
  display: inline-block;
}
/* line 324, ../../poster-scss/main.scss */
.development-data .middle-text {
  margin: 0 0.1rem;
}
/* line 329, ../../poster-scss/main.scss */
.development-button {
  border-color: #ab8a41;
  background: #ab8a41;
}

/* line 336, ../../poster-scss/main.scss */
.oldstaff-content {
  padding-right: 0.72rem;
}
/* line 339, ../../poster-scss/main.scss */
.oldstaff-content .full-text {
  float: right;
  margin-top: 0.733333rem;
}
/* line 345, ../../poster-scss/main.scss */
.oldstaff-data {
  font-size: 0;
  margin-bottom: 0.2rem;
  text-align: right;
}
/* line 350, ../../poster-scss/main.scss */
.oldstaff-data img {
  display: inline-block;
  margin: 0 0.1rem;
}
/* line 356, ../../poster-scss/main.scss */
.oldstaff-button {
  border-color: #499459;
  background: #499459;
}
