
@charset "utf-8";

#ry-container{
  width: 100%;
  margin: auto;
  position: relative;
  background: #fff;
  transition:all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -o-transition: all .3s ease-in;
  padding-top: 0;
  z-index: 1;
}
.ry-network {
    &-tab-wrap{
      height: 66px;
      background: #dfdfdf;
      width: 100%;
    }
    &-tab{
      display: flex;
      li{
        flex: 1;
        text-align: center;
        font-size: 22px;
        color: #231815;
        height: 60px;
        line-height: 60px;
        margin-top: 6px;
        a{
          display: block;
        }
        &.ry-this, &:hover {
          background: url(../images/network/tab-bg.png) no-repeat center bottom;
          background-size: 100%;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
        }
      }
    }
}

.ry-btn {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #4fdaba;
  font-size: 16px;
  color: #64696e;
  line-height: 1;
  &:hover {
    background: #4fdaba;
    color: #fff;
  }
  &.big {
    padding: 21px 46px;
    font-size: 35px;
  }
}
.ry-cont {
  overflow: visible;
}
.wl-banner{
  position: relative;
  margin-bottom: 0;
  text-align: center;
  .bg-img {
    display: block;
    width: 100%;
  }
  .banner-des{
    position: absolute;
    width: 100%;
    bottom: 64px;
    color: #fff;
    text-align: center;
    font-size: 0;
    span{
      padding: 0 30px;
      font-size: 30px;
      border-right: 1px solid #fff;
      &:last-child{
        border-right: none;
      }
    }
  }
}
.wl-page1{
  padding-bottom: 50px;
  padding-top: 65px;
  margin-bottom: 0;
  .ry-mainTitle {
    margin-bottom: 50px;
  }
  .pro-list {
    font-size: 0;
    padding-bottom: 0;
    &-item {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 6px;
      width: 392px;
      background: #e1e6eb;
      color: #64696e;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .img {
      margin: 30px 26px;
      img {
        display: block;
        width: 100%;
      }
    }
    .pro-title {
      font-size: 24px;
      text-align: center;
      &-en {
        margin-bottom: 20px;
        font-size: 16px;
        text-align: center;
      }
    }
    .pro-text {
      height: 130px;
      padding: 0 30px;
      font-size: 16px;
    }
  }
  .btn-group {
    padding-top: 56px;
    margin-bottom: 32px;
    text-align: center;
  }
}

.wl-page-wrap {
  background: url(../images/network/e-bg.png) no-repeat right bottom;
}
.wl-page2{
  padding-bottom: 115px;
  &-cont{
    width: 100%;
    position: relative;
    font-size: 0;
  }
  .left, .right {
    display: inline-block;
    width: 50%;
  }
  .right {
    img {
      display: block;
      width: 70%;
      margin-left: 30%;
    }
  }
  .text {
    margin-bottom: 36px;
    font-size: 22px;
    color: #64696e;
  }
  .line {
    display: block;
    width: 40px;
    height: 9px;
    margin-bottom: 35px;
    background: #00dba4;
  }
  .logo {
    float: none;
    display: block;
    width: 430px;
    margin-bottom: 32px;
    margin-left: -20px;
  }
}

.wl-page3 {
  padding-bottom: 115px;
  .switch {
    margin: 0 36px;
    height: 96px;
    margin-bottom: 100px;
    border-radius: 48px;
    background: #fff;
    -webkit-box-shadow: 0 0 20px #bfbfbf inset;
    -moz-box-shadow: 0 0 20px #bfbfbf inset;
    -o-box-shadow: 0 0 20px #bfbfbf inset;
    box-shadow: 0 0 20px #bfbfbf inset;
    font-size: 0;
    &-item {
      display: inline-block;
      width: 306px;
      height: 90px;
      margin-top: 3px;
      margin-left: 3px;
      margin-right: 3px;
      font-size: 50px;
      color: #e1e6eb;
      border-radius: 45px;
      text-align: center;
      &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
      }
      .img, .img-active {
        display: inline-block;
        vertical-align: middle;
      }
      .img {
        display: inline-block;
      }
      .img-active {
        display: none;
      }
      &:nth-child(2) {
        margin-left: 95px;
        margin-right: 95px;
      }
      &.active {
        color: #231815;
        background-color: #fff;
        -webkit-box-shadow: 0 0 20px #bfbfbf;
        -moz-box-shadow: 0 0 20px #bfbfbf;
        -o-box-shadow: 0 0 20px #bfbfbf;
        box-shadow: 0 0 20px #bfbfbf;
        .img {
          display: none;
        }
        .img-active {
          display: inline-block;
        }
      }
    }
  }
  .switch-content {
    font-size: 0;
  }
  .left, .right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .right {
    img {
      display: block;
      width: 70%;
      margin-left: 30%;
      margin-top: 100px;
    }
  }
  .text {
    margin-bottom: 36px;
    font-size: 22px;
    color: #64696e;
  }
  .line {
    display: block;
    width: 40px;
    height: 9px;
    margin-bottom: 35px;
    background: #00dba4;
  }
  .logo {
    float: none;
    display: block;
    width: 430px;
    margin-bottom: 32px;
  }
  .label {
    display: inline-block;
    padding: 10px;
    margin: 0 10px 9px 0;
    border: 1px solid #d2d2d2;
    font-size: 24px;
    color: #64696e;
    line-height: 1;
    border-radius: 8px;
  }
}

.wl-page4{
  background: url(../images/network/page4-bg.png) no-repeat center center;
  overflow: hidden;
  .page4-btn{
    width: 295px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    color: #fff;
    font-size: 35px;
    background: #00cc97;
    margin: 50px auto;
    text-decoration: none;
    display: block;
  }
  .ry-mainTitle {
    color: #fff;
  }
  .ry-subTitle {
    color: #fff;
  }
}
.tab-placeholder {
  display: none;
  height: 66px;
}

@media screen and (max-width: 1024px) {
  .ry-cont {
    max-width: 960px;
  }
  .wl-banner{
    .banner-des{
      bottom: 44px;
      span{
        padding: 0 25px;
        font-size: 24px;
      }
    }
  }
  .wl-page1{
    .pro-list {
      &-item {
        width: 314px;
      }
      .pro-text {
        height: 160px;
      }
    }
  }
  .wl-page2 {
    margin-bottom: 0;
  }
  .wl-page3 {
    padding-bottom: 60px;
    .switch {
      margin-left: 0;
      margin-right: 0;
      &-item {
        width: 293px;
        &:nth-child(2) {
          margin-left: 30px;
          margin-right: 30px;
        }
      }
    }
    .right {
      img {
        width: 85%;
        margin-left: 15%;
      }
    }
  }
  .ry-tab-fixed{
    top: 65px;
  }
}

@media screen and (max-width: 768px) {
  .ry-cont {
    max-width: 700px;
  }
  .ry-btn {
    font-size: 16px;
    &.big {
      padding: 19px 42px;
      font-size: 28px;
    }
  }
  .wl-banner{
    .banner-des{
      bottom: 30px;
      span{
        padding: 0 15px;
        font-size: 16px;
      }
    }
  }

  .wl-page1{
    padding-bottom: 40px;
    .ry-mainTitle {
      margin-bottom: 30px;
    }
    .pro-list {
      &-item {
        margin-bottom: 8px;
        width: 49%;
        margin-right: 2%;
        &:nth-child(3n) {
          margin-right: 2%;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      .pro-title {
        font-size: 20px;
      }
    }
  }

  .wl-page2{
    padding-bottom: 60px;
    .left, .right {
      display: block;
      width: 100%;
    }
    .right {
      img {
        width: 60%;
        margin: auto;
        padding-top: 40px;
      }
    }
    .text {
      margin-bottom: 36px;
      font-size: 16px;
    }
    .logo {
      width: 320px;
    }
  }
  
  .wl-page3 {
    padding-bottom: 115px;
    .switch {
      height: 74px;
      margin-bottom: 100px;
      border-radius: 37px;
      -webkit-box-shadow: 0 0 15px #bfbfbf inset;
      -moz-box-shadow: 0 0 15px #bfbfbf inset;
      -o-box-shadow: 0 0 15px #bfbfbf inset;
      box-shadow: 0 0 15px #bfbfbf inset;
      &-item {
        width: 200px;
        height: 68px;
        font-size: 36px;
        border-radius: 34px;
        .img, .img-active {
          width: 140px;
        }
        &:nth-child(2) {
          margin-left: 40px;
          margin-right: 40px;
        }
        &.active {
          -webkit-box-shadow: 0 0 15px #bfbfbf;
          -moz-box-shadow: 0 0 15px #bfbfbf;
          -o-box-shadow: 0 0 15px #bfbfbf;
          box-shadow: 0 0 15px #bfbfbf;
        }
      }
    }
    .switch-content {
      .left, .right {
        display: block;
        width: 100%;
      }
      .right {
        img {
          width: 60%;
          margin: auto;
          padding-top: 60px;
        }
      }
      .text {
        font-size: 16px;
      }
      .logo {
        img {
          height: 80px;
        }
      }
      .label {
        font-size: 18px;
      }
    }
  }

  .wl-page4 .page4-btn{
    width: 40%;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    margin: 20px auto;
  }
  .wl-page2-cont {
    .cont-num {
      width: 33%;
      position: absolute;
      left: 10px;
      top: 15px;
    }
    .cont-num img{
      width: 100%;
      padding-left: 0;
    }
    .word-tit{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .word-des{
      font-size: 14px;
    }
    .word-btn{
      height: 30px;
      line-height: 30px;
      font-size: 16px;
    }
    .word-btn:after{
      height: 31px;
    }
  }

  .ry-network-tab {
    li{
      font-size: 14px;
      flex: auto;
    }
    &-wrap{
      height: 40px;
    }
    li{
      height: 34px;
      line-height: 34px
    }
  }
  .ry-network-tab li.ry-this,
  .ry-network-tab li:hover{
     background: #fff;
  }
  .wl-page2-cont:after{
    display: none;
  }
  .wl-page1 .wl-page1-cont .wl-page1-cont-bg img{
    width: 88%;
  }
  .wl-page1 .wl-page1-cont .wl-page1-cont-bg .macc{
    position: absolute;
    width: 100px;
    margin-left: -50px;
    color: #000;
    font-size: 18px;
    top: 35px;
    line-height: 18px;
  }
  .wl-page1 .wl-page1-cont .wl-page1-cont-bg .macc span{
    font-size: 14px;
  }
  .wl-page1 .wl-page1-cont .wl-page1-cont-bg .macc:after{
    color: #000;
  }
  .tab-placeholder {
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .ry-cont {
    max-width: 450px;
  }
  .ry-btn {
    &.big {
      padding: 16px 38px;
      font-size: 22px;
    }
  }
  .wl-banner{
    .banner-des{
      bottom: 10px;
      span{
        word-break: keep-all;
      }
    }
  }

  .wl-page1{
    padding-bottom: 40px;
    padding-top: 0;
    .ry-mainTitle {
      margin-bottom: 25px;
    }
    .pro-list {
      &-item {
        width: 100%;
        margin-right: 0;
      }
      .pro-text {
        height: auto;
        padding: 0 15px;
      }
    }
    .btn-group {
      padding-top: 20px;
    }
  }

  .wl-page2{
    padding-bottom: 60px;
    .right {
      img {
        width: 60%;
        margin: auto;
        padding-top: 40px;
      }
    }
    .text {
      margin-bottom: 30px;
      font-size: 16px;
    }
    .logo {
      width: 240px;
      margin-bottom: 15px;
      margin-left: -10px;
    }
    .line {
      margin-bottom: 20px;
    }
  }
  
  .wl-page3 {
    padding-bottom: 115px;
    .switch {
      height: 56px;
      margin-bottom: 40px;
      border-radius: 28px;
      &-item {
        width: 32%;
        height: 50px;
        margin-left: 0.66666%;
        margin-right: 0.66666%;
        font-size: 26px;
        border-radius: 25px;
        .img, .img-active {
          width: 70%;
        }
        &:nth-child(2) {
          margin-left: 0.66666%;
          margin-right: 0.66666%;
        }
      }
    }
    .switch-content {
      .right {
        img {
          padding-top: 40px;
        }
      }
      .logo {
        width: 200px;
        img {
          height: 60px;
        }
      }
      .label {
        font-size: 16px;
        padding: 8px 7px;
      }
      .text {
        margin-bottom: 20px;
      }
    }
  }

  .wl-page4 .page4-btn{
    width: 40%;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    margin: 20px auto;
  }
  .wl-page2-cont {
    .cont-num {
      width: 33%;
      position: absolute;
      left: 10px;
      top: 15px;
    }
    .cont-num img{
      width: 100%;
      padding-left: 0;
    }
    .word-tit{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .word-des{
      font-size: 14px;
    }
    .word-btn{
      height: 30px;
      line-height: 30px;
      font-size: 16px;
    }
    .word-btn:after{
      height: 31px;
    }
  }
}

@media screen and (max-width: 414px) {
  .ry-cont {
    max-width: 384px;
  }
  .wl-page3 {
    padding-bottom: 40px;
    .switch-content {
      .logo {
        margin-bottom: 20px;
      }
      .line {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .ry-cont {
    max-width: 345px;
  }
  .ry-btn {
    &.big {
      padding: 16px 38px;
      font-size: 22px;
    }
  }

  .wl-page1{
    .ry-mainTitle {
      margin-top: 30px;
    }
  }
  .wl-page-wrap {
    background-size: 200% auto;
    background-position: right center;
  }

  .wl-page2{
    padding-bottom: 60px;
    .ry-mainTitle {
      margin-top: 2px;
    }
    .text {
      margin-bottom: 20px;
    }
    .logo {
      width: 200px;
      margin-bottom: 15px;
      margin-left: -10px;
    }
  }
  
  .wl-page3 {
    padding-bottom: 70px;
    .switch {
      height: 44px;
      margin-bottom: 40px;
      border-radius: 22px;
      &-item {
        height: 38px;
        font-size: 18px;
        border-radius: 19px;
      }
    }
    .switch-content {
      .right {
        img {
          padding-top: 40px;
        }
      }
      .logo {
        img {
          height: 50px;
        }
      }
      .text {
        margin-bottom: 20px;
      }
    }
  }

  .wl-page4 .page4-btn{
    width: 40%;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    margin: 20px auto;
  }
  .wl-page2-cont {
    .cont-num {
      width: 33%;
      position: absolute;
      left: 10px;
      top: 15px;
    }
    .cont-num img{
      width: 100%;
      padding-left: 0;
    }
    .word-tit{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .word-des{
      font-size: 14px;
    }
    .word-btn{
      height: 30px;
      line-height: 30px;
      font-size: 16px;
    }
    .word-btn:after{
      height: 31px;
    }
  }

  .ry-network-tab-wrap {
    .ry-cont {
      width: 100%;
      max-width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .ry-cont {
    max-width: 290px;
  }
  .ry-btn {
    &.big {
      padding: 12px 30px;
      font-size: 20px;
    }
  }

  .wl-page3 {
    .switch {
      height: 40px;
      margin-bottom: 40px;
      border-radius: 22px;
      &-item {
        height: 34px;
        font-size: 16px;
        border-radius: 17px;
      }
    }
    .switch-content {
      .right {
        img {
          padding-top: 40px;
        }
      }
      .logo {
        img {
          height: 50px;
        }
      }
      .text {
        margin-bottom: 20px;
      }
    }
  }

  .wl-page4 .page4-btn{
    width: 40%;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    margin: 20px auto;
  }
  .wl-page2-cont {
    .cont-num {
      width: 33%;
      position: absolute;
      left: 10px;
      top: 15px;
    }
    .cont-num img{
      width: 100%;
      padding-left: 0;
    }
    .word-tit{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .word-des{
      font-size: 14px;
    }
    .word-btn{
      height: 30px;
      line-height: 30px;
      font-size: 16px;
    }
    .word-btn:after{
      height: 31px;
    }
  }

  .ry-network-tab-wrap {
    .ry-cont {
      width: 100%;
      max-width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0;
    }
  }
}
