@charset "UTF-8";
/* index.html css */
.zg-page {
  background: url("../RJ-img/bg.jpg") center top/100% 100% no-repeat;
}
.zg-page .sec-content {
  position: relative;
  width: 1200px;
  margin: auto;
}
.zg-page .sec-title {
  margin-bottom: 60px;
  text-align: center;
}
.zg-page .sec-title-text {
  position: relative;
  display: inline-block;
}
.zg-page .sec-title-text img {
  width: auto;
  display: block;
  height: 40px;
}
.zg-page .sec-title-text::after, .zg-page .sec-title-text::before {
  position: absolute;
  content: '';
  display: block;
  width: 376px;
  height: 18px;
  top: 11px;
}
.zg-page .sec-title-text::before {
  left: -421px;
  background: url("../RJ-img/title-left.png") center/100% no-repeat;
}
.zg-page .sec-title-text::after {
  right: -421px;
  background: url("../RJ-img/title-right.png") center/100% no-repeat;
}
.zg-page .zg-btn {
  display: inline-block;
  width: 168px;
  height: 46px;
  border-radius: 23px;
  line-height: 46px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: url("../RJ-img/btn-bg.png") center/100% 100% no-repeat;
}
.zg-page .zg-btn.outline {
  color: #934896;
  background: url("../RJ-img/btn-outline-bg.png") center/100% 100% no-repeat;
}
.zg-page .zg-center {
  text-align: center;
}

/* 正文部分 */
.sec-1 {
  padding: 750px 0 0 0;
  background: url("../RJ-img/a-01.png") center top/100% auto no-repeat;
}
.sec-1 .zg-nav {
  height: 46px;
  padding: 9px;
  margin-bottom: 60px;
  font-size: 0;
  background: url("../RJ-img/nav-bg.png") center/100% no-repeat;
}
.sec-1 .zg-nav-item {
  display: inline-block;
}
.sec-1 .zg-nav-item .zg-nav-text {
  display: block;
  line-height: 48px;
  padding: 0 40px;
  font-size: 20px;
  text-align: center;
  color: #535353;
  cursor: pointer;
}
.sec-1 .zg-nav-item .zg-nav-text.active {
  background: url("../RJ-img/nav-item-bg.png") center/100% 100% no-repeat;
  color: #fff;
}

.brief {
  margin-bottom: 96px;
}
.brief-text {
  margin-bottom: 45px;
  font-size: 16px;
  color: #535353;
}
.brief .btn-group {
  text-align: center;
}
.brief .zg-btn {
  width: 275px;
  background: url("../RJ-img/brief-btn.png") center/100% 100% no-repeat;
}

.broad {
  margin-bottom: 65px;
}
.broad .swiper-container {
  width: 100%;
  height: 270px;
}
.broad .swiper-slide {
  height: auto;
}
.broad .sec-title {
  margin-bottom: 48px;
}
.broad .broad-item {
  position: relative;
  float: left;
  width: 50%;
  margin-bottom: 40px;
}
.broad .left {
  position: absolute;
  width: 96px;
  height: 96px;
  background-color: #7db4db;
  color: #fff;
}
.broad .right {
  display: table-cell;
  padding-left: 116px;
  font-size: 20px;
  height: 96px;
  color: #535353;
  vertical-align: middle;
}
.broad .day {
  display: block;
  margin: 9px 0 10px;
  font-size: 34px;
  text-align: center;
}
.broad .year {
  display: block;
  font-size: 16px;
  text-align: center;
}

.sec-2 {
  margin-bottom: 86px;
}
.sec-2 .flow-item {
  position: relative;
  float: left;
  width: 30%;
  margin-right: 5%;
  text-align: center;
}
.sec-2 .flow-item-content {
  position: absolute;
  width: 100%;
  bottom: -12px;
  left: 0;
}
.sec-2 .flow-item:last-child {
  margin-right: 0;
}
.sec-2 .flow-item img {
  display: block;
  width: 100%;
}
.sec-2 .flow-item .btn1 {
  background: url("../RJ-img/flow-btn-01.png") center/100% 100% no-repeat;
}
.sec-2 .flow-item .btn2 {
  background: url("../RJ-img/flow-btn-02.png") center/100% 100% no-repeat;
}
.sec-2 .flow-item .btn3 {
  background: url("../RJ-img/flow-btn-03.png") center/100% 100% no-repeat;
}
.sec-2 .flow-item-title {
  margin-bottom: 25px;
  font-size: 24px;
}
.sec-2 .flow-item-text {
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 34px;
}

.sec-3 {
  margin-bottom: 93px;
}
.sec-3 .title {
  width: 100%;
  background-color: #7db4db;
  color: #535353;
  font-size: 0;
}
.sec-3 .title th {
  padding: 18px 0;
}
.sec-3 .title-text {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}
.sec-3 .title-rank {
  width: 20%;
}
.sec-3 .title-peo {
  width: 20%;
}
.sec-3 .title-com {
  width: 40%;
}
.sec-3 .title-mark {
  width: 20%;
}
.sec-3 .swiper-container {
  width: 100%;
  height: 324px;
}
.sec-3 .swiper-slide {
  height: auto;
}
.sec-3 .list-box {
  width: 100%;
  overflow-y: scroll;
  font-size: 0;
  background-color: #d3eafa;
}
.sec-3 .list-box tr {
  position: relative;
  border-bottom: 1px solid #a3d3f2;
}
.sec-3 .list-box tr td {
  padding: 15px 0;
}
.sec-3 .list-box tr:last-child {
  border-bottom: none;
}

.sec-4 .swiper-container {
  width: 100%;
  height: 1190px;
}
.sec-4 .swiper-slide {
  height: auto;
}
.sec-4 .people-item {
  float: left;
  width: 23%;
  margin-right: 2%;
  margin-bottom: 70px;
}
.sec-4 .head {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  height: 328px;
}
.sec-4 .head:hover .mask {
  display: block;
}
.sec-4 .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  display: none;
  transition: all .3s;
}
.sec-4 .text {
  line-height: 25px;
  font-size: 16px;
  color: #fff;
}
.sec-4 .info {
  text-align: center;
}
.sec-4 .name {
  margin-bottom: 10px;
  font-size: 20px;
  color: #535353;
}
.sec-4 .school {
  margin-bottom: 24px;
  font-size: 16px;
  color: #535353;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sec-4 .ticket {
  margin-bottom: 14px;
  font-size: 20px;
  color: #fe0000;
}
.sec-4 img {
  display: block;
  width: 100%;
}
.sec-4 .zg-btn:hover {
  background: url("../RJ-img/btn-bg.png") center/100% 100% no-repeat;
  color: #fff;
}

.sec-5 {
  margin: 40px 0 95px;
}
.sec-5 img {
  display: block;
  width: 100%;
}
.sec-5 .left, .sec-5 .right, .sec-5 .top-left, .sec-5 .top-right {
  float: left;
  position: relative;
  overflow: hidden;
}
.sec-5 .top {
  margin-bottom: 10px;
}
.sec-5 .bottom {
  position: relative;
}
.sec-5 .left {
  width: 60%;
}
.sec-5 .right {
  width: 38%;
  margin-left: 2%;
}
.sec-5 .top-left {
  width: 49%;
  margin-right: 2%;
}
.sec-5 .top-right {
  width: 49%;
}
.sec-5 .text {
  position: absolute;
  padding: 5px 6px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  font-size: 16px;
  color: #fff;
  opacity: .5;
  filter: alpha(opacity=50);
}
.sec-5 .swiper-button-next, .sec-5 .swiper-button-prev {
  width: 38px;
  height: 38px;
}
.sec-5 .swiper-button-next {
  left: -50px;
  background: url("../RJ-img/arrow-left.png") center/100% no-repeat;
}
.sec-5 .swiper-button-prev {
  right: -50px;
  left: auto;
  background: url("../RJ-img/arrow-right.png") center/100% no-repeat;
}
.sec-5 .btn-group {
  margin-top: 46px;
  text-align: center;
}
.sec-5 .zg-btn {
  width: 418px;
  background: url("../RJ-img/review-btn.png") center/100% no-repeat;
}

.sec-6 {
  margin-bottom: 100px;
}
.sec-6 img {
  display: block;
  width: 100%;
}
.sec-6 .list-item {
  position: relative;
  float: left;
  width: 25%;
}
.sec-6 .info {
  position: absolute;
  width: 100%;
  top: 70px;
  text-align: center;
}
.sec-6 .icon {
  display: block;
  height: 54px;
  width: auto;
  margin: auto;
  margin-bottom: 30px;
}
.sec-6 .text {
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}
.sec-6 .left-arrow, .sec-6 .right-arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 50%;
  transform: translateY(-8px);
  border-right: 15px solid #a73b7f;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.sec-6 .right-arrow {
  border-right: 15px solid #4853b0;
}

.sec-7 {
  padding-bottom: 145px;
}
.sec-7 .left, .sec-7 .right {
  position: relative;
  width: 49%;
  float: left;
}
.sec-7 .left img, .sec-7 .right img {
  display: block;
  width: 100%;
}
.sec-7 .left {
  margin-right: 2%;
}
.sec-7 .left .title {
  line-height: 62px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: url("../RJ-img/review-title-01.png") center/110% 100% no-repeat;
}
.sec-7 .right .title {
  line-height: 62px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: url("../RJ-img/review-title-02.png") center/110% 100% no-repeat;
}
.sec-7 .content-box {
  position: relative;
}
.sec-7 .mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 45px 50px;
  color: #fff;
}
.sec-7 .big-text {
  margin-bottom: 24px;
  font-size: 24px;
}
.sec-7 .text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 1680px) {
  .sec-1 {
    padding: 690px 0 0 0;
  }
}
@media screen and (max-width: 1440px) {
  .sec-1 {
    padding: 600px 0 0 0;
  }
}
@media screen and (max-width: 1280px) {
  .zg-page .sec-content {
    width: 1150px;
  }

  .sec-1 {
    padding: 520px 0 0 0;
  }
  .sec-1 .zg-nav-item .zg-nav-text {
    padding: 0 38px;
  }
}
@media screen and (max-width: 1024px) {
  .zg-page .sec-content {
    width: 960px;
  }
  .zg-page .sec-title-text::after, .zg-page .sec-title-text::before {
    width: 300px;
    height: 14px;
    top: 13px;
  }
  .zg-page .sec-title-text::before {
    left: -345px;
  }
  .zg-page .sec-title-text::after {
    right: -345px;
  }

  .sec-1 {
    padding: 420px 0 0 0;
  }
  .sec-1 .zg-nav {
    background-size: 100% 100%;
  }
  .sec-1 .zg-nav-item .zg-nav-text {
    padding: 0 24px;
  }

  .sec-4 .swiper-container {
    height: 1056px;
  }
  .sec-4 .head {
    height: 261px;
  }
  .sec-4 .head:hover .mask {
    display: block;
  }

  .sec-5 {
    margin-bottom: 95px;
  }
  .sec-5 .sec-content {
    width: 900px;
  }

  .sec-6 .info {
    top: 50px;
  }
  .sec-6 .icon {
    margin-bottom: 25px;
  }

  .sec-7 .mask {
    padding: 20px 25px;
  }
  .sec-7 .text {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 960px) {
  .zg-page .sec-content {
    width: 900px;
  }
  .zg-page .sec-title-text::after, .zg-page .sec-title-text::before {
    width: 290px;
  }

  .sec-1 {
    padding: 400px 0 0 0;
  }
  .sec-1 .zg-nav {
    height: 42px;
    padding: 7px;
    background-size: 100% 100%;
  }
  .sec-1 .zg-nav-item .zg-nav-text {
    padding: 0 20px;
    line-height: 42px;
  }

  .sec-4 .people-item {
    width: 31%;
    margin-right: 2.333333%;
  }
  .sec-4 .head {
    height: auto;
  }
  .sec-4 .head:hover .mask {
    display: block;
  }

  .sec-5 .sec-content {
    width: 840px;
  }

  .sec-6 .icon {
    height: 48px;
  }

  .sec-7 .mask {
    padding: 20px;
  }
  .sec-7 .big-text {
    margin-bottom: 8px;
  }
  .sec-7 .text {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .zg-page .sec-content {
    width: auto;
    margin: 0 15px;
  }
  .zg-page .sec-title-text img {
    height: 32px;
  }
  .zg-page .sec-title-text::after, .zg-page .sec-title-text::before {
    width: 200px;
    height: 10px;
    top: 13px;
  }
  .zg-page .sec-title-text::before {
    left: -230px;
  }
  .zg-page .sec-title-text::after {
    right: -230px;
  }

  .sec-1 {
    padding: 340px 0 0 0;
  }
  .sec-1 .zg-nav {
    display: none;
  }

  .broad .broad-list {
    height: 540px;
    margin: auto;
  }
  .broad .broad-item {
    width: 100%;
  }

  .sec-2 .flow-item {
    float: none;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
  }
  .sec-2 .flow-item-content {
    position: absolute;
    width: 100%;
    bottom: -12px;
    left: 0;
  }
  .sec-2 .flow-item:last-child {
    margin: auto;
  }

  .sec-4 .people-item {
    width: 47%;
    margin-right: 3%;
  }
  .sec-4 .head {
    height: auto;
  }
  .sec-4 .head:hover .mask {
    display: block;
  }

  .sec-5 .left, .sec-5 .right {
    width: 100%;
    margin: 0;
  }
  .sec-5 .btn-group {
    margin-top: 100px;
  }
  .sec-5 .swiper-button-prev, .sec-5 .swiper-button-next {
    top: auto;
    bottom: 80px;
  }
  .sec-5 .swiper-button-next {
    left: 200px;
  }
  .sec-5 .swiper-button-prev {
    right: 200px;
  }

  .sec-6 {
    margin-bottom: 70px;
  }
  .sec-6 .list {
    width: 100%;
    margin: auto;
  }
  .sec-6 .list-item {
    float: left;
    width: 50%;
  }

  .sec-7 {
    padding-bottom: 100px;
  }
  .sec-7 .left, .sec-7 .right {
    width: 100%;
    float: none;
    margin: auto;
  }
  .sec-7 .left {
    margin-bottom: 30px;
  }
  .sec-7 .mask {
    padding: 45px 50px;
  }
  .sec-7 .big-text {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .sec-7 .text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 480px) {
  .zg-page .sec-title {
    margin-bottom: 35px;
  }
  .zg-page .sec-title-text img {
    height: 28px;
  }
  .zg-page .sec-title-text::after, .zg-page .sec-title-text::before {
    width: 130px;
    height: 6px;
    top: 11px;
  }
  .zg-page .sec-title-text::before {
    left: -140px;
  }
  .zg-page .sec-title-text::after {
    right: -140px;
  }
  .zg-page .zg-btn {
    width: 120px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
    font-size: 14px;
  }

  .sec-1 {
    padding: 200px 0 0 0;
  }

  .brief {
    margin-bottom: 70px;
  }
  .brief-text {
    margin-bottom: 30px;
  }
  .brief .btn-group {
    text-align: center;
  }
  .brief .zg-btn {
    width: 193px;
  }

  .broad {
    margin-bottom: 40px;
  }
  .broad .left {
    width: 86px;
    height: 86px;
  }
  .broad .day {
    font-size: 30px;
  }
  .broad .right {
    height: 86px;
    padding-left: 106px;
    font-size: 16px;
  }

  .sec-2 .flow-item {
    float: none;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
  }
  .sec-2 .flow-item-content {
    position: absolute;
    width: 100%;
    bottom: -12px;
    left: 0;
  }
  .sec-2 .flow-item:last-child {
    margin: auto;
  }
  .sec-2 .flow-item-title {
    margin-bottom: 20px;
  }
  .sec-2 .flow-item-text {
    margin-bottom: 30px;
  }

  .sec-3 {
    margin-bottom: 70px;
  }
  .sec-3 .title-text {
    font-size: 16px;
  }

  .sec-4 .people-item {
    width: 47%;
    margin-right: 3%;
    margin-bottom: 40px;
  }
  .sec-4 .head {
    height: auto;
  }
  .sec-4 .head:hover .mask {
    display: block;
  }
  .sec-4 .name {
    margin-bottom: 6px;
    font-size: 18px;
  }
  .sec-4 .school {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .sec-4 .ticket {
    font-size: 18px;
  }

  .sec-5 {
    margin-bottom: 60px;
  }
  .sec-5 .swiper-button-prev, .sec-5 .swiper-button-next {
    bottom: 60px;
  }
  .sec-5 .swiper-button-next {
    left: 100px;
  }
  .sec-5 .swiper-button-prev {
    right: 100px;
  }
  .sec-5 .zg-btn {
    width: 297px;
  }
  .sec-5 .btn-group {
    margin-top: 80px;
  }

  .sec-6 {
    margin-bottom: 70px;
  }
  .sec-6 .list {
    width: 100%;
  }

  .sec-7 {
    padding-bottom: 70px;
  }
  .sec-7 .left, .sec-7 .right {
    width: 100%;
    float: none;
  }
  .sec-7 .left .title, .sec-7 .right .title {
    font-size: 18px;
    line-height: 58px;
  }
  .sec-7 .mask {
    padding: 25px;
  }
  .sec-7 .big-text {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .sec-7 .text {
    margin-bottom: 30px;
    font-size: 14px;
  }
}
@media screen and (max-width: 414px) {
  .zg-page .sec-title {
    margin-bottom: 30px;
  }
  .zg-page .sec-title-text img {
    height: 24px;
  }
  .zg-page .sec-title-text::after, .zg-page .sec-title-text::before {
    width: 100px;
    height: 6px;
    top: 10px;
  }
  .zg-page .sec-title-text::before {
    left: -120px;
  }
  .zg-page .sec-title-text::after {
    right: -120px;
  }

  .sec-1 {
    padding: 170px 0 0 0;
  }

  .sec-2 .flow-item {
    width: 70%;
  }

  .sec-5 .swiper-button-prev, .sec-5 .swiper-button-next {
    bottom: 55px;
  }

  .sec-6 {
    margin-bottom: 50px;
  }
  .sec-6 .icon {
    height: 40px;
    margin-bottom: 20px;
  }
  .sec-6 .text {
    font-size: 14px;
  }
  .sec-6 .info {
    top: 40px;
  }
  .sec-6 .list {
    width: 100%;
  }

  .sec-7 .left .title, .sec-7 .right .title {
    line-height: 50px;
  }
  .sec-7 .mask {
    padding: 15px;
  }
  .sec-7 .big-text {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .sec-7 .text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 375px) {
  .zg-page .sec-title {
    margin-bottom: 30px;
  }
  .zg-page .sec-title-text img {
    height: 20px;
  }
  .zg-page .sec-title-text::after, .zg-page .sec-title-text::before {
    width: 70px;
    height: 6px;
    top: 10px;
  }
  .zg-page .sec-title-text::before {
    left: -90px;
  }
  .zg-page .sec-title-text::after {
    right: -90px;
  }

  .sec-5 .swiper-button-prev, .sec-5 .swiper-button-next {
    bottom: 55px;
  }
  .sec-5 .swiper-button-next {
    left: 80px;
  }
  .sec-5 .swiper-button-prev {
    right: 80px;
  }

  .sec-6 {
    margin-bottom: 50px;
  }
  .sec-6 .icon {
    height: 36px;
    margin-bottom: 15px;
  }
  .sec-6 .info {
    top: 30px;
  }
  .sec-6 .left-arrow, .sec-6 .right-arrow {
    left: -12px;
    transform: translateY(-6px);
    border-right: 12px solid #a73b7f;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }
  .sec-6 .right-arrow {
    border-right: 12px solid #4853b0;
  }

  .sec-7 .mask {
    padding: 10px;
  }
  .sec-7 .big-text {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .sec-7 .text {
    margin-bottom: 10px;
    line-height: 22px;
  }
}
@media screen and (max-width: 320px) {
  .zg-page .sec-content {
    width: auto;
    margin: 0 10px;
  }

  .sec-1 {
    padding: 140px 0 0 0;
  }

  .sec-7 {
    padding-bottom: 50px;
  }
  .sec-7 .mask {
    padding: 10px;
  }
  .sec-7 .big-text {
    margin-bottom: 6px;
    font-size: 16px;
  }
  .sec-7 .text {
    margin-bottom: 6px;
    line-height: 20px;
  }
}
