/* index.html css */

/* 导航部分 */
.page-content {
    overflow: hidden;
    font-family: Arial, '微软雅黑', sans-serif;
    img {
        display: block;
        max-width: 100%;
    }
    .m {
        display: none;
    }
}
.title-text {
    font-size: 44px;
    line-height: 67px;
    text-align: center;
    color: #2f2f2f;
}
.small-text {
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2f2f2f;
}
.white {
    color: #fff;
}

/* 正文部分 */
.page-content {
    background-color: #fff;
    .input-text {
        position: relative;
        display: inline-block;
        padding: 0 25px;
        line-height: 48px;
        border-radius: 24px;
        background-color: #ced3d5;
        font-size: 20px;
        color: #333;
        &.red {
            background-color: #e50714;
            color: #fff;
        }
        &.blue {
            background-color: #2c6afd;
            color: #fff;
        }
        &.dark {
            background-color: #121921;
            color: #fff;
        }
        &.outline {
            line-height: 46px;
            border: 1px solid #2c6afd;
            background-color: #1a202c;
            color: #fff;
        }
        .arrow {
            position: absolute;
            height:0;
            border-right: 9px solid transparent;
            border-left: 9px solid transparent;
            border-top: 9px solid #e50714;
            bottom: -8px;
            left: 20px;
        }
        .search {
            display: inline-block;
            width: 19px;
            height: 19px;
            background: url('../RJ-img/d-icon-01.png') center/100% no-repeat;
        }
    }
}
.section-box {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.section-1 {
    overflow: hidden;
    padding: 110px 0 80px;
    .text {
        margin-bottom: 90px;
        font-size: 22px;
        color: #333333;
        text-align: center;
    }
    .swiper-button-next {
        width: 52px;
        height: 102px;
        background: url('../RJ-img/a-arrow-right.png') center/100% no-repeat;
    }
    .swiper-button-prev {
        width: 52px;
        height: 102px;
        background: url('../RJ-img/a-arrow-left.png') center/100% no-repeat;
    }
}

.section-2 {
    background: #eff2f3;
    .info {
        padding: 96px 0 480px;
        background: url('../RJ-img/b-01.png') right bottom/80% no-repeat;
        position: relative;
    }
    .black-text {
        margin-bottom: 10px;
        font-size: 46px;
        color: #333333;
    }
    .text {
        margin-bottom: 35px;
        font-size: 24px;
        color: #333333;
    }
}

.section-3 {
    padding: 112px 0 95px;
    background: url('../RJ-img/c-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .top {
        margin-bottom: 580px;
        .input-text {
            margin-bottom: 15px;
        }
        .sec-title {
            margin-bottom: 65px;
            font-size: 36px;
            color: #fff;
        }
        .text {
            font-size: 24px;
            color: #fff;
        }
        .big-text {
            font-size: 46px;
            color: #fff;
        }
    }
    .bottom {
        text-align: center;
        .sec-title {
            font-size: 46px;
            color: #fff;
            margin-bottom: 25px;
        }
    }
    .icon-list {
        font-size: 0;
        .icon-item {
            display: inline-block;
            width: 16.66666666%;
        }
    }
}

.section-4 {
    padding: 130px 0 75px;
    background: url('../RJ-img/d-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-5 {
    padding: 85px 0 90px;
    background: url('../RJ-img/f-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-6 {
    position: relative;
    padding: 100px 0 50px;
}

.section-7 {
    padding: 80px 0 116px;
    background: url('../RJ-img/h-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1680px){
    
}

@media screen and (max-width: 1440px){
    
}

@media screen and (max-width: 1280px){
    .section-box {
        max-width: 1000px;
    }
    .section-1 {

    }
    .section-4 {
        .section-box {
            max-width: 1200px;
        }
    }
    .section-7 {

    }
}

@media screen and (max-width: 1024px){
    .section-box {
        max-width: 1000px;
    }
    .page-title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-text {
        font-size: 32px;
        line-height: 56px;
    }
    .section-1 {
        padding: 30px 0 50px;
    }
    .section-2 {

    }
    .section-3 {
        padding-top: 50px;

    }
    .section-4 {
        padding: 70px 0 55px;
    }
    .section-5 {
        padding: 65px 0 80px;
    }
    .section-7 {
        padding: 70px 0 100px;
    }
}

@media screen and (max-width: 768px){
    .title-text {
        font-size: 28px;
        line-height: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .small-text {
        font-size: 16px;
        line-height: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .page-title {
        font-size: 38px;
    }

    .page-content {
        .m {
            display: block;
        }
    
        .pc {
            display: none;
        }
    }

    .section-1 {
        padding: 30px 0 50px;
    }

    .section-2 {
    }

    .section-4 {
        padding: 20px 0 50px;
    }
    .section-5 {
        padding: 45px 0 60px;
    }
    .section-6 {
        padding: 40px 0 30px;
    }
    .section-7 {
        padding: 60px 0 116px;
    }
}

@media screen and (max-width: 480px){
    .title-text {
        font-size: 24px;
        line-height: 40px;
    }
    .small-text {
        font-size: 14px;
        line-height: 26px;
    }
    .page-title {
        font-size: 34px;
    }

    .section-1 {
        padding: 25px 0;
    }
    .section-2 {
    }
    .section-3 {
        padding-top: 30px;
    }
    .section-4 {
        padding: 30px 0 50px;
    }
    .section-5 {
        padding: 35px 0 40px;
    }
    .section-6 {
        padding: 30px 0 30px;
    }
    .section-7 {
        padding: 40px 0 86px;
    }
}

@media screen and (max-width: 414px){
    .title-text {
        font-size: 20px;
        line-height: 32px;
    }
    .page-title {
        font-size: 32px;
    }
    
    .section-1 {
        padding: 20px 0;
        .big-img {
            margin: 10px 40px 5px;
        }
    }
    .section-2 {
        .title-text {
            margin-bottom: 15px;
            font-size: 32px;
        }
        .small-text {
            font-size: 18px;
        }
    }
    .section-3 {
        .small-text {
            margin-bottom: 38px;
        }
        .arrow {
            width: 24px;
            height: 37px;
        }
    }
    .section-4 {
        padding: 30px 0 30px;
        background-position: center top;
        .top-list {
            margin: 0 15px 20px;
            .text {
                margin-bottom: 10px;
            }
        }
        .top-item {
            width: 48%;
            margin-right: 4%!important;
            margin-bottom: 25px;
            &:nth-child(2n) {
                margin-right: 0%!important;
            }
        }
        .text-box {
            height: 95px;
            padding: 10px 0;
        }
        .pro-img {
            margin: 40px auto;
        }
        .bottom-title {
            padding-top: 100px;
            margin-bottom: 20px;
        }
        .list-top {
            &-item {
                width: 50%;
                margin-bottom: 15px;
            }
        }
        .section-4 .arrow-down, .section-4 .arrow-up {
            width: 20px;
            height: 31px;
        }
        .list-bottom {
            text-align: left;
            font-size: 0;
            &-item {
                display: inline-block;
                float: none;
                width: 50%;
                margin-bottom: 10px;
                vertical-align: top;
            }
        }
        .bottom-list {
            padding: 30px 15px;
        }
    }
    .section-5 {
        padding: 30px 0 30px;
        .small-text {
            margin-bottom: 20px;
        }
        .big-img {
            margin: 25px auto;
        }
        .desc {
            font-size: 16px;
        }
    }
    .section-6 {
        padding: 30px 0 30px;
        .small-text {
            margin-bottom: 30px;
        }
    }
    .section-7 {
        padding: 30px 0 56px;
        .small-text {
            margin-bottom: 30px;
        }
        .bottom-list {
            margin: 0 15px;
            text-align: center;
        }
        .bottom-item {
            width: 33.33333%;
            margin-bottom: 20px;
            .text {
                height: 48px;
                font-size: 12px;
                margin-bottom: -6px;
                span {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 375px){
    .page-title {
        font-size: 28px;
        line-height: 36px;
    }
    
    .section-1 {
        padding: 20px 0;
    }
}

@media screen and (max-width: 320px){
    .title-text {
        line-height: 28px;
    }

    .section-3 {
        .mid-list {
            .icon {
                width: 50px;
            }
        }
    }
    .section-4 {
        padding: 20px 0 30px;
        .small-text {
            margin-bottom: 10px;
        }
        .bg-img {
            width: 260px;
        }
    }
    .section-5 {
        .top {
            width: 290px;
            margin-left: -145px;
        }
    }
    .section-6 {
        background-position: center 160px;
        .bottom-list {
            width: 290px;
        }
        .bottom-item {
            .icon {
                width: 40px;
            }
        }
    }
    .section-7 {
        .bottom-item {
            .text {
                margin-bottom: -12px;
                span {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}