.my-container {
  width: 1400px;
  margin: auto;
}

.breadnav a.on {
  color: #666666;
}

.x-content {
  max-width: 900px;
  margin: auto;
  padding-bottom: 35px;
}
.x-content__title {
  font-size: 24px;
  color: #222222;
  margin-bottom: 18px;
}
.x-content__title-desc {
  font-size: 14px;
  color: #999999;
  margin-bottom: 39px;
}

.x-form__item {
  margin-bottom: 20px;
}
.x-form__item-input {
  position: relative;
}
.x-form__item-input textarea {
  background: #fff;
  padding: 10px 15px;
  color: #222222;
  border: none;
  border-radius: 0;
  width: 100%;
  min-height: 280px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #767676;
}
.x-form__item-input input {
  width: 100%;
  background: #fff;
  padding: 10px 15px;
  color: #222222;
  border: none;
  border-radius: 0;
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #E0E0E0;
}
.x-form__item-input input::-webkit-input-placeholder,
.x-form__item-input input::-moz-input-placeholder,
.x-form__item-input input:-moz-input-placeholder,
.x-form__item-input input:-ms-input-placeholder {
  font-size: 16px;
  color: #D8D8D8;
}
.x-form__item-input-desc {
  padding-bottom: 57px;
}
.x-form__item-input-desc-num {
  position: absolute;
  font-size: 14px;
  color: #999999;
  bottom: 17px;
  right: 90px;
}
.x-form__item-input-required {
  position: absolute;
  top: 8px;
  right: -8px;
  font-size: 18px;
  color: #E10032;
}
.x-form__item-title {
  font-size: 16px;
  color: #333333;
  margin-bottom: 19px;
}
.x-form__item-title--small {
  color: #999999;
}
.x-form__checkbox {
  position: relative;
  padding-left: 39px;
  line-height: 28px;
  color: #838383;
}
.x-form__checkbox input[type="checkbox"] {
  position: absolute;
  left: -999em;
  border: none;
  background: none;
}
.x-form__checkbox label {
  position: absolute;
  left: 0;
  top: 4px;
  cursor: pointer;
}
.x-form__checkbox input[type="checkbox"] + label:before {
  background: url(http://image.ruijie.com.cn/UIA/img/checkico.png) no-repeat;
  background-size: 100%;
}
.x-form__checkbox input[type="checkbox"]:checked + label:before {
  background: url(http://image.ruijie.com.cn/UIA/img/checkico_on.png) no-repeat;
  background-size: 100%;
}
.x-form__checkbox label::before {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.x-form__checkbox a {
  color: #333333;
}
.x-form__checkbox a:hover {
  text-decoration: underline;
}
.x-form__button .subbtn {
  display: block;
  width: 216px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  margin: auto;
  border-radius: 23px;
  background-image: linear-gradient(to left, #EC5735, #E20731);
  color: #fff;
  font-size: 18px;
}
.x-form__uploader {
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px solid #E0E0E0;
}
.x-form__uploader-img {
  display: block;
  width: 41px;
  margin: auto;
  margin-bottom: 13px;
}
.x-form__uploader-label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #999999;
  flex-direction: column;
  cursor: pointer;
}
.x-form__uploader-input {
  display: none;
}
.x-form__uploader-preview {
  display: block;
  width: 100%;
  height: 100%;
  display: none;
}
.x-form__select {
  position: relative;
}
.x-form__select-list {
  position: absolute;
  max-height: 200px;
  width: 100%;
  top: 42px;
  left: 0;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-top: none;
  overflow-y: scroll;
  box-shadow: 0 0 15px #eee;
  display: none;
  z-index: 999;
}
.x-form__select-item {
  height: 50px;
  line-height: 50px;
  padding: 0 19px;
  cursor: pointer;
  font-size: 16px;
  color: #333333;
}
.x-form__select-item.active, .x-form__select-item:hover {
  color: #e00032;
}
.x-form__select-icon {
  position: absolute;
  top: 9px;
  right: 4px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .x-content {
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  .x-form__item-input textarea {
    min-height: 180px;
  }
  .x-form__button .subbtn {
    width: 180px;
  }
}
