@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0 none;
}
input {
  vertical-align: middle;
}
em {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  position: relative;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}
._fl {
  float: left;
}
._fr {
  float: right;
}
.none {
  display: none;
}

/*-------common---------*/
.t-mobile {
  display: none;
}
/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}
/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* item主体内容区 */
.t-content {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  margin: 0 80px;
}
/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}
.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}
.t-img img {
  width: auto;
  max-width: 100%;
}

/*--------自定义样式--------*/
.button__box {
  text-align: center;
  .button {
    display: inline-block;
    padding: 17px 68px;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1;
    text-align: center;
  }
  .button.white {
    background-color: #fff;
    color: #0dbc5f;
  }
  .button.green {
    background-color: #0dbc5f;
    color: #fff;
  }
}
.sec1 {
  background-image: url("../RJ-img/home-item1-bg.jpg");
  overflow: visible;
  .t-cont-item, .t-content {
    overflow: visible;
  }
}
.sec1__content {
  padding-bottom: 70px;
  .left {
    float: left;
    padding-top: 80px;
    width: 51.7%;
    .t-sub-title {
      padding: 15px 0 30px 0;
      font-size: 30px;
      line-height: 48px;
      color: #333;
      text-align: left;
    }
  }
  .title {
    img {
      display: block;
      width: 90%;
    }
  }
  .list {
    li {
      position: relative;
      margin-bottom: 8px;
    }
    .icon {
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 0;
      margin-top: -15px;
      vertical-align: top;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
    .icon1 {
      background-image: url("../RJ-img/home-icon-01.png");
    }
    .icon2 {
      background-image: url("../RJ-img/home-icon-02.png");
    }
    .icon3 {
      background-image: url("../RJ-img/home-icon-03.png");
    }
    .icon4 {
      background-image: url("../RJ-img/home-icon-04.png");
    }
    .text {
      display: block;
      padding-left: 50px;
      font-size: 16px;
      line-height: 30px;
    }
  }
  .bottom {
    margin-top: 30px;
    font-size: 20px;
    line-height: 36px;
    .sec1__more {
      display: inline-block;
      margin-left: 50px;
      color: #333;
      .icon {
        display: inline-block;
        width: 24px;
        height: 16px;
        margin: 0 12px;
        vertical-align: middle;
        background: url("../RJ-img/home-icon-05.png") center center/100% 100% no-repeat;
      }
    }
    .sec1__consult {
      display: inline-block;
      margin-left: 12px;
      color: #333;
      .icon {
        display: inline-block;
        width: 34px;
        height: 29px;
        margin-left: 12px;
        vertical-align: middle;
        background: url("../RJ-img/home-icon-06.png") center center/100% 100% no-repeat;
      }
    }
  }
  .right {
    position: relative;
    float: right;
    width: 48.3%;
    padding-top: 80px;
    text-align: center;
    .t-img {
      display: inline-block;
      width: 100%;
      max-width: 475px;
    }
    .line__img__right, .line__img__left {
      position: absolute;
      width: 125px;
    }
    .line__img__right {
      top: 0;
      right: -69px;
    }
    .line__img__left {
      left: -80px;
      bottom: -80px;
    }
  }
}
.sec2 {
  .t-main-title {
    padding-top: 50px;
  }
}
.sec2__content {
  padding-bottom: 40px;
  .t-intro {
    width: 65%;
    margin: auto;
    padding-top: 35px;
    line-height: 24px;
  }
}
.sec3 {
  background-image: url("../RJ-img/home-item3-bg.jpg");
  .t-main-title {
    padding-top: 50px;
    color: #fff;
  }
}
.sec3__content {
  margin: 0 58px;
  padding-top: 50px;
  .item {
    float: left;
    width: 33.3333%;
    text-align: center;
  }
  .t-img {
    display: block;
    margin: auto;
    width: 164px;
  }
  .text {
    padding: 30px 0 20px 0;
    font-size: 24px;
    line-height: 1;
    color: #fff;
  }
  .t-intro {
    color: #fff;
  }
  .button__box {
    padding: 22px 0 35px 0;
  }
}


@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }
  .t-pc {
    display: none;
  }
  .t-mobile {
    display: block;
  }
  .t-cont-item {
    height: auto;
  }
  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .t-main-title {
    font-size: 24px;
    padding-top: 35px;
    margin: 0 10px;
  }
  .t-sub-title {
    font-size: 18px;
  }
  .t-intro,
  .t-intro p {
    font-size: 14px;
    line-height: 20px;
  }
  /*--------自定义样式--------*/
  .sec1__content {
    padding-bottom: 40px;
    .left {
      padding-top: 60px;
      width: 100%;
      .t-sub-title {
        padding: 10px 0 20px 0;
        font-size: 24px;
        line-height: 40px;
      }
    }
    .title {
      img {
        margin: auto;
      }
    }
    .list {
      .text {
        padding-left: 40px;
        font-size: 14px;
        word-break: break-all;
      }
    }
    .bottom {
      margin-top: 25px;
      font-size: 18px;
      .sec1__more {
        margin-left: 0;
        .icon {
          margin: 0 10px;
        }
      }
      .sec1__consult {
        margin-left: 0;
        .icon {
          margin-left: 10px;
        }
      }
    }
    .right {
      width: 100%;
      padding-top: 40px;
      text-align: center;
      .t-img {
        display: inline-block;
        width: 100%;
        max-width: 475px;
      }
      .line__img__right, .line__img__left {
        position: absolute;
        width: 125px;
      }
      .line__img__right {
        top: 0;
        right: -69px;
      }
      .line__img__left {
        left: -80px;
        bottom: -80px;
      }
    }
  }
  .sec2 {
    .t-main-title {
      padding-top: 30px;
    }
  }
  .sec2__content {
    padding-bottom: 20px;
    .t-intro {
      width: 85%;
      padding-top: 25px;
    }
  }
  .sec3 {
    .t-main-title {
      padding-top: 30px;
    }
  }
  .sec3__content {
    margin: 0 10px;
    padding-top: 30px;
    .item {
      width: 100%;
      margin-bottom: 20px;
    }
    .text {
      padding: 20px 0 0 0;
      font-size: 20px;
    }
  }

}
