@charset "UTF-8";
/* index.html css */
/* 导航部分 */
.page-content {
  overflow: hidden;
  font-family: Arial, '微软雅黑', sans-serif;
}
.page-content img {
  display: block;
  max-width: 100%;
}
.page-content .m {
  display: none;
}

.title-text {
  font-size: 44px;
  line-height: 67px;
  text-align: center;
  color: #2f2f2f;
}

.small-text {
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2f2f2f;
}

.white {
  color: #fff;
}

/* 正文部分 */
.page-content {
  background-color: #fff;
}
.page-content .bold {
  font-weight: bold;
}
.page-content .input-text {
  position: relative;
  display: inline-block;
  padding: 0 25px;
  line-height: 48px;
  border-radius: 24px;
  background-color: #ced3d5;
  font-size: 20px;
  color: #333;
}
.page-content .input-text.red {
  background-color: #e50714;
  color: #fff;
}
.page-content .input-text.blue {
  background-color: #2c6afd;
  color: #fff;
}
.page-content .input-text.dark {
  background-color: #121921;
  color: #fff;
}
.page-content .input-text.outline {
  line-height: 46px;
  border: 1px solid #2c6afd;
  background-color: #1a202c;
  color: #fff;
}
.page-content .input-text .arrow {
  position: absolute;
  height: 0;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-top: 9px solid #e50714;
  bottom: -8px;
  left: 30px;
}
.page-content .input-text .search {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 4px;
  background: url("../RJ-img/d-icon-01.png") center/100% no-repeat;
  vertical-align: middle;
}
.page-content .link-piece {
  position: relative;
  width: 4px;
  height: 156px;
  background: #44444e;
}
.page-content .link-piece .top-circle, .page-content .link-piece .bottom-circle {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  left: -4px;
}
.page-content .link-piece .top-circle {
  top: 0;
  background-color: #595c63;
}
.page-content .link-piece .bottom-circle {
  bottom: 0;
  background-color: #5a9cfd;
}
.page-content .blue {
  color: #2c6afd;
}
.page-content .m {
  display: none;
}

.section-box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.section-1 {
  overflow: hidden;
  padding: 110px 0 80px;
  background-color: #f4f4f4;
}
.section-1 .text {
  margin-bottom: 90px;
  font-size: 22px;
  color: #333333;
  text-align: center;
}
.section-1 .swiper-button-next {
  width: 52px;
  height: 102px;
  background: url("../RJ-img/a-arrow-right.png") center/100% no-repeat;
}
.section-1 .swiper-button-prev {
  width: 52px;
  height: 102px;
  background: url("../RJ-img/a-arrow-left.png") center/100% no-repeat;
}

.section-2 {
  background: #eff2f3;
}
.section-2 .info {
  padding: 96px 0 480px;
  background: url("../RJ-img/b-01.png") right bottom/80% no-repeat;
  position: relative;
}
.section-2 .black-text {
  margin-bottom: 10px;
  font-size: 46px;
  color: #333333;
}
.section-2 .text {
  margin-bottom: 35px;
  font-size: 24px;
  color: #333333;
}

.section-3 {
  padding: 112px 0 160px;
  background: url("../RJ-img/c-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-3 .top {
  margin-bottom: 580px;
}
.section-3 .top .input-text {
  margin-bottom: 15px;
}
.section-3 .top .sec-title {
  margin-bottom: 65px;
  font-size: 36px;
  color: #fff;
}
.section-3 .top .text {
  font-size: 24px;
  color: #fff;
}
.section-3 .top .big-text {
  font-size: 46px;
  color: #fff;
}
.section-3 .bottom {
  text-align: center;
}
.section-3 .bottom .sec-title {
  font-size: 46px;
  color: #fff;
  margin-bottom: 25px;
}
.section-3 .pro-img {
  margin: auto;
}
.section-3 .icon-list {
  font-size: 0;
}
.section-3 .icon-list .icon-item {
  display: inline-block;
  width: 16.66666666%;
  vertical-align: top;
}
.section-3 .icon-list .icon {
  height: 65px;
  margin: auto;
  margin-bottom: 18px;
}
.section-3 .icon-list .icon-text {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.section-4 {
  position: relative;
  padding: 150px 0 75px;
  background: url("../RJ-img/d-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-4 .link-piece {
  position: absolute;
  left: 50%;
  margin-left: -2px;
  top: -78px;
}
.section-4 .sec-title {
  margin-bottom: 28px;
  font-size: 28px;
  color: #fff;
}
.section-4 .title {
  text-align: center;
}
.section-4 .section-input {
  margin-bottom: 170px;
  width: 540px;
}
.section-4 .item {
  margin-bottom: 200px;
  font-size: 0;
}
.section-4 .item:last-child {
  margin: 0;
}
.section-4 .item .input-text {
  margin-bottom: 35px;
  min-width: 266px;
}
.section-4 .item img {
  display: block;
  width: 100%;
}
.section-4 .left, .section-4 .right {
  display: inline-block;
  vertical-align: middle;
}
.section-4 .left {
  width: 58%;
}
.section-4 .right {
  width: 42%;
}
.section-4 .item-title {
  margin-bottom: 15px;
  font-size: 20px;
  color: #5a9bfd;
}
.section-4 .text-item {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  color: #878b95;
  line-height: 48px;
}
.section-4 .text-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  width: 21px;
  height: 21px;
  background: url("../RJ-img/d-icon-02.png") center/100% no-repeat;
}

.section-5 .bottom {
  padding: 55px 0 90px;
  background: url("../RJ-img/e-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-5 .sec-title {
  margin-bottom: 25px;
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.section-5 .input-text {
  padding: 0 30px;
  display: block;
  margin: auto;
}
.section-5 .icon-list {
  font-size: 0;
  text-align: center;
}
.section-5 .icon-item {
  display: inline-block;
  width: 250px;
}
.section-5 .icon {
  height: 80px;
  margin: auto;
  margin-bottom: 25px;
}
.section-5 .icon-text {
  text-align: center;
  font-size: 22px;
  color: #fff;
}

.section-6 {
  position: relative;
  padding: 150px 0;
  background: url("../RJ-img/d-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-6 .sec-title {
  margin-bottom: 28px;
  font-size: 28px;
  color: #fff;
}
.section-6 .title {
  text-align: center;
}
.section-6 .input-text {
  margin-bottom: 170px;
  width: 540px;
  text-align: center;
}
.section-6 .item {
  margin-bottom: 200px;
  font-size: 0;
}
.section-6 .item:last-child {
  margin: 0;
}
.section-6 .item .input-text {
  margin-bottom: 35px;
  min-width: 266px;
}
.section-6 .item img {
  display: block;
  width: 100%;
}
.section-6 .left, .section-6 .right {
  display: inline-block;
  vertical-align: middle;
}
.section-6 .left {
  width: 58%;
}
.section-6 .right {
  width: 42%;
}
.section-6 .item-title {
  margin-bottom: 15px;
  font-size: 20px;
  color: #5a9bfd;
}
.section-6 .text-item {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  color: #878b95;
  line-height: 48px;
}
.section-6 .text-item.blue {
  color: #2c6afd;
}
.section-6 .text-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  width: 21px;
  height: 21px;
  background: url("../RJ-img/d-icon-02.png") center/100% no-repeat;
}

.section-7 {
  padding: 80px 0 116px;
  background: url("../RJ-img/d-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.section-7 .sec-title {
  margin-bottom: 130px;
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.section-7 .box {
  font-size: 0;
}
.section-7 .box .left, .section-7 .box .right {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
.section-7 .icon {
  margin-bottom: 50px;
}
.section-7 .height-text {
  color: #878b95;
  font-size: 16px;
  line-height: 50px;
  margin-bottom: 45px;
}
.section-7 .icon-box .item {
  display: inline-block;
  width: 100px;
  margin-right: 42px;
}
.section-7 .text {
  margin-bottom: 30px;
  font-size: 22px;
}
.section-7 .pro-img {
  width: 130%;
  max-width: 130%;
}

.section-8 {
  padding: 10px 0 60px;
  background-color: #191a1e;
  text-align: center;
}
.section-8 .sec-icon {
  width: 140px;
  margin: auto;
  margin-bottom: 55px;
}
.section-8 .text {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.section-8 .input-text {
  width: 318px;
}

.section-9 {
  padding: 100px 0 110px;
  background-color: #fff;
}
.section-9 .sec-title {
  margin-bottom: 65px;
  font-size: 28px;
  color: #343333;
  text-align: center;
}
.section-9 .table {
  width: 100%;
  border: 1px solid #ebebeb;
}
.section-9 td, .section-9 tr {
  border: 1px solid #ebebeb;
}
.section-9 td {
  padding: 15px 50px;
  text-align: center;
}
.section-9 td.gray {
  background-color: #f4f4f4;
}

.section-10 {
  padding: 65px 0 130px;
  background: url("../RJ-img/j-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-10 .sec-title {
  margin-bottom: 25px;
  font-size: 28px;
  color: #343333;
  text-align: center;
}
.section-10 .icon-list {
  font-size: 0;
}
.section-10 .icon-item {
  position: relative;
  width: 33.33333%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.section-10 .icon {
  height: 80px;
  margin: auto;
  margin-bottom: 30px;
}
.section-10 .text {
  font-size: 20px;
  color: #343333;
}
.section-10 .line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #aaaaaa;
}

@media screen and (max-width: 1280px) {
  .section-box {
    max-width: 1000px;
  }

  .section-5 .input-text {
    height: 60px;
    line-height: 30px;
    border-radius: 40px;
    padding: 10px 30px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .section-box {
    max-width: 960px;
  }

  .section-3 .pro-img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .page-content .pc {
    display: none !important;
  }
  .page-content .m {
    display: block;
  }

  .section-box {
    width: auto;
    max-width: auto;
    margin: 0 20px;
  }

  .section-1 {
    overflow: hidden;
    padding: 110px 0 80px;
    background-color: #f4f4f4;
  }
  .section-1 img {
    width: 300px;
  }

  .section-2 {
    background: #eff2f3;
  }
  .section-2 .info {
    padding: 70px 0 380px;
  }
  .section-2 .black-text {
    font-size: 36px;
  }
  .section-2 .text {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .section-3 {
    padding: 80px 0 120px;
  }
  .section-3 .top {
    margin-bottom: 460px;
  }
  .section-3 .top .sec-title {
    margin-bottom: 50px;
    font-size: 28px;
  }
  .section-3 .top .text {
    font-size: 18px;
  }
  .section-3 .top .big-text {
    font-size: 36px;
  }
  .section-3 .bottom .sec-title {
    font-size: 36px;
  }
  .section-3 .icon-list {
    font-size: 0;
  }
  .section-3 .icon-list .icon-item {
    width: 33.33333%;
    margin-bottom: 40px;
  }
  .section-3 .icon-list .icon {
    height: 55px;
  }

  .section-4 {
    position: relative;
    padding: 120px 0 70px;
  }
  .section-4 .sec-title {
    margin-bottom: 25px;
    font-size: 24px;
  }
  .section-4 .section-input {
    margin-bottom: 120px;
    width: 500px;
  }
  .section-4 .item {
    margin-bottom: 120px;
  }
  .section-4 .item .input-text {
    margin-bottom: 30px;
  }
  .section-4 .left, .section-4 .right {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .section-4 .item-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .section-4 .text-item {
    line-height: 40px;
  }
  .section-4 img {
    margin: auto;
  }

  .section-5 .sec-title {
    margin-bottom: 25px;
    font-size: 28px;
    color: #fff;
    text-align: center;
  }
  .section-5 .input-text {
    padding: 0 30px;
    display: block;
    margin: auto;
  }
  .section-5 .icon-list {
    font-size: 0;
    text-align: center;
  }
  .section-5 .icon-item {
    display: inline-block;
    width: 250px;
  }
  .section-5 .icon {
    height: 70px;
  }
  .section-5 .icon-text {
    font-size: 16px;
  }

  .section-6 {
    padding: 90px 0;
  }
  .section-6 .sec-title {
    margin-bottom: 25px;
    font-size: 24px;
  }
  .section-6 .section-input {
    margin-bottom: 120px;
    width: 500px;
  }
  .section-6 .item {
    margin-bottom: 80px;
  }
  .section-6 .item .input-text {
    margin-bottom: 30px;
    width: auto;
  }
  .section-6 .item img {
    width: 70%;
  }
  .section-6 .left, .section-6 .right {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .section-6 .item-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .section-6 .text-item {
    line-height: 40px;
  }
  .section-6 img {
    margin: auto;
  }

  .section-7 {
    padding: 80px 0;
  }
  .section-7 .sec-title {
    margin-bottom: 90px;
    font-size: 24px;
  }
  .section-7 .box {
    text-align: center;
  }
  .section-7 .box .left, .section-7 .box .right {
    width: 100%;
  }
  .section-7 .icon {
    margin-bottom: 30px;
  }
  .section-7 .icon img {
    margin: auto;
  }
  .section-7 .height-text {
    color: #878b95;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .section-7 .icon-box .item {
    display: inline-block;
    width: 100px;
    margin-right: 42px;
  }
  .section-7 .icon-box .item:last-child {
    margin-right: 0;
  }
  .section-7 .icon-box .item img {
    margin: auto;
  }
  .section-7 .text {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .section-7 .pro-img {
    width: 80%;
    margin: auto;
  }

  .section-8 .sec-icon {
    width: 100px;
    margin-bottom: 45px;
  }
  .section-8 .text {
    font-size: 20px;
  }

  .section-9 {
    padding: 80px 0;
  }
  .section-9 .sec-title {
    margin-bottom: 40px;
    font-size: 24px;
  }

  .section-10 {
    padding: 40px 0 80px;
  }
  .section-10 .sec-title {
    font-size: 24px;
  }
  .section-10 .icon {
    height: 60px;
  }
  .section-10 .text {
    font-size: 16px;
    color: #343333;
  }
}
@media screen and (max-width: 480px) {
  .section-content .input-text {
    position: relative;
    display: inline-block;
    padding: 0 25px;
    line-height: 48px;
    border-radius: 24px;
    background-color: #ced3d5;
    font-size: 20px;
    color: #333;
  }
  .section-content .input-text.red {
    background-color: #e50714;
    color: #fff;
  }
  .section-content .input-text.blue {
    background-color: #2c6afd;
    color: #fff;
  }
  .section-content .input-text.dark {
    background-color: #121921;
    color: #fff;
  }
  .section-content .input-text.outline {
    line-height: 46px;
    border: 1px solid #2c6afd;
    background-color: #1a202c;
    color: #fff;
  }
  .section-content .input-text .arrow {
    position: absolute;
    height: 0;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-top: 9px solid #e50714;
    bottom: -8px;
    left: 30px;
  }
  .section-content .input-text .search {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: url("../RJ-img/d-icon-01.png") center/100% no-repeat;
    vertical-align: middle;
  }
  .section-content .link-piece {
    position: relative;
    width: 4px;
    height: 120px;
    background: #44444e;
  }
  .section-content .link-piece .top-circle, .section-content .link-piece .bottom-circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    left: -4px;
  }
  .section-content .link-piece .top-circle {
    top: 0;
    background-color: #595c63;
  }
  .section-content .link-piece .bottom-circle {
    bottom: 0;
    background-color: #5a9cfd;
  }

  .section-1 {
    overflow: hidden;
    padding: 110px 0 80px;
  }
  .section-1 .text {
    margin-bottom: 60px;
  }
  .section-1 img {
    width: 260px;
  }
  .section-1 .swiper-button-next {
    width: 34px;
  }
  .section-1 .swiper-button-prev {
    width: 34px;
  }

  .section-2 {
    background: #eff2f3;
  }
  .section-2 .info {
    padding: 50px 0 280px;
  }

  .section-3 {
    padding: 50px 0 60px;
  }
  .section-3 .top {
    margin-bottom: 360px;
  }
  .section-3 .top .sec-title {
    margin-bottom: 30px;
  }
  .section-3 .top .text {
    font-size: 16px;
  }
  .section-3 .top .big-text {
    font-size: 32px;
  }
  .section-3 .bottom .sec-title {
    font-size: 32px;
  }
  .section-3 .input-text {
    height: auto;
    line-height: 30px;
    border-radius: 30px;
  }
  .section-3 .icon-list .icon-item {
    width: 50%;
    margin-bottom: 40px;
  }
  .section-3 .icon-list .icon {
    height: 40px;
  }
}
@media screen and (max-width: 414px) {
  .title-text {
    font-size: 20px;
    line-height: 32px;
  }

  .page-title {
    font-size: 32px;
  }

  .section-1 {
    padding: 20px 0;
  }
  .section-1 .big-img {
    margin: 10px 40px 5px;
  }

  .section-2 .title-text {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .section-2 .small-text {
    font-size: 18px;
  }

  .section-3 .small-text {
    margin-bottom: 38px;
  }
  .section-3 .arrow {
    width: 24px;
    height: 37px;
  }

  .section-4 {
    padding: 30px 0 30px;
    background-position: center top;
  }
  .section-4 .top-list {
    margin: 0 15px 20px;
  }
  .section-4 .top-list .text {
    margin-bottom: 10px;
  }
  .section-4 .top-item {
    width: 48%;
    margin-right: 4% !important;
    margin-bottom: 25px;
  }
  .section-4 .top-item:nth-child(2n) {
    margin-right: 0% !important;
  }
  .section-4 .text-box {
    height: 95px;
    padding: 10px 0;
  }
  .section-4 .pro-img {
    margin: 40px auto;
  }
  .section-4 .bottom-title {
    padding-top: 100px;
    margin-bottom: 20px;
  }
  .section-4 .list-top-item {
    width: 50%;
    margin-bottom: 15px;
  }
  .section-4 .section-4 .arrow-down, .section-4 .section-4 .arrow-up {
    width: 20px;
    height: 31px;
  }
  .section-4 .list-bottom {
    text-align: left;
    font-size: 0;
  }
  .section-4 .list-bottom-item {
    display: inline-block;
    float: none;
    width: 50%;
    margin-bottom: 10px;
    vertical-align: top;
  }
  .section-4 .bottom-list {
    padding: 30px 15px;
  }

  .section-5 {
    padding: 30px 0 30px;
  }
  .section-5 .small-text {
    margin-bottom: 20px;
  }
  .section-5 .big-img {
    margin: 25px auto;
  }
  .section-5 .desc {
    font-size: 16px;
  }

  .section-6 {
    padding: 30px 0 30px;
  }
  .section-6 .small-text {
    margin-bottom: 30px;
  }

  .section-7 {
    padding: 30px 0 56px;
  }
  .section-7 .small-text {
    margin-bottom: 30px;
  }
  .section-7 .bottom-list {
    margin: 0 15px;
    text-align: center;
  }
  .section-7 .bottom-item {
    width: 33.33333%;
    margin-bottom: 20px;
  }
  .section-7 .bottom-item .text {
    height: 48px;
    font-size: 12px;
    margin-bottom: -6px;
  }
  .section-7 .bottom-item .text span {
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 375px) {
  .page-title {
    font-size: 28px;
    line-height: 36px;
  }

  .section-1 {
    padding: 20px 0;
  }
}
@media screen and (max-width: 320px) {
  .title-text {
    line-height: 28px;
  }

  .section-3 .mid-list .icon {
    width: 50px;
  }

  .section-4 {
    padding: 20px 0 30px;
  }
  .section-4 .small-text {
    margin-bottom: 10px;
  }
  .section-4 .bg-img {
    width: 260px;
  }

  .section-5 .top {
    width: 290px;
    margin-left: -145px;
  }

  .section-6 {
    background-position: center 160px;
  }
  .section-6 .bottom-list {
    width: 290px;
  }
  .section-6 .bottom-item .icon {
    width: 40px;
  }

  .section-7 .bottom-item .text {
    margin-bottom: -12px;
  }
  .section-7 .bottom-item .text span {
    left: 0;
    right: 0;
  }
}
