@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0 none;
}
input {
  vertical-align: middle;
}
em {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  position: relative;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}
._fl {
  float: left;
}
._fr {
  float: right;
}
.none {
  display: none;
}

/*-------common---------*/
.t-mobile {
  display: none;
}
/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}
/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* item主体内容区 */
.t-content {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  margin: 0 80px;
}
/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}
.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}
.t-img img {
  width: auto;
  max-width: 100%;
}

/*--------自定义样式--------*/
.button__box {
  text-align: center;
  .button {
    display: inline-block;
    padding: 17px 68px;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1;
    text-align: center;
  }
  .button.white {
    background-color: #fff;
    color: #0dbc5f;
  }
  .button.green {
    background-color: #0dbc5f;
    color: #fff;
  }
}
.sec1 {
  background-image: url("../RJ-img/home-item1-bg.jpg");
  overflow: visible;
  .t-cont-item, .t-content {
    overflow: visible;
  }
}
.sec1__content {
  padding-bottom: 70px;
  .left {
    float: left;
    padding-top: 80px;
    width: 51.7%;
    .t-sub-title {
      padding: 15px 0 30px 0;
      font-size: 30px;
      line-height: 48px;
      color: #333;
      text-align: left;
    }
  }
  .title {
    img {
      display: block;
      width: 90%;
    }
  }
  .list {
    li {
      position: relative;
      margin-bottom: 8px;
    }
    .icon {
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 0;
      margin-top: -15px;
      vertical-align: top;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
    .icon1 {
      background-image: url("../RJ-img/home-icon-01.png");
    }
    .icon2 {
      background-image: url("../RJ-img/home-icon-02.png");
    }
    .icon3 {
      background-image: url("../RJ-img/home-icon-03.png");
    }
    .icon4 {
      background-image: url("../RJ-img/home-icon-04.png");
    }
    .text {
      display: block;
      padding-left: 50px;
      font-size: 16px;
      line-height: 30px;
    }
  }
  .bottom {
    margin-top: 30px;
    font-size: 20px;
    line-height: 36px;
    .sec1__more {
      display: inline-block;
      margin-left: 50px;
      color: #333;
      .icon {
        display: inline-block;
        width: 24px;
        height: 16px;
        margin: 0 12px;
        vertical-align: middle;
        background: url("../RJ-img/home-icon-05.png") center center/100% 100% no-repeat;
      }
    }
    .sec1__consult {
      display: inline-block;
      margin-left: 12px;
      color: #333;
      .icon {
        display: inline-block;
        width: 34px;
        height: 29px;
        margin-left: 12px;
        vertical-align: middle;
        background: url("../RJ-img/home-icon-06.png") center center/100% 100% no-repeat;
      }
    }
  }
  .right {
    position: relative;
    float: right;
    width: 48.3%;
    padding-top: 80px;
    text-align: center;
    .t-img {
      display: inline-block;
      width: 100%;
      max-width: 475px;
    }
    .line__img__right, .line__img__left {
      position: absolute;
      width: 125px;
    }
    .line__img__right {
      top: 0;
      right: -69px;
    }
    .line__img__left {
      left: -80px;
      bottom: -80px;
    }
  }
}
.sec2 {
  background-color: #e9fff3;
  .t-main-title {
    padding-top: 50px;
  }
}
.sec2__content {
  .t-intro {
    width: 65%;
    margin: auto;
    padding-top: 35px;
    line-height: 24px;
  }
  .t-img {
    display: block;
    width: 80%;
    max-width: 485px;
    margin: auto;
  }
}
.sec13 {
  .t-intro {
    padding: 20px 80px 75px 80px;
  }
  .item {
    float: left;
    width: 22%;
    margin-right: 4%;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
    .t-img {
      display: block;
      width: 100%;
    }
    .text {
      display: block;
      font-size: 16px;
      padding-top: 30px;
      &:hover {
        color: #35c478;
        text-decoration: underline;
      }
    }
  }
}
.sec13__content {
  padding-bottom: 110px;
}
.sec3 {
  background-image: url("../RJ-img/home-item3-bg.jpg");
  .t-main-title {
    padding-top: 50px;
    color: #fff;
  }
}
.sec3__content {
  margin: 0 58px;
  padding-top: 50px;
  .item {
    float: left;
    width: 33.3333%;
    text-align: center;
  }
  .t-img {
    display: block;
    margin: auto;
    width: 164px;
  }
  .text {
    padding: 30px 0 20px 0;
    font-size: 24px;
    line-height: 1;
    color: #fff;
  }
  .t-intro {
    color: #fff;
  }
  .button__box {
    padding: 22px 0 35px 0;
  }
}
.sec4 {
  .t-main-title {
    padding-top: 35px;
  }
}
.sec4__content {
  padding-top: 20px;
  padding-bottom: 50px;
  .sec4__swiper {
    position: relative;
    padding-top: 15px;
    .swiper-container {
      margin: 0 153px;
    }
    .swiper-button-next, .swiper-button-prev {
      width: 26px;
      height: 39px;
    }
    .swiper-button-next {
      background-image: url('../RJ-img/home-arrow-right.png')
    }
    .swiper-button-prev {
      background-image: url('../RJ-img/home-arrow-left.png')
    }
  }
  .left {
    float: left;
    width: 36%;
    margin-left: 10%;
    padding-top: 40px;
    .title {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 1;
      color: #23c16b;
    }
    .t-intro {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
    }
    .list {
      padding-left: 20px;
      font-size: 16px;
      list-style-type: disc;
      color: #999999;
    }
    .button__box {
      padding-top: 40px;
      text-align: left;
    }
  }
  .right {
    width: 54%;
    float: right;
    .t-img {
      display: block;
      max-width: 100%;
    }
  }
}
.sec5 {
  background-color: #e9fff3;
}
.sec5__content {
  padding: 30px 0 60px 0;
  margin: 0 24px;
  .t-img {
    display: block;
    max-width: 100%;
  }
}
.sec6__content {
  padding: 30px 0 80px 0;
  .list {
    margin: 0 33px;
  }
  .item {
    position: relative;
    float: left;
    width: 25%;
    .t-img {
      display: block;
      width: 100%;
      max-width: 242px;
      margin: auto;
    }
    .text {
      padding-top: 20px;
      font-size: 22px;
      line-height: 1;
      color: #000;
      text-align: center;
    }
    &:hover .mask__info {
      display: block;
    }
  }
  .mask__info {
    display: none;
    position: absolute;
    width: 260px;
    height: 204px;
    left: 50%;
    bottom: 35px;
    margin-left: -140px;
    padding: 5px 10px 0 10px;
    background: url("../RJ-img/home-item6-01.png") center center/100% 100% no-repeat #fff;
    overflow: hidden;
    z-index: 1;
    .box {
      padding: 22px 10px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.sec7__content {
  padding: 20px 0 50px 0;
  .list {
    padding-top: 45px;
    margin: 0 87px;
    .item {
      float: left;
      width: 33.3333%;
      .t-img {
        display: block;
        max-width: 100px;
        margin: auto;
      }
    }
    .text {
      padding-top: 20px;
      margin: 0 15px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #666;
    }
  }
}
.sec8 {
  background-image: url("../RJ-img/home-item8-bg.jpg");
  .t-main-title {
    color: #fff;
  }
}
.sec8__content.t-pc {
  padding: 160px 0 340px 0;
  .line {
    position: relative;
    margin: 0 140px;
    height: 1px;
    background-color: #fff;
  }
  .sec8__circle {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -7px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: -7px;
    background-color: #363636;
    cursor: pointer;
  }
  .sec8__circle1 {
    left: 0;
  }
  .sec8__circle2 {
    left: 33.3333%;
  }
  .sec8__circle3 {
    left: 66.66667%;
  }
  .sec8__circle4 {
    left: 100%;
  }
  .sec8__date {
    display: inline-block;
    position: absolute;
    top: -40px;
    width: 120px;
    margin-left: -50px;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    text-align: center;
  }
  .sec8__info {
    position: absolute;
    width: 246px;
    min-height: 230px;
    top: 40px;
    margin-left: -110px;
    border: 1px solid #23c16b;
    background-color: #315642;
    border-radius: 5px;
  }
  .sec8__triangle {
    position: absolute;
    width: 25px;
    height: 14px;
    top: -14px;
    left: 100px;
    background: url("../RJ-img/home-item8-trangle.png") center center/100% 100% no-repeat;
  }
  .text__box {
    padding: 15px 10px;
  }
  .text {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
}
.sec9 {
  background-image: url("../RJ-img/home-item9-bg.jpg");
  .t-main-title {
    margin: 0;
    padding: 70px 0;
    color: #2ec774;
  }
}
.sec10 {
  background-color: #12974f;
  .t-content {
    background-color: #2ec774;
  }
  .list {
    margin: 0 107px;
    padding: 25px 0 40px 0;
  }
  .item {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    .t-img {
      display: block;
      width: 126px;
      margin: auto;
    }
    .title {
      padding: 28px 0 14px 0;
      font-size: 20px;
      color: #fff;
    }
    .t-intro {
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
    .text {
      line-height: 24px;
      color: #05823d;
    }
  }
}
.sec11 {
  .sec11__swiper {
    position: relative;
    .t-main-title {
      padding-top: 50px;
    }
    .swiper-slide {
      min-height: 800px;
    }
    .swiper-button-next {
      width: 83px;
      height: 83px;
      right: 4%;
      background: url("../RJ-img/home-item11-02.png") center center/100% 100% no-repeat;
    }
    .swiper-button-prev {
      width: 83px;
      height: 83px;
      left: 4%;;
      background: url("../RJ-img/home-item11-01.png") center center/100% 100% no-repeat;
    }
  }
  .slide1 {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url("../RJ-img/home-item11-bg1.jpg");
    .t-main-title {
      font-size: 42px;
      line-height: 48px;
      color: #1cc76c;
    }
    .t-intro {
      padding-top: 45px;
      font-size: 16px;
      color: #fff;
    }
    .list {
      width: 100%;
      max-width: 1130px;
      margin: auto;
      padding: 128px 0 203px 0;
      text-align: center;
    }
    .item {
      position: relative;
      float: left;
      width: 25%;
      overflow: hidden;
      .t-img {
        display: block;
        width: 100%;
      }
      .num__img {
        display: block;
        width: 60%;
        margin: auto;
        max-width: 118px;
      }
    }
    .item__content {
      position: absolute;
      width: 100%;
      top: 40px;
      left: 0;
      background-color: none;
      z-index: 1;
    }
    .title {
      font-size: 24px;
      padding-top: 20px;
      margin-bottom: 12px;
    }
    .text {
      padding: 0 27px 0 19px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .slide2 {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url("../RJ-img/home-item11-bg2.jpg");
    .t-intro {
      padding: 50px 0 80px 0;
    }
    .sub__title {
      font-size: 42px;
      text-align: center;
      color: #1cc76c;
    }
    .table__box {
      padding: 35px 0 68px 0;
      width: 100%;
      max-width: 858px;
      margin: auto;
    }
    table {
      width: 100%;
      border: 0;
      text-align: center;
      td {
        height: 116px;
        border-color: #fff;
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
      .speed {
        padding: 0 40px;
        span:first-child {
          float: left;
        }
        span:last-child {
          float: right;
        }
      }
    }
    .row1 {
      background-color: rgba(255, 255, 255, .6);
      td {
        border-top: 0;
      }
      .num {
        margin-bottom: 30px;
        font-size: 24px;
      }
      .speed {
        font-size: 16px;
      }
    }
    .row2 {
      font-size: 30px;
      background-color: rgba(28, 199, 108, .1);
    }
    .row3 {
      font-size: 30px;
      color: #fff;
      background-color: rgba(28, 199, 108, .8);
      td {
        border-bottom: 0;
      }
    }
  }
  .slide3 {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url("../RJ-img/home-item11-bg3.jpg");
    .t-main-title {
      color: #fff;
    }
    .t-intro {
      padding: 48px 0 45px 0;
      color: #fff;
    }
    .table__box {
      margin-bottom: 100px;
      background-color: rgba(255, 255, 255, .1);
    }
    .table {
      width: 100%;
      max-width: 800px;
      margin: auto;
    }
    table {
      width: 100%;
      td {
        width: 25%;
        height: 48px;
        padding: 0 15px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        border-right: 1px solid rgba(255, 255, 255, .2);
        &:first-child {
          text-align: right;
        }
        &:last-child {
          border-right: 0;
        }
      }
      tr.active {
        background: url("../RJ-img/home-item11-08.png") center center/100% 100% no-repeat;
        td {
          height: 63px;
          font-size: 22px;
        }
      }
    }
    .list {
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      li {
        float: left;
        width: 25%;
        padding: 16px 0;
        font-size: 24px;
        text-align: center;
        color: #fff;
      }
    }
  }
  .slide4 {
    background-color: #fff;
    .t-intro {
      padding-top: 40px;
      margin-bottom: 60px;
      line-height: 24px;
    }
    .number {
      font-size: 30px;
      color: #2ec774;
    }
    .table__box {
      padding: 67px 0 116px 0;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      background-image: url("../RJ-img/home-item11-bg4.jpg");
    }
    .table {
      width: 100%;
      max-width: 858px;
      margin: auto;
      background: rgba(0, 0, 0, .6);
    }
    table {
      width: 100%;
      text-align: center;
      color: #fff;
      border: 0;
      td {
        font-size: 30px;
        border-color: rgba(255, 255, 255, .3);
      }
    }
    .row1 {
      td {
        font-size: 16px;
        border-top: 0;
      }
    }
    .row1, .row2 {
      td {
        padding: 25px 0 15px 0;
        &:last-child {
          border-right: 0;
        }
        &:first-child {
          border-left: 0;
        }
      }
    }
    .row2 td, .row3 td {
      padding: 40px 0;
    }
    .row3 {
      background-color: rgba(28, 199, 108, .8);
      td {
        border-bottom: 0;
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
    .row1, .row2, .row3 {
      td:first-child {
        width: 20%;
      }
    }
  }
}
.sec12 {
  padding-top: 60px;
  .list {
    margin: 0 50px;
  }
  .item {
    position: relative;
    float: left;
    width: 33.3333%;
    text-align: center;
    .text {
      padding: 40px 0 30px 0;
      font-size: 22px;
      line-height: 39px;
      color: #000;
    }
    .t-img {
      display: block;
      max-width: 283px;
      margin: auto;
    }
    .btn {
      display: inline-block;
      padding: 8px 15px;
      margin-top: 40px;
      font-size: 18px;
      line-height: 23px;
      color: #fff;
      background-color: #1cc76c;
      border-radius: 3px;
    }
    .icon {
      display: inline-block;
      vertical-align: top;
      width: 23px;
      height: 23px;
      background: url("../RJ-img/home-icon-08.png") center center/100% 100% no-repeat;
    }
    .limit__icon {
      position: absolute;
      width: 25px;
      height: 25px;
      right: -13px;
      top: 30%;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sec8__content.t-pc {
    .sec8__info {
      width: 200px;
      min-height: 270px;
    }
  }
}
@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }
  .t-pc {
    display: none;
  }
  .t-mobile {
    display: block;
  }
  .t-cont-item {
    height: auto;
  }
  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .t-main-title {
    font-size: 24px;
    padding-top: 35px;
    margin: 0 10px;
  }
  .t-sub-title {
    font-size: 18px;
  }
  .t-intro,
  .t-intro p {
    font-size: 14px;
    line-height: 20px;
  }
  /*--------自定义样式--------*/
  .button__box {
    .button {
      padding: 15px 55px;
      font-size: 14px;
      border-radius: 3px;
    }
  }
  .sec1 {
    overflow: hidden;
  }
  .sec1__content {
    padding-bottom: 40px;
    .left {
      padding-top: 60px;
      width: 100%;
      .t-sub-title {
        padding: 10px 0 20px 0;
        font-size: 24px;
        line-height: 40px;
      }
    }
    .title {
      img {
        margin: auto;
      }
    }
    .list {
      .text {
        padding-left: 40px;
        font-size: 14px;
        word-break: break-all;
      }
    }
    .bottom {
      margin-top: 25px;
      font-size: 18px;
      .sec1__more {
        margin-left: 0;
        .icon {
          margin: 0 10px;
        }
      }
      .sec1__consult {
        margin-left: 0;
        .icon {
          margin-left: 10px;
        }
      }
    }
    .right {
      width: 100%;
      padding-top: 40px;
      text-align: center;
      .t-img {
        display: inline-block;
        width: 100%;
        max-width: 475px;
      }
      .line__img__right, .line__img__left {
        position: absolute;
        width: 125px;
      }
      .line__img__right {
        top: 0;
        right: -69px;
      }
      .line__img__left {
        left: -80px;
        bottom: -80px;
      }
    }
  }
  .sec2 {
    .t-main-title {
      padding-top: 30px;
    }
  }
  .sec2__content {
    .t-intro {
      width: 85%;
      padding-top: 25px;
      padding-bottom: 0;
    }
  }
  .sec13 {
    .t-intro {
      margin-top: 0;
      padding: 20px 15px 35px 15px;
    }
    .item {
      width: 48%;
      &:nth-child(2n) {
        margin-right: 0;
      }
      .text {
        font-size: 16px;
        padding-top: 30px;
      }
    }
  }
  .sec13__content {
    padding-bottom: 60px;
  }
  .sec3 {
    .t-main-title {
      padding-top: 30px;
    }
  }
  .sec3__content {
    margin: 0 10px;
    padding-top: 30px;
    .item {
      width: 100%;
      margin-bottom: 20px;
    }
    .text {
      padding: 20px 0 0 0;
      font-size: 20px;
    }
  }
  .sec4__content {
    padding-bottom: 30px;
    .sec4__swiper {
      padding-top: 15px;
      .swiper-container {
        margin: 0 50px;
      }
    }
    .left {
      width: 100%;
      padding-top: 0;
      .title {
        font-size: 20px;
      }
      .t-intro {
        margin-top: 0;
        padding-bottom: 0;
        font-size: 14px;
      }
      .list {
        font-size: 14px;
      }
      .button__box {
        padding-top: 20px;
      }
    }
    .right {
      width: 100%;
    }
  }
  .sec6__content {
    padding: 30px 0 40px 0;
    .list {
      margin: 0;
    }
    .item {
      width: 100%;
      margin-bottom: 20px;
      .text {
        font-size: 20px;
      }
    }
    .mask__info {
      display: block;
      position: static;
      width: auto;
      height: auto;
      margin-left: 0;
      padding: 0;
      background: none;
      .box {
        padding: 20px 0 0 0;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .sec7__content {
    padding: 20px 0 30px 0;
    .t-intro {
      margin-top: 0;
      padding-bottom: 0;
    }
    .list {
      padding-top: 30px;
      margin: 0 40px;
      .item {
        width: 100%;
        margin-bottom: 20px;
      }
      .text {
        padding-top: 20px;
        margin: 0 15px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #666;
      }
    }
  }
  .sec8__content.t-mobile {
    padding: 40px 0 40px 0;
    .line {
      float: left;
      width: 1px;
      height: 600px;
      margin-top: 40px;
      background-color: #fff;
      margin-left: 35px;
    }
    .list {
      float: left;
    }
    .item {
      position: relative;
      margin-bottom: 20px;
    }
    .sec8__circle {
      display: inline-block;
      float: left;
      width: 10px;
      height: 10px;
      margin: 40px 0 0 -7px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: #363636;
      cursor: pointer;
    }
    .sec8__date {
      display: inline-block;
      position: absolute;
      top: 10px;
      width: 100px;
      margin-left: -50px;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      text-align: center;
    }
    .sec8__info {
      position: relative;
      margin-left: 80px;
      min-height: 80px;
      border: 1px solid #23c16b;
      background-color: #315642;
      border-radius: 5px;
    }
    .sec8__triangle {
      position: absolute;
      width: 14px;
      height: 25px;
      left: -14px;
      top: 34px;
      background: url("../RJ-img/home-item8-trangle2.png") center center/100% 100% no-repeat;
    }
    .text__box {
      padding: 15px 10px;
    }
    .text {
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
  }
  .sec10 {
    .list {
      margin: 0;
      padding: 25px 0 40px 0;
    }
    .item {
      width: 100%;
      font-size: 14px;
      margin-bottom: 20px;
      .title {
        padding: 20px 0 10px 0;
        font-size: 20px;
      }
      .t-intro {
        margin-top: 0;
        padding-bottom: 0;
      }
      .text {
        line-height: 24px;
      }
    }
  }
  .sec11 {
    .sec11__swiper {
      .t-main-title {
        padding-top: 40px;
      }
      .swiper-slide {
        min-height: 600px;
      }
      .swiper-button-next, .swiper-button-prev {
        width: 43px;
        height: 43px;
      }
    }
    .slide1 {
      .t-main-title {
        font-size: 24px;
      }
      .t-intro {
        padding: 0 10px;
        font-size: 14px;
      }
      .list {
        padding: 40px 0 60px 0;
      }
      .item {
        width: 50%;
        margin-bottom: 20px;
        .num__img {
          width: 30%;
        }
      }
      .item__content {
        width: 100%;
        top: 25px;
      }
      .title {
        font-size: 18px;
        padding-top: 12px;
        margin-bottom: 8px;
      }
      .text {
        padding: 0 15px 0 10px;
        font-size: 12px;
        line-height: 18px;
      }
    }
    .slide2 {
      .t-intro {
        padding: 0 10px 40px 10px;
      }
      .sub__title {
        font-size: 24px;
      }
      .table__box {
        padding: 35px 0 60px 0;
        width: auto;
        margin: 0 15px;
      }
      table {
        td {
          height: 80px;
        }
        .speed {
          padding: 0 20px;
          span {
            display: block
          }
          span:first-child {
            float: none;
          }
          span:last-child {
            float: none;
          }
        }
      }
      .row1 {
        .num {
          margin-bottom: 15px;
          font-size: 18px;
        }
        .speed {
          font-size: 14px;
        }
      }
      .row2 {
        font-size: 20px;
      }
      .row3 {
        font-size: 20px;
      }
    }
    .slide3 {
      .t-intro {
        padding: 0 0 45px 0;
      }
      .table__box {
        margin-bottom: 60px;
      }
      table {
        td {
          padding: 0 10px;
          font-size: 14px;
          &:first-child {
            text-align: center;
          }
        }
        tr.active {
          td {
            font-size: 18px;
          }
        }
      }
      .list {
        li {
          padding: 14px 0;
          font-size: 20px;
        }
      }
    }
    .slide4 {
      .t-intro {
        padding-top: 0;
        margin-bottom: 40px;
      }
      .number {
        font-size: 24px;
      }
      .table__box {
        padding: 50px 10px 100px 10px;
      }
      table {
        td {
          font-size: 24px;
        }
      }
      .row1 {
        td {
          font-size: 14px;
        }
      }
      .row1, .row2 {
        td {
          padding: 20px 0 10px 0;
        }
      }
      .row2 td, .row3 td {
        padding: 20px 0;
      }
    }
  }
  .sec12 {
    .list {
      margin: 0;
    }
    .item {
      width: 100%;
      padding-bottom: 20px;
      .text {
        padding: 10px 0 30px 0;
        font-size: 18px;
      }
      .btn {
        margin-top: 10px;
        font-size: 18px;
      }
      .limit__icon {
        right: 50%;
        margin-right: -13px;
        top: auto;
        bottom: -13px;
      }
    }
  }

}
@media screen and (max-width: 320px) {
  .sec4__content {
    .sec4__swiper {
      .swiper-container {
        margin: 0 20px;
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
    }
  }
  .sec5__content {
    margin: 0;
  }
  .sec9 {
    .t-main-title {
      padding: 50px 0;
    }
  }
  .sec12 {
    padding-top: 40px;
    .t-img {
      width: 80%;
    }
  }
}
