@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0 none;
}
input {
  vertical-align: middle;
}
em {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
body {
  position: relative;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}
._fl {
  float: left;
}
._fr {
  float: right;
}
.none {
  display: none;
}
/*-------common---------*/
.t-mobile {
  display: none;
}
/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #333;
}
/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* item主体内容区 */
.t-content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  margin: 0 80px;
}
/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000;
}
.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}
.t-img img {
  width: auto;
  max-width: 100%;
}

/*--------自定义样式--------*/
.sec1 {
  background-image: url("../RJ-img/project1-item1-bg.jpg");
  overflow: visible;
  .t-content {
    overflow: visible;
  }
  .t-main-title {
    color: #fff;
  }
}
.sec1__content {
  padding-top: 30px;
  .t-intro {
    color: #fff;
  }
  .t-img {
    display: block;
    position: relative;
    top: 87px;
    margin: -50px auto 0 auto;
    width: 80%;
    max-width: 430px;
  }
}
.sec2 {
  padding-top: 87px;
}
.sec2__content {
  margin-bottom: 35px;
  .t-img {
    display: block;
    margin: auto;
    margin-top: -20px;
    width: 80%;
    max-width: 680px;
  }
  .t-intro {
    padding-top: 30px;
  }
}
.sec3 {
  background-image: url("../RJ-img/project1-item3-bg.jpg");
  .t-main-title {
    color: #fff;
  }
}
.sec3__content {
  padding-top: 20px;
  margin-bottom: 55px;
  .t-intro {
    color: #fff;
  }
  .t-img {
    display: block;
    margin: auto;
    padding-top: 50px;
    width: 80%;
    max-width: 780px;
  }
}

@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }
  .t-pc {
    display: none;
  }
  .t-mobile {
    display: block;
  }
  .t-cont-item {
    height: auto;
  }
  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .t-main-title {
    font-size: 24px;
    padding-top: 35px;
    margin: 0 10px;
  }
  .t-sub-title {
    font-size: 18px;
  }
  .t-intro,
  .t-intro p {
    font-size: 16px;
    line-height: 20px;
  }
  /*--------自定义样式--------*/
  .sec1__content {
    padding-top: 20px;
    .t-intro {
      margin-top: 0;
    }
    .t-img {
      top: 57px;
    }
  }
  .sec2 {
    padding-top: 57px;
  }
  .sec2__content {
    margin-bottom: 25px;
    .t-img {
      margin-top: -10px;
    }
    .t-intro {
      margin-top: 0;
      padding-top: 20px;
    }
  }
  .sec3__content {
    margin-bottom: 35px;
    .t-intro {
      margin-top: 0;
    }
    .t-img {
      padding-top: 30px;
    }
  }
}
