@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
}

input {
  vertical-align: middle;
}

em {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

body {
  position: relative;
  color: #333;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* item主体内容区 */
.t-content {
  position: relative;
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  margin: 0 80px;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}

.t-img img {
  width: auto;
  max-width: 100%;
}

/*--------自定义样式--------*/
/*-------- header --------*/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
  box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
  z-index: 2;
}
.header .header-top {
  width: 100%;
  height: 45px;
  margin-bottom: 8px;
}
.header .header-top .rj__link {
  display: block;
  margin-left: 63px;
  padding-top: 15px;
  font-size: 0;
  height: 30px;
  line-height: 30px;
}
.header .header-top .logo {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}
.header .header-top .point {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 13px 9px;
}
.header .header-top .text {
  font-size: 20px;
  color: #e50033;
  vertical-align: text-bottom;
}
.header .circle-poiot {
  position: absolute;
  visibility: hidden;
  display: inline-block;
  width: 6px;
  height: 6px;
  left: 20px;
  top: 19px;
  border: 3px solid #2695f4;
  border-radius: 50%;
}
.header .header-list.t-pc .header-item {
  position: relative;
  float: left;
  width: 20%;
  cursor: pointer;
}
.header .header-list.t-pc .header-item.active .header-icon__01 {
  background-image: url("../RJ-img/header-icon1-active.png");
}
.header .header-list.t-pc .header-item.active .header-icon__02 {
  background-image: url("../RJ-img/header-icon2-active.png");
}
.header .header-list.t-pc .header-item.active .header-icon__03 {
  background-image: url("../RJ-img/header-icon3-active.png");
}
.header .header-list.t-pc .header-item.active .header-icon__04 {
  background-image: url("../RJ-img/header-icon4-active.png");
}
.header .header-list.t-pc .header-item.active .header-icon__05 {
  background-image: url("../RJ-img/header-icon5-active.png");
}
.header .header-list.t-pc .header-item.active .text {
  color: #2695f4;
}
.header .header-list.t-pc .header-icon {
  display: block;
  width: 54px;
  height: 54px;
  margin: auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.header .header-list.t-pc .header-icon__01 {
  background-image: url("../RJ-img/header-icon1-active.png");
}
.header .header-list.t-pc .header-icon__02 {
  background-image: url("../RJ-img/header-icon2.png");
}
.header .header-list.t-pc .header-icon__03 {
  background-image: url("../RJ-img/header-icon3.png");
}
.header .header-list.t-pc .header-icon__04 {
  background-image: url("../RJ-img/header-icon4.png");
}
.header .header-list.t-pc .header-icon__05 {
  background-image: url("../RJ-img/header-icon5.png");
}
.header .header-list.t-pc .header-icon__05.active {
  background-image: url("../RJ-img/header-icon5-active.png");
}
.header .header-list.t-pc .text {
  display: block;
  padding: 15px 0 25px 0;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}
.header .header-list.t-pc .sub-nav {
  display: none;
  position: absolute;
  width: auto;
  left: 0;
  top: 100%;
  -webkit-box-shadow: 0 2px 12px 0 rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 2px 12px 0 rgba(38, 149, 244, 0.4);
  box-shadow: 0 4px 12px 0 rgba(38, 149, 244, 0.4);
}
.header .header-list.t-pc .sub-text {
  display: block;
  padding-left: 20px;
  font-size: 16px;
  word-break: keep-all;
}
.header .header-list.t-pc .sub-item {
  position: relative;
  padding: 0 20px;
  line-height: 50px;
  background-color: #fff;
}
.header .header-list.t-pc .sub-item.active {
  background-color: #f2f9fe;
}
.header .header-list.t-pc .sub-item:hover {
  background-color: #f2f9fe;
}
.header .header-list.t-pc .sub-item:hover .circle-poiot {
  visibility: visible;
}
.header .header-list.t-pc .sub-item:hover .sub-text {
  color: #2695f4;
}
.header .header-list.t-pc .sub-item.active .circle-poiot {
  visibility: visible;
}
.header .header-list.t-pc .sub-item.active .sub-text {
  color: #2695f4;
}

/*-------- body --------*/
.main {
  width: 100%;
  height: 100%;
}

.main__swiper, .swiper-wrapper, .swiper-slide {
  height: 100%;
}
.main__swiper .title, .swiper-wrapper .title, .swiper-slide .title {
  padding-top: 187px;
  margin-bottom: 213px;
}
.main__swiper .title img, .swiper-wrapper .title img, .swiper-slide .title img {
  display: block;
  height: 115px;
  margin: auto;
}

.slide1 {
  background-image: url("../RJ-img/slide1.jpg");
}

.slide2 {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.slide2 .list {
  width: 100%;
  max-width: 1460px;
  margin: auto;
  text-align: center;
}
.slide2 .item {
  display: inline-block;
  position: relative;
  width: 22.8%;
  height: 328px;
  margin-right: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#2c91f5, #00aae7);
  background: -o-linear-gradient(#2c91f5, #00aae7);
  background: -moz-linear-gradient(#2c91f5, #00aae7);
  background: linear-gradient(#2c91f5, #00aae7);
  box-shadow: 0 2px 10px rgba(38, 149, 244, 0.4);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.slide2 .item:hover {
  width: 45%;
  height: 650px;
  transform: translate3d(0, -161px, 0);
}
.slide2 .item:hover .circle__inside {
  width: 214px;
  height: 214px;
  margin-left: -131px;
  top: 56px;
  border: 24px solid #2297f2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
}
.slide2 .item:hover .circle__inside img {
  width: 94px;
  height: 94px;
  margin-top: 57px;
}
.slide2 .item:hover .item__title {
  top: 358px;
}
.slide2 .item:hover .bottom {
  opacity: 1;
}
.slide2 .item:last-child {
  margin-right: 0;
}
.slide2 .item .circle__inside {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 62px;
  left: 50%;
  margin-left: -64px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.slide2 .item .circle__inside img {
  display: inline-block;
  width: 58px;
  height: 58px;
  margin-top: 35px;
}
.slide2 .item .item__title {
  position: relative;
  top: 238px;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}
.slide2 .item .shadow {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  min-height: 400px;
  background: -webkit-linear-gradient(#ededed, #fff);
  background: -o-linear-gradient(#ededed, #fff);
  background: -moz-linear-gradient(#ededed, #fff);
  background: linear-gradient(#ededed, #fff);
}
.slide2 .item .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 214px;
  padding: 0 35px;
  background: url("../RJ-img/slide2-01.png") center center/100% 100% no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.slide2 .item .bottom p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.slide2 .item .line {
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
  background-color: #fff;
}
.slide2 .item .line .left, .slide2 .item .line .right {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-color: #fff;
  border-radius: 50%;
}
.slide2 .item .line .left {
  float: left;
}
.slide2 .item .line .right {
  float: right;
}

.slide3 .title {
  margin-bottom: 34px;
}
.slide3 .content {
  width: 100%;
  height: 674px;
  max-width: 1460px;
  margin: auto;
  -webkit-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.2);
  -moz-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.2);
  box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.2);
}
.slide3 .item {
  float: left;
  width: 25%;
  margin: 0 4.165%;
  padding-top: 125px;
}
.slide3 .item img {
  display: block;
  margin: auto;
  height: 136px;
}
.slide3 .item .item__title {
  padding: 90px 0 65px 0;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.slide3 .item .text {
  padding-top: 50px;
  line-height: 24px;
  border-top: 4px dotted rgba(0, 0, 0, 0.2);
}

.slide4 .title {
  margin-bottom: 15px;
}
.slide4 .t-intro {
  line-height: 24px;
}
.slide4 .text__title {
  padding: 20px 0 15px 0;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.slide4 .text__title .color {
  color: #2695f4;
}
.slide4 .list {
  position: absolute;
  width: 100%;
  left: 50%;
  max-width: 1460px;
  bottom: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.slide4 .list .item {
  float: left;
  width: 25%;
  height: 658px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}
.slide4 .list .item:hover .item__title {
  padding-top: 245px;
}
.slide4 .list .item:hover .text {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slide4 .list .item1 {
  background-image: url("../RJ-img/slide4-01.jpg");
}
.slide4 .list .item2 {
  background-image: url("../RJ-img/slide4-02.jpg");
}
.slide4 .list .item3 {
  background-image: url("../RJ-img/slide4-03.jpg");
}
.slide4 .list .item4 {
  background-image: url("../RJ-img/slide4-04.jpg");
}
.slide4 .list .text {
  opacity: 0;
  filter: alpha(opacity=0);
  padding-top: 50px;
  margin: 0 45px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.slide4 .item__title {
  padding-top: 78px;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.slide4 .item__title h3 {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}
.slide4 .item__title .line {
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: #fff;
}

.slide5 .title {
  margin-bottom: 50px;
}
.slide5 .list {
  width: 100%;
  max-width: 1460px;
  margin: auto;
}
.slide5 .item {
  float: left;
  height: 626px;
  width: 29%;
  margin-right: 6.5%;
  border-top: 4px solid #2297f2;
  text-align: center;
  -webkit-box-shadow: 0 10px 30px 0 rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 10px 30px 0 rgba(38, 149, 244, 0.4);
  box-shadow: 0 10px 30px 0 rgba(38, 149, 244, 0.4);
}
.slide5 .item:last-child {
  margin-right: 0;
}
.slide5 .item .t-img {
  display: inline-block;
  padding-top: 86px;
}
.slide5 .item .item__title {
  font-size: 24px;
  line-height: 1;
  padding: 55px 0 35px 0;
}
.slide5 .item .text {
  font-size: 16px;
  line-height: 24px;
}

.slide6 .title {
  margin-bottom: 30px;
}
.slide6 .slide6__swiper-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 1460px;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.slide6 .slide6__swiper {
  position: relative;
  width: 100%;
  height: 744px;
  max-width: 1460px;
  margin: auto;
  -webkit-box-shadow: 0 0 30px 0 rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 0 30px 0 rgba(38, 149, 244, 0.4);
  box-shadow: 0 0 30px 0 rgba(38, 149, 244, 0.4);
}
.slide6 .slide6__swiper-slide1 {
  background: url("../RJ-img/slide6-02.png") right center/auto 100% no-repeat;
}
.slide6 .slide6__swiper-slide2 {
  background: url("../RJ-img/slide6-04.png") right center/auto 100% no-repeat;
}
.slide6 .swiper-button-prev, .slide6 .swiper-button-next {
  display: inline-block;
  width: 79px;
  height: 79px;
  border: 1px solid #2297f2;
  border-radius: 3px;
}
.slide6 .swiper-button-prev {
  left: -110px;
  background: url("../RJ-img/slide6-icon-01.png") center center/19px 24px no-repeat;
}
.slide6 .swiper-button-next {
  right: -110px;
  background: url("../RJ-img/slide6-icon-02.png") center center/19px 24px no-repeat;
}
.slide6 .content {
  padding: 150px 190px 0 190px;
}
.slide6 .left {
  position: relative;
  float: left;
  width: 46%;
}
.slide6 .left .t-img {
  width: 145px;
  margin: 70px 0 30px 0;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 0 rgba(38, 149, 244, 0.3);
  -moz-box-shadow: 0 0 20px 0 rgba(38, 149, 244, 0.3);
  box-shadow: 0 0 20px 0 rgba(38, 149, 244, 0.3);
}
.slide6 .left .line {
  position: absolute;
  width: 111px;
  height: 2px;
  top: 240px;
  right: 45px;
  background-color: #2297f2;
}
.slide6 .left .circle {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  top: -8px;
  border: 2px solid #2297f2;
  border-radius: 50%;
}
.slide6 .right {
  float: left;
  width: 54%;
}
.slide6 .right .t-img {
  display: block;
  width: 100%;
  max-width: 680px;
}
.slide6 .item__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1;
}
.slide6 .text {
  line-height: 24px;
}

.slide7 {
  background: url("../RJ-img/slide7-01.png") center bottom/90% auto no-repeat;
}
.slide7 .t-img {
  position: absolute;
}

.slide8 .title {
  margin-bottom: 10px;
}
.slide8 .item__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.slide8 .title__text {
  margin-bottom: 20px;
  line-height: 24px;
  text-align: center;
}
.slide8 .content {
  width: 100%;
  height: 660px;
  max-width: 1460px;
  margin: auto;
}
.slide8 .left, .slide8 .right {
  float: left;
  height: 100%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.slide8 .left {
  position: relative;
  width: 65%;
  margin-right: 3%;
}
.slide8 .right {
  position: relative;
  width: 32%;
}
.slide8 .left__title, .slide8 .right__title {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  writing-mode: tb-rl;
  font-size: 24px;
  line-height: 85px;
  text-align: center;
  color: #25c399;
}
.slide8 .right__title {
  color: #2695f4;
}
.slide8 .left__content {
  padding-left: 85px;
  padding-right: 45px;
}
.slide8 .top__title {
  font-size: 0;
}
.slide8 .top__title h3 {
  float: left;
  padding: 0 20px;
  font-size: 20px;
  line-height: 34px;
  background-color: #25c399;
  color: #fff;
}
.slide8 .top__title .triangle, .slide8 .top__title .triangle__shadow {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 34px 0 0 32px;
  border-style: solid;
  border-color: transparent transparent transparent #25c399;
  position: relative;
}
.slide8 .top__title .shadow {
  display: inline-block;
  width: 15px;
  height: 34px;
  margin-left: -32px;
  background-color: rgba(37, 195, 153, 0.4);
}
.slide8 .top__title .triangle__shadow {
  width: 10px;
  border-width: 34px 0 0 32px;
  border-color: transparent transparent transparent rgba(37, 195, 153, 0.4);
}
.slide8 .top {
  padding-top: 20px;
}
.slide8 .top, .slide8 .middle, .slide8 .bottom {
  margin-bottom: 12px;
}
.slide8 .text__box {
  padding: 0 25px;
  border: 1px solid #daf6e8;
}
.slide8 .text__box p {
  float: left;
  width: 40%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.slide8 .text__box .t-img {
  float: right;
  display: block;
  width: 50%;
  margin-left: 10%;
}
.slide8 .bottom .item {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.slide8 .bottom .item:last-child {
  margin-right: 0;
}
.slide8 .bottom .title {
  padding-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 14px;
  color: #16c294;
}
.slide8 .bottom .line {
  display: inline-block;
  width: 4px;
  height: 24px;
  margin-right: 10px;
  background-color: #16c294;
}
.slide8 .bottom .text {
  width: 100%;
}
.slide8 .right__content {
  padding: 56px 54px 56px 85px;
  font-size: 0;
}
.slide8 .right__content .list {
  font-size: 0;
}
.slide8 .right__content .item {
  display: inline-block;
  width: 45%;
  margin-bottom: 86px;
}
.slide8 .right__content .margin__right {
  margin-right: 10%;
}
.slide8 .right__content .t-img {
  display: block;
  width: 100%;
}
.slide8 .right__content .box {
  border: 1px solid #2695f4;
}
.slide8 .right__content .bottom {
  font-size: 16px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  background-color: #2695f4;
}

.slide9 .title {
  margin-bottom: 68px;
}
.slide9 .list {
  width: 100%;
  max-width: 1460px;
  margin: auto;
}
.slide9 .item {
  float: left;
  width: 23%;
  height: 650px;
  margin-right: 2.66666%;
  cursor: pointer;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.slide9 .item:last-child {
  margin-right: 0;
}
.slide9 .item:hover {
  height: 700px;
  margin-top: -50px;
}
.slide9 .item:hover .button {
  display: block;
}
.slide9 .box {
  position: relative;
  height: 100%;
  border: 1px solid #e7e7e7;
}
.slide9 .t-img {
  display: block;
  width: 100%;
}
.slide9 .item__title {
  padding: 30px 25px 20px 25px;
  font-size: 24px;
  line-height: 1;
}
.slide9 .text__list {
  padding: 0 25px;
}
.slide9 .text__item {
  margin-bottom: 25px;
}
.slide9 .button {
  display: none;
  position: absolute;
  width: 100%;
  line-height: 62px;
  bottom: 0;
  left: 0;
  font-size: 24px;
  text-align: center;
  color: #fff;
  background-color: #20b470;
}
.slide9 .button .icon {
  display: inline-block;
  width: 18px;
  height: 19px;
  background: url("../RJ-img/slide9-05.png") center center/100% 100% no-repeat;
}

.slide10 .content {
  position: absolute;
  width: 100%;
  max-width: 1460px;
  height: 635px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.slide10 .left {
  float: left;
  width: 23%;
  height: 100%;
  margin-right: 7%;
}
.slide10 .left .num {
  display: inline-block;
  width: 40px;
}
.slide10 .left .item {
  position: relative;
  width: 100%;
  line-height: 50px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
.slide10 .left .item.active {
  font-size: 24px;
  color: #2098f2;
}
.slide10 .left .item.active .line {
  display: block;
}
.slide10 .left .line {
  display: none;
  position: absolute;
  width: 111px;
  height: 2px;
  top: 24px;
  right: 0;
  background-color: #2297f2;
  z-index: 1;
}
.slide10 .left .circle {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  top: -8px;
  border: 2px solid #2297f2;
  border-radius: 50%;
}
.slide10 .right {
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
  -webkit-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
  box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
}
.slide10 .right .big__img {
  float: left;
  width: 464px;
  height: 464px;
  margin: -89px 0 0 -145px;
  overflow: hidden;
}
.slide10 .right .big__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.slide10 .right .img__list__box {
  padding: 45px 55px;
  height: 100%;
  overflow: hidden;
}
.slide10 .right .list {
  display: none;
}
.slide10 .right .item {
  float: left;
  width: 33.3333%;
  font-size: 0;
  text-align: center;
  line-height: 115px;
}
.slide10 .right .item img {
  display: inline-block;
  max-height: 115px;
  max-width: 100%;
}
.slide10 .right .item .text {
  padding: 25px 0;
  text-align: center;
  font-size: 24px;
  line-height: 1;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .header .header-top {
    height: 40px;
    margin-bottom: 5px;
  }
  .header .header-top .rj__link {
    padding-top: 10px;
  }
  .header .header-top .text {
    font-size: 16px;
  }
  .header .header-list.t-pc .header-icon {
    width: 45px;
    height: 45px;
  }
  .header .header-list.t-pc .text {
    padding: 10px 0 20px 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }

  .t-pc {
    display: none;
  }

  .t-mobile {
    display: block;
  }

  .t-cont-item {
    height: auto;
  }

  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .t-main-title {
    font-size: 24px;
    padding-top: 35px;
    margin: 0 10px;
  }

  .t-sub-title {
    font-size: 18px;
  }

  .t-intro,
  .t-intro p {
    font-size: 14px;
    line-height: 20px;
  }

  /*--------自定义样式--------*/
  /*-------- header --------*/
  .header .t-mobile .rj__link {
    display: inline-block;
    margin-left: 15px;
    padding: 15px 0;
    font-size: 0;
    height: 30px;
    line-height: 30px;
  }
  .header .t-mobile .logo {
    display: inline-block;
    height: 30px;
    vertical-align: top;
  }
  .header .t-mobile .point {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 13px 9px;
  }
  .header .t-mobile .text {
    font-size: 18px;
    color: #e50033;
    vertical-align: text-bottom;
  }
  .header .circle-poiot {
    top: 9px;
    left: 0;
  }

  .header-button {
    display: inline-block;
    float: right;
    margin: 15px 15px 0 0;
    cursor: pointer;
  }
  .header-button i {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../RJ-img/icon-menu.png") center center/100% 100% no-repeat;
  }
  .header-button.active i {
    background: url("../RJ-img/icon-close.png") center center/100% 100% no-repeat;
  }

  .header-mask {
    display: none;
    position: fixed;
    width: 100%;
    top: 60px;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
  }

  .header-mobile-list {
    height: 0;
    float: right;
    width: 250px;
    padding: 0 10px;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .mobile-list-item {
    margin-bottom: 15px;
  }
  .mobile-list-item:last-child {
    margin-bottom: 0;
  }
  .mobile-list-item .sub-list {
    margin-top: 10px;
  }
  .mobile-list-item .sub-item {
    position: relative;
    line-height: 30px;
    padding-left: 20px;
  }
  .mobile-list-item .sub-item.active {
    color: #2695f4;
  }
  .mobile-list-item .sub-item.active .circle-poiot {
    visibility: visible;
  }
}
