@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
  font-family: arial, "微软雅黑";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
}

input {
  vertical-align: middle;
}

em {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

body {
  position: relative;
  color: #333;
  background-color: #fff;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '\20';
  display: block;
  clear: both;
}

._fl {
  float: left;
}

._fr {
  float: right;
}

.none {
  display: none;
}

/*-------common---------*/
.t-mobile {
  display: none;
}

/* 主体容器 */
.t-main {
  width: 100%;
  margin: 0 auto;
  color: #202020;
}

/* item统一背景样式 */
.t-cont-item {
  width: 100%;
  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* item主体内容区 */
.t-content {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* 通用一级标题 */
.t-main-title {
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  color: #000;
  padding-top: 60px;
  margin: 0 80px;
}

/* 通用二级标题 */
.t-sub-title {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

/* 通用文字 */
.t-intro,
.t-intro p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.t-img {
  position: relative;
  text-align: center;
  z-index: 1;
}

.t-img img {
  width: auto;
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

a.link {
  display: inline-block;
  color: #333;
}

a.link-btn {
  display: inline-block;
  padding: 9px 24px;
  font-size: 24px;
  line-height: 1;
  border: 2px solid #333;
  color: #333;
  border-radius: 8px;
}
a.link-btn.blue {
  border: 2px solid #2797ef;
  color: #2797ef;
}
a.link-btn.cyan {
  border: 2px solid #2cafbc;
  color: #fff;
}

/*--------自定义样式--------*/
/*-------- body --------*/
.mask {
  display: none;
  position: fixed;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}
.mask.open {
  display: table-cell;
}
.mask:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.mask .box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  text-align: left;
}
.mask .box .close {
  display: block;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: url("../RJ-img/mask-close.png") center center/100% 100% no-repeat;
  z-index: 12;
  cursor: pointer;
}
.mask .box .top {
  padding-top: 25px;
  text-align: left;
}
.mask .box .top .title {
  display: inline-block;
  margin: 0;
  padding-top: 0;
  width: 170px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 2px 10px rgba(38, 149, 244, 0.4);
  box-shadow: 0 2px 10px rgba(38, 149, 244, 0.4);
}
.mask .box .left {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #f6f6f6;
}
.mask .box .left .title {
  background-color: #a4a4a4;
}
.mask .box .left img {
  max-width: 412px;
}
.mask .box .left .sub__title span {
  background-color: #a4a4a4;
}
.mask .box .right {
  float: left;
  width: 50%;
  height: 100%;
}
.mask .box .right .title {
  background-color: #439bff;
}
.mask .box .right img {
  width: 80%;
  max-width: 306px;
}
.mask .box .right .float__img {
  position: absolute;
  width: 230px;
  top: 17px;
  right: 40px;
}
.mask .box .right .sub__title span {
  background-color: #ff9630;
}
.mask .box .img {
  position: relative;
  padding: 17px 70px;
}
.mask .box .img img {
  display: block;
  width: 100%;
}
.mask .box .img img.round {
  border-radius: 14px;
}
.mask .box .img img.shadow__gray {
  -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
}
.mask .box .img img.shadow__blue {
  -webkit-box-shadow: 0 2px 10px rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 2px 10px rgba(38, 149, 244, 0.4);
  box-shadow: 0 2px 10px rgba(38, 149, 244, 0.4);
}
.mask .box .title__text {
  padding: 35px 0 10px 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.mask .box .top__text, .mask .box .bottom__text {
  padding-left: 70px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}
.mask .box .sub__title {
  padding-left: 70px;
}
.mask .box .sub__title span {
  display: inline-block;
  width: 50px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
}

.mask2 .left {
  padding-bottom: 22px;
}
.mask2 .box .right .img {
  padding-right: 40px;
}
.mask2 .box .right img {
  max-width: 400px;
}

.mask3 .left {
  padding-bottom: 35px;
}
.mask3 .left .top__text {
  margin-bottom: 72px;
}
.mask3 .box .right img {
  max-width: 412px;
}

.mask4 .box .left img {
  max-width: 370px;
  margin-bottom: -30px;
}
.mask4 .box .box .right img {
  max-width: 412px;
}

.t-main .title {
  padding-top: 50px;
  margin-bottom: 20px;
}
.t-main .title img {
  display: block;
  max-width: 100%;
}

.sec1 {
  position: relative;
  background: url("../RJ-img/slide1.jpg") center center no-repeat;
  background-size: cover;
}
.sec1 .pepole {
  position: absolute;
  height: 100%;
  top: 0;
  right: 8%;
}
.sec1 .title {
  display: inline-block;
  width: 90%;
  max-width: 730px;
  padding: 145px 0 65px 0;
  margin: 0;
}
.sec1 .btn__box {
  padding-left: 35px;
  margin-bottom: 190px;
}
.sec1 .btn__box .link-btn {
  margin-right: 15px;
}

.t-page-nav {
  background-color: #fff;
}
.t-page-nav.on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}

.t-nav-list {
  line-height: 60px;
}
.t-nav-list li {
  float: left;
  width: 16.666666%;
  max-width: 190px;
  line-height: 60px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
.t-nav-list li:hover, .t-nav-list li.active {
  background-color: #0196ab;
  color: #fff;
}

.sec11 {
  background: #bdeff5;
}
.sec11 .video {
  display: block;
  width: 90%;
  max-width: 920px;
  margin: auto;
  margin-bottom: 75px;
}
.sec11 .video img {
  display: block;
  width: 100%;
}

.sec2 {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e7f3ff;
  overflow: hidden;
}
.sec2 .list {
  padding-bottom: 110px;
  text-align: center;
}
.sec2 .item {
  display: block;
  position: relative;
  float: left;
  width: 32%;
  margin-right: 1.9%;
  padding-top: 50px;
  text-align: center;
  background: -webkit-linear-gradient(#2c91f5, #00aae7);
  background: -o-linear-gradient(#2c91f5, #00aae7);
  background: -moz-linear-gradient(#2c91f5, #00aae7);
  background: linear-gradient(#2c91f5, #00aae7);
}
.sec2 .item:last-child {
  margin-right: 0;
}
.sec2 .item:last-child {
  margin-right: 0;
}
.sec2 .item .circle__inside {
  width: 107px;
  height: 107px;
  margin: auto;
  border: 12px solid #2297f2;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
}
.sec2 .item .circle__inside img {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-top: 24px;
}
.sec2 .item .item__title {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 45px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}
.sec2 .item .bottom {
  height: 274px;
  padding: 0 35px;
  background: url("../RJ-img/slide2-01.png") center center/100% 100% no-repeat;
}
.sec2 .item .bottom p {
  padding-bottom: 60px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.sec2 .item .line {
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
  background-color: #fff;
}
.sec2 .item .line .left, .sec2 .item .line .right {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-color: #fff;
  border-radius: 50%;
}
.sec2 .item .line .left {
  float: left;
}
.sec2 .item .line .right {
  float: right;
}

.sec3 .t-content {
  overflow: visible;
  margin-bottom: 110px;
}
.sec3 .title {
  margin-bottom: 34px;
}
.sec3 .list {
  margin: 0 20px;
  padding-bottom: 70px;
  -webkit-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.2);
  -moz-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.2);
  box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.2);
}
.sec3 .item {
  float: left;
  width: 31%;
  margin-left: 2%;
  padding-top: 55px;
}
.sec3 .item:last-child {
  margin-right: 0;
}
.sec3 .item img {
  display: block;
  margin: auto;
  height: 120px;
}
.sec3 .item .item__title {
  padding: 60px 0 25px 0;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.sec3 .item .text {
  padding-top: 35px;
  line-height: 24px;
  border-top: 4px dotted rgba(0, 0, 0, 0.2);
}

.sec4 {
  background: #e7f3ff;
  margin-bottom: 70px;
}
.sec4 .title {
  margin-bottom: 15px;
}
.sec4 .t-intro {
  line-height: 24px;
}
.sec4 .text__title {
  padding: 20px 0 30px 0;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.sec4 .text__title .color {
  color: #2695f4;
}
.sec4 .list .item {
  float: left;
  width: 25%;
  height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}
.sec4 .list .item1 {
  background-image: url("../RJ-img/slide4-01.jpg");
}
.sec4 .list .item2 {
  background-image: url("../RJ-img/slide4-02.jpg");
}
.sec4 .list .item3 {
  background-image: url("../RJ-img/slide4-03.jpg");
}
.sec4 .list .item4 {
  background-image: url("../RJ-img/slide4-04.jpg");
}
.sec4 .list .text {
  padding-top: 15px;
  margin: 0 20px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.sec4 .item__title {
  padding-top: 55px;
  text-align: center;
}
.sec4 .item__title h3 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}
.sec4 .item__title .line {
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: #fff;
}

.sec5 .t-content {
  overflow: visible;
  margin-bottom: 70px;
}
.sec5 .title {
  margin-bottom: 50px;
}
.sec5 .list {
  width: 100%;
  margin: 0 20px;
}
.sec5 .item {
  float: left;
  height: 490px;
  width: 31%;
  margin-right: 2%;
  border-top: 4px solid #2297f2;
  text-align: center;
  -webkit-box-shadow: 0 10px 30px 0 rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 10px 30px 0 rgba(38, 149, 244, 0.4);
  box-shadow: 0 10px 30px 0 rgba(38, 149, 244, 0.4);
}
.sec5 .item:last-child {
  margin-right: 0;
}
.sec5 .item .t-img {
  display: inline-block;
  padding-top: 67px;
}
.sec5 .item .item__title {
  font-size: 24px;
  line-height: 1;
  padding: 65px 0 20px 0;
  color: #2297f2;
}
.sec5 .item .text {
  font-size: 16px;
  line-height: 24px;
}

.sec6 {
  background: #e7f3ff;
}
.sec6 .t-content {
  overflow: visible;
  margin-bottom: 85px;
}
.sec6 .title {
  margin-bottom: 30px;
}
.sec6 .sec6__swiper {
  position: relative;
  max-width: 1020px;
  margin: auto;
  -webkit-box-shadow: 0 0 30px 0 rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 0 30px 0 rgba(38, 149, 244, 0.4);
  box-shadow: 0 0 30px 0 rgba(38, 149, 244, 0.4);
}
.sec6 .sec6__swiper-slide1 {
  background: url("../RJ-img/slide6-02.png") right center/auto 100% no-repeat;
}
.sec6 .sec6__swiper-slide2 {
  background: url("../RJ-img/slide6-04.png") right center/auto 100% no-repeat;
}
.sec6 .swiper-button-prev, .sec6 .swiper-button-next {
  display: inline-block;
  width: 79px;
  height: 79px;
  border: 1px solid #2297f2;
  border-radius: 3px;
}
.sec6 .swiper-button-prev {
  left: -20px;
  background: #fff url("../RJ-img/slide6-icon-01.png") center center/19px 24px no-repeat;
}
.sec6 .swiper-button-next {
  right: -20px;
  background: #fff url("../RJ-img/slide6-icon-02.png") center center/19px 24px no-repeat;
}
.sec6 .content {
  padding: 75px 35px 50px 35px;
}
.sec6 .left {
  position: relative;
  float: left;
  width: 52%;
}
.sec6 .left .t-img {
  width: 145px;
  margin: 70px 0 30px 0;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 0 rgba(38, 149, 244, 0.3);
  -moz-box-shadow: 0 0 20px 0 rgba(38, 149, 244, 0.3);
  box-shadow: 0 0 20px 0 rgba(38, 149, 244, 0.3);
}
.sec6 .left .line {
  position: absolute;
  width: 111px;
  height: 2px;
  top: 240px;
  right: 45px;
  background-color: #2297f2;
}
.sec6 .left .circle {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  top: -8px;
  border: 2px solid #2297f2;
  border-radius: 50%;
}
.sec6 .right {
  float: left;
  width: 48%;
}
.sec6 .right .t-img {
  display: block;
  width: 100%;
  max-width: 680px;
}
.sec6 .item__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1;
}
.sec6 .text {
  line-height: 24px;
}

.sec7 {
  min-height: 686px;
  background: url("../RJ-img/slide7-01.png") center bottom/1200px auto no-repeat;
}
.sec7 .t-img {
  position: absolute;
}

.sec8 {
  background: #e7f3ff;
}
.sec8 .t-content {
  padding: 0 20px;
}
.sec8 .title {
  margin-bottom: 10px;
}
.sec8 .content {
  margin-bottom: 50px;
}
.sec8 .item__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
.sec8 .title__text {
  margin-bottom: 20px;
  line-height: 24px;
  text-align: center;
}
.sec8 .left, .sec8 .right {
  height: 100%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
}
.sec8 .left {
  position: relative;
  margin-bottom: 20px;
}
.sec8 .right {
  position: relative;
}
.sec8 .left__title, .sec8 .right__title {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  writing-mode: tb-rl;
  font-size: 20px;
  line-height: 85px;
  text-align: center;
  color: #25c399;
}
.sec8 .right__title {
  color: #2695f4;
}
.sec8 .left__content {
  padding-left: 85px;
  padding-right: 20px;
}
.sec8 .top__title {
  font-size: 0;
}
.sec8 .top__title h3 {
  float: left;
  padding: 0 20px;
  font-size: 20px;
  line-height: 34px;
  background-color: #25c399;
  color: #fff;
}
.sec8 .top__title .triangle, .sec8 .top__title .triangle__shadow {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 34px 0 0 32px;
  border-style: solid;
  border-color: transparent transparent transparent #25c399;
  position: relative;
}
.sec8 .top__title .shadow {
  display: inline-block;
  width: 15px;
  height: 34px;
  margin-left: -32px;
  background-color: rgba(37, 195, 153, 0.4);
}
.sec8 .top__title .triangle__shadow {
  width: 10px;
  border-width: 34px 0 0 32px;
  border-color: transparent transparent transparent rgba(37, 195, 153, 0.4);
}
.sec8 .top {
  float: left;
  width: 48%;
  margin-right: 4%;
  padding-top: 20px;
}
.sec8 .middle {
  float: left;
  padding-top: 20px;
  width: 48%;
}
.sec8 .top .text__box, .sec8 .middle .text__box {
  height: 240px;
}
.sec8 .top, .sec8 .middle, .sec8 .bottom {
  margin-bottom: 20px;
}
.sec8 .text__box {
  padding: 0 25px;
  border: 1px solid #daf6e8;
}
.sec8 .text__box p {
  padding-bottom: 25px;
  font-size: 16px;
}
.sec8 .text__box .t-img {
  display: block;
  width: 100%;
}
.sec8 .bottom .item {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.sec8 .bottom .item:last-child {
  margin-right: 0;
}
.sec8 .bottom .title {
  padding-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #16c294;
}
.sec8 .bottom .line {
  display: inline-block;
  width: 4px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #16c294;
}
.sec8 .bottom .text {
  width: 100%;
}
.sec8 .right__content {
  padding: 30px 20px 30px 85px;
  font-size: 0;
}
.sec8 .right__content .list {
  font-size: 0;
}
.sec8 .right__content .item {
  display: inline-block;
  width: 23%;
}
.sec8 .right__content .margin__right {
  margin-right: 2.666666%;
}
.sec8 .right__content .t-img {
  display: block;
  width: 100%;
}
.sec8 .right__content .box {
  display: block;
  border: 1px solid #2695f4;
}
.sec8 .right__content .bottom {
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  background-color: #2695f4;
}

.sec9 .t-content {
  margin-bottom: 50px;
  overflow: visible;
}
.sec9 .title {
  margin-bottom: 68px;
}
.sec9 .list {
  margin: 0 20px;
}
.sec9 .item {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  cursor: pointer;
}
.sec9 .item:last-child {
  margin-right: 0;
}
.sec9 .box {
  position: relative;
  min-height: 563px;
  border: 1px solid #e7e7e7;
}
.sec9 .t-img {
  display: block;
  width: 100%;
}
.sec9 .item__title {
  padding: 15px 15px 0 15px;
  min-height: 65px;
  font-size: 24px;
  line-height: 1;
}
.sec9 .text__list {
  padding: 0 15px;
}
.sec9 .text__item {
  margin-bottom: 25px;
}
.sec9 .button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  line-height: 62px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #20b470;
}
.sec9 .button .icon {
  display: inline-block;
  width: 18px;
  height: 19px;
  background: url("../RJ-img/slide9-05.png") center center/100% 100% no-repeat;
}

.sec10 {
  background: #e7f3ff;
}
.sec10 .content {
  padding-top: 100px;
  margin-bottom: 80px;
}
.sec10 .left {
  float: left;
  width: 23%;
  margin-right: 7%;
}
.sec10 .left .num {
  display: inline-block;
  width: 40px;
}
.sec10 .left .item {
  position: relative;
  width: 100%;
  line-height: 45px;
  font-size: 16px;
  color: #999;
  cursor: pointer;
}
.sec10 .left .item.active {
  font-size: 22px;
  color: #2098f2;
}
.sec10 .left .item.active .line {
  display: block;
}
.sec10 .left .line {
  display: none;
  position: absolute;
  width: 111px;
  height: 2px;
  top: 24px;
  right: 0;
  background-color: #2297f2;
  z-index: 1;
}
.sec10 .left .circle {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  top: -8px;
  border: 2px solid #2297f2;
  border-radius: 50%;
}
.sec10 .right {
  position: relative;
  float: left;
  width: 70%;
  min-height: 484px;
  -webkit-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
  -moz-box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
  box-shadow: 0 0 50px 0 rgba(38, 149, 244, 0.4);
  background: #fff;
}
.sec10 .right .big__img {
  float: left;
  width: 464px;
  height: 464px;
  margin: -89px 0 0 -145px;
  overflow: hidden;
}
.sec10 .right .big__img img {
  display: none;
  width: 100%;
  height: 100%;
}
.sec10 .right .big__img img.active {
  display: block;
}
.sec10 .right .img__list__box {
  padding: 30px;
  height: 100%;
  overflow: hidden;
}
.sec10 .right .list {
  display: none;
}
.sec10 .right .list.active {
  display: block;
}
.sec10 .right .item {
  float: left;
  width: 33.3333%;
  min-height: 170px;
  font-size: 0;
  text-align: center;
  line-height: 115px;
}
.sec10 .right .item img {
  display: inline-block;
  max-height: 115px;
  max-width: 100%;
}
.sec10 .right .item .text {
  padding: 25px 0;
  min-height: 2.4em;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

@media screen and (max-width: 1280px) {
  .t-main .title {
    margin: 0 20px 20px 20px;
  }

  .sec1 .pepole {
    right: 8%;
  }
  .sec1 .title {
    max-width: 600px;
    padding: 120px 0 50px 0;
  }
  .sec1 .btn__box {
    margin-bottom: 160px;
  }

  .sec2 .list {
    margin: 0 20px;
  }

  .sec4 .list {
    margin: 0 20px;
  }

  .sec6 .swiper-button-prev, .sec6 .swiper-button-next {
    width: 70px;
    height: 70px;
  }
  .sec6 .swiper-button-prev {
    left: 5px;
  }
  .sec6 .swiper-button-next {
    right: 5px;
  }

  .sec7 {
    background-size: 1160px auto;
  }

  .sec8 .t-content {
    width: auto;
  }
  .sec8 .title {
    margin: 0 0 10px 0;
  }

  .sec10 {
    background: #e7f3ff;
  }
  .sec10 .content {
    padding-top: 100px;
    margin: 0 20px 80px 20px;
  }
  .sec10 .right .big__img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 1100px) {
  .sec1 .pepole {
    right: 8%;
  }
  .sec1 .title {
    max-width: 500px;
    padding: 100px 0 40px 0;
  }
  .sec1 .btn__box {
    margin-bottom: 130px;
  }

  .sec7 {
    min-height: 500px;
    background: url("../RJ-img/slide7-01.png") center bottom/90% auto no-repeat;
  }
  .sec7 .t-img {
    position: absolute;
  }

  .sec10 .right .big__img {
    width: 320px;
    height: 320px;
    margin: -70px 0 0 -105px;
  }
}
@media screen and (max-width: 768px) {
  .sh-box-header ul li.sh-mobile-nav ul li a.active {
    color: #de0032;
  }

  .t-pc {
    display: none;
  }

  .t-mobile {
    display: block;
  }

  .t-cont-item {
    height: auto;
  }

  .t-content {
    max-width: auto;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .t-intro {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .t-main-title {
    font-size: 24px;
    padding-top: 35px;
    margin: 0 10px;
  }

  .t-sub-title {
    font-size: 18px;
  }

  .t-intro,
  .t-intro p {
    font-size: 14px;
    line-height: 20px;
  }

  /*--------自定义样式--------*/
  .t-main .title {
    padding-top: 35px;
    margin: 0 0 20px 0;
  }
  .t-main .title img {
    display: block;
    max-width: 100%;
  }

  .mask .box {
    width: 90%;
  }
  .mask .box .content__box {
    overflow-y: scroll;
    max-height: 400px;
  }
  .mask .box .close {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .mask .box .top {
    padding-top: 15px;
    text-align: left;
  }
  .mask .box .top .title {
    display: inline-block;
    width: 120px;
    line-height: 35px;
    font-size: 20px;
  }
  .mask .box .left {
    float: left;
    width: 100%;
    height: auto;
  }
  .mask .box .left img {
    max-width: 200px;
  }
  .mask .box .right {
    width: 100%;
    height: auto;
  }
  .mask .box .right img {
    max-width: 200px;
  }
  .mask .box .right .float__img {
    width: 130px;
    right: 35px;
  }
  .mask .box .img {
    padding: 10px 50px;
  }
  .mask .box .img img.round {
    border-radius: 8px;
  }
  .mask .box .title__text {
    padding: 25px 0 5px 0;
    font-size: 14px;
    line-height: 22px;
  }
  .mask .box .top__text, .mask .box .bottom__text {
    padding-left: 45px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .mask .box .sub__title {
    padding-left: 45px;
  }
  .mask .box .sub__title span {
    font-size: 14px;
  }

  .mask2 .left {
    padding-bottom: 0;
  }

  .mask3 .left {
    padding-bottom: 0;
  }
  .mask3 .left .top__text {
    margin-bottom: 20px;
  }

  .mask4 .left img {
    margin-bottom: -20px;
  }

  .sec1 {
    min-height: auto;
  }
  .sec1 .pepole {
    position: static;
    width: 100%;
  }
  .sec1 .title {
    width: 100%;
    padding: 30px 0 20px 0;
  }
  .sec1 .btn__box {
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .sec1 .btn__box .link-btn {
    display: inline-block;
    padding: 7px 18px;
    font-size: 20px;
    border-radius: 6px;
    margin-right: 0;
  }

  .sec2 .list {
    margin: 0;
    padding-bottom: 50px;
  }
  .sec2 .item {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 40px;
  }
  .sec2 .item .bottom {
    height: auto;
  }

  .sec3 .t-content {
    margin-bottom: 50px;
  }
  .sec3 .content {
    width: 100%;
    height: auto;
  }
  .sec3 .list {
    margin: 0;
  }
  .sec3 .item {
    float: left;
    width: 100%;
    margin: 0;
    padding-top: 60px;
  }
  .sec3 .item img {
    display: block;
    margin: auto;
    height: 120px;
  }
  .sec3 .item .item__title {
    padding: 50px 0 35px 0;
    font-size: 20px;
  }
  .sec3 .item .text {
    margin: 0 20px;
    padding: 30px 0;
    font-size: 14px;
    text-align: center;
  }

  .sec4 .t-intro {
    margin-left: 20px;
    margin-right: 20px;
  }
  .sec4 .text__title {
    font-size: 20px;
  }
  .sec4 .list {
    margin: 0;
  }
  .sec4 .list .item {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    height: 280px;
  }
  .sec4 .list .text {
    font-size: 14px;
  }
  .sec4 .item__title {
    padding-top: 48px;
  }
  .sec4 .item__title h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .sec5 .t-content {
    margin-bottom: 50px;
  }
  .sec5 .list {
    margin: 0;
  }
  .sec5 .item {
    height: auto;
    width: 100%;
    margin-bottom: 40px;
  }
  .sec5 .item:last-child {
    margin-bottom: 0;
  }
  .sec5 .item .item__title {
    font-size: 20px;
  }
  .sec5 .item .text {
    margin-bottom: 60px;
    font-size: 14px;
  }
  .sec5 .item .t-img {
    padding-top: 56px;
    width: 150px;
  }

  .sec6 .t-content {
    margin-bottom: 50px;
  }
  .sec6 .title {
    margin-bottom: 30px;
  }
  .sec6 .sec6__swiper {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .sec6 .swiper-button-prev, .sec6 .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .sec6 .swiper-button-prev {
    left: 0;
  }
  .sec6 .swiper-button-next {
    right: 0;
  }
  .sec6 .content {
    padding: 0;
  }
  .sec6 .left {
    width: 100%;
    float: right;
  }
  .sec6 .left .t-img {
    display: block;
    margin: 40px auto 30px auto;
  }
  .sec6 .right {
    width: 100%;
    float: right;
    margin-bottom: 20px;
  }
  .sec6 .right .t-img {
    width: 80%;
    margin: auto;
  }
  .sec6 .item__title {
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  .sec6 .text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .sec7 {
    background: none;
    height: auto;
    min-height: auto;
  }
  .sec7 .t-mobile img {
    display: block;
    width: 100%;
    animation: auto;
  }

  .sec8 .t-content {
    padding: 0;
  }
  .sec8 .item__title {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .sec8 .title__text {
    font-size: 14px;
  }
  .sec8 .content {
    height: auto;
  }
  .sec8 .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .sec8 .right {
    width: 100%;
  }
  .sec8 .left__title, .sec8 .right__title {
    position: static;
    height: 60px;
    font-size: 20px;
    writing-mode: horizontal-tb;
  }
  .sec8 .left__content {
    padding: 0 10px;
  }
  .sec8 .top .text__box {
    height: auto;
  }
  .sec8 .top .text__box p {
    min-height: 90px;
  }
  .sec8 .top .text__box .t-img {
    margin-bottom: 10px;
  }
  .sec8 .middle {
    padding-top: 20px;
  }
  .sec8 .middle .text__box {
    height: auto;
  }
  .sec8 .middle .text__box p {
    min-height: 90px;
  }
  .sec8 .middle .text__box .t-img {
    margin-bottom: 10px;
  }
  .sec8 .text__box {
    padding: 0 10px;
  }
  .sec8 .text__box p {
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 14px;
  }
  .sec8 .text__box .t-img {
    width: 100%;
    margin-left: 0;
  }
  .sec8 .top__title h3 {
    padding: 0 5px;
    font-size: 14px;
    line-height: 28px;
  }
  .sec8 .top__title .triangle, .sec8 .top__title .triangle__shadow {
    border-width: 28px 0 0 24px;
  }
  .sec8 .top__title .shadow {
    height: 28px;
    margin-left: -32px;
  }
  .sec8 .top__title .triangle__shadow {
    border-width: 28px 0 0 24px;
  }
  .sec8 .bottom .item {
    width: 100%;
    margin-right: 0;
  }
  .sec8 .bottom .title {
    padding-top: 15px;
  }
  .sec8 .bottom .line {
    height: 16px;
  }
  .sec8 .bottom .text {
    width: 100%;
    padding-top: 10px;
  }
  .sec8 .right__content {
    padding: 30px 20px;
  }
  .sec8 .right__content .item {
    width: 45%;
    margin-bottom: 40px;
    margin-right: 5%;
  }
  .sec8 .right__content .item:nth-child(2n) {
    margin-right: 0;
  }
  .sec8 .right__content .bottom {
    margin-bottom: 0;
    font-size: 14px;
  }

  .sec9 .list {
    margin: 0;
  }
  .sec9 .item__title {
    font-size: 20px;
  }
  .sec9 .text__item p {
    font-size: 14px;
  }
  .sec9 .item {
    float: left;
    width: 100%;
    margin: 0 0 40px 0;
    height: auto;
  }
  .sec9 .item:last-child {
    margin-right: 0;
  }
  .sec9 .item .text__list {
    padding-bottom: 50px;
  }
  .sec9 .button {
    display: block;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
  }

  .sec10 .content {
    margin: 0 0 50px 0;
    height: auto;
    padding-top: 20px;
  }
  .sec10 .left {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .sec10 .left .list {
    margin: 0 15px;
  }
  .sec10 .left .num {
    display: inline-block;
    width: 30px;
  }
  .sec10 .left .item {
    float: left;
    width: 50%;
    font-size: 16px;
  }
  .sec10 .left .item.active {
    font-size: 20px;
  }
  .sec10 .left .item.active .line {
    display: none;
  }
  .sec10 .right {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
  }
  .sec10 .right .big__img {
    float: none;
    width: 300px;
    height: auto;
    margin: 20px auto;
  }
  .sec10 .right .big__img img {
    display: none;
    width: 100%;
    height: auto;
  }
  .sec10 .right .img__list__box {
    padding: 30px 20px;
    height: 100%;
    overflow: hidden;
  }
  .sec10 .right .list {
    display: none;
  }
  .sec10 .right .item {
    width: 50%;
  }
  .sec10 .right .item img {
    max-height: 100px;
  }
  .sec10 .right .item:nth-child(2n) {
    margin-right: 0;
  }
  .sec10 .right .item .text {
    padding-top: 10px;
  }

  .sec11 .video {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 320px) {
  .sec8 .top {
    width: 100%;
  }
  .sec8 .top .text__box {
    height: auto;
  }
  .sec8 .top .text__box p {
    min-height: auto;
  }
  .sec8 .middle {
    width: 100%;
  }
  .sec8 .middle .text__box {
    height: auto;
  }
  .sec8 .middle .text__box p {
    min-height: auto;
  }
  .sec8 .top__title h3 {
    padding: 0 3px;
    font-size: 12px;
  }
}
