.grade-product {
  max-width: 1170px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  margin: auto;

  &__title {
    font-size: 24px;
    color: #24497F;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }

  &__box {
    position: relative;
  }

  .swiper-container {
    margin: 0 44px;
  }

  .swiper-slide {
    background-color: #fff;

    .img-box {
      max-height: 200px;
      display: block;
      margin-bottom: 23px;
      text-align: center;

      img {
        width: 100%;
        max-width: 200px;
        margin: auto;
      }
    }

    .slide-desc {
      font-size: 14px;
      color: #666666;
      margin-bottom: 29px;
      padding: 0 10px;
      text-align: center;
      display: -webkit-box;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .slide-link {
      margin-bottom: 28px;
      font-size: 14px;
      color: #CD0C22;
      text-align: center;
    }
  }

  .arrow-group {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -14px;
  }

  .arrow {
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;

    &.left {
      background: url(../RJ-img/swiper-arrow-left.png) center/100% no-repeat;
    }

    &.right {
      background: url(../RJ-img/swiper-arrow-right.png) center/100% no-repeat;
    }
  }

  &.grade-product__flex {
    .arrow-group {
      display: none;
    }

    .swiper-wrapper {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .grade_product {
    .arrow-group {
      left: 5px;
      right: 5px;
      width: auto;
    }
  }
}
