@charset "UTF-8";
/* index.html css */
/* 导航部分 */
.zg-content {
  overflow: hidden;
  font-family: Arial, '微软雅黑', sans-serif;
}
.zg-content img {
  display: block;
  max-width: 100%;
}

.zg-title-text {
  font-size: 40px;
  line-height: 67px;
  text-align: center;
  color: #2f2f2f;
}

.zg-small-text {
  font-size: 22px;
  line-height: 34px;
  color: #2f2f2f;
}

.zg-page-title {
  font-size: 42px;
  color: #35c0bb;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 42px;
}
.zg-page-title-text {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.zg-subnav {
  background-color: #f7f7f7;
  line-height: 50px;
}
.zg-subnav-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.zg-subnav .left {
  float: left;
  font-size: 24px;
  color: #333;
}
.zg-subnav .right {
  float: right;
}
.zg-subnav .link {
  display: inline-block;
  padding: 0 14px;
  color: #333;
}
.zg-subnav .link.active {
  color: #35c0bb;
}

.zg-white {
  color: #fff;
}

/* 正文部分 */
bkg, .section-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.zg-content {
  background-color: #fff;
}

.section-box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.section-1 {
  overflow: hidden;
  padding: 40px 0;
}
.section-1 .left {
  float: left;
  width: 50%;
}
.section-1 p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #2f2f2f;
}
.section-1 .text-title {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}
.section-1 .list .sub-title {
  font-size: 18px;
  font-weight: bold;
}
.section-1 .list p {
  margin: 0;
}
.section-1 .right {
  float: right;
  width: 36%;
  margin-left: 14%;
}
.section-1 .big-img {
  margin: 0 40px 40px;
}
.section-1 .big-img img {
  display: block;
  max-width: 100%;
}
.section-1 .thumb-list {
  font-size: 0;
}
.section-1 .thumb-list li {
  display: inline-block;
  width: 23%;
  margin: 0 2% 10px 0;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
}
.section-1 .thumb-list li.active {
  border-color: #0d58ca;
}
.section-1 .thumb-list img {
  display: block;
  width: 100%;
}

.section-2 {
  padding: 65px 0 45px;
  background-color: #efefef;
}
.section-2 .zg-title-text {
  margin-bottom: 35px;
}
.section-2 .left-img, .section-2 .right-img {
  float: left;
  width: 50%;
}
.section-2 .left-img img, .section-2 .right-img img {
  width: 100%;
}
.section-2 .left-img p, .section-2 .right-img p {
  font-size: 22px;
  text-align: center;
}
.section-2 .left-img img {
  margin-top: 60px;
}
.section-2 .left-img p {
  float: right;
  margin-right: 60px;
}
.section-2 .right-img {
  width: 53%;
  margin-left: -3%;
}
.section-2 .right-img img {
  margin-top: 220px;
}
.section-2 .right-img p {
  float: left;
  margin-left: 60px;
}

.section-3 {
  padding-top: 60px;
  background-color: #312f2b;
}
.section-3 .zg-title-text {
  margin-bottom: 80px;
}
.section-3 .big-img {
  width: 100%;
  margin: auto;
}

.section-4 {
  padding: 90px 0 90px;
  background-image: url("../RJ-img/d-bg.jpg");
}
.section-4 .zg-title-text {
  margin-bottom: 30px;
}
.section-4 .zg-small-text {
  margin-bottom: 140px;
  text-align: center;
}
.section-4 .big-img {
  margin: auto;
}

.section-5 {
  padding-top: 60px;
  background-color: #eaf6f2;
}
.section-5 .zg-title-text {
  margin-bottom: 30px;
}
.section-5 .zg-small-text {
  margin-bottom: 90px;
  text-align: center;
}
.section-5 .big-img {
  width: 100%;
  margin: auto;
}

.section-6 {
  padding-top: 65px;
}
.section-6 .zg-title-text {
  margin-bottom: 30px;
}
.section-6 .zg-small-text {
  margin-bottom: 75px;
  text-align: center;
}
.section-6 .big-img {
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .zg-subnav-content {
    max-width: 1000px;
  }

  .section-2 .img-box {
    margin: 0 200px;
  }
  .section-2 .left-img img {
    margin-top: 120px;
  }
  .section-2 .right-img img {
    margin-top: 250px;
  }
}
@media screen and (max-width: 1024px) {
  .zg-page-title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .zg-title-text {
    font-size: 32px;
    line-height: 56px;
  }

  .section-box {
    max-width: 1000px;
  }

  .section-1 .right {
    float: right;
    width: 44%;
    margin-left: 6%;
  }

  .section-2 .img-box {
    margin: 0 160px;
  }

  .section-3 .big-img {
    width: 90%;
  }

  .section-4 {
    padding: 70px 0 70px;
  }
  .section-4 .big-img {
    width: 80%;
  }

  .section-5 .big-img {
    width: 90%;
  }

  .section-6 .big-img {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .zg-title-text {
    font-size: 28px;
    line-height: 50px;
  }

  .zg-small-text {
    font-size: 16px;
    line-height: 30px;
  }

  .zg-page-title {
    font-size: 38px;
  }

  .zg-subnav {
    line-height: 46px;
  }
  .zg-subnav-content {
    padding: 0 15px;
    width: auto;
  }
  .zg-subnav .right {
    width: auto;
    float: none;
    text-align: center;
  }

  .section-1 .left {
    float: none;
    width: auto;
    padding: 0 15px;
  }
  .section-1 p {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .section-1 .list .sub-title {
    font-size: 16px;
  }
  .section-1 .text-title {
    padding-top: 15px;
    font-size: 18px;
  }
  .section-1 .right {
    float: none;
    width: auto;
    margin-left: 0;
  }
  .section-1 .big-img {
    margin: 35px 30px 30px;
  }
  .section-1 .thumb-list {
    margin: 0 80px;
  }

  .section-2 {
    padding: 55px 0 45px;
  }
  .section-2 .zg-title-text {
    margin-bottom: 25px;
  }
  .section-2 .img-box {
    margin: 0 60px;
  }

  .section-3 {
    padding-top: 50px;
  }
  .section-3 .zg-title-text {
    margin-bottom: 60px;
  }

  .section-4 {
    padding: 50px 0 50px;
  }
  .section-4 .zg-title-text {
    margin-bottom: 25px;
  }
  .section-4 .zg-small-text {
    margin-bottom: 100px;
  }

  .section-5 {
    padding-top: 50px;
  }
  .section-5 .zg-title-text {
    margin-bottom: 25px;
  }
  .section-5 .zg-small-text {
    margin-bottom: 70px;
  }

  .section-6 {
    padding-top: 50px;
  }
  .section-6 .zg-title-text {
    margin-bottom: 25px;
  }
  .section-6 .zg-small-text {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 480px) {
  .zg-title-text {
    font-size: 24px;
    line-height: 40px;
  }

  .zg-small-text {
    font-size: 14px;
    line-height: 26px;
  }

  .zg-page-title {
    font-size: 34px;
  }

  .zg-subnav .left {
    line-height: 40px;
  }

  .section-1 {
    padding: 25px 0;
  }
  .section-1 p {
    font-size: 14px;
  }
  .section-1 .list .sub-title {
    font-size: 14px;
  }
  .section-1 .text-title {
    font-size: 16px;
  }
  .section-1 .big-img {
    margin: 20px 30px 15px;
  }
  .section-1 .thumb-list {
    margin: 0 40px;
  }

  .section-2 {
    padding: 40px 0 40px;
  }
  .section-2 .zg-title-text {
    margin-bottom: 25px;
  }
  .section-2 .img-box {
    margin: 0 15px;
  }
  .section-2 .img-box p {
    font-size: 16px;
  }
  .section-2 .left-img p {
    margin-right: 20px;
  }
  .section-2 .left-img img {
    margin-top: 90px;
  }
  .section-2 .right-img p {
    margin-left: 20px;
  }
  .section-2 .right-img img {
    margin-top: 170px;
  }

  .section-3 {
    padding-top: 40px;
  }

  .section-4 {
    padding: 40px 0 40px;
  }
  .section-4 .zg-title-text {
    margin: 0 20px 20px;
  }
  .section-4 .zg-small-text {
    margin: 0 20px 70px;
  }

  .section-5 {
    padding-top: 40px;
  }
  .section-5 .zg-title-text {
    margin-bottom: 20px;
  }
  .section-5 .zg-small-text {
    margin-bottom: 60px;
  }

  .section-6 {
    padding-top: 50px;
  }
  .section-6 .zg-title-text {
    margin-bottom: 20px;
  }
  .section-6 .zg-small-text {
    margin: 0 20px 60px;
  }
}
@media screen and (max-width: 414px) {
  .zg-title-text {
    font-size: 20px;
    line-height: 32px;
  }

  .zg-page-title {
    font-size: 32px;
  }

  .section-1 {
    padding: 20px 0;
  }
  .section-1 .big-img {
    margin: 10px 40px 5px;
  }
}
@media screen and (max-width: 375px) {
  .zg-page-title {
    font-size: 28px;
    line-height: 36px;
  }

  .section-1 {
    padding: 20px 0;
  }

  .section-2 {
    padding: 30px 0 30px;
  }
  .section-2 .zg-title-text {
    margin-bottom: 15px;
  }
  .section-2 .img-box p {
    font-size: 14px;
  }
  .section-2 .left-img p {
    margin-right: 15px;
  }
  .section-2 .right-img p {
    margin-left: 15px;
  }
  .section-2 .right-img img {
    margin-top: 150px;
  }

  .section-3 {
    padding-top: 30px;
  }

  .section-4 {
    padding: 30px 0 30px;
  }
  .section-4 .zg-title-text {
    margin: 0 20px 15px;
  }
  .section-4 .zg-small-text {
    margin: 0 20px 50px;
  }

  .section-5 {
    padding-top: 30px;
  }
  .section-5 .zg-title-text {
    margin-bottom: 15px;
  }
  .section-5 .zg-small-text {
    margin-bottom: 50px;
  }

  .section-6 {
    padding-top: 30px;
  }
  .section-6 .zg-title-text {
    margin-bottom: 15px;
  }
  .section-6 .zg-small-text {
    margin: 0 20px 50px;
  }
}
@media screen and (max-width: 320px) {
  .zg-title-text {
    line-height: 28px;
  }

  .zg-subnav .left {
    line-height: 36px;
  }
}
