/* index.html css */

/* 导航部分 */
.page-content {
    overflow: hidden;
    font-family: Arial, '微软雅黑', sans-serif;
    img {
        display: block;
        max-width: 100%;
    }
    .m {
        display: none;
    }
}
.title-text {
    font-size: 44px;
    line-height: 67px;
    text-align: center;
    color: #2f2f2f;
}
.small-text {
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2f2f2f;
}
.white {
    color: #fff;
}

.page-title {
    font-size: 42px;
    color: #35c0bb;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 42px;
    &-text {
        width: 100%;
        max-width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-subnav {
    background-color: #f7f7f7;
    line-height: 50px;
    &-content {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .left {
        float: left;
        font-size: 24px;
        color: #333;
    }
    .right {
        float: right;
    }
    .link {
        display: inline-block;
        padding: 0 14px;
        color: #333;
    }
    .link.active {
        color: #35c0bb;
    }
}

/* 正文部分 */
.page-content {
    background-color: #fff;
}
.section-box {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.section-1 {
    overflow: hidden;
    padding: 30px 0 100px;
    .left {
        float: left;
        width: 50%;
    }
    p {
        margin-bottom: 1em;
        font-size: 18px;
        color: #2f2f2f;
        line-height: 1.6;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .text-title {
        padding-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
    }
    .list {
        padding-left: 18px;
        list-style-type: disc;
    }
    .list p {
        margin: 0;
    }
    .right {
        float: right;
        width: 36%;
        margin-left: 14%;
    }
    .big-img {
        margin: 0 40px 40px;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .thumb-list {
        font-size: 0;
        text-align: center;
    }
    .thumb-list li {
        display: inline-block;
        width: 23%;
        margin: 0 2% 10px 0;
        border: 1px solid #e5e5e5;
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;
        &.active {
            border-color: #0d58ca;
        }
    }
    .thumb-list img {
        display: block;
        width: 100%;
    }
    .product_open {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .product-open {
        color: #e10032;
        font-size: 18px;
        cursor: pointer;
        overflow: hidden;
    }
}

.section-2 {
    position: relative;
    .top {
        position: absolute;
        width: 1200px;
        top: 120px;
        left: 50%;
        margin-left: -600px;
        text-align: center;
    }
    .title-text {
        font-size: 90px;
        margin-bottom: 60px;
        line-height: 1;
    }
    .small-text {
        font-size: 32px;
        color: #97a0b4;
    }
}

.section-3 {
    padding-top: 60px;
    background: url('../RJ-img/c-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .title-text {
        margin-bottom: 25px;
    }
    .small-text {
        max-width: 1200px;
        margin: auto;
        margin-bottom: 64px;
    }
    .arrow {
        display: block;
        margin: auto;
        width: 34px;
        height: 53px;
        background: url('../RJ-img/c-arrow.png') center/100% no-repeat;
    }
}

.section-4 {
    padding: 130px 0 75px;
    background: url('../RJ-img/d-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .top-title {
        margin-bottom: 75px;
    }
    .top-list {
        font-size: 0;
        margin-bottom: 80px;
        .text {
            margin-bottom: 15px;
            font-size: 28px;
            color: #fff;
        }
        .desc {
            font-size: 16px;
            color: #686868;
        }
    }
    .top-item {
        display: inline-block;
        width: 18%;
        margin-right: 2.5%;
        text-align: center;
        vertical-align: top;
        margin-bottom: 50px;
        &:nth-child(5n) {
            margin-right: 0;
        }
    }
    .text-box {
        padding: 20px 0;
        height: 110px;
        border: 2px solid #343d59;
        border-radius: 6px;
    }
    .arrow-down, .arrow-up {
        width: 28px;
        height: 45px;
        margin: auto;
        background: url('../RJ-img/e-arrow.png') center/100% no-repeat;
    }
    .arrow-up {
        transform: rotateZ(180deg);
    }
    .pro-img {
        margin: 145px auto;
    }
    .bottom-title {
        padding-top: 160px;
        margin-bottom: 30px;
    }
    .small-text {
        margin-bottom: 55px;
        color: #fff;
    }
    .bottom-list {
        margin: 0 43px 30px;
        padding: 30px 0 50px;
        border-radius: 6px;
        border: 2px solid rgba($color: #3ca4d6, $alpha: .43);
        text-align: center;
        .icon {
            margin: auto;
            margin-bottom: 30px;
        }
    }
    .list-top {
        margin-bottom: 50px;
        &-item {
            float: left;
            width: 25%;
        }
        .text {
            font-size: 20px;
            color: #fff;
        }
    }
    .list-bottom {
        &-item {
            width: 33.3333%;
            float: left;
            text-align: center;
        }
        .text {
            display: inline-block;
            font-size: 20px;
            color: #fff;
        }
        .text-list {
            list-style-type: disc;
            padding-top: 10px;
            padding-left: 25px;
            font-size: 16px;
            color: #686868;
            text-align: left;
        }
    }
    .dot-list {
        text-align: center;
        font-size: 0;
        span {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 8px;
            background-color: #0087f7;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.section-5 {
    padding: 85px 0 90px;
    background: url('../RJ-img/f-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .title-text {
        margin-bottom: 25px;
    }
    .small-text {
        margin-bottom: 50px;
    }
    .big-img {
        width: 90%;
        margin: 45px auto;
    }
    .desc {
        width: 90%;
        margin: auto;
        text-align: center;
        color: #797979;
        font-size: 20px;
    }
}

.section-6 {
    position: relative;
    padding: 100px 0 50px;
    .title-text {
        margin-bottom: 30px;
    }
    .small-text {
        margin-bottom: 55px;
    }
    .big-img {
        width: 65%;
        margin: auto;
    }
}

.section-7 {
    padding: 80px 0 116px;
    background: url('../RJ-img/h-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .title-text {
        margin-bottom: 25px;
    }
    .small-text {
        margin-bottom: 60px;
    }
    .bottom-list {
        font-size: 0;
    }
    .bottom-item {
        display: inline-block;
        position: relative;
        width: 20%;
        .icon {
            width: 100%;
        }
        .text {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 70px;
            font-size: 18px;
            color: #ffffff;
            line-height: 1.2;
            span {
                position: absolute;
                text-align: center;
                left: 20px;
                right: 20px;
                top: 50%;
                padding: 0 20px;
                transform: translateY(-50%);
            }
        }
    }
}

@media screen and (max-width: 1680px){
    
}

@media screen and (max-width: 1440px){
    
}

@media screen and (max-width: 1280px){
    .section-box {
        max-width: 1000px;
    }
    .page-subnav {
        &-content {
            max-width: 1000px;
        }
    }
    .section-1 {
        .right {
            float: right;
            width: 44%;
            margin-left: 6%;
        }
    }
    .section-4 {
        .section-box {
            max-width: 1200px;
        }
    }
    .section-7 {
        .bottom-list {
            .text {
                span {
                    left: 10px;
                    right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .section-box {
        max-width: 1000px;
    }
    .page-title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-text {
        font-size: 32px;
        line-height: 56px;
    }
    .section-1 {
        padding: 30px 0 50px;
    }
    .section-2 {
        .title-text {
            margin-bottom: 50px;
            font-size: 80px;
        }
        .top {
            top: 100px;
        }
    }
    .section-3 {
        padding-top: 50px;
        .small-text {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .section-4 {
        padding: 70px 0 55px;
        .top-title {
            margin-bottom: 55px;
        }
        .top-list {
            margin: 0 20px 60px;
            .text {
                font-size: 26px;
            }
        }
        .top-item {
            width: 23%;
            margin-right: 2.6666667%;
            margin-bottom: 25px;
            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(5n) {
                margin-right: 2.6666667%;
            }
        }
        .text-box {
            height: 100px;
        }
        .pro-img {
            width: 80%;
            margin: 125px auto;
        }
        .bottom-title {
            padding-top: 160px;
            margin-bottom: 30px;
        }
    }
    .section-5 {
        padding: 65px 0 80px;
        .small-text {
            margin-bottom: 40px;
        }
        .big-img {
            width: 86%;
            margin: 40px auto;
        }
    }
    .section-7 {
        padding: 70px 0 100px;
        .bottom-list {
            font-size: 0;
            margin: 0 15px;
            .text {
                height: 55px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .title-text {
        font-size: 28px;
        line-height: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .small-text {
        font-size: 16px;
        line-height: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .page-title {
        font-size: 38px;
    }

    .page-subnav {
        line-height: 46px;
        &-content {
            padding: 0 15px;
            width: auto;
        }
        .left {
            float: none;
        }
        .right {
            width: auto;
            float: none;
            text-align: center;
        }
    }

    .page-content {
        .m {
            display: block;
        }
    
        .pc {
            display: none;
        }
    }

    .section-1 {
        padding: 30px 0 50px;
        .left {
            float: none;
            width: auto;
            padding: 0 15px;
        }
        p {
            margin-bottom: 1em;
            font-size: 16px;
        }
        .text-title {
            padding-top: 15px;
            font-size: 18px;
        }
        .right {
            float: none;
            width: auto;
            margin-left: 0;
        }
        .big-img {
            margin: 35px 30px 30px;
        }
        .thumb-list {
            margin: 0 80px;
        }
        .product-open {
            text-align: center;
        }
    }

    .section-2 {
        .title-text {
            margin-bottom: 40px;
            font-size: 60px;
        }
        .top {
            top: 70px;
        }
    }

    .section-4 {
        padding: 20px 0 50px;
        .top-title {
            margin-bottom: 30px;
        }
        .top-list {
            margin: 0 20px 20px;
            .text {
                font-size: 22px;
            }
            .desc {
                font-size: 14px;
            }
        }
        .top-item {
            width: 30%;
            margin-right: 5%;
            margin-bottom: 20px;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(4n) {
                margin-right: 5%;
            }
            &:nth-child(5n) {
                margin-right: 5%;
            }
        }
        .text-box {
            height: 85px;
        }
        .pro-img {
            margin: 80px auto;
        }
        .bottom-title {
            padding-top: 160px;
            margin-bottom: 30px;
        }
        .bottom-list {
            margin: 0 15px 30px;
            padding: 30px 0 30px;
            .text {
                font-size: 18px;
            }
            .text-list {
                font-size: 14px;
            }
            .icon {
                margin-bottom: 20px;
            }
        }
    }
    .section-5 {
        padding: 45px 0 60px;
        .title-text {
            margin-bottom: 20px;
        }
        .small-text {
            margin-bottom: 35px;
        }
        .big-img {
            margin: 35px auto;
        }
    }
    .section-6 {
        padding: 40px 0 30px;
        .title-text {
            margin-bottom: 20px;
        }
        .big-img {
            width: 60%;
        }
    }
    .section-7 {
        padding: 60px 0 116px;
        .title-text {
            margin-bottom: 20px;
        }
        .small-text {
            margin-bottom: 40px;
        }
        .bottom-list {
            margin: 0 80px;
            text-align: center;
        }
        .bottom-item {
            width: 33.33333%;
            margin-bottom: 20px;
            .text {
                height: 62px;
                font-size: 16px;
                span {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    .title-text {
        font-size: 24px;
        line-height: 40px;
    }
    .small-text {
        font-size: 14px;
        line-height: 26px;
    }
    .page-title {
        font-size: 34px;
    }

    .page-subnav {
        .left {
            line-height: 40px;
        }
    }
    
    .section-1 {
        padding: 25px 0;
        p {
            font-size: 14px;
        }
        .text-title {
            font-size: 16px;
        }
        .big-img {
            margin: 20px 30px 15px;
        }
        .thumb-list {
            margin: 0 40px;
        }
    }
    .section-2 {
        .title-text {
            margin-bottom: 25px;
            font-size: 40px;
        }
        .small-text {
            font-size: 22px;
        }
        .top {
            top: 30px;
        }
    }
    .section-3 {
        padding-top: 30px;
        .title-text {
            margin-bottom: 15px;
        }
        .small-text {
            margin-bottom: 44px;
        }
        .arrow {
            width: 28px;
            height: 44px;
        }
    }
    .section-4 {
        padding: 30px 0 50px;
        .top-title {
            margin-bottom: 30px;
        }
        .top-list {
            .text {
                font-size: 18px;
            }
        }
        .top-item {
            width: 32%;
            margin-right: 2%;
            margin-bottom: 20px;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(4n) {
                margin-right: 2%;
            }
            &:nth-child(5n) {
                margin-right: 2%;
            }
        }
        .text-box {
            height: 85px;
            padding: 15px 0;
        }
        .pro-img {
            margin: 80px auto;
        }
        .bottom-title {
            padding-top: 160px;
            margin-bottom: 20px;
        }
        .list-top {
            margin-bottom: 30px;
        }
        .bottom-list {
            margin: 0 15px 30px;
            padding: 30px 0 30px;
            .text {
                font-size: 16px;
            }
            .text-list {
                font-size: 12px;
            }
        }
    }
    .section-5 {
        padding: 35px 0 40px;
        .title-text {
            margin-bottom: 15px;
        }
        .small-text {
            margin-bottom: 25px;
        }
        .big-img {
            width: 70%;
            margin: 30px auto;
        }
        .desc {
            font-size: 18px;
        }
    }
    .section-6 {
        padding: 30px 0 30px;
        .title-text {
            margin-bottom: 15px;
        }
    }
    .section-7 {
        padding: 40px 0 86px;
        .title-text {
            margin-bottom: 15px;
        }
        .small-text {
            margin-bottom: 30px;
        }
        .bottom-list {
            margin: 0 15px;
            text-align: center;
        }
        .bottom-item {
            width: 33.33333%;
            margin-bottom: 20px;
            .text {
                height: 48px;
                font-size: 14px;
                span {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 414px){
    .title-text {
        font-size: 20px;
        line-height: 32px;
    }
    .page-title {
        font-size: 32px;
    }
    
    .section-1 {
        padding: 20px 0;
        .big-img {
            margin: 10px 40px 5px;
        }
    }
    .section-2 {
        .title-text {
            margin-bottom: 15px;
            font-size: 32px;
        }
        .small-text {
            font-size: 18px;
        }
    }
    .section-3 {
        .small-text {
            margin-bottom: 38px;
        }
        .arrow {
            width: 24px;
            height: 37px;
        }
    }
    .section-4 {
        padding: 30px 0 30px;
        background-position: center top;
        .top-list {
            margin: 0 15px 20px;
            .text {
                margin-bottom: 10px;
            }
        }
        .top-item {
            width: 48%;
            margin-right: 4%!important;
            margin-bottom: 25px;
            &:nth-child(2n) {
                margin-right: 0%!important;
            }
        }
        .text-box {
            height: 95px;
            padding: 10px 0;
        }
        .pro-img {
            margin: 40px auto;
        }
        .bottom-title {
            padding-top: 100px;
            margin-bottom: 20px;
        }
        .list-top {
            &-item {
                width: 50%;
                margin-bottom: 15px;
            }
        }
        .section-4 .arrow-down, .section-4 .arrow-up {
            width: 20px;
            height: 31px;
        }
        .list-bottom {
            text-align: left;
            font-size: 0;
            &-item {
                display: inline-block;
                float: none;
                width: 50%;
                margin-bottom: 10px;
                vertical-align: top;
            }
        }
        .bottom-list {
            padding: 30px 15px;
        }
    }
    .section-5 {
        padding: 30px 0 30px;
        .small-text {
            margin-bottom: 20px;
        }
        .big-img {
            margin: 25px auto;
        }
        .desc {
            font-size: 16px;
        }
    }
    .section-6 {
        padding: 30px 0 30px;
        .small-text {
            margin-bottom: 30px;
        }
    }
    .section-7 {
        padding: 30px 0 56px;
        .small-text {
            margin-bottom: 30px;
        }
        .bottom-list {
            margin: 0 15px;
            text-align: center;
        }
        .bottom-item {
            width: 33.33333%;
            margin-bottom: 20px;
            .text {
                height: 48px;
                font-size: 12px;
                margin-bottom: -6px;
                span {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 375px){
    .page-title {
        font-size: 28px;
        line-height: 36px;
    }
    
    .section-1 {
        padding: 20px 0;
    }
}

@media screen and (max-width: 320px){
    .title-text {
        line-height: 28px;
    }

    .page-subnav {
        .left {
            line-height: 36px;
        }
    }

    .section-3 {
        .mid-list {
            .icon {
                width: 50px;
            }
        }
    }
    .section-4 {
        padding: 20px 0 30px;
        .small-text {
            margin-bottom: 10px;
        }
        .bg-img {
            width: 260px;
        }
    }
    .section-5 {
        .top {
            width: 290px;
            margin-left: -145px;
        }
    }
    .section-6 {
        background-position: center 160px;
        .bottom-list {
            width: 290px;
        }
        .bottom-item {
            .icon {
                width: 40px;
            }
        }
    }
    .section-7 {
        .bottom-item {
            .text {
                margin-bottom: -12px;
                span {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}