@charset "UTF-8";
/* index.html css */
/* 导航部分 */
html {
  font-family: Arial, '微软雅黑', sans-serif;
}

.page-content {
  overflow: hidden;
}

.title-text {
  font-size: 36px;
  line-height: 67px;
  text-align: center;
  color: #323232;
}

.small-text {
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #888888;
}

.white {
  color: #fff;
}

.page-title {
  font-size: 42px;
  color: #35c0bb;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 42px;
}
.page-title-text {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-subnav {
  background-color: #f7f7f7;
  line-height: 50px;
}
.page-subnav-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.page-subnav .left {
  float: left;
  font-size: 24px;
  color: #333;
}
.page-subnav .right {
  float: right;
}
.page-subnav .link {
  display: inline-block;
  padding: 0 14px;
  color: #333;
}
.page-subnav .link.active {
  color: #35c0bb;
}

img {
  display: block;
  max-width: 100%;
}

.m {
  display: none;
}

/* 正文部分 */
.page-content {
  background-color: #fff;
}

.section-box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.section-1 {
  overflow: hidden;
  padding: 30px 0 100px;
}
.section-1 .left {
  float: left;
  width: 50%;
}
.section-1 p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #2f2f2f;
}
.section-1 .text-title {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}
.section-1 .list {
  padding-left: 18px;
  list-style-type: disc;
}
.section-1 .list p {
  margin: 0;
}
.section-1 .right {
  float: right;
  width: 36%;
  margin-left: 14%;
}
.section-1 .big-img {
  margin: 85px 0 70px;
  height: 220px;
}
.section-1 .big-img img {
  display: block;
  max-width: 100%;
}
.section-1 .thumb-list {
  font-size: 0;
  text-align: center;
}
.section-1 .thumb-list li {
  display: inline-block;
  width: 97px;
  height: 87px;
  margin: 0 5px 10px 0;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  cursor: pointer;
}
.section-1 .thumb-list li.active {
  border-color: #0d58ca;
}
.section-1 .thumb-list img {
  display: block;
  width: 100%;
}

.section-2 {
  position: relative;
  padding: 80px 0 75px;
  background: #f4f4f4;
}
.section-2 .title-text {
  margin-bottom: 100px;
  text-align: center;
}
.section-2 .img {
  width: 450px;
  margin: auto;
  margin-bottom: 105px;
}
.section-2 .bottom-list .icon {
  width: 52px;
  margin: auto;
}
.section-2 .bottom-list .text {
  padding-top: 35px;
  color: #323232;
  text-align: center;
  font-size: 14px;
}
.section-2 .bottom-item {
  float: left;
  width: 20%;
}

.section-3 {
  padding-top: 60px;
  background: url("../RJ-img/c-bg-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-3 .title-text {
  margin-bottom: 25px;
}
.section-3 .small-text {
  max-width: 1200px;
  margin: auto;
}
.section-3 .mid-list {
  padding-top: 70px;
  width: 860px;
  margin: auto;
  margin-bottom: -40px;
}
.section-3 .mid-list .icon {
  margin: auto;
  width: 114px;
}
.section-3 .mid-list .text {
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.section-3 .mid-item {
  float: left;
  width: 25%;
}
.section-3 .mid-img {
  width: 80%;
  margin: auto;
}

.section-4 {
  padding: 70px 0 100px;
  background: url("../RJ-img/d-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-4 .title-text {
  margin-bottom: 25px;
}
.section-4 .small-text {
  margin-bottom: 50px;
}
.section-4 .bg-img {
  width: 1000px;
  margin: auto;
}

.section-5 {
  position: relative;
}
.section-5 .top {
  position: absolute;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  top: 40px;
}

.section-6 {
  padding: 60px 0 65px;
  background: url("../RJ-img/f-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-6 .title-text {
  margin-bottom: 25px;
}
.section-6 .bottom-list {
  width: 800px;
  margin: auto;
}
.section-6 .bottom-item {
  width: 25%;
  padding-top: 520px;
  float: left;
}
.section-6 .bottom-item .icon {
  width: 102px;
  margin: auto;
}
.section-6 .bottom-item .text {
  padding-top: 18px;
  text-align: center;
  font-size: 18px;
  color: #7d7d7d;
}

.section-7 {
  padding-top: 60px;
  background: url("../RJ-img/g-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.section-7 .title-text {
  margin-bottom: 25px;
}
.section-7 .bottom-list {
  padding-top: 85px;
  margin-bottom: 330px;
}
.section-7 .bottom-item {
  float: left;
  width: 18%;
  margin-right: 2.5%;
}
.section-7 .bottom-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1280px) {
  .section-box {
    max-width: 1000px;
  }

  .page-subnav-content {
    max-width: 1000px;
  }

  .section-1 .right {
    float: right;
    width: 44%;
    margin-left: 6%;
  }
}
@media screen and (max-width: 1024px) {
  .section-box {
    max-width: 1000px;
  }

  .page-title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title-text {
    font-size: 32px;
    line-height: 56px;
  }

  .section-1 {
    padding: 30px 0 70px;
  }

  .section-2 {
    padding: 60px 0 55px;
  }
  .section-2 .title-text {
    margin-bottom: 80px;
  }
  .section-2 .img {
    width: 400px;
    margin-bottom: 85px;
  }
  .section-2 .bottom-list {
    margin: 0 30px;
  }
  .section-2 .bottom-list .icon {
    width: 50px;
  }

  .section-3 {
    padding-top: 50px;
  }
  .section-3 .mid-list {
    padding-top: 70px;
    width: 760px;
  }
  .section-3 .mid-list .icon {
    width: 108px;
  }

  .section-4 {
    padding: 50px 0 70px;
  }
  .section-4 .small-text {
    margin-bottom: 50px;
  }
  .section-4 .bg-img {
    width: 700px;
  }

  .section-5 .top {
    width: 900px;
    margin-left: -450px;
  }

  .section-6 {
    padding: 50px 0 60px;
  }
  .section-6 .bottom-list {
    width: 600px;
  }
  .section-6 .bottom-item {
    padding-top: 460px;
  }
  .section-6 .bottom-item .icon {
    width: 100px;
  }

  .section-7 {
    padding-top: 50px;
  }
  .section-7 .bottom-list {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 85px;
    margin-bottom: 280px;
  }
  .section-7 .bottom-item {
    float: left;
    width: 18%;
    margin-right: 2.5%;
  }
  .section-7 .bottom-item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .title-text {
    font-size: 28px;
    line-height: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .small-text {
    font-size: 16px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .page-title {
    font-size: 38px;
  }

  .page-subnav {
    line-height: 46px;
  }
  .page-subnav-content {
    padding: 0 15px;
    width: auto;
  }
  .page-subnav .right {
    width: auto;
    float: none;
    text-align: center;
  }

  .m {
    display: block;
  }

  .pc {
    display: none;
  }

  .section-2 {
    padding: 40px 0 35px;
  }
  .section-2 .title-text {
    margin-bottom: 80px;
  }
  .section-2 .img {
    width: 350px;
    margin-bottom: 75px;
  }
  .section-2 .bottom-list .text {
    padding-top: 25px;
  }

  .section-1 .left {
    float: none;
    width: auto;
    padding: 0 15px;
  }
  .section-1 p {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .section-1 .text-title {
    padding-top: 15px;
    font-size: 18px;
  }
  .section-1 .right {
    float: none;
    width: auto;
    margin-left: 0;
  }
  .section-1 .big-img {
    margin: 35px 0 30px;
  }
  .section-1 .thumb-list {
    text-align: center;
  }

  .section-3 {
    padding-top: 30px;
  }
  .section-3 .title-text {
    margin-bottom: 20px;
  }
  .section-3 .mid-list {
    padding-top: 60px;
    width: 600px;
    margin-bottom: -20px;
  }
  .section-3 .mid-list .icon {
    width: 90px;
  }

  .section-4 {
    padding: 40px 0 70px;
    background: url("../RJ-img/d-bg.jpg");
  }
  .section-4 .title-text {
    margin-bottom: 20px;
  }
  .section-4 .small-text {
    margin-bottom: 40px;
  }
  .section-4 .bg-img {
    width: 500px;
    margin: auto;
  }

  .section-5 {
    position: relative;
  }
  .section-5 .top {
    position: absolute;
    width: 640px;
    left: 50%;
    margin-left: -320px;
    top: 20px;
  }

  .section-6 {
    padding: 40px 0 50px;
    background-position: center -60px;
  }
  .section-6 .title-text {
    margin-bottom: 20px;
  }
  .section-6 .bottom-list {
    width: 600px;
  }
  .section-6 .bottom-item {
    padding-top: 360px;
  }
  .section-6 .bottom-item .icon {
    width: 90px;
    margin: auto;
  }

  .section-7 {
    padding-top: 50px;
  }
  .section-7 .title-text {
    margin-bottom: 20px;
  }
  .section-7 .bottom-list {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 45px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 0;
  }
  .section-7 .bottom-list .img {
    width: 80%;
    margin: auto;
  }
  .section-7 .bottom-item {
    display: inline-block;
    float: none;
    width: 30%;
    margin-right: 2.5%;
    margin-bottom: 20px;
  }
  .section-7 .bottom-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .title-text {
    font-size: 24px;
    line-height: 40px;
  }

  .small-text {
    font-size: 14px;
    line-height: 26px;
  }

  .page-title {
    font-size: 34px;
  }

  .page-subnav .left {
    line-height: 40px;
  }

  .section-1 {
    padding: 25px 0;
  }
  .section-1 p {
    font-size: 14px;
  }
  .section-1 .text-title {
    font-size: 16px;
  }
  .section-1 .big-img {
    margin: 20px 0 15px;
  }
  .section-1 .thumb-list .thumb-item {
    width: 75px;
    height: 67px;
  }

  .section-2 {
    padding: 40px 0 35px;
  }
  .section-2 .title-text {
    margin-bottom: 60px;
  }
  .section-2 .img {
    width: 300px;
    margin-bottom: 55px;
  }
  .section-2 .bottom-list {
    text-align: center;
    font-size: 0;
  }
  .section-2 .bottom-list .text {
    padding-top: 25px;
  }
  .section-2 .bottom-item {
    float: none;
    display: inline-block;
    width: 33.33333%;
    height: 144px;
    margin-bottom: 20px;
    vertical-align: top;
  }

  .section-3 {
    padding-top: 40px;
  }
  .section-3 .mid-list {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 40px;
  }
  .section-3 .mid-list .icon {
    width: 75px;
  }
  .section-3 .mid-list .text {
    font-size: 16px;
  }
  .section-3 .mid-img {
    width: 100%;
  }

  .section-4 {
    padding: 40px 0 50px;
  }
  .section-4 .bg-img {
    width: 380px;
  }

  .section-5 {
    height: 400px;
  }
  .section-5 .bg-img {
    position: absolute;
    display: inline-block;
    height: 100%;
    max-width: 2000px;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-5 .top {
    width: 440px;
    margin-left: -220px;
  }

  .section-6 {
    padding: 40px 0 20px;
    background-position: center;
  }
  .section-6 .small-text {
    margin-left: 15px;
    margin-right: 15px;
  }
  .section-6 .bottom-list {
    width: 450px;
  }
  .section-6 .bottom-item {
    padding-top: 180px;
  }
  .section-6 .bottom-item .icon {
    width: 70px;
  }
  .section-6 .bottom-item .text {
    font-size: 14px;
  }

  .section-7 .small-text {
    margin: 0 15px;
  }
  .section-7 .bottom-list {
    margin-bottom: 160px;
  }
}
@media screen and (max-width: 414px) {
  .title-text {
    font-size: 20px;
    line-height: 32px;
  }

  .page-title {
    font-size: 32px;
  }

  .section-1 {
    padding: 20px 0;
  }
  .section-1 .big-img {
    margin: 10px 0 5px;
  }

  .section-2 {
    padding: 20px 0 25px;
  }
  .section-2 .title-text {
    margin-bottom: 30px;
  }
  .section-2 .img {
    width: 260px;
    margin-bottom: 35px;
  }
  .section-2 .bottom-list .text {
    padding-top: 15px;
  }

  .section-3 {
    padding-top: 20px;
  }
  .section-3 .mid-list {
    padding-top: 20px;
  }
  .section-3 .mid-list .icon {
    width: 60px;
  }
  .section-3 .mid-list .text {
    font-size: 14px;
  }

  .section-4 {
    padding: 20px 0 30px;
  }
  .section-4 .title-text {
    margin-bottom: 15px;
  }
  .section-4 .bg-img {
    width: 300px;
  }

  .section-5 .top {
    width: 345px;
    margin-left: -172px;
  }

  .section-6 {
    padding: 20px 0 30px;
    background-position: center;
    background-size: 180%;
  }
  .section-6 .title-text {
    margin-bottom: 15px;
  }
  .section-6 .bottom-list {
    width: 345px;
  }
  .section-6 .bottom-item {
    padding-top: 160px;
  }
  .section-6 .bottom-item .icon {
    width: 60px;
    margin: auto;
  }

  .section-7 {
    padding-top: 20px;
  }
  .section-7 .bottom-list {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 0;
  }
  .section-7 .bottom-list .img {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 375px) {
  .page-title {
    font-size: 28px;
    line-height: 36px;
  }

  .section-1 {
    padding: 20px 0;
  }
  .section-1 .big-img {
    margin: 0 20px 0;
  }
}
@media screen and (max-width: 320px) {
  .title-text {
    line-height: 28px;
  }

  .page-subnav .left {
    line-height: 36px;
  }

  .section-1 .big-img {
    margin: 0 40px;
    height: 190px;
  }
  .section-1 .thumb-list .thumb-item {
    width: 60px;
    height: 54px;
  }

  .section-3 .mid-list .icon {
    width: 50px;
  }

  .section-4 {
    padding: 20px 0 30px;
  }
  .section-4 .small-text {
    margin-bottom: 10px;
  }
  .section-4 .bg-img {
    width: 260px;
  }

  .section-5 .top {
    width: 290px;
    margin-left: -145px;
  }

  .section-6 {
    background-position: center 160px;
  }
  .section-6 .bottom-list {
    width: 290px;
  }
  .section-6 .bottom-item .icon {
    width: 40px;
  }
}
