@charset "UTF-8";
.zg-page {
  font-family: Arial, '微软雅黑', sans-serif;
}
.zg-page .sec-content {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
.zg-page img {
  display: block;
  width: 100%;
}
.zg-page .m {
  display: none;
}
.zg-page p {
  font-size: 18px;
  color: #33507a;
}
.zg-page .white {
  color: #fff;
}
.zg-page .btn {
  display: inline-block;
  width: 170px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border: 1px solid #e50039;
  color: #e50039;
  text-align: center;
  border-radius: 21px;
  cursor: pointer;
}
.zg-page .btn.white {
  color: #fff;
  border-color: #fff;
}
.zg-page .btn.bg-red {
  background: #e50039;
  color: #fff;
}

.zg-nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #666666;
}
.zg-nav-box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.zg-nav .left {
  float: left;
}
.zg-nav .left-text, .zg-nav .left-arrow {
  display: inline-block;
  font-size: 16px;
  color: #a6a6a6;
}
.zg-nav .left-text.active, .zg-nav .left-arrow.active {
  color: #fff;
}
.zg-nav .left-arrow {
  margin: 0 18px;
}
.zg-nav .left-icon {
  position: relative;
  display: inline-block;
  top: 2px;
}
.zg-nav .right {
  float: right;
}
.zg-nav .right-text {
  font-size: 16px;
  color: #fff;
}
.zg-nav .right-line {
  margin: 0 10px;
  border-left: 2px solid #fff;
  background-color: #fff;
}

.zg-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  text-align: center;
  display: none;
}
.zg-dialog::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.zg-dialog .content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  box-shadow: 0 0 30px 0px #8b8b8b;
}
.zg-dialog .img {
  height: 630px;
}
.zg-dialog .close {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  top: 10px;
  right: 10px;
}
.zg-dialog .close img {
  display: block;
  width: 100%;
}

.zg-title {
  font-size: 28px;
  color: #324f77;
  font-weight: bold;
  text-align: center;
}

.sec-1 {
  padding: 115px 0 0;
  background-image: url("../RJ-img/a-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec-1-left {
  float: left;
  width: 50%;
}
.sec-1-right {
  float: right;
  width: 50%;
}
.sec-1-right img {
  margin-top: 80px;
  width: 120%;
  margin-left: -20px;
}
.sec-1-title {
  font-size: 50px;
  color: #fff;
  margin-bottom: 60px;
}
.sec-1 .text {
  margin-bottom: 125px;
  font-size: 23px;
  color: #fff;
}
.sec-1 .title {
  margin-bottom: 40px;
}
.sec-1 .btn:first-child {
  margin-right: 40px;
}
.sec-1 .btn:first-child:hover {
  border-color: #e50039;
  background: #e50039;
  color: #fff;
}

.sec-2 {
  padding: 60px 0 65px;
  background-color: #edf3f8;
}
.sec-2 .zg-title {
  margin-bottom: 60px;
}
.sec-2 .video-box {
  position: relative;
  width: 778px;
  height: 478px;
  margin: auto;
}
.sec-2 .video-box-img {
  display: block;
  width: 100%;
}
.sec-2 .click-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.sec-3 {
  padding: 60px 0 80px;
  background-image: url("../RJ-img/c-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec-3 .zg-title {
  margin-bottom: 45px;
}
.sec-3 .pro-img {
  margin-bottom: 40px;
}
.sec-3 .btn-group {
  text-align: center;
  margin-bottom: 50px;
}
.sec-3 .table {
  width: 100%;
  line-height: 44px;
  font-size: 16px;
  text-align: center;
}
.sec-3 .table th, .sec-3 .table td {
  width: 25%;
  border: 1px solid #76a2cf;
  word-break: break-all;
}
.sec-3 .table td {
  color: #505050;
}
.sec-3 .table-head {
  background-color: #4fabe0;
  color: #fff;
}
.sec-3 .table .dark-bg {
  background-color: #9ed0ef;
}

.sec-4 {
  padding: 65px 0 63px;
  background-color: #ebf3f6;
}
.sec-4 .zg-title {
  margin-bottom: 60px;
}
.sec-4 .item {
  position: relative;
  float: left;
  width: 33.333333%;
  height: 400px;
}
.sec-4 .line {
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #bdd6e0;
}
.sec-4 .icon {
  width: 115px;
  margin: auto;
  margin-top: 10px;
}
.sec-4 .title {
  margin: 30px 0 35px;
  text-align: center;
  font-size: 24px;
  color: #324f77;
}
.sec-4 .text-list {
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
  padding-left: 20px;
}
.sec-4 .text-list li {
  font-size: 16px;
  color: #505050;
  list-style: disc;
  line-height: 2;
}
.sec-4 .text-list .blue {
  color: #37a1dd;
}
.sec-4 .btn-group {
  margin-top: 30px;
  text-align: center;
}

.sec-5 {
  position: relative;
  padding-top: 40px;
  background-color: #dae7ee;
}
.sec-5 .sub-title {
  font-size: 18px;
  color: #324f77;
  text-align: center;
}
.sec-5 .title-box {
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 1;
}
.sec-5 .pro-img {
  position: relative;
}
.sec-5 .area {
  position: absolute;
}
.sec-5 .area .pc {
  display: block;
  width: 100%;
}
.sec-5 .area-1 {
  width: 180px;
  top: 48%;
  left: 22%;
  z-index: 1;
  animation: areaAni 3s linear infinite alternate;
}
.sec-5 .area-2 {
  width: 149px;
  top: 29%;
  left: 31%;
  z-index: 2;
  animation: areaAni 3s linear 0.2s infinite alternate;
}
.sec-5 .area-3 {
  width: 148px;
  top: 22%;
  left: 44%;
  z-index: 3;
  animation: areaAni 3s linear 0.6s infinite alternate;
}
.sec-5 .area-4 {
  width: 180px;
  top: 20%;
  left: 58%;
  z-index: 4;
  animation: areaAni 3s linear 0.84s infinite alternate;
}
.sec-5 .area-5 {
  width: 148px;
  top: 64%;
  left: 36%;
  z-index: 5;
  animation: areaAni 3s linear 0.35s infinite alternate;
}
.sec-5 .area-6 {
  width: 150px;
  top: 45%;
  left: 49%;
  z-index: 6;
  animation: areaAni 3s linear 0.82s infinite alternate;
}
.sec-5 .area-7 {
  width: 180px;
  top: 37%;
  left: 68%;
  z-index: 7;
  animation: areaAni 3s linear 0.39s infinite alternate;
}
.sec-5 .area-8 {
  width: 150px;
  top: 65%;
  left: 55%;
  z-index: 8;
  animation: areaAni 3s linear 0.58s infinite alternate;
}
.sec-5 .area-9 {
  width: 180px;
  top: 62%;
  left: 73%;
  z-index: 9;
  animation: areaAni 3s linear 1s infinite alternate;
}

@keyframes areaAni {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0;
  }
}
@media screen and (max-width: 1440px) {
  .sec-5 .area-1 {
    width: 160px;
    top: 48%;
    left: 22%;
    z-index: 1;
  }
  .sec-5 .area-2 {
    width: 140px;
    top: 29%;
    left: 31%;
    z-index: 2;
  }
  .sec-5 .area-3 {
    width: 140px;
    top: 22%;
    left: 44%;
    z-index: 3;
  }
  .sec-5 .area-4 {
    width: 140px;
    top: 20%;
    left: 58%;
    z-index: 4;
  }
  .sec-5 .area-5 {
    width: 140px;
    top: 64%;
    left: 34%;
    z-index: 5;
  }
  .sec-5 .area-6 {
    width: 140px;
    top: 45%;
    left: 49%;
    z-index: 6;
  }
  .sec-5 .area-7 {
    width: 150px;
    top: 37%;
    left: 68%;
    z-index: 7;
  }
  .sec-5 .area-8 {
    width: 140px;
    top: 65%;
    left: 55%;
    z-index: 8;
  }
  .sec-5 .area-9 {
    width: 140px;
    top: 62%;
    left: 73%;
    z-index: 9;
  }
}
@media screen and (max-width: 1280px) {
  .sec-5 .area-1 {
    width: 130px;
    top: 47%;
    left: 22%;
    z-index: 1;
  }
  .sec-5 .area-2 {
    width: 120px;
    top: 28%;
    left: 31%;
    z-index: 2;
  }
  .sec-5 .area-3 {
    width: 120px;
    top: 21%;
    left: 44%;
    z-index: 3;
  }
  .sec-5 .area-4 {
    width: 120px;
    top: 19%;
    left: 58%;
    z-index: 4;
  }
  .sec-5 .area-5 {
    width: 120px;
    top: 63%;
    left: 34%;
    z-index: 5;
  }
  .sec-5 .area-6 {
    width: 120px;
    top: 43%;
    left: 49%;
    z-index: 6;
  }
  .sec-5 .area-7 {
    width: 130px;
    top: 36%;
    left: 68%;
    z-index: 7;
  }
  .sec-5 .area-8 {
    width: 120px;
    top: 64%;
    left: 55%;
    z-index: 8;
  }
  .sec-5 .area-9 {
    width: 120px;
    top: 61%;
    left: 73%;
    z-index: 9;
  }
}
@media screen and (max-width: 1024px) {
  .zg-page .sec-content {
    max-width: 1000px;
  }

  .zg-dialog .img {
    height: 540px;
  }

  .zg-nav-box {
    max-width: 1000px;
  }

  .sec-1 {
    padding: 90px 0 60px;
  }
  .sec-1-right img {
    margin-top: 60px;
    width: 100%;
  }
  .sec-1-title {
    font-size: 44px;
    margin-bottom: 50px;
  }
  .sec-1 .text {
    margin-bottom: 95px;
  }

  .sec-5 .area-1 {
    width: 110px;
    left: 22%;
    z-index: 1;
  }
  .sec-5 .area-2 {
    width: 100px;
    left: 31%;
    z-index: 2;
  }
  .sec-5 .area-3 {
    width: 100px;
    left: 44%;
    z-index: 3;
  }
  .sec-5 .area-4 {
    width: 100px;
    left: 58%;
    z-index: 4;
  }
  .sec-5 .area-5 {
    width: 100px;
    left: 34%;
    z-index: 5;
  }
  .sec-5 .area-6 {
    width: 100px;
    left: 49%;
    z-index: 6;
  }
  .sec-5 .area-7 {
    width: 110px;
    left: 68%;
    z-index: 7;
  }
  .sec-5 .area-8 {
    width: 100px;
    left: 55%;
    z-index: 8;
  }
  .sec-5 .area-9 {
    width: 100px;
    left: 73%;
    z-index: 9;
  }
}
@media screen and (max-width: 960px) {
  .zg-page .sec-content {
    max-width: 930px;
  }

  .zg-dialog .img {
    height: 500px;
  }

  .zg-nav-box {
    max-width: 930px;
  }

  .sec-1 {
    padding: 60px 0 60px;
  }
  .sec-1-right img {
    margin-top: 40px;
  }
  .sec-1-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .sec-1 .text {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .zg-page .pc {
    display: none;
  }
  .zg-page .m {
    display: block;
  }
  .zg-page .sec-content {
    max-width: 730px;
  }

  .zg-dialog .img {
    height: 400px;
  }

  .zg-title {
    font-size: 22px;
  }

  .zg-nav-box {
    max-width: 730px;
  }

  .sec-1 {
    padding: 60px 0 60px;
  }
  .sec-1-left {
    float: none;
    width: 100%;
    margin-top: -40px;
  }
  .sec-1-right {
    float: none;
    width: 100%;
  }
  .sec-1-right img {
    margin-top: 40px;
    width: 100%;
    margin: auto;
  }
  .sec-1-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .sec-1 .text {
    margin-bottom: 65px;
    font-size: 22px;
  }

  .sec-2 {
    padding: 50px 0 50px;
  }
  .sec-2 .zg-title {
    margin-bottom: 50px;
  }
  .sec-2 .video-box {
    width: 700px;
    height: 420px;
  }

  .sec-3 {
    padding: 50px 0 50px;
  }

  .sec-4 {
    padding: 50px 0 50px;
  }
  .sec-4 .zg-title {
    margin-bottom: 60px;
  }
  .sec-4 .item {
    height: 420px;
  }
  .sec-4 .icon {
    width: 110px;
  }
  .sec-4 .title {
    margin: 20px 0 25px;
    font-size: 20px;
  }
  .sec-4 .text-list {
    width: 85%;
  }

  .sec-5 .title-box {
    top: 40px;
  }
  .sec-5 .sub-title {
    padding-top: 5px;
    font-size: 16px;
  }
  .sec-5 .area .pc {
    display: none;
  }
  .sec-5 .area-1 {
    width: 148px;
    top: 40%;
    left: 6%;
  }
  .sec-5 .area-2 {
    width: 148px;
    top: 15%;
    left: 5%;
  }
  .sec-5 .area-3 {
    width: 148px;
    top: 11%;
    left: 34%;
  }
  .sec-5 .area-4 {
    width: 149px;
    top: 12%;
    left: 68%;
  }
  .sec-5 .area-5 {
    width: 149px;
    top: 69%;
    left: 10%;
  }
  .sec-5 .area-6 {
    width: 150px;
    top: 38%;
    left: 39%;
  }
  .sec-5 .area-7 {
    width: 148px;
    top: 38%;
    left: 75%;
  }
  .sec-5 .area-8 {
    width: 148px;
    top: 68%;
    left: 46%;
  }
  .sec-5 .area-9 {
    width: 150px;
    top: 66%;
    left: 74%;
  }

  @keyframes areaAni {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: -10px;
    }
    100% {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 480px) {
  .zg-page .sec-content {
    max-width: 450px;
  }

  .zg-dialog .img {
    height: 255px;
  }

  .zg-nav {
    height: 88px;
    line-height: 44px;
  }
  .zg-nav-box {
    max-width: 450px;
  }
  .zg-nav .left {
    float: none;
  }
  .zg-nav .right {
    float: none;
  }

  .sec-1 {
    padding: 50px 0 50px;
  }

  .sec-2 {
    padding: 40px 0 40px;
  }
  .sec-2 .zg-title {
    margin-bottom: 30px;
  }
  .sec-2 .video-box {
    width: 430px;
    height: 265px;
  }

  .sec-3 {
    padding: 40px 0 40px;
  }

  .sec-4 {
    padding: 40px 0 40px;
  }
  .sec-4 .zg-title {
    margin-bottom: 50px;
  }
  .sec-4 .item {
    float: none;
    width: 100%;
    height: auto;
  }
  .sec-4 .line {
    width: 100%;
    height: 1px;
    top: auto;
    right: 0;
    bottom: 0;
  }
  .sec-4 .text-list {
    width: 70%;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .sec-5 {
    padding-top: 60px;
  }
  .sec-5 .title-box {
    top: 30px;
  }
  .sec-5 .area .pc {
    display: none;
  }
  .sec-5 .area-1 {
    width: 108px;
    top: 40%;
    left: 6%;
  }
  .sec-5 .area-2 {
    width: 108px;
    top: 15%;
    left: 5%;
  }
  .sec-5 .area-3 {
    width: 108px;
    top: 11%;
    left: 34%;
  }
  .sec-5 .area-4 {
    width: 109px;
    top: 12%;
    left: 68%;
  }
  .sec-5 .area-5 {
    width: 109px;
    top: 69%;
    left: 10%;
  }
  .sec-5 .area-6 {
    width: 110px;
    top: 38%;
    left: 39%;
  }
  .sec-5 .area-7 {
    width: 108px;
    top: 38%;
    left: 75%;
  }
  .sec-5 .area-8 {
    width: 108px;
    top: 68%;
    left: 46%;
  }
  .sec-5 .area-9 {
    width: 110px;
    top: 66%;
    left: 74%;
  }
}
@media screen and (max-width: 414px) {
  .zg-page .sec-content {
    max-width: 414px;
    margin: 0 15px;
  }

  .zg-nav {
    height: 88px;
    line-height: 44px;
  }
  .zg-nav-box {
    max-width: auto;
    margin: 0 15px;
  }

  .zg-dialog .img {
    height: 200px;
  }
  .zg-dialog .close {
    padding: 10px;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
  }

  .sec-1 {
    padding: 50px 0 50px;
  }
  .sec-1 .btn:first-child {
    margin-right: 20px;
  }

  .sec-2 .video-box {
    width: 380px;
    height: 234px;
  }

  .sec-4 {
    padding: 40px 0 40px;
  }
  .sec-4 .zg-title {
    margin-bottom: 30px;
  }
  .sec-4 .btn-group {
    margin-top: 0;
  }

  .sec-5 .area-1 {
    width: 80px;
  }
  .sec-5 .area-2 {
    width: 80px;
  }
  .sec-5 .area-3 {
    width: 100px;
  }
  .sec-5 .area-4 {
    width: 100px;
    top: 10%;
    left: 70%;
  }
  .sec-5 .area-5 {
    width: 80px;
    top: 67%;
    left: 13%;
  }
  .sec-5 .area-6 {
    width: 100px;
    top: 36%;
    left: 41%;
  }
  .sec-5 .area-7 {
    width: 90px;
    top: 36%;
  }
  .sec-5 .area-8 {
    width: 90px;
  }
  .sec-5 .area-9 {
    width: 90px;
  }
}
@media screen and (max-width: 375px) {
  .zg-page .btn {
    min-width: 100px;
    width: auto;
    padding: 0 10px;
  }

  .sec-1 {
    padding: 30px 0 30px;
  }
  .sec-1 .btn-group {
    text-align: center;
  }
  .sec-1 .btn:first-child {
    margin-right: 20px;
  }

  .sec-2 {
    padding: 30px 0;
  }
  .sec-2 .video-box {
    width: 290px;
    height: 184px;
  }

  .sec-3 {
    padding: 30px 0;
  }

  .sec-4 {
    padding: 30px 0;
  }
  .sec-4 .zg-title {
    margin-bottom: 30px;
  }
  .sec-4 .btn-group {
    margin-top: 0;
  }

  .sec-5 .area-1 {
    width: 70px;
  }
  .sec-5 .area-2 {
    width: 70px;
  }
  .sec-5 .area-3 {
    width: 90px;
  }
  .sec-5 .area-4 {
    width: 90px;
  }
  .sec-5 .area-5 {
    width: 70px;
  }
  .sec-5 .area-6 {
    width: 90px;
  }
  .sec-5 .area-7 {
    width: 80px;
  }
  .sec-5 .area-8 {
    width: 80px;
  }
  .sec-5 .area-9 {
    width: 80px;
  }
}
@media screen and (max-width: 320px) {
  .zg-dialog .img {
    height: 160px;
  }
  .zg-dialog .close {
    padding: 10px;
    top: 0;
    right: 0;
  }

  .sec-4 .text-list {
    width: 90%;
  }

  .sec-5 .area-1 {
    width: 60px;
  }
  .sec-5 .area-2 {
    width: 60px;
  }
  .sec-5 .area-3 {
    width: 80px;
  }
  .sec-5 .area-4 {
    width: 80px;
  }
  .sec-5 .area-5 {
    width: 60px;
  }
  .sec-5 .area-6 {
    width: 70px;
  }
  .sec-5 .area-7 {
    width: 70px;
  }
  .sec-5 .area-8 {
    width: 70px;
    left: 44%;
  }
  .sec-5 .area-9 {
    width: 70px;
  }
}
